{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block pageScripts %}
<script>
  var torsoPageCount = localStorage.getItem('torsoPages');
  var newTorsoPageCount = (torsoPageCount*1 + 1);
  $(".pageNumber").text(newTorsoPageCount);
  localStorage.setItem('torsoPages', newTorsoPageCount);
</script>
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-caption-xl">
             <span class="pageNumber"></span> / {{ data['torsoInjuredParts'] | length + 1 }} questions about your torso</span>
          <h1 class="govuk-fieldset__heading">
            Select any injuries to your internal organs
          </h1>
      </legend>

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "internalOrgansInjuries",
        name: "internalOrgansInjuries",
        hint: {
          text: internalOrgansInjuriesQuestionHint
        },
        items: [
          {
            value: " Loss of kidney",
            text: "Loss of kidney",
            checked: checked("internalOrgansInjuries", " Loss of kidney")
          },
          {
            value: " Punctured lung",
            text: "Punctured lung",
            checked: checked("internalOrgansInjuries", " Punctured lung")
          },
          {
            value: " Collapsed lung",
            text: "Collapsed lung",
            checked: checked("internalOrgansInjuries", " Collapsed lung")
          },
          {
            value: " Lung damage from smoke or chemicals",
            text: "Lung damage from smoke or chemicals",
            checked: checked("internalOrgansInjuries", " Lung damage from smoke or chemicals")
          },
          {
            value: " Loss of pancreas",
            text: "Loss of pancreas",
            checked: checked("internalOrgansInjuries", " Loss of pancreas")
          },
          {
            value: " Loss of spleen",
            text: "Loss of spleen",
            checked: checked("internalOrgansInjuries", " Loss of spleen")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
