{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Pregnancy
    </h1>
    <p class="govuk-body">We need to ask a few questions about pregnancy related to the crime. This helps us better understand the case and if we need to ask for more evidence from you. It also ensures you’re considered for all correct compensation from us.</p>
    <p class="govuk-body">These questions may be difficult to answer or may not be relevant to this application. You can choose not to share this information with us by answering the following questions "No". This means we may not be able to pay compensation to you for this part of the application.</p>
    <h2 class="govuk-heading-m">Your privacy and confidentiality</h2>
    <p class="govuk-body">We may need to contact you or the police if we need to get more information about this. We will not share this information with anyone else.</p>

    <h2 class="govuk-heading-m">Help and support</h2>
    <p class="govuk-body">You can get practical and emotional support after a crime. Visit <a href="https://www.victimandwitnessinformation.org.uk/" target="new">Victim and Witness information</a> if you’re in England and Wales. Or <a href="https://www.mygov.scot/victim-witness-support/" target="new">support as a victim or witness of crime</a> in Scotland.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          If you need help or support with the application
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">You can contact us for help with your application.</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Telephone: 0300 003 3601</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Outside the UK: +44 (0) 203 684 2517</p>
        <p class="govuk-body"><a href="https://www.relayuk.bt.com/">Relay UK</a>: (if you cannot hear or speak on the phone) 18001 0300 003 3601 </p>
        <p class="govuk-body">Our phone lines are open Monday to Friday, 10am to 3pm.</p>

        <p class="govuk-body"><a href="/call-charges">Find out about call charges</a></p>
        <p class="govuk-body">You can <a href="https://www.victimandwitnessinformation.org.uk/">get practical or emotional support</a> after a crime.
        <p class="govuk-body">There is different practical or emotional support <a href="https://www.mygov.scot/victim-witness-support/">if you live in Scotland</a>.

      </div>
    </details>

    <form class="form" method="post">
      {{ govukButton({
      text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
