{% extends "layout.html" %}
{% block pageTitle %}
{{ otherCompensationAmountQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">

            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              id: "comp-how-much",
              name: "comp-how-much",
              type: "Yes",
              value : data['comp-how-much'],
              classes: "govuk-!-width-one-third",
              label: {
                text: otherCompensationAmountQuestion,
                isPageHeading: true,
                classes: "govuk-label--xl"
              }
            }) }}

            {{ govukButton({
                      "text": "Continue"
                      }) }}

          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
