{% extends "layout.html" %}

{% block pageTitle %}
{{ yourClaimQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "yourClaimOption2s",
        name: "yourClaimOption2s",
        value: data['yourClaimOption2s'],
        fieldset: {
          legend: {
            text: yourClaimQuestion,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: yourClaimQuestionHint
        },
        items: [
        {
          value: "physical-injuries",
          text: "Injuries",
          checked: checked("yourClaimOption2s", "physical-injuries"),
          hint: {
            text: ""
          }
        },
        {
            value: "lost-earnings",
            text: "Loss of earnings",
            checked: checked("yourClaimOption2s", "lost-earnings"),
            hint: {
              text: "If you were off work for more than 28 weeks"
            }
          },
          {
            value: "extra-costs",
            text: "Extra costs",
            checked: checked("yourClaimOption2s", "extra-costs"),
            hint: {
              text: "Like special equipment or changes to your house"
            }
          },
          {
            value: "sexual-injuries",
            text: "Sexually transmitted infection, pregnancy, or loss of a baby",
            checked: checked("yourClaimOption2s", "sexual-injuries")
          }

        ]
      }) }}

      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>
  </div>
</div>

{% endblock %}
