{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      We may need to contact your GP
    </h1>
    <p class="govuk-body">xxx.</p>
    <p class="govuk-body">xxx.</p>
    <h2 class="govuk-heading-m">xxx</h2>
    <p class="govuk-body">xxx:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>x</li>
      <li>x</li>
      <li>x</li>
    </ul>
    <p class="govuk-body">xxx.</p>

    <form class="form" method="post">
      {{ govukButton({
      text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
