{% extends "layout.html" %}
{% block page_title %}
  Question page
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
          Medical report
          </h1>
          <p class="govuk-body-l">You must get a report from your doctor detailing your injuries.</p>
          <p>Your doctor may charge a fee for the report. You must pay the first £50 of the charge.  CICA can pay the rest and deduct it from any compensation you get.</p>
          <form class="form" action="unable-to-work" method="post">
            {% from 'radios/macro.njk' import govukRadios %}
            {{ govukRadios({
            "classes": "govuk-radios--inline",
            "idPrefix": "obtainMedical",
            "name": "obtainMedical",
            "fieldset": {
            "legend": {
            "text": 'Are you able to get a report from your doctor?',
            "isPageHeading": false,
            "classes": 'govuk-fieldset__legend--m'
            }
            },
            "items": [
            {
            "value": "Yes",
            "text": "Yes"
            },
            {
            "value": "No",
            "text": "No"
            }
            ]
            }) }}
            {% from "button/macro.njk" import govukButton %}
            {{ govukButton({
            "text": "Continue"
            }) }}
          </form>
          <div class="design-notes-box">
            <h3 class="design-notes">Design notes</h3>
            <p class="design-notes">Is this actually what happens? Don't users have to pay for all of the medical report and then they get paid and then it's diducted? I've heard some strange stuff around this - GW</p>
            <p class="design-notes">@John, I've reordered this content moving the hint above the question as I think users would need to know about the payment before they can answer the question.</p>
            <p class="design-notes">We shouldn't be using CICA. Either use Criminal Injuries Compensation Authority (not ideal as that's just another government department that users have to know about) or use the word "we".</p>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
