{% extends "layout.html" %}
{% block page_title %}
  Question page
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <!-- <h1 class="govuk-heading-xl govuk-visually-hidden">
          Have you applied for compensation from any other sources?
          </h1> -->
          <form class="form" action="check-your-answers-page" method="post">
            {% from 'radios/macro.njk' import govukRadios %}
            {{ govukRadios({
            "classes": "govuk-radios--inline",
            "idPrefix": "unableToWork",
            "name": "unableToWork",
            "fieldset": {
            "legend": {
            "text": 'Did your injuries stop you from doing any paid work?',
            "isPageHeading": true,
            "classes": 'govuk-fieldset__legend--xl'
            }
            },
            "items": [
            {
            "value": "Yes",
            "text": "Yes"
            },
            {
            "value": "No",
            "text": "No"
            }
            ]
            }) }}
            {% from "button/macro.njk" import govukButton %}
            {{ govukButton({
            "text": "Continue"
            }) }}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
