{% extends "layout.html" %}
{% block page_title %}
{{ previousApplicationsQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form"  method="post">

            {% from "radios/macro.njk" import govukRadios %}

            {{ govukRadios({
            "classes": "govuk-radios--inline",
            "idPrefix": "previous-applications",
            "name": "previous-applications",
            currentValue: 'previous-applications',
            "fieldset": {
              "legend": {
              "text": previousApplicationsQuestion,
              "isPageHeading": true,
              "classes": 'govuk-fieldset__legend--xl'
              }
              },
            "items": [
            {
            "value": "Yes",
            "text": "Yes"
            },
            {
            "value": "No",
            "text": "No"
            }
            ]
            }) }}

            {% from "button/macro.njk" import govukButton %}
            {{ govukButton({
            "text": "Continue"
            }) }}

          </form>
        </div>

      </div>
      <div class="design-notes-box">
          <h3 class="design-notes">Design notes</h3>
          <p class="design-notes">7/8/18 question updated to improve readability - JK</p>
        </div>
    </main>
  </div>
{% endblock %}
