{% extends "layout.html" %}

{% block pageTitle %}
What parts of the head, face or neck were injured? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "headFaceNeckInjuredParts",
        name: "headFaceNeckInjuredParts",
        fieldset: {
          legend: {
            text: "What parts of the head, face or neck were injured?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Head or brain",
            text: "Head or brain",
            checked: checked("headFaceNeckInjuredParts", "Head or brain"),
            id: "Head or brain injury"
          },
          {
            value: "Face or jaw",
            text: "Face or jaw",
            checked: checked("headFaceNeckInjuredParts", "Face or jaw"),
            id: "Face or jaw injury"
          },
          {
            value: "Eye or eyesight",
            text: "Eye or eyesight",
            checked: checked("headFaceNeckInjuredParts", "Eye or eyesight"),
            id: "Eye or eyesight injury"
          },
          {
            value: "Ear or hearing",
            text: "Ear or hearing",
            checked: checked("headFaceNeckInjuredParts", "Ear or hearing"),
            id: "Ear or hearing injury"
          },
          {
            value: "Nose",
            text: "Nose",
            checked: checked("headFaceNeckInjuredParts", "Nose"),
            id: "Nose injury"
          },
          {
            value: "Mouth",
            text: "Mouth",
            checked: checked("headFaceNeckInjuredParts", "Mouth"),
            id: "Mouth injury"
          },
          {
            value: "Neck",
            text: "Neck",
            checked: checked("headFaceNeckInjuredParts", "Neck"),
            id: "Neck injury"
          },
          {
            value: "Skin",
            text: "Skin",
            hint: {
              text: "Including cuts, bruises, burns and scars"
            },
            checked: checked("headFaceNeckInjuredParts", "Skin"),
            id: "Skin injury on head, face or neck"
          },
          {
            value: "Tissue",
            text: "Tissue",
            hint: {
              text: "Including muscles, ligaments, tendons or cartilage"
            },
            checked: checked("headFaceNeckInjuredParts", "Tissue"),
            id: "Tissue injury on head, face or neck"
          }
          ]
      })
    }}
      {{ govukButton({
        "text": "Continue"
      }) }}

    </form>

    {% include "../../includes/simple-injury-list.html" %}

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
