{% extends "layout.html" %}

{% block pageTitle %}
{{ contextYourDetailsHeading   }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" action="/concepts/save-and-return-v2/app/save/contact-router">

    {% set emailHtml %}
    {{ govukInput({
      id: "email-address",
      name: "email-address",
      type: "email",
      autocomplete: "email",
      spellcheck: false,
      classes: "govuk-!-width-one-third",
      label: {
        text: "Email address"
      }
    }) }}
    {% endset -%}

    {% set textHtml %}
    {{ govukInput({
      id: "mobile-number",
      name: "mobile-number",
      type: "tel",
      autocomplete: "tel",
      classes: "govuk-!-width-one-third",
      label: {
        text: "Mobile phone number"
      }
    }) }}
    {% endset -%}

    {{ govukRadios({
      idPrefix: "contact",
      name: "contact",
      fieldset: {
        legend: {
          text: "How would you prefer to be contacted?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: "Select one option."
      },
      items: [
        {
          value: "email",
          text: "Email",
          conditional: {
            html: emailHtml
          }
        },
        {
          value: "text",
          text: "Text message",
          conditional: {
            html: textHtml
          }
        },
        {
          divider: "or"
        },
        {
          value: "neither",
          text: "I don't have an email address or UK mobile phone number",
          checked: checked("confirmationPreference", "neither")
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  </form>

  </div>
</div>

</main>

</div>

{% endblock %}
