{% extends "layout.html" %}

{% block pageTitle %}
{{ contextYourDetailsHeading   }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Save and return
    </h1>

    <p>Now we know you can use this service, you can create a return area.</p>

    <h2 class="govuk-heading-m">
      Returning to your application
    </h2>

    <p>This application can take X amout of time to complete. You might need to save your progress and come back later.</p>
    <p>We'll ask you some questions so you can return to you application at a later date.</p>

    <p>Sessions time out after 20 mins...</p>
    <p>30 day limit...</p>

    {{ govukButton({
      text: "Continue",
      href: "contact-detail"
    }) }}

  </div>
</div>

</main>

</div>

{% endblock %}
