{% extends "layout.html" %}

{% block pageTitle %}
{{ contextYourDetailsHeading   }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your {{ 'phone' if data.contact == 'text' else 'email' }}</h1>

    <div class="govuk-inset-text">
      <p>We have sent {{ 'a text' if data.contact == 'text' else 'an email' }} to:<br><strong>{{ data['mobile-number'] if data.contact == 'text' else data['email-address'] }}</strong></p>
    </div>

    {% if data.contact == 'email' %}

    <p>The email contains a 6 digit security code. You'll need to enter this code on the next page.</p>
    <p>Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>
    <p>The code will expire after 15 minutes.</p>

    {% else %}

    <p>The text contains a 6 digit security code. You'll need to enter this code on the next page.</p>
    <p>It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

    {% endif %}
    
    {{ govukButton({
      text: "Continue",
      href: "auth-message"
    }) }}

  </div>
</div>

</main>

</div>

{% endblock %}
