{% extends "layout.html" %}

{% block pageTitle %}
{{ smsConfirmationTransitionHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You must apply by telephone if you do not have an email address or UK mobile phone number
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-1">Telephone: 0300 003 3601</p>
    <p class="govuk-body govuk-!-margin-bottom-1">Outside the UK: +44 (0) 203 684 2517</p>
    <p class="govuk-body"><a href="https://www.relayuk.bt.com/" target="_blank">Relay UK (opens in new tab)</a>: (if you cannot hear or speak on the phone) 18001 0300 003 3601 </p>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">Opening times</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Day</th>
          <th scope="col" class="govuk-table__header">Opening times</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Monday</th>
          <td class="govuk-table__cell">8:30am to 5pm</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Tuesday</th>
          <td class="govuk-table__cell">8:30am to 5pm</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Wednesday</th>
          <td class="govuk-table__cell">8:30am to 3pm</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Thursday</th>
          <td class="govuk-table__cell">8:30am to 5pm</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Friday</th>
          <td class="govuk-table__cell">8:30am to 5pm</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body"><a href="/call-charges" target="_blank">Find out about call charges (opens in new tab)</a></p>

    <form class="form" method="post">

    </form>
  </div>
</div>

</main>

</div>

{% endblock %}
