{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {% set otherHtml %}
      {{ govukInput({
        id: "other-infection",
        name: "other-infection",
        classes: "govuk-!-width-full",
        label: {
          text: "Tell us more:"
        }
      }) }}
      {% endset -%}


      {{ govukCheckboxes({
            classes: "govuk-checkboxes",
            "idPrefix": "infectionType",
            name: "infectionType",
            currentValue: data['infectionType'],
            "fieldset": {
              "legend": {
                text: "What infection?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            "items": [
            {
              "value": "HIV",
              text: "HIV",
              checked: checked("infectionType", "HIV")
            },
            {
              "value": "Hepatitis B",
              text: "Hepatitis B",
              checked: checked("infectionType", "Hepatitis B")
            },
            {
              "value": "Hepatitis C",
              text: "Hepatitis C",
              checked: checked("infectionType", "Hepatitis C")
            },
            {
              "value": "Other sexually transmitted infection (STI)",
              text: "Other sexually transmitted infection (STI)",
              checked: checked("infectionType", "Other sexually transmitted infection (STI)")
            },
              {
                "value": "Other infection",
                text: "Other infection",
                conditional: {
                  html: otherHtml
                },
                checked: checked("infectionType", "Other infection")
              }
            ]
          }) }}

      {{ govukButton({
            text: "Continue"
            }) }}

    </form>



  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
