{% extends "layout.html" %}
{% block pageTitle %}
{{ whyDelayQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

          {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

            {{ govukTextarea({
                  name: "delay-application",
                  id: "delay-application",
                  currentValue: data['delay-application'],
                  value: data['delay-application'],
                  hint: {
                    text: "You must send your application within 2 years of the crime happening. This is unless there are exceptional circumstances for not doing so."
                  },
                  label: {
                    text: whyDelayQuestion,
                    classes: "govuk-label--xl"
                  }
                }) }}

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with why we ask about the application not being sent until now
                        </span>
                    </summary>
                        <div class="govuk-details__text">
                          <p class="govuk-body">
                            We must receive your application as soon as reasonably practicable and, no later than 2 years after the date of the crime.
                          </p>
                          <p class="govuk-body">
                            The 2-year window is extendable where exceptional circumstances show why you could not apply sooner. For example, you may have delayed sending the application because:
                            <ul class="govuk-list govuk-list--bullet">
                              <li>
                                you were under 18 at the time of the crime
                              </li>
                              <li>
                                the impact of the injuries stopped you from applying sooner
                              </li>
                            </ul>
                          </p>
                          <p class="govuk-body">
                            You may have to provide evidence to support any reason for a delay in applying. This evidence can include a letter from your GP or other medical professionals.
                          </p>
                          <p class="govuk-body">
                            Any evidence to support your application should:
                            <ul class="govuk-list govuk-list--bullet">
                              <li>
                                show why there was a delay for the entire 2-year period if you're applying 2 years after the crime has taken place
                              </li>
                              <li>
                                be provided by someone in a professional capacity, such as a psychologist or GP
                              </li>
                            </ul>
                          </p>
                          <p class="govuk-body">
                            By providing supporting evidence, the application may be determined without further extensive enquiries.
                          </p>
                        </div>
                </details>


          <!-- hidden field records screen exited for save and return functionality -->
          {% include "../../includes/screen-exited.html" %}
          <!-- button group for save and return -->
          {% include "../../includes/buttons.html" %}

    </form>
  </div>
</div>

{% endblock %}
