{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}
      {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "homeCare",
            name: "homeCare",
            fieldset: {
            legend: {
              text: "Have you paid for home care services as a result of the incident?",
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
              }
            },
            hint: {
              text: "Care applies to the child’s functions or meal preparation."
            },
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("homeCare", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("homeCare", "No")
            }
            ]
            }) }}

            <!-- DETAILS ELEMENT -->
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with home care services
                    </span>
                </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">This applies to costs for home care services you needed after the incident.</p>
                      <p class="govuk-body">The care you need might include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>going to the toilet</li>
                        <li>bathing</li>
                        <li>continence management</li>
                        <li>food preparation</li>
                        <li>eating</li>
                        <li>taking medication</li>
                        <li>administering other treatments</li>
                      </ul>
                    </div>
              </details>
            <!-- DETAILS ELEMENT -->

        <!-- hidden field records screen exited for save and return functionality -->
        {% include "../../includes/screen-exited.html" %}
        <!-- button group for save and return -->
        {% include "../../includes/buttons.html" %}

    </form>
  </div>
</div>
{% endblock %}
