{% extends "layout.html" %}

{% block pageTitle %}
{{ contextPrevCompHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ contextPrevCompHeading }}
    </h1>

    <p class="govuk-body">We're going to ask you a few questions about this so we can further understand this application and case.</p>

    <p class="govuk-body">This allows us to calculate any compensation you or the child may receive.</p>

    <form class="form" method="post">
      {{ govukButton({
          text: "Continue"
          }) }}
    </form>
  </div>
</div>

</main>

</div>

{% endblock %}
