{% extends "layout.html" %}

{% block pageTitle %}
What parts of the chest were injured? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherChestInjury",
        name: "otherChestInjury",
        value: data['otherChestInjury'],
        type: text,
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "chestInjuries",
        name: "chestInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the chest",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
          },
        items: [
          {
            value: "Broken collarbone",
            text: "Broken collarbone",
            checked: checked("chestInjuries", "Broken collarbone"),
            id: "Broken collarbone"
          },
          {
            value: "Broken breast bone",
            text: "Broken breast bone",
            checked: checked("chestInjuries", "Broken breast bone"),
            id: "Broken breast bone"
          },
          {
            value: "Chest surgery",
            text: "Chest surgery",
            checked: checked("chestInjuries", "Chest surgery"),
            id: "Chest surgery"
          },
          {
            value: "Broken rib",
            text: "Broken rib",
            checked: checked("chestInjuries", "Broken rib"),
            id: "Broken rib"
          },
          {
            value: "Punctured lung",
            text: "Punctured lung",
            checked: checked("chestInjuries", "Punctured lung"),
            id: "Punctured lung"
          },
          {
            value: "Collapsed lung",
            text: "Collapsed lung",
            checked: checked("chestInjuries", "Collapsed lung"),
            id: "Collapsed lung"
          },
          {
            value: "Lung damage from smoke or chemicals",
            text: "Lung damage from smoke or chemicals",
            checked: checked("chestInjuries", "Lung damage from smoke or chemicals"),
            id: "Lung damage from smoke or chemicals"
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("chestInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      <!-- hidden field records screen exited for save and return functionality -->
      {% include "../../../../includes/screen-exited.html" %}
      <!-- button group for save and return -->
      {% include "../../../../includes/buttons.html" %}



    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
