{% extends "layout.html" %}

{% block pageTitle %}
{{ contextYourDetailsHeading   }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" action="check-phone">
      <div class="govuk-form-group">

        {{ govukInput({
          id: "password",
          attributes: {"data-module": "moj-password-reveal"},
          classes: "govuk-input--width-20",
          name: "password",
          type: "password",
          label: {
            text: "Enter your password",
            isPageHeading: true,
            classes: "govuk-label--xl"
          },
          value: "1234ABC!"
        }) }}

      </div>

      <p><a href="#" class="govuk-link">I've forgotten my password</a></p>

    {{ govukButton({ text: "Continue" }) }}
  </form>

  </div>
</div>

</main>

</div>

{% endblock %}
