{% extends "layout.html" %}

{% block pageTitle %}
What parts of the knee were injured? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherKneeInjury",
        name: "otherKneeInjury",
        value: data['otherKneeInjury'],
        type: text,
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "kneeInjuries",
        name: "kneeInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the knee",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
          },
        items: [
          {
            value: "Dislocated kneecap",
            text: "Dislocated kneecap",
            checked: checked("kneeInjuries", "Dislocated kneecap"),
            id: "Dislocated kneecap"
          },
          {
            value: "Broken kneecap",
            text: "Broken kneecap",
            checked: checked("kneeInjuries", "Broken kneecap"),
            id: "Broken kneecap"
          },
          {
            value: "Removal of kneecap",
            text: "Removal of kneecap",
            checked: checked("kneeInjuries", "Removal of kneecap"),
            id: "Removal of kneecap"
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("kneeInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      <!-- hidden field records screen exited for save and return functionality -->
      {% include "../../../../includes/screen-exited.html" %}
      <!-- button group for save and return -->
      {% include "../../../../includes/buttons.html" %}



    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
