{% extends "layout.html" %}
{% block pageTitle %}
Who do you share this with? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
            label: {
            text: "What is their name?",
            isPageHeading: true,
            classes: 'govuk-label--xl'
            },
            hint: {
            text: "This lets us better understand the shared parental rights for the child."
              },
            classes: 'govuk-input--width-20',
            id: "responsibilityWhoWith",
            name: "responsibilityWhoWith",
            value: data['responsibilityWhoWith'],
            type: "tel",
            classes: "govuk-input--width-20"
            }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I share parental rights with more than one person
            </span>
        </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">You can add any additional names of shared parental rights holders at the end of this application.</p>
              <p>Find out more about <a href="https://www.gov.uk/parental-rights-responsibilities/who-has-parental-responsibility" target="new">who has parental responsibilities (opens in new tab)</a>.</p>
            </div>
      </details>

      {{ govukButton({
            text: "Continue"
            }) }}

    </form>
  </div>
</div>
{% endblock %}
