
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/YourFeedbackPB" target="_blank">feedback <span class="govuk-visually-hidden">(opens in new window)</span></a> will help us to improve it.'
  }) }}

  <a href="#" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you know the name of the offender?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="offender-name-yes" name="offender-name" type="radio" value="offender-name-yes">
              <label class="govuk-label govuk-radios__label" for="offender-name-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="offender-name-no" name="offender-name" type="radio" value="offender-name-no">
              <label class="govuk-label govuk-radios__label" for="offender-name-no">
                No
              </label>
            </div>
        </fieldset>
        </div>

        <a href="/forces-mockups/v1/england/location" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
        </a>


    </div>
</div>

{% endblock %}
