{% extends "layout.html" %}

{% block pageTitle %}
{{ incidentReportedQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}

      {{ govukRadios({
              idPrefix: "crimeReported",
              name: "crimeReported",
              currentValue : data['crimeReported'],
              classes: "govuk-radios--inline",
              fieldset: {
                legend: {
                  text: incidentReportedQuestion,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: checked("crimeReported", "Yes")
                },
                {
                  value: "No",
                  text: "No",
                  checked: checked("crimeReported", "No")
                }
              ]
            }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I do not know if the crime was reported to the police
            </span>
        </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">You can contact us for help with your application.</p>

              <p class="govuk-body govuk-!-margin-bottom-1">Telephone: 0300 003 3601</p>
              <p class="govuk-body govuk-!-margin-bottom-1">Outside the UK: +44 (0) 203 684 2517</p>
              <p class="govuk-body"><a href="https://www.relayuk.bt.com/">Relay UK</a>: (if you cannot hear or speak on the phone) 18001 0300 003 3601 </p>
              <p class="govuk-body">Our phone lines are open Monday to Friday, 10am to 3pm.</p>

              <p class="govuk-body"><a href="/call-charges">Find out about call charges</a></p>
            </div>
      </details>


      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>

  </div>
</div>
</main>
</div>

{% endblock %}
