{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<main role="main" class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Request a 'same roof' rule call-back</h1>
      <p class="govuk-body">Use this form if you were a victim of violent crime and:
      <ul class="govuk-list govuk-list--bullet">
        <li>the crime happened between 1 August 1964 and 30 September 1979</li>
        <li>you lived as a family member under the same roof as the assailant at that time</li>
  </ul></p>

      <p class="govuk-body">This applies to those who, because of the ‘same roof’ rule:
        <ul class="govuk-list govuk-list--bullet">
          <li>had compensation claims rejected</li>
          <li>did not apply for compensation</li>
              </ul>

    <!-- <div class="govuk-inset-text">
      <p class="govuk-body">If the ‘same roof’ rule did not affect you, you must <a href="/">use our online application service</a>.</p>
      </div> -->

      <div class="govuk-inset-text">
    <p><a href="/">Use our online application service</a> if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the ‘same roof’ rule did not affect you</li>
      <li>you do not want us to call you</li>
      <li>you are a legal representative</li>
    </ul>
    </div>

      <h2 class="govuk-heading-l" style="margin-top:20px">Before you start</h2>
      <p class="govuk-body">You will need a phone number we can call you back on</p>

            <p class="govuk-body">You should be aware that:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>initial contact will be by telephone</li>
              <li>phone calls will come from a number with no caller ID</li>
              <li>applications will be assessed under the 2012 Criminal Injuries Compensation Scheme</li>
            </ul>

      <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="./previous-applications" role="button">Request a call-back</a>


        <h2 class="govuk-heading-m">Other ways to request a 'same roof' rule call-back</h2>

        <p class="govuk-body">If you cannot use the online form, you can call or write to us.</p>

        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">Inside the UK: 0300 003 360, select option 8<br>
            Outside the UK: +44 (0)203 684 2517<br>
            Monday and Tuesday, 8:30am to 5pm<br>
            Wednesday, 8:30am to 3pm <br>
            Thursday and Friday, 8.30am to 5pm<br>
            <a href="/">Find out about call charges</a></p>

        <h3 class="govuk-heading-s">Post</h3>
        <p class="govuk-body">
          SRR team<br>
          Criminal Injuries Compensation Authority<br>
          Alexander Bain House<br>
          Atlantic Quay<br>
          15 York Street<br>
          Glasgow<br>
          G2 8JQ<br>
          United Kingdom</p>

          <p class="govuk-body">You should include the following information:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>previous application reference numbers, if you know them</li>
              <li>full name</li>
              <li>previous names, if any</li>
              <li>date of birth</li>
              <li>current address</li>
              <li>telephone number</li>
              <li>preferred time for us to call you back, for example, Monday between 12pm and 5pm</li>
            </ul>



        <h2 class="govuk-heading-m">Support</h2>
        <p class="govuk-body">For practical or emotional support visit the Victim and Witness infomation websites:
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.victimandwitnessinformation.org.uk/"  target="_blank">England and Wales</a></li>
          <li><a href="https://www.mygov.scot/victim-witness-support/"  target="_blank">Scotland</a></li>
          </ul>
            </p>

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>
</main>
</div>

{% endblock %}
