{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice">Crime, justice and the law</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice/reporting-crimes-compensation">Reporting crimes and getting compensation</a>
    </li>
  </ol>
</div>

<main role="main" class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Heading - Enquire about compensation</h1>
      <p class="govuk-body">Use this service to open an enquiry for compensation if you were the victim of a violent crime or abuse between August 1964 and October 1979 and were living under the same roof as the perpretrator. This includes if:
        <ul class="govuk-list govuk-list--bullet">
          <li>you were physically injured</li>
          <li>you suffered mental injuries</li>
          <li>were sexually assaulted or abused</li>
            <li>you saw the crime happen to a family member (or were there immediately afterwards)</li>
            <li>a family member died</li>
              <li>you paid for the funeral of a family member</li>
              </ul>



      <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="./previous-applications" role="button">Open an enquiry</a>

      <h1 class="govuk-heading-l" style="margin-top:20px">Before you start</h1>
      <p class="govuk-body">There is a different service for <a href=".">Northern Ireland</a></p>
      <p class="govuk-body">You do not need a legal representative to open an enquire or subsequent application</p>
      <p class="govuk-body">Compensation is paid by the government, not the offender. We may be able to pay compensation even if the offender is not identified or convicted.</p>




            <h2 class="govuk-heading-l">What you'll need</h2>
            <p class="govuk-body">To complete the enquiry, you'll need:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Any previous application reference numbers</li>
                <li>A telephone number</li>
                </ul>

      <h2 class="govuk-heading-l">Eligibility</h2>
        <p class="govuk-body">You must have been living under the same roof as the perpetrator at the time of the crime or abuse.</p>

        <h2 class="govuk-heading-l">Other ways to apply</h2>

        <p class="govuk-body">You can also enquire over the phone on 0300 003 3601. Select option 8.</p>

        <p class="govuk-body">Our phone lines are open Monday to Friday 8.30am to 5pm except Wednesday when they open at 10am.</p>

        <h2 class="govuk-heading-l">Support</h2>
        <p class="govuk-body">For practical or emotional support visit the Victim and Witness infomation websites:
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.victimandwitnessinformation.org.uk/"  target="_blank">England and Wales</a></li>
          <li><a href="https://www.mygov.scot/victim-witness-support/"  target="_blank">Scotland</a></li>
          </ul>
            </p>

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>
</main>
</div>

{% endblock %}
