{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<main role="main" class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Make a 'same roof' rule enquiry</h1>
      <p class="govuk-body">This enquiry form is for victims of violent crime who lived with the person who attacked them between 1 August 1964 and 1 October 1979. It includes those who, because of the ‘same roof’ rule:
        <ul class="govuk-list govuk-list--bullet">
          <li>had compensation claims rejected</li>
          <li>did not apply for compensation</li>
              </ul>

    <!-- <div class="govuk-inset-text">
      <p class="govuk-body">If the ‘same roof’ rule did not affect you, you must <a href="/">use our online application service</a>.</p>
      </div> -->

      <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
  If the ‘same roof’ rule did not affect you, you must <a href="/">use our online application service</a>.
    </strong>
    </div>

      <h2 class="govuk-heading-l" style="margin-top:20px">Before you start</h2>
      <p class="govuk-body">You will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your previous application reference numbers if you have applied before</li>
        <li>a phone number we contact you on</li>
            </ul>

            <p class="govuk-body">You should be aware that we will:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>only contact you by telephone</li>
              <li>assess your application against the requirements of the current Criminal Injuries Compensation Scheme</li>
                  </ul>

      <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="./previous-applications" role="button">Start</a>


        <h2 class="govuk-heading-m">Other ways to make a 'same roof' rule enquiry</h2>

        <p class="govuk-body">If you cannot use the online form there are other ways you can start your enquiry.</p>

        <p class="govuk-body">You will have to provide your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>previous application reference numbers, if you know them</li>
          <li>full name</li>
          <li>previous names, if any</li>
          <li>date of birth</li>
          <li>current address</li>
          <li>telephone number</li>
          <li>preferred time for us to call you back, for example, Monday between 12pm and 5pm</li>
              </ul>

        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">Inside the UK: 0300 003 360, select option 8<br>
            Outside the UK: +44 (0)203 684 2517<br>
            Monday and Tuesday, 8:30am to 5pm<br>
            Wednesday, 10am to 5pm <br>
            Thursday and Friday, 8.30am to 5pm<br>
            <a href="/">Find out about call charges</a></p>

        <h3 class="govuk-heading-s">Post</h3>
            <p class="govuk-body">Post
            Criminal Injuries Compensation Authority<br>
            Alexander Bain House<br>
            Atlantic Quay<br>
            15 York Street<br>
            Glasgow<br>
            G2 8JQ<br>
            United Kingdom</p>


        <h2 class="govuk-heading-m">Support</h2>
        <p class="govuk-body">For practical or emotional support visit the Victim and Witness infomation websites:
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.victimandwitnessinformation.org.uk/"  target="_blank">England and Wales</a></li>
          <li><a href="https://www.mygov.scot/victim-witness-support/"  target="_blank">Scotland</a></li>
          </ul>
            </p>

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>
</main>
</div>

{% endblock %}
