{% extends "layout.html" %}

{% block pageTitle %}
  Guide - CICA
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice">Crime, justice and the law</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice/reporting-crimes-compensation">Reporting crimes and getting compensation</a>
      </li>
    </ol>
  </div>

    <main id="content" role="main" class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <header class="page-header">
                    <div>
                        <h1 class="govuk-heading-xl">
                            Apply for compensation for a criminal injury
                        </h1>
                    </div>
                </header>
                <h2 class="govuk-heading-s">Contents</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="./">Overview</a></li>
                    <li><a href="/">Eligibility</a></li>
                    <li><a href="./stepped-guide-claim">Make a claim</a></li>
                    <li><a href="./stepped-guide-srr">Same roof rule</a></li>
                    <li><a href="/">What happens next</a></li>
                    <li><a href="/">Update your claim</a></li>
                </ul>
            </div>
        </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <hr class="govuk-section-break govuk-section-break--visible">
          <br>
          <h1 class ="govuk-heading-l govuk-!-mt-r3">Abolition of the ‘same roof’ rule</h1>

          <p class="govuk-body">On XX May 2019 the government abolished the ‘same-roof’ rule.</p>
          <p class="govuk-body">The 'same roof' rule:
          <ul class="govuk-list govuk-list--bullet">
            <li>was part of the Criminal Injuries Compensation Scheme from 1 August 1964</li>
            <li>stopped victims getting compensation if they lived with their abuser</li>
            <li>changed on 1 October 1979 to apply only to adults who continued to live with their abuser</li>
          </ul></p>


          <h3 class ="govuk-heading-m">What the change means</h3>

          <p class="govuk-body">Victims who lived with their abusers, and were abused between 1 August 1964 and 1 October 1979, can now apply for compensation.</p>
          <p class="govuk-body">This includes victims who, because of the ‘same roof’ rule:
          <ul class="govuk-list govuk-list--bullet">
            <li>had a compensation claim rejected</li>
            <li>did not apply for compensation</li>
          </ul></p>

          <p class="govuk-body">All applications will still need to meet the remaining <a href="/">eligibility criteria.</a></p>

          <div class="govuk-inset-text">
            <p class="govuk-body">If you have an ongoing application, you do not need to make an enquiry.</p>
            <p class="govuk-body">If you are not affected by the 'same roof' rule, you must <a href="/">use our online application service</a>.</p>
          </div>

          <h3 class ="govuk-heading-m">Making an enquiry</h3>

            <p class="govuk-body">You must start an enquiry to give us enough information about you to assess if the ‘same roof’ rule affected you. There are four ways you can start an enquiry:
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/">complete our online enquiry form</a></li>
              <li><a href="/">by phone</a></li>
              <li><a href="/">by email</a></li>
              <li><a href="/">by post</a></li>
             </ul></p>

          <h3 class ="govuk-heading-m">Making an enquiry</h3>
          <p class="govuk-body">You can provide us with some basic information online to allow us to:
            <ul class="govuk-list govuk-list--bullet">
              <li>find any existing applications you may have, and call you back at a time convenient to you</li>
              <li>or to arrange a callback to start a new application, at a time convenient to you.</li>
              </ul></p>
             <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="./start" role="button">Complete the online enquiry form</a>

             <h3 class ="govuk-heading-m">Other ways to enquire</h3><br>
         <h3 class ="govuk-heading-m">Assessing your enquiry</h3>

            <p class="govuk-body">When we receive your enquiry we will:

              <ul class="govuk-list govuk-list--bullet">
                <li>check our records for previous application</li>
                  <li>check if any previous applications have enough information to make a new decision</li>
                    <li>call you back, or keep you on the phone, to complete the application process</li>
                      <li>give you a single named contact who will deal with you throughout the entire process</li>
                      </ul></p>



          <h2 class ="govuk-heading-m">Making an enquiry for someone else</h2>

          <p class="govuk-body">The online form does not support enquiries from:
          <ul class="govuk-list govuk-list--bullet">
            <li>legal representatives</li>
            <li>relatives or friends</li>
            <li>people with legal responsibility for victims, for example, carers or guardians</li>
          </ul></p>

          <p class="govuk-body">If you are making an enquiry on behalf of someone else, you must <a href="/">contact us by phone.</a></p>

<br>
          <div class="govuk-!-mb-r7">
            <ul class="stepped-pagination__list">
              <li class="stepped-pagination__item stepped-pagination__item--previous">
              <a href="/stepped-guide?step=2" class="stepped-pagination__link" rel="prev">
                  <span class="stepped-pagination__link-title">
                  <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  Previous
                  </span>
                  <span class="visually-hidden">:</span>
                  <span class="stepped-pagination__link-label">Eligibility</span>
              </a>
              </li>
              <li class="stepped-pagination__item stepped-pagination__item--next">
              <a href="/stepped-guide?step=4" class="stepped-pagination__link" rel="next">
                  <span class="stepped-pagination__link-title">
                  Next
                  <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  </span>
                  <span class="visually-hidden">:</span>
                  <span class="stepped-pagination__link-label">What happens next</span>
              </a>
              </li>
            </ul>
          </div>

            <div class="govuk-!-mb-r6">
                <img src="public/images/icon-print.png" style="padding-right: 10px;">
                <a href="/application/prototype">Print entire guide</a>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <aside class="app-related-items-small govuk-related-items" role="complementary" style="border-top:2px solid #005ea5; padding-top:20px">
                <h2 class="govuk-heading-s" id="subsection-title">
                    Related content
                </h2>
                <ul class="govuk-list govuk-body-s">
                    <li>
                        <a href="https://www.gov.uk/criminal-injuries-compensation-tribunal">
                        Criminal injuries compensation tribunal
                        </a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/get-support-as-a-victim-of-crime">
                        Get support as a victim of crime
                        </a>
                    </li>
                    </ul>


            </aside>
        </div>
    </div>
    </main>
</div>
{% endblock %}
