{% extends "layout.html" %}

{% block pageTitle %}
  Guide - CICA
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice">Crime, justice and the law</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice/reporting-crimes-compensation">Reporting crimes and getting compensation</a>
      </li>
    </ol>
  </div>

    <main id="content" role="main" class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <header class="page-header">
                    <div>
                        <h1 class="govuk-heading-xl">
                            Apply for compensation for a criminal injury
                        </h1>
                    </div>
                </header>
                <h2 class="govuk-heading-s">Contents</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="./stepped-guide-overview">Overview</a></li>
                    <li><a href="/">Eligibility</a></li>
                    <li><a href="./stepped-guide-claim">Make a claim</a></li>
                    <li><a href="./stepped-guide-srr">Same roof rule</a></li>
                    <li><a href="/">What happens next</a></li>
                    <li><a href="/">Update your claim</a></li>
                </ul>
            </div>
        </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <hr class="govuk-section-break govuk-section-break--visible">
          <br>
          <h1 class ="govuk-heading-l govuk-!-mt-r3">Same roof rule</h1>

          <p>Insert info here</p>

          <ul class="govuk-list govuk-list--bullet">
            <li></li>
          </ul>

          <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You will not be eligible for compensation (or might get less compensation) if you provide information you know is wrong or misleading. You can be prosecuted.
  </strong>
</div>

<p>You must also be able to prove you’ve tried to get compensation or other money you’re entitled to, for example:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>by claiming benefits</li>
<li>through insurance payments</li>
<li>from a civil court claim</li>
<li>from a criminal court case (if the crime went to court)</li>
</uL>

<p>You do not need to wait for the outcome of other claims before you apply.</p>

<div class="govuk-inset-text">
It does not cost anything to apply and you do not have to use a legal adviser.
</div>

          <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="./start" role="button">Open an enquiry</a>

          <h2 class="govuk-heading-m">Help making a claim</h2>

          <p>Contact CICA if you:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>do not have a computer or internet access</li>
<li>need help using the online service</li>
          </ul>

          <div class="contact">
              <p><strong>CICA</strong><br>
                  Inside the UK: 0300 003 3601 (choose option 8)<br>
                      Outside the UK: +44 (0)203 684 2517<br>
                      Monday and Tuesday, 8:30am to 5pm<br>
                      Wednesday, 10am to 5pm <br>
                      Thursday and Friday, 8.30am to 5pm<br>
                      <a href="/">Find out about call charges</a></p>
                    </div>

          <p>A friend or relative can also make the application on your behalf. You’ll need to confirm that you want them to deal with your claim</p>

          <div class="govuk-inset-text">
        You cannot claim the cost of using a legal adviser.
          </div>

          <p>You can also get free help and advice from:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the <a href="/">Victims’ Information Service</a></li>
                <li>your trade union</li>
          </ul>

<br>
          <div class="govuk-!-mb-r7">
            <ul class="stepped-pagination__list">
              <li class="stepped-pagination__item stepped-pagination__item--previous">
              <a href="/stepped-guide?step=2" class="stepped-pagination__link" rel="prev">
                  <span class="stepped-pagination__link-title">
                  <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  Previous
                  </span>
                  <span class="visually-hidden">:</span>
                  <span class="stepped-pagination__link-label">Eligibility</span>
              </a>
              </li>
              <li class="stepped-pagination__item stepped-pagination__item--next">
              <a href="/stepped-guide?step=4" class="stepped-pagination__link" rel="next">
                  <span class="stepped-pagination__link-title">
                  Next
                  <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  </span>
                  <span class="visually-hidden">:</span>
                  <span class="stepped-pagination__link-label">What happens next</span>
              </a>
              </li>
            </ul>
          </div>

            <div class="govuk-!-mb-r6">
                <img src="public/images/icon-print.png" style="padding-right: 10px;">
                <a href="/application/prototype">Print entire guide</a>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <aside class="app-related-items-small govuk-related-items" role="complementary" style="border-top:2px solid #005ea5; padding-top:20px">
                <h2 class="govuk-heading-s" id="subsection-title">
                    Related content
                </h2>
                <ul class="govuk-list govuk-body-s">
                    <li>
                        <a href="https://www.gov.uk/criminal-injuries-compensation-tribunal">
                        Criminal injuries compensation tribunal
                        </a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/get-support-as-a-victim-of-crime">
                        Get support as a victim of crime
                        </a>
                    </li>
                    </ul>


            </aside>
        </div>
    </div>
    </main>
</div>
{% endblock %}
