<main role="main" class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">A new way to claim</h1>

      <p class="govuk-body-l">We’ve made some changes to this form.</p>
      <p class="govuk-body">We’d like to contact you to check that it was easy to understand.</p>

      <h2 class="govuk-heading-l">What we may do</h2>
      <p class="govuk-body">We may:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>phone or email you after you’ve made your claim</li>
        <li>ask you some questions to check that the form was easy to understand</li>
        <li>ask if you want to give us more feedback</li>
      </ul>
      <h2 class="govuk-heading-l">Your consent</h2>
      <p class="govuk-body">By selecting 'Agree and continue' you give us consent to contact you after you've applied.</p>
      <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="/application/_0-start-and-qualifying/start-page" role="button">Agree and continue</a>

      <h2 class="govuk-heading-l">If you do not want to consent</h2>
      <p class="govuk-body">You can apply for compensation using our <a href="https://www.cica.gov.uk/OAS/Account/create" target="_blank">other online service</a> if you do not want to consent.</p>

      <h2 class="govuk-heading-l">Contact us</h2>
      <p class="govuk-body">You can contact us if you have any questions.</p>

      <p class="govuk-body">
        Email: <br>
        <strong><a href="mailto:info@cica.gov.uk?Subject=Private%20beta">info@cica.gov.uk</a></strong>
      </p>
      <p class="govuk-body">
        Telephone: <br>
        <strong>0300 003 3601</strong> option 8
      </p>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Opening times</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Day</th>
            <th scope="col" class="govuk-table__header">Opening times</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Monday</th>
            <td class="govuk-table__cell">8:30am to 5pm</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Tuesday</th>
            <td class="govuk-table__cell">8:30am to 5pm</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Wednesday</th>
            <td class="govuk-table__cell">8:30am to 3pm</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Thursday</th>
            <td class="govuk-table__cell">8:30am to 5pm</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Friday</th>
            <td class="govuk-table__cell">8:30am to 5pm</td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body"><a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a></p>

    </div>

  </div>
</main>
