<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  /*global accessibleAutocomplete*/
  var englishPolice = [
    'Avon and Somerset Constabulary',
    'Bedfordshire Police',
    'British Transport Police',
    'Cambridgeshire Constabulary',
    'Cheshire Constabulary',
    'City of London Police',
    'Cleveland Police',
    'Cumbria Constabulary',
    'Derbyshire Constabulary',
    'Devon and Cornwall Police',
    'Dorset Police',
    'Durham Constabulary',
    'Essex Police',
    'Gloucestershire Constabulary',
    'Greater Manchester Police',
    'Hampshire Constabulary',
    'Hertfordshire Constabulary',
    'Humberside Police',
    'Kent Police',
    'Lancashire Constabulary',
    'Leicestershire Police',
    'Lincolnshire Police',
    'Merseyside Police',
    'Metropolitan Police - Barking and Dagenham',
    'Metropolitan Police - Barnet',
    'Metropolitan Police - Bexley',
    'Metropolitan Police - Brent',
    'Metropolitan Police - Bromley',
    'Metropolitan Police - Camden',
    'Metropolitan Police - Croydon',
    'Metropolitan Police - Ealing',
    'Metropolitan Police - Enfield',
    'Metropolitan Police - Greenwich',
    'Metropolitan Police - Hackney',
    'Metropolitan Police - Hammersmith and Fulham',
    'Metropolitan Police - Haringey',
    'Metropolitan Police - Harrow',
    'Metropolitan Police - Havering',
    'Metropolitan Police - Hillingdon',
    'Metropolitan Police - Hounslow',
    'Metropolitan Police - Islington',
    'Metropolitan Police - Kensington and Chelsea',
    'Metropolitan Police - Kingston upon Thames',
    'Metropolitan Police - Lambeth',
    'Metropolitan Police - Lewisham',
    'Metropolitan Police - Merton',
    'Metropolitan Police - Newham',
    'Metropolitan Police - Redbridge',
    'Metropolitan Police - Richmond upon Thames',
    'Metropolitan Police - Southwark',
    'Metropolitan Police - Sutton',
    'Metropolitan Police - Tower Hamlets',
    'Metropolitan Police - Waltham Forest',
    'Metropolitan Police - Wandsworth',
    'Metropolitan Police - Westminster',
    'Ministry of Defence Police',
    'Norfolk Constabulary',
    'North Yorkshire Police',
    'Northamptonshire Police',
    'Northumbria Police',
    'Nottinghamshire Police',
    'South Yorkshire Police',
    'Staffordshire Police',
    'Suffolk Constabulary',
    'Surrey Police',
    'Sussex Police',
    'Thames Valley Police',
    'Warwickshire Police',
    'West Mercia Police',
    'West Midlands Police',
    'West Yorkshire Police',
    'Wiltshire Police',
  ]
  var element = document.querySelector('#englishPolice');
  accessibleAutocomplete({
    element: element,
    id: 'autocomplete-class',
    source: englishPolice,
    value: 'police-force'
  });
</script>

<script type="text/javascript">
  /*global accessibleAutocomplete*/
  var scottishPolice = [
    'British Transport Police (D Division)',
    'Police Scotland Argyll and West Dunbartonshire',
    'Police Scotland Ayrshire',
    'Police Scotland Dumfries and Galloway',
    'Police Scotland Edinburgh',
    'Police Scotland Fife',
    'Police Scotland Forth Valley',
    'Police Scotland Greater Glasgow',
    'Police Scotland Highland and Islands',
    'Police Scotland Lanarkshire',
    'Police Scotland Lothians and Scottish Borders',
    'Police Scotland North East',
    'Police Scotland Renfrewshire and Inverclyde',
    'Police Scotland Tayside',


  ]
  var element = document.querySelector('#scottishPolice');
  accessibleAutocomplete({
    element: element,
    id: 'autocomplete-class',
    source: scottishPolice,
    value: 'police-force'
  });
</script>

<script type="text/javascript">
  /*global accessibleAutocomplete*/
  var welshPolice = [
    'British Transport Police (C Division)',
    'Dyfed-Powys Police',
    'Gwent Police',
    'North Wales Police',
    'South Wales Police (Barry / Y Barri)',
    'South Wales Police (Bridgend / Pen-y-bont ar Ogwr)',
    'South Wales Police (Cardiff Bay / Bae Caerdydd)',
    'South Wales Police (Cardiff Central / Canol Caerdydd)',
    'South Wales Police (Merthyr Tydfil / Merthyr Tudful)',
    'South Wales Police (Neath / Castell-Nedd)',
    'South Wales Police (Pontypridd)',
    'South Wales Police (Swansea / Abertawe)',

  ]
  var element = document.querySelector('#welshPolice');
  accessibleAutocomplete({
    element: element,
    id: 'autocomplete-class',
    source: welshPolice,
    value: 'police-force'
  });
</script>

<script type="text/javascript">
  /*global accessibleAutocomplete*/
  var allPolice = [
'British Transport Police (C Division)',
'Dyfed-Powys Police',
'Gwent Police',
'North Wales Police',
'South Wales Police (Barry / Y Barri)',
'South Wales Police (Bridgend / Pen-y-bont ar Ogwr)',
'South Wales Police (Cardiff Bay / Bae Caerdydd)',
'South Wales Police (Cardiff Central / Canol Caerdydd)',
'South Wales Police (Merthyr Tydfil / Merthyr Tudful)',
'South Wales Police (Neath / Castell-Nedd)',
'South Wales Police (Pontypridd)',
'South Wales Police (Swansea / Abertawe)',
'British Transport Police (D Division)',
'Police Scotland Argyll and West Dunbartonshire',
'Police Scotland Ayrshire',
'Police Scotland Dumfries and Galloway',
'Police Scotland Edinburgh',
'Police Scotland Fife',
'Police Scotland Forth Valley',
'Police Scotland Greater Glasgow',
'Police Scotland Highland and Islands',
'Police Scotland Lanarkshire',
'Police Scotland Lothians and Scottish Borders',
'Police Scotland North East',
'Police Scotland Renfrewshire and Inverclyde',
'Police Scotland Tayside',
'Avon and Somerset Constabulary',
'Bedfordshire Police',
'British Transport Police',
'Cambridgeshire Constabulary',
'Cheshire Constabulary',
'City of London Police',
'Cleveland Police',
'Cumbria Constabulary',
'Derbyshire Constabulary',
'Devon and Cornwall Police',
'Dorset Police',
'Durham Constabulary',
'Dyfed - Powys Police',
'Essex Police',
'Gloucestershire Constabulary',
'Greater Manchester Police',
'Gwent Police',
'Hampshire Constabulary',
'Hertfordshire Constabulary',
'Humberside Police',
'Kent Police',
'Lancashire Constabulary',
'Leicestershire Police',
'Lincolnshire Police',
'Merseyside Police',
'Metropolitan Police - Barking and Dagenham',
'Metropolitan Police - Barnet',
'Metropolitan Police - Bexley',
'Metropolitan Police - Brent',
'Metropolitan Police - Bromley',
'Metropolitan Police - Camden',
'Metropolitan Police - Croydon',
'Metropolitan Police - Ealing',
'Metropolitan Police - Enfield',
'Metropolitan Police - Greenwich',
'Metropolitan Police - Hackney',
'Metropolitan Police - Hammersmith and Fulham',
'Metropolitan Police - Haringey',
'Metropolitan Police - Harrow',
'Metropolitan Police - Havering',
'Metropolitan Police - Hillingdon',
'Metropolitan Police - Hounslow',
'Metropolitan Police - Islington',
'Metropolitan Police - Kensington and Chelsea',
'Metropolitan Police - Kingston upon Thames',
'Metropolitan Police - Lambeth',
'Metropolitan Police - Lewisham',
'Metropolitan Police - Merton',
'Metropolitan Police - Newham',
'Metropolitan Police - Redbridge',
'Metropolitan Police - Richmond upon Thames',
'Metropolitan Police - Southwark',
'Metropolitan Police - Sutton',
'Metropolitan Police - Tower Hamlets',
'Metropolitan Police - Waltham Forest',
'Metropolitan Police - Wandsworth',
'Metropolitan Police - Westminster',  
'Ministry of Defence Police',
'Norfolk Constabulary',
'North Wales Police',
'North Yorkshire Police',
'Northamptonshire Police',
'Northumbria Police',
'Nottinghamshire Police',
'Police Service of Scotland',
'South Wales Police',
'South Yorkshire Police',
'Staffordshire Police',
'Suffolk Constabulary',
'Surrey Police',
'Sussex Police',
'Thames Valley Police',
'Warwickshire Police',
'West Mercia Police',
'West Midlands Police',
'West Yorkshire Police',
'Wiltshire Police',
  ]
  var element = document.querySelector('#allPolice');
  accessibleAutocomplete({
    element: element,
    id: 'autocomplete-class',
    source: allPolice,
    value: 'police-force'
  });
</script>

{% if useAutoStoreData %}
<script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
