{% extends "layout.html" %}
{% block pageTitle %}
{{ declarationHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ declarationHeading }}
    </h1>
    <p class="govuk-body">By submitting the application you agree that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the information you’ve given is true as far as you know</li>
      <li>we can share the details in your application with the police</li>
    </ul>
      <p class="govuk-body">Our privacy notice says <a href=https://www.gov.uk/guidance/cica-privacy-notice>how we use your data</a>.</p>
    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
          text: warningText,
          iconFallbackText: "Warning"
        }) }}

    <form class="form" method="post">

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            "text": "Agree and submit"
          }) }}

    </form>
  </div>
</div>
</div>
</main>
</div>
{% endblock %}
