{% extends "layout.html" %}
{% block pageTitle %}
{{ preferredContactQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  {{ govukCheckboxes({
    idPrefix: "preferred-days",
    name: "preferred-days",
    value: data['preferred-days'],
    fieldset: {
      legend: {
        text: "Which days are best for us to call you?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
      {
          value: "Monday",
          text: "Monday"

      },
      {
        value: "Tuesday",
        text: "Tuesday"
      },
      {
        value: "Wednesday",
        text: "Wednesday"
      },
      {
        value: "Thursday",
        text: "Thursday"
      },
      {
        value: "Friday",
        text: "Friday"
      }
    ]
  }) }}



      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            text: "Continue"
            }) }}

    </form>
  </div>

</div>
</main>
</div>
{% endblock %}
