{% extends "layout.html" %}

{% block pageTitle %}
{{ minorBritishCitizenQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <h1 class="govuk-heading-xl">We need proof of any change of names</h1>

      <p>You should upload .......</p>

      <p>If you cannot get one of these documents you can <a href="">apply using another service</a>.</p>

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}

      {{ govukRadios({
            "classes": "govuk-radios",
            "idPrefix": "minorUploadNowOther",
            "name": "minorUploadNowOther",
            currentValue: data['minorUploadNowOther'],
            "fieldset": {
              "legend": {
                "text": minorProofEligibilityUploadNowQuestion,
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
              {
                "value": "Yes",
                "text": "Yes",
                checked: checked("minorUploadNowOther", "Yes")
              },
              {
                "value": "No",
                "text": "No, I will email or post this in later",
                checked: checked("minorUploadNowOther", "No")
              }
            ]
          }) }}

      {{ govukButton({
            "text": "Continue"
            }) }}



    </form>

  </div>
</div>
</main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
