{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherShoulderInjury",
        name: "otherShoulderInjury",
        type: "text",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "shoulderInjuries",
        name: "shoulderInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to your shoulder",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "Broken shoulder blade",
          text: "Broken shoulder blade",
          checked: checked("shoulderBladeInjuries", "Broken shoulder blade")
        },
          {
            value: "Dislocated shoulder",
            text: "Dislocated shoulder",
            checked: checked("shoulderBladeInjuries", "Dislocated shoulder")
          },
          {
            value: "Separated shoulder",
            text: "Separated shoulder",
            checked: checked("shoulderBladeInjuries", "Separated shoulder")
          },
          {
            value: "Frozen shoulder",
            text: "Frozen shoulder",
            checked: checked("shoulderBladeInjuries", "Frozen shoulder")
          },
          {
            value: "none",
            text: "Other",
            checked: checked("shoulderBladeInjuries", "other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
