{% extends "layout.html" %}

{% block pageTitle %}
Select any injuries to the shoulder - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherShoulderInjury",
        name: "otherShoulderInjury",
        value: data['otherShoulderInjury'],
        type: "text",
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "shoulderInjuries",
        name: "shoulderInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the shoulder",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "Broken shoulder blade",
          text: "Broken shoulder blade",
          checked: checked("shoulderInjuries", "Broken shoulder blade"),
          id: ""
        },
          {
            value: "Dislocated shoulder",
            text: "Dislocated shoulder",
            checked: checked("shoulderInjuries", "Dislocated shoulder"),
            id: ""
          },
          {
            value: "Separated shoulder",
            text: "Separated shoulder",
            checked: checked("shoulderInjuries", "Separated shoulder"),
            id: ""
          },
          {
            value: "Frozen shoulder",
            text: "Frozen shoulder",
            checked: checked("shoulderInjuries", "Frozen shoulder"),
            id: ""
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("shoulderInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/simple-injury-list.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
