{% extends "layout.html" %}

{% block pageTitle %}
{{ englandRegionQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from 'radios/macro.njk' import govukRadios %}

      {{ govukRadios({
            "classes": "govuk-radios--stacked",
            "idPrefix": "englandRegions",
            "name": "englandRegions",
            currentValue: data['englandRegions'],
            "fieldset": {
              "legend": {
                "text": englandRegionQuestion,
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--xl'
              }
            },
            "items": [
              {
                "value": "Inner London",
                "text": "Inner London"
              },
              {
                "value": "Outer London",
                "text": "Outer London"
              },
              {
                "value": "North West",
                "text": "North West"
              },
              {
                "value": "North East, Yorkshire and Humber",
                "text": "North East, Yorkshire and Humber"
              },
              {
                "value": "West Midlands",
                "text": "West Midlands"
              },
              {
                "value": "East Midlands",
                "text": "East Midlands"
              },
              {
                "value": "Eastern England",
                "text": "Eastern England"
              },
              {
                "value": "South West",
                "text": "South West"
              },
              {
                "value": "South East",
                "text": "South East"
              }
            ]
          }) }}

      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>

  </div>
</div>
</main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
