{% extends "layout.html" %}

{% block pageTitle %}
What parts of the arms or hands were injured? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "armsInjuredParts",
        name: "armsInjuredParts",
        fieldset: {
          legend: {
            text: "What parts of the arms or hands were injured?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: armsInjuredPartsQuestionHint
        },
        items: [
          {
            value: "Shoulder",
            text: "Shoulder",
            checked: checked("armsInjuredParts", "Shoulder"),
            id: "Shoulder injury"
          },
          {
            value: "Arm",
            text: "Arm",
            checked: checked("armsInjuredParts", "Arm"),
            id: "Arm injury"
          },
          {
            value: "Elbow",
            text: "Elbow",
            checked: checked("armsInjuredParts", "Elbow"),
            id: "Elbow injury"
          },
          {
            value: "Wrist",
            text: "Wrist",
            checked: checked("armsInjuredParts", "Wrist"),
            id: "Wrist injury"
          },
          {
            value: "Hand",
            text: "Hand",
            checked: checked("armsInjuredParts", "Hand"),
            id: "Hand injury"
          },
          {
            value: "Finger and thumb",
            text: "Finger and thumb",
            checked: checked("armsInjuredParts", "Finger and thumb"),
            id: "Finger and thumb injury"
          },
          {
            value: "Skin",
            text: "Skin",
            hint: {
              text: "Including cuts, bruises, burns and scars"
            },
            checked: checked("armsInjuredParts", "Skin"),
            id: "Skin injury on arm"
          },
          {
            value: "Tissue",
            text: "Tissue",
            hint: {
              text: "Including muscles, ligaments, tendons or cartilage"
            },
            checked: checked("armsInjuredParts", "Tissue"),
            id: "Tissue injury on arm"
          }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
