{% extends "layout.html" %}

{% block pageTitle %}
{{ contextYourDetailsHeading   }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<!-- CONTENT TBC BADGE -->
  {%- from "moj/components/badge/macro.njk" import mojBadge -%}
  {{ mojBadge({
  text: 'Content TBC',
  classes: 'moj-badge--red'
  }) }}
  <br>
  <br>
  <br>
<!-- CONTENT TBC BADGE -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Credentials error
    </h1>

      <p class="govuk-body">
        The save and return reference or password you entered were not recognised.
      </p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You can attempt to log in 2 more times before your access to your account is limited.
        </strong>
      </div>

    <form class="form" method="post">
      {{ govukButton({
          text: "Try again"
          }) }}
    </form>
  </div>
</div>

</main>

</div>

{% endblock %}
