{% extends "layout.html" %}

{% block pageTitle %}
Select any injuries to the skin on the arms - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherArmTissueInjury",
        name: "otherArmTissueInjury",
        value: data['otherArmTissueInjury'],
        type: text,
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "armTissueInjuries",
        name: "armTissueInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the tissue on the arms or hands",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "Muscle",
          text: "Muscle",
          checked: checked("armTissueInjuries", "Muscle"),
          id: "Muscle damage on arm"
        },
          {
            value: "Ligament",
            text: "Ligament",
            checked: checked("armTissueInjuries", "Ligament"),
            id: "Ligament damage on arm"
          },
          {
            value: "Tendon",
            text: "Tendon",
            checked: checked("armTissueInjuries", "Tendon"),
            id: "Tendon damage on arm"
          },
          {
            value: "Cartilage",
            text: "Cartilage",
            checked: checked("armTissueInjuries", "Cartilage"),
            id: "Cartilage damage on arm"
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("armTissueInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}

      

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
