{% extends "layout.html" %}

{% block pageTitle %}
{{ periodOfAbuseEndQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
   tag: {
     text: "beta"
   },
   html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
 }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
      {% from "date-input/macro.njk" import govukDateInput %}
      {{ govukDateInput({
          id: 'period-of-abuse-end',
          name: 'period-of-abuse-end',
          namePrefix: 'period-of-abuse-end',
          fieldset: {
          legend: {
          text: periodOfAbuseEndQuestion,
          isPageHeading: true,
          classes: 'govuk-fieldset__legend--xl'
          }
          },
          hint: {
          text: periodOfAbuseHint
          },
          items:[
          {
          classes: "govuk-input--width-2",
          name: 'month',
          value: data['period-of-abuse-end-month']
          },
          {
          classes: "govuk-input--width-4",
          name: 'year',
          value: data['period-of-abuse-end-year']
          }
          ]
          })
          }}

      {% from "button/macro.njk" import govukButton %}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I do not know when the crime stopped
            </span>
        </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">You can contact us for help with your application on 0300 003 3601. Select option 8.</p>
              <p class="govuk-body">Our phone lines are open Monday to Friday 8.30am to 5pm except Wednesday when they open at 10am.</p>
              <p class="govuk-body">To get information about the crime you can <a class="govuk-body" href="https://www.police.uk/contact/101/" target="_blank">contact the police</a>.
            </div>
      </details>

      {{ govukButton({
          "text": "Continue"
          }) }}
  </div>
</div>
</main>
</div>

{% endblock %}
