// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// MOJ Design System Modules
@import "node_modules/@ministryofjustice/frontend/moj/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/accessible-autocomplete";
@import "components/miller-columns";
@import "injuries";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.sentence-case {
  text-transform: lowercase;
  &:first-letter {
  text-transform: uppercase;
  }
}
