.govuk-button--blue {
  background: #1d70b8;
  &:hover {
    background: #003078;
  }
}

.hidden {display: none;}

.someone-else-banner {
  font-family: "GDS Transport", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.31579;
  display: block;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 15px;
  &.yellow {
    background-color:	#ffdd00;
    color: black;
  }
  &.blue {
    background-color: #1d70b8;
    color: #ffffff;
  }
}

.someone-else-banner__message {

}
