form.injuries {
  .govuk-checkboxes__item:last-child{
    margin-top: 40px;
    &:before {
      content: "or";
      position: absolute;
      top: -32px;
      left: 9px;
   }
  }
}

table.your-injuries {
  td,th {
    text-transform: lowercase;
    &:first-letter {text-transform: uppercase;}
  }
}
