# ignore tracking usage data config - we want a different one for each user
usage-data-config.json
# ignore extension SCSS because it's dynamically generated
lib/extensions/_extensions.scss
.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
node_modules/*
.tmuxp.*
package-lock.json
app/views/application/check-your-answers-page/includes/_about_the_application.html
app/views/application/check-your-answers-page/includes/_contact_details.html
app/views/application/check-your-answers-page/includes/_victim_details.html
