# ignore tracking usage data config - we want a different one for each user
usage-data-config.json
# ignore extension SCSS because it's dynamically generated
lib/extensions/_extensions.scss
.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
node_modules/*
.tmuxp.*
package-lock.json
lib/extensions/_extensions.scss
app/routes-content.js
app/routes.js
app/views/concepts/minors/care-order/index.html
app/views/concepts/minors/eligibility-to-apply/option-3/confirm-names/index.html
app/views/concepts/minors/eligibility-to-apply/option-3/confirm-names/routes.js
app/views/concepts/minors/eligibility-to-apply/option-3/index.html
app/views/concepts/minors/eligibility-to-apply/option-3/name-change-uploaded/index.html
app/views/concepts/minors/eligibility-to-apply/option-3/name-change-uploaded/routes.js
app/views/concepts/minors/eligibility-to-apply/option-3/routes.js
app/views/concepts/minors/eligibility-to-apply/option-3/upload-another/index.html
app/views/concepts/minors/eligibility-to-apply/option-3/upload-another/routes.js
app/views/concepts/minors/eligibility-to-apply/option-3/upload-choice/index.html
app/views/concepts/minors/eligibility-to-apply/option-3/upload-choice/routes.js
app/views/concepts/minors/eligibility-to-apply/option-3/upload-name-change/index.html
app/views/concepts/minors/eligibility-to-apply/option-3/upload-name-change/routes.js
app/views/concepts/minors/eligibility-to-apply/option-3/upload/index.html
app/views/concepts/minors/eligibility-to-apply/option-3/upload/routes.js
app/views/concepts/minors/index.html
app/views/concepts/minors/scotland-location/index.html
lib/extensions/_extensions.scss
app/routes-content.js
app/routes.js
app/views/concepts/minors/care-order/index.html
app/views/concepts/minors/index.html
app/views/concepts/minors/scotland-location/index.html
lib/extensions/_extensions.scss
app/routes.js
