{% extends "layout.html" %}

{% block pageTitle %}
Physical Injuries - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "Do you have any other physical injuries as a result of the crime?",
          "isPageHeading": true,
          "classes": 'govuk-label--xl'
        },
        hint: {
          text: "We will ask about your mental injuries and how the crime has affected you in the next section"
        }
      }) }}

      {{ govukButton({
        "text": "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
