{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Your injuries
    </h1>
<!--    <h2 class="govuk-heading-m">Head, neck or face</h2> -->

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Face
        </dt>
        <dd class="govuk-summary-list__value">
          Face numbness<br />
          Broken cheekbone <br/>
          Broken jaw
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mouth
        </dt>
        <dd class="govuk-summary-list__value">
          Damaged or broken teeth
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
    </dl>
<!--
    <h2 class="govuk-heading-m">Torso</h2> -->

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Shoulder
        </dt>
        <dd class="govuk-summary-list__value">
          Dislocated shoulder
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> previous application number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Back
        </dt>
        <dd class="govuk-summary-list__value">
          Back strain
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence type</span>
          </a>
        </dd>
      </div>
    </dl>


   <form class="form" method="post">

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
      name: "pi-details",
      id: "pi-details",
      value: data['pi-details'],
      label: {
        "text": "Enter details of any other injuries",
        "isPageHeading": true,
        "classes": 'govuk-label--m  '
      },
      hint: {
        text: piDetailsHint
      }
    }) }}


    {{ govukButton({
      "text": "Continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
