{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Your injuries
    </h1>

    <h2 class="govuk-heading-m">
      You have selected these injuries
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Cuts and grazes to the face</li>
      <li>Scars on the arm</li>
      <li>Broken arm</li>
    </ul>


   <form class="form" method="post">

    {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "yourInjuriesCorrect",
          name: "yourInjuriesCorrect",
          fieldset: {
            legend: {
              text: "Are these correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            "value": "Yes",
            "text": "Yes",
            checked: checked("yourInjuriesCorrect", "Yes")
          },
          {
            "value": "No",
            "text": "No",
            checked: checked("yourInjuriesCorrect", "No")
            }
          ]
        }) }}

      {{ govukButton({
        "text": "Continue",
         href: "split-2"
      }) }}
    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
