{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set otherHtml %}
        {{ govukInput({
          id: "other-work-detail",
          name: "other-work-detail",
          type: text,
          classes: "govuk-!-width-full",
          label: {
            text: "Tell us more"
          }
        }) }}
      {% endset -%}


      {{ govukRadios({
            classes: "govuk-radios",
            "idPrefix": "workDetails",
            name: "workDetails",
            "fieldset": {
              "legend": {
                text: "Tell us why the child was not employed at this time",
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--xl'
              }
            },
            "items": [
              {
                "value": "They were at school, college or university",
                text: "They were at school, college or university",
                checked: checked("workDetails", "They were at school, college or university")
              },
              {
                value: "They were searching for employment",
                text: "They were searching for employment",
                checked: checked("workDetails", "They were searching for employment")
              },
              {
                value: "They were caring for someone",
                text: "They were caring for someone",
                checked: checked("workDetails", "They were caring for someone")
              },
              {
                value: "other",
                text: "Other",
                checked: checked("workDetails", "other"),
                conditional: {
                  html: otherHtml
                }
              }
              ]
          })
        }}

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>
  </div>
</div>
{% endblock %}
