{% extends "layout.html" %}

{% block pageTitle %}
{{ contextYourDetailsHeading   }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      How to return to your application later
    </h1>

    <!-- CONTENT TBC BADGE -->
      {%- from "moj/components/badge/macro.njk" import mojBadge -%}
      {{ mojBadge({
      text: 'Content TBC',
      classes: 'moj-badge--red'
      }) }}
      <br>
      <br>
      <br>
    <!-- CONTENT TBC BADGE -->


    <p class="govuk-body">
      If you don't complete your application in this session you'll need these pieces of information to return to it later:
    </p>

      <div class="govuk-panel govuk-panel--credentials">
        <!-- <h1 class="govuk-panel__title">
          Application complete
        </h1> -->
        <div class="govuk-panel__body">
          Your save and return reference: <strong>HDJ2123F</strong>
        </div>
        <br>
        <div class="govuk-panel__body">
          Your three-word password:  <strong>threerandomwords</strong>
        </div>
      </div>

      <p class="govuk-body">
        This information won't be sent to you so you'll need to write it down.  You can't reset or find out this information if you lose it, so you should keep it safe.
      </p>

      <h2 class="govuk-heading-m">
        Saving your application
      </h2>

      <p class="govuk-body">
        Your application progress is saved automatically every time you click Continue.  You can close your application at any time and continue it later using your save and return reference and password above.
      </p>

      <h2 class="govuk-heading-m">
        Completing your application if you stop
      </h2>

      <p class="govuk-body">
        You can resume your application by visiting the Claim compensation if you were the victim of a violent crime page on gov.uk, selecting "Start a claim", and selecting "Resume a saved application".
      </p>

      <h2 class="govuk-heading-m">
        Saved application expiry
      </h2>

      <p class="govuk-body">
        If you don't return to your saved application and complete it within 60 days, it will be deleted for your security.
      </p>


    <form class="form" method="post">
      {{ govukButton({
          text: "Continue"
          }) }}
    </form>
  </div>
</div>

</main>

</div>

{% endblock %}
