{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}
      {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "stoppedWorkingHowLong",
            name: "stoppedWorkingHowLong",
            fieldset: {
            legend: {
              text: "Was this for a period of six months or more?",
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
              }
            },
            hint: {
              text: "Must be equal to or more than 197 days. Can be a single period of time or cover several different times since the crime."
            },
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("stoppedWorkingHowLong", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("stoppedWorkingHowLong", "No")
            }
            ]
            }) }}

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help understanding the timeframe
                    </span>
                </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">If the child has been unable to work or look for a job for 197 days or more (28 full weeks), they’ll be considered for loss of earnings and special expenses.</p>
                      <p class="govuk-body">The 197 days can be a single period of time or cover several different times since the crime. For example, the child may return to work in the same week of the crime. But, they then cannot continue working due to the injuries they received during the crime.</p>
                      <p class="govuk-body">We will ask you for more details about this when we get in touch after you’ve sent the application.</p>
                    </div>
              </details>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            text: "Continue"
            }) }}

    </form>
  </div>
</div>
{% endblock %}
