{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Have you changed your name?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "This includes changing your last name or spelling your namewerwrew  differently."
  },
  items: [
    {
      value: "yes",
      text: "yes"
    },
    {
      value: "no",
      text: "no"
    }
  ]
}) }}

{{ govukButton({
      text: "Continue"
      }) }}

{% endblock %}
