{% extends "layout.html"%}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block pageScripts %}
<script>
localStorage.setItem('headPages', 0);
var headPageCount = localStorage.getItem('headPages');
</script>
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#"class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link"href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form"method="post">

      {% from "govuk/components/checkboxes/macro.njk"import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherNeckInjury",
        name: "otherNeckInjury",
        value: data['otherNeckInjury'],
        type: "text",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "neckInjuries",
        name: "neckInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to your neck",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: neckInjuriesQuestionHint
        },
        items: [
        {
          value: "Broken hyoid (throat bone)",
          text: "Broken hyoid (throat bone)",
          checked: checked("neckInjuries", "Broken hyoid (throat bone)")
        },
        {
          value: "Whiplash",
          text: "Whiplash",
          checked: checked("neckInjuries", "Whiplash")
        },
        {
          value: "Quadriplegia or tetraplegia (paralysis of all 4 limbs)",
          text: "Quadriplegia or tetraplegia (paralysis of all 4 limbs)",
          checked: checked("neckInjuries", "Quadriplegia or tetraplegia (paralysis of all 4 limbs)")
        },
        {
          value: "Hemiplegia (paralysis of one side of the the body)",
          text: "Hemiplegia (paralysis of one side of the the body)",
          checked: checked("neckInjuries", "Hemiplegia (paralysis of one side of the the body)")
        },
        {
          value: "other",
          text: "Other",
          checked: checked("neckInjuries", "Other"),
          conditional: {
            html: otherHtml
          }
        }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html"%}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
