
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Save and return V2 — August 2022
      </h1>

      <p class="govuk-body-l">Journey concepts and mockups of individual interactions in the save and return journey.</p>

      <p class="govuk-body"><a href="https://miro.com/app/board/o9J_lwNEYZg=/">Miro ideation board (password: userneeds)</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">MVP Prototype</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
            <a href="/concepts/save-and-return-v2/govuk/" class="govuk-body govuk-link">Start and save journey</a>
        </li>
        <li>
          <a href="/concepts/save-and-return-v2/govuk/" class="govuk-body govuk-link">Return journey</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h2 class="govuk-heading-l">Concepts</h2>
      <p>Options created for discussion after ideation session.</p>
      <h3 class="govuk-heading-m">Accounts dashboard</h3>
      <p></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/concepts/save-and-return-v2/dashboard/v1">
            Option 1 - ticket panels
          </a>
        </li>
        <li>
          <a href="/concepts/save-and-return-v2/dashboard/v2">
            Option 2 - sortable table
          </a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
