{% extends "layout.html" %}

{% block pageTitle %}
 - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

{% include "../includes/content_tbc.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      No saved applications
    </h1>

    <p class="govuk-body">No saved applications match the details you entered.</p>
    <p class="govuk-body">If you think you entered the information incorrectly, you can try again by clicking the button below.</p>

    <form class="form" method="post">
      {{ govukButton({
          text: "Continue"
          }) }}
    </form>


  </div>
</div>

</main>

</div>

{% endblock %}
