{% if data['internalOrgansInjuries'] and data['internalOrgansInjuries'].includes("Loss of kidney") %}
  <tr><th class="govuk-table__cell govuk-body">Loss of kidney</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['internalOrgansInjuries'] and data['internalOrgansInjuries'].includes("Punctured lung") %}
  <tr><th class="govuk-table__cell govuk-body">Punctured lung</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['internalOrgansInjuries'] and data['internalOrgansInjuries'].includes("Lung damage from smoke or chemicals") %}
  <tr><th class="govuk-table__cell govuk-body">Lung damage from smoke or chemicals</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['internalOrgansInjuries'] and data['internalOrgansInjuries'].includes("Loss of pancreas") %}
  <tr><th class="govuk-table__cell govuk-body">Loss of pancreas</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['internalOrgansInjuries'] and data['internalOrgansInjuries'].includes("Loss of spleen") %}
  <tr><th class="govuk-table__cell govuk-body">Loss of spleen</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
