{% extends "layout.html" %}
{% block pageTitle %}
{{ smsConfirmationPreferenceQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

{% include "../../includes/content_tbc.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set emailHtml %}
      {{ govukInput({
        id: "emailAddress",
        name: "emailAddress",
        type: "email",
        classes: "govuk-!-width-one-half",
        label: {
          text: "Email address"
        },
        attributes: {
          spellcheck: "false"
        }
      }) }}
      {% endset -%}

      {% set textHtml %}
      {{ govukInput({
        id: "phoneNumber",
        name: "phoneNumber",
        type: "tel",
        classes: "govuk-!-width-one-third",
        label: {
          text: "UK mobile phone number"
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "confirmationPreference",
        name: "confirmationPreference",
        fieldset: {
          legend: {
            text: smsConfirmationPreferenceQuestion,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },

        items: [
          {
            value: "Email",
            text: "Email",
            checked: checked("confirmationPreference", "Email"),
            conditional: {
              html: emailHtml
            }
          },
          {
            value: "Text",
            text: "Text message",
            checked: checked("confirmationPreference", "Text"),
            conditional: {
              html: textHtml
            }
          },
          {
            divider: "or"
          },
          {
            value: "Neither",
            text: "I don't have an email address or UK mobile phone number",
            checked: checked("confirmationPreference", "Neither")
          }
        ]
      }) }}

      <!-- Set screen-exited to name of screen exited in hidden input -->

      <div class="hidden">
        <input class="govuk-input" id="screenExited" name="screen-exited" type="text">
      </div>

      <script>
        var pageURL = window.location.href;
        var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
        document.getElementById("screenExited").value = lastURLSegment;
      </script>

      {% include "../../includes/buttons.html" %}

      <!-- end setting variable in hidden input -->

    </form>
  </div>
</div>
</main>
</div>
{% endblock %}
