
{% extends "layout.html" %}

{% block pageTitle %}
  Applying on behalf of someone else - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h1 class="govuk-heading-xl">
        Applying for someone else concepts
      </h1>
      <p class="govuk-body-l">Prototypes exploring applying for someone else</p>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#in-use">
              Latest work
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#older">
              Older work
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="in-use">
          <h3 class="govuk-heading-m">Flows and documents</h3>

          <p class="govuk-body govuk-!-margin-bottom-0">Google drive folder of <a href="https://drive.google.com/drive/folders/17xN-qQIagZ7A_Y97sDmjBhUw2rjP4Aza">design artefacts</a></p>
          <p class="govuk-body govuk-!-margin-bottom-0">Flow for <a href="https://docs.google.com/drawings/d/17-DtdK9fFsJ9Ov40U0NLsWrSPV0mb6-9GVqV7dd7tnc/edit?usp=sharing">parent applying on behalf of a minor.</a></p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h3 class="govuk-heading-m">Prototypes</h3>
          <p class="govuk-body  govuk-!-margin-bottom-0">The minors flow is now integrated into the <a href="/application/_0-start-and-qualifying/start-page">main prototype</a>.</p>
          <br>

          <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Banner</h4>
          <p class="govuk-body govuk-!-margin-bottom-0">Remind the applicant that they are completing on behalf of the victim</p>
          <p class="govuk-body  govuk-!-margin-bottom-0">
            <a href="/concepts/applying-for-someone-else/minors/banner/yellow.html">Yellow banner</a> |
            <a href="/concepts/applying-for-someone-else/minors/banner/blue.html">Blue banner</a> |
            <a href="/concepts/applying-for-someone-else/minors/banner/moj.html">MoJ banner</a>
          </p>
          <br>

<!-- Selected concepts from below are now in the main prototype. Keeping here for reference only as they're now superceded -->

          <!-- <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Filter non-parents</h4>
          <p class="govuk-body govuk-!-margin-bottom-0">Filter non-parents to the original apply service</p>
          <p class="govuk-body  govuk-!-margin-bottom-0">
            <a href="/concepts/applying-for-someone-else/minors/filter-non-parents/option-1/parent-guardian">Option 1</a> |
            <a href="/concepts/applying-for-someone-else/minors/filter-non-parents/option-2/parent-guardian">Option 2</a> |
            <a href="/concepts/applying-for-someone-else/minors/filter-non-parents/option-3/parent-guardian">Option 3</a>
          </p>
          <br>

          <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Shared parental responsibility</h4>
          <p class="govuk-body govuk-!-margin-bottom-0">Establish shared parental responsibility with another person.  Note: updates are to content and not flow, so built into main prototype</p>
          <p class="govuk-body  govuk-!-margin-bottom-0">
            <a href="/application/_2-applying-for-minors/_2-your-details/do-you-share-responsibility">Option 1</a>
          </p>
          <br>

          <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Care or supervision order context</h4>
          <p class="govuk-body govuk-!-margin-bottom-0">Adding context to explain that local authorities may take ownership</p>
          <p class="govuk-body  govuk-!-margin-bottom-0"><a href="/concepts/applying-for-someone-else/minors/care-order-context/option-1/care-order">Option 1</a>: context screen <b>after</b> applicant gives details of care order</p>
          <p class="govuk-body  govuk-!-margin-bottom-0"><a href="/concepts/applying-for-someone-else/minors/care-order-context/option-2/care-order">Option 2</a>: context screen <b>before</b> applicant gives details of care order</p>
          <p class="govuk-body  govuk-!-margin-bottom-0"><a href="/concepts/applying-for-someone-else/minors/care-order-context/option-3/care-order">Option 3</a>: hint text on second screen</p>
          <br> -->

        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="older">
          <h2 class="govuk-heading-l">Parents applying on behalf of children</h2>

          <p class="govuk-body-m">This work was done between November 2019 - Feb 2020 and based on the private beta flow: VOSAA with no physical or mental injuries or financial losses.</p>

          <h3 class="govuk-heading-m">Flows and documents</h3>

          <p class="govuk-body govuk-!-margin-bottom-0">Google drive folder of <a href="https://drive.google.com/drive/folders/1DHnXSTJPb7Q-c0IcRPDr4mIQdgvUsvBg">design artefacts</a></p>
          <p class="govuk-body govuk-!-margin-bottom-0">Flow for both <a href="https://docs.google.com/drawings/d/1k75qXLAtO_TA9IBhtCTt3_QZHOGF7HdKiHycg3ySMWg/edit?usp=sharing">adult and minor journey</a></p>
          <p class="govuk-body govuk-!-margin-bottom-0">Flow for both <a href="https://docs.google.com/drawings/d/1vxQlRjOj4nkBXbeyjX1IPRxALxAbnHxxhweEJqpiWpk/edit?usp=sharing">adult and minor journey</a> with upload screens for proof of parental responsibility</p>
          <p class="govuk-body">Flow for <a href="https://docs.google.com/drawings/d/1bCNX80ZMNLYsIyhdufX4wPF9NOGoVUgvQFDrzBHATtI/edit?usp=sharing">proof of parental responsibility</a></p>

          <h3 class="govuk-heading-m">Prototypes</h3>

          <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Provide proof of parental responsibility - Upload v1</h4>
          <p class="govuk-body">Upload all documents required on the same screen <br>
          <a href="/concepts/applying-for-someone-else/minors/eligibility-to-apply/option-1/">View prototype</a></p>

          <br>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Provide proof of parental responsibility - Upload v2</h4>
          <p class="govuk-body">Upload birth certificate first and then check that names are the same - uses multi file upload pattern for proof of name change.<br>
          <a href="/concepts/applying-for-someone-else/minors/eligibility-to-apply/option-2/">View prototype</a></p>

          <br>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Provide proof of parental responsibility - Upload v3</h4>
          <p class="govuk-body">Upload birth certificate first and then check that names are the same – upload the proof of names one at a time.<br>
          <a href="/concepts/applying-for-someone-else/minors/eligibility-to-apply/option-3/">View prototype</a></p>
          <br>

          <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Proof of parental responsibility - confirmation page</h4>
          <p class="govuk-body"><a class="govuk-link" href="/concepts/applying-for-someone-else/minors/parental-responsibility/email">View prototype</a></p>
        </div>
        </div>


    </div>
</div>

{% endblock %}
