{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form injuries" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "eyeInuries",
        name: "eyeInuries",
        fieldset: {
          legend: {
            text: "Do you have any of these eye or sight injuries?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "Broken eye socket ",
            text: "Broken eye socket ",
            checked: checked("eyeInuries", "Broken eye socket ")
          },
          {
            value: "Temporary blurred vision",
            text: "Temporary blurred vision",
            checked: checked("eyeInuries", "Temporary blurred vision")
          },
          {
            value: "Permanent blurred vision",
            text: "Permanent blurred vision",
            checked: checked("eyeInuries", "Permanent blurred vision")
          },
          {
            value: "Cataract",
            text: "Cataract",
            checked: checked("eyeInuries", "Cataract")
          },
          {
            value: "Scratched eye",
            text: "CScratched eye",
            checked: checked("eyeInuries", "Scratched eye")
          },
          {
            value: "Permanent loss of peripheral vision",
            text: "Permanent loss of peripheral vision",
            checked: checked("eyeInuries", "Permanent loss of peripheral vision")
          },
          {
            value: "Dislocated lens",
            text: "Dislocated lens",
            checked: checked("eyeInuries", "Dislocated lens")
          },
          {
            value: "Glaucoma",
            text: "Glaucoma",
            checked: checked("eyeInuries", "Glaucoma")
          },
          {
            value: "Bloodshot eye",
            text: "Bloodshot eye",
            checked: checked("eyeInuries", "Bloodshot eye")
          },
          {
            value: "Loss of eye",
            text: "Loss of eye",
            checked: checked("eyeInuries", "Loss of eye")
          },
          {
            value: "Blindess",
            text: "Blindess",
            checked: checked("eyeInuries", "Blindess")
          },
          {
            value: "Sight loss",
            text: "Sight loss",
            checked: checked("eyeInuries", "Sight loss")
          },
          {
            value: "Floater",
            text: "Floater",
            checked: checked("eyeInuries", "Floater")
          },
          {
            value: "Damaged or detached retina",
            text: "Damaged or detached retina",
            checked: checked("eyeInuries", "Damaged or detached retina")
          },
          {
            value: "Object in eye",
            text: "Object in eye",
            checked: checked("eyeInuries", "Object in eye")
          },
          {
            value: "Damaged eye drain",
            text: "Damaged eye drain",
            checked: checked("eyeInuries", "Damaged eye drain")
          },
          {
            value: "None",
            text: "None",
            checked: checked("eyeInuries", "None")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
