{% extends "layout.html" %}

{% block pageTitle %}
 - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

{% include "../includes/content_tbc.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      How to return to your application later
    </h1>

    <p class="govuk-body">
      If you don't complete your application in this session you'll need your save and return reference and password to return to it later:
    </p>

      <div class="govuk-panel govuk-panel--credentials">
        <div class="govuk-panel__body">
          Your save and return reference: <strong>ABC123</strong>
        </div>
      </div>

      <br/>

      <form class="form" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
              id: "passwordInput",
              name: "passwordInput",
              label: {
                text: "Create a password:",
                isPageHeading: true,
                classes: 'govuk-label--m'
              },
              id: "userPassword",
              name: "userPassword",
              value: data['userPassword'],
              type: "password"
            }) }}


      <h2 class="govuk-heading-m">
        Content to be included:
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Note that credentials cannot be recovered
        </li>
        <li>
          How to save
        </li>
        <li>
          How to return
        </li>
        <li>
          Info on saved application expiry
        </li>
      </ul>

      {{ govukButton({
          text: "Continue"
          }) }}
    </form>
  </div>
</div>

</main>

</div>

{% endblock %}
