{% extends "layout.html" %}

{% block pageTitle %}
{{ over18Question }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" action="/concepts/save-and-return-v2/app/eligibility/over-18-router">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}

        {{ govukRadios({
                classes: "govuk-radios--inline",
                "idPrefix": "over18",
                name: "over18",
                currentValue: data['over18'],
                "fieldset": {
                "legend": {
                    text: 'Is the victim over 18?' if data['direct-applicant'] == 'someone else' else 'Are you over 18?',
                    isPageHeading: true,
                    classes: 'govuk-fieldset__legend--xl'
                }
                },
                "items": [
                {
                    "value": "yes",
                    text: "Yes",
                    checked: checked("over18", "Yes")
                },
                {
                    "value": "no",
                    text: "No",
                    checked: checked("over18", "No")
                }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

    </form>

  </div>
</div>
</main>
</div>

{% endblock %}