<table class="govuk-table govuk-!-margin-top-5">
  <caption class="govuk-heading-m" style="text-align: left;">
    You have selected these injuries
    </caption>
  <tbody class="govuk-table__body">

    <!-- Head, face or neck injuries -->
    {% include "../includes/head-neck-face/head-brain.html" %}
    {% include "../includes/head-neck-face/face.html" %}
    {% include "../includes/head-neck-face/eye.html" %}
    {% include "../includes/head-neck-face/ear.html" %}
    {% include "../includes/head-neck-face/nose.html" %}
    {% include "../includes/head-neck-face/mouth.html" %}
    {% include "../includes/head-neck-face/neck.html" %}
    {% include "../includes/head-neck-face/skin-muscle.html" %}

    <!-- Torso -->
    {% include "../includes/torso/shoulder.html" %}
    {% include "../includes/torso/chest.html" %}
    {% include "../includes/torso/abdomen.html" %}
    {% include "../includes/torso/back.html" %}
    {% include "../includes/torso/pelvis.html" %}
    {% include "../includes/torso/genitals.html" %}
    {% include "../includes/torso/skin-muscle.html" %}

    <!-- Arm or hand injuries -->
    {% include "../includes/arm/shoulder.html" %}
    {% include "../includes/arm/arm.html" %}
    {% include "../includes/arm/elbow.html" %}
    {% include "../includes/arm/wrist.html" %}
    {% include "../includes/arm/hand.html" %}
    {% include "../includes/arm/fingers.html" %}
    {% include "../includes/arm/skin-muscle.html" %}

    <!-- Leg or foot injuries -->
    {% include "../includes/leg/hip.html" %}
    {% include "../includes/leg/leg.html" %}
    {% include "../includes/leg/knee.html" %}
    {% include "../includes/leg/ankle.html" %}
    {% include "../includes/leg/foot.html" %}
    {% include "../includes/leg/toes.html" %}
    {% include "../includes/leg/skin-muscle.html" %}

    </tbody>

  </table>
