
{% extends "layout.html" %}

{% block pageTitle %}
  Physical injuries concepts - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Physical injuries concepts
      </h1>
      <section class="">

      <p class="govuk-body-l">Prototypes exploring physical injuries concepts</p>
      <hr>

      <h3 class="govuk-heading-m">Basic autocomplete</h3>
      <p><a href="/concepts/physical-injuries/basic-autocomplete/context-physical-injuries" class="govuk-link">View prototype</a></p>
      <hr>

      <h3 class="govuk-heading-m">Advanced autocomplete</h3>
      <p><a href="/concepts/physical-injuries/advanced-autocomplete/context-physical-injuries" class="govuk-link">View prototype</a></p>
      <hr>

      <h3 class="govuk-heading-m">One question per page idea</h3>
      <p>v1 prototype. Usability tested on 14th and 15th May 2020</p>
      <p><a href="/concepts/physical-injuries/one-q-page/context-physical-injuries" class="govuk-link">View v1 prototype</a></p>
      <p><a href="/concepts/physical-injuries/one-q-page-v2/context-physical-injuries" class="govuk-link">View v2 prototype</a></p>
      <hr>

      <h3 class="govuk-heading-m">Most common injuries first</h3>
      <p><a href="/concepts/physical-injuries/most-common-first/context-physical-injuries" class="govuk-link">View v1 prototype</a></p>
      <p><a href="/concepts/physical-injuries/most-common-first-v2/context-physical-injuries" class="govuk-link">View v2 prototype</a></p>
      <hr>

      <h3 class="govuk-heading-m">Ideas</h3>
      <p><a href="/concepts/physical-injuries/ideas/progress-context.html" class="govuk-link">A progress context page</a></p>
      <p><a href="/concepts/physical-injuries/ideas/heading-progress.html" class="govuk-link">Progress at heading</a></p>
      <p><a href="/concepts/physical-injuries/ideas/sidebar-progress.html" class="govuk-link">Sidebar progress</a></p>
      <hr>

    </section>

      <section class="govuk-!-padding-top-9">
        <h2 class="govuk-body-l">Prototypes we have discounted</h2>
        <hr>

        <h3 class="govuk-heading-m">Exclude ineligibles + free text description</h3>
        <p><a href="/concepts/physical-injuries/free-text/context-physical-injuries" class="govuk-link">View prototype</a></p>
        <hr>
      </section>

    </div>
</div>

{% endblock %}
