{% if data['legSkinInjuries'] and data['legSkinInjuries'].includes("Cuts") %}
  <tr><th class="govuk-table__cell govuk-body">Cuts on legs or feet</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['legSkinInjuries'] and data['legSkinInjuries'].includes("Bruises") %}
  <tr><th class="govuk-table__cell govuk-body">Bruises on legs or feet</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['legSkinInjuries'] and data['legSkinInjuries'].includes("Scars") %}
  <tr><th class="govuk-table__cell govuk-body">Scars on legs or feet</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['legSkinInjuries'] and data['legSkinInjuries'].includes("Burns") %}
  <tr><th class="govuk-table__cell govuk-body">Burns on legs or feet</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['legInjuredParts'] and data['legInjuredParts'].includes("Muscle, ligament, or tendon injury") %}
  <tr><th class="govuk-table__cell govuk-body">Muscle, ligament, or tendon injury</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
