{% if data['toeInjuries'] and data['toeInjuries'].includes("Broken big toe") %}
  <tr><th class="govuk-table__cell govuk-body">Broken big toe</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['toeInjuries'] and data['toeInjuries'].includes("Broken toe") %}
  <tr><th class="govuk-table__cell govuk-body">Broken toe</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['toeInjuries'] and data['toeInjuries'].includes("2 or more broken toes") %}
  <tr><th class="govuk-table__cell govuk-body">2 or more broken toes</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['toeInjuries'] and data['toeInjuries'].includes("Amputated big toe") %}
  <tr><th class="govuk-table__cell govuk-body">Amputated big toe</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['toeInjuries'] and data['toeInjuries'].includes("1 amputated toe") %}
  <tr><th class="govuk-table__cell govuk-body">1 amputated toe</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['toeInjuries'] and data['toeInjuries'].includes("2 or more amputated toes") %}
  <tr><th class="govuk-table__cell govuk-body">2 or more amputated toes</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['toeInjuries'] and data['toeInjuries'].includes("Paralysed toe") %}
  <tr><th class="govuk-table__cell govuk-body">Paralysed toe</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['otherToeInjury'] %}
  <tr><th class="govuk-table__cell govuk-body">{{ data['otherToeInjury'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
