{% extends "layout.html" %}

{% block pageTitle %}
Application received - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
    We have received your application for criminal injuries compensation
    </h2>

    <p class="govuk-body">Dear Test User</p>
    <p class="govuk-body">Your case reference number is CICA2123GW.</p>
    <p class="govuk-body">We will normally make a decision within 4 months.</p>

    <p class="govuk-body">We will only contact you before the decision is made if:
      <ul>
        <li class="govuk-body">there is a delay getting information from the police</li>
        <li class="govuk-body">we need you to clarify something on your application form</li>
      </ul>
    </p>
    <p class="govuk-body">If your address, telephone number or email address changes you must inform us immediately.</p>
    <p class="govuk-body">You can contact our Customer Service Centre on 0300 003 3601. Select option 8 when the call is answered.</p>
    </div>

    <form class="form" method="post">

    </form>
  </div>

</div>

</main>

</div>

{% endblock %}
