{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- <h1 class="govuk-heading-xl govuk-visually-hidden">
          Have you applied for compensation from any other sources?
        </h1> -->

        <form class="form" method="post">
        {% from "error-summary/macro.njk" import govukErrorSummary %}

           {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: [
                {
                  text: "Select yes if you are a British Citizen",
                  href: "#haveOtherName"
                }
              ]
            }) }}

          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "classes": "govuk-radios--inline",
            "idPrefix": "britishCitizen",
            "name": "britishCitizen",
            currentValue: data['britishCitizen'],
            "fieldset": {
              "legend": {
                "text": 'Are you a British citizen?',
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--xl'
              }
            },
            errorMessage: {
            text: "Select yes if you are a British Citizen"
          },
            "items": [
              {
                "value": "Yes",
                "text": "Yes"
              },
              {
                "value": "No",
                "text": "No"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
            }) }}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
