{% extends "layout.html" %}
{% block pageTitle %}
What's the crime reference number? - {{ serviceName }} - GOV.UK
{% endblock %}
​
{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}
​
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-banner">

      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
  C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
      </svg>

      <div class="moj-banner__message">
        <span class="moj-banner__assistive">information</span> Applying on behalf of Victoria Smith.
      </div>

    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}
      <!-- @todo the variable crimeReferenceNumberHint is not displaying but I dont knwo why It didn't display as text either so I've moved it out as a variable fior the time being  -->
      {{ govukInput({
            label: {
            text: "What's the crime reference number?",
            isPageHeading: true,
            classes: "govuk-label--xl"
            },
            hint: {
              text: "This is the reference number the police gave the crime when it was reported."
            },
            classes: "govuk-input--width-20",
            id: "crimeReferenceNumber",
            name: "crimeReferenceNumber",
            value: data['crimeReferenceNumber']
            }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with crime reference number
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">If you don't have your crime reference number, you can call 101 to speak to your local police station. </p>
          <p class="govuk-body"> If you have more than one crime reference number, you can provide additional details later in this claim.</p>
        </div>
      </details>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      ​
      {{ govukButton({
            "text": "Continue"
      }) }}
      ​
    </form>
  </div>
</div>
{% endblock %}
