
{% extends "layout.html" %}

{% block pageTitle %}
  Minors journey concepts - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Minors journey concepts
      </h1>

      <p class="govuk-body-l">Journey and ideas for parents applying on behalf of children</p>

      <p><strong>Full flow</strong><br>Full flow from qualifying questions -> check your answers  <br>
      <a href="/concepts/parents-applying-for-minors/minors/consent">View prototype</a></p>

      <br>
      <p><strong>Provide proof of parental responsibility - Upload v1</strong><br>
      Upload all documents required on the same screen <br>
      <a href="/concepts/parents-applying-for-minors/minors/eligibility-to-apply/option-1/">View prototype</a></p>

      <br>
      <p><strong>Provide proof of parental responsibility - Upload v2</strong><br>
      Upload birth certificate first and then check that names are the same - uses multi file upload pattern for proof of name change.<br>
      <a href="/concepts/parents-applying-for-minors/minors/eligibility-to-apply/option-2/">View prototype</a></p>

      <br>
      <p><strong>Provide proof of parental responsibility - Upload v3</strong><br>
      Upload birth certificate first and then check that names are the same – upload the proof of names one at a time.<br>
      <a href="/concepts/parents-applying-for-minors/minors/eligibility-to-apply/option-3/">View prototype</a></p>
      <br>

      <p><strong>Proof of parental responsibility - confirmation page</strong><br>
      <a class="govuk-link" href="/concepts/parents-applying-for-minors/minors/parental-responsibility/email">View prototype</a></p>

    </div>
</div>

{% endblock %}
