{% extends "layout.html" %}
{% block page_title %}
{{ nameQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">

            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--xl" for="name">
                  {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                      {
                        text: nameErrorNoTitle,
                        href: "#title"
                      }
                    ]
                  }) }}
                  {{ nameQuestion }}
                </label>
              </h1>
            </div>

            {% from "input/macro.njk" import govukInput %}
            {% from "error-message/macro.njk" import govukErrorMessage %}

            {{ govukInput({
            "label": {
            "text": nameTitleField
            },
            "classes": "govuk-input--width-10",
            "id": "title",
            "name": "title",
            "value": data['title'],
            errorMessage: {
            text: nameErrorNoTitle
            }
            }) }}

            {% from "input/macro.njk" import govukInput %}

            {{ govukInput({
              label: {
                "text": nameFirstNameField
              },
              id: "first-name",
              name: "first-name",
              value: data['first-name']
            }) }}

            {% from "input/macro.njk" import govukInput %}

            {{ govukInput({
              label: {
                "text": nameLastNameField
              },
              id: "last-name",
              name: "last-name",
              value: data['last-name']
            }) }}
            {% from "input/macro.njk" import govukInput %}

            {{ govukButton({
                "text": "Continue"
                }) }}
          </form>
        </div>
      </div>
      <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">Small alteration to "other name" toggle - JK</p>
        <p class="design-notes">3/8/18 - removed toggle text as per MVP-108 - JK</p>
      </div>
    </main>
  </div>
{% endblock %}
