{% extends "layout.html" %}
{% block pageTitle %}
{{ whyDelayQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'radios/macro.njk' import govukRadios %}
      {% from "input/macro.njk" import govukInput %}

      {% set under18DelayHtml %}
      {{ govukInput({
        id: "under18-delay-reasons",
        name: "under18-delay-reason",
        value: data['under18-delay-reason'],
        classes: "govuk-!-width-full",
        label: {
          text: under18DelayReasonHint
        }
      }) }}
      {% endset -%}

      {% set waitHtml %}
      {{ govukInput({
            id: "wait-reasons",
            name: "wait-reasons",
            value: data['wait-reasons'],
            classes: "govuk-!-width-full",
            label: {
              text: waitReasonHint
            }
          }) }}
      {% endset -%}

      {% set medicalHtml %}
      {{ govukInput({
            id: "medical-reasons",
            name: "medical-reasons",
            value: data['medical-reasons'],
            classes: "govuk-!-width-full",
            label: {
              text: medicalReasonHint
            }
          }) }}
      {% endset -%}

      {% set otherHtml %}
      {{ govukInput({
            id: "other-reasons",
            name: "other-reason",
            value: data['other-reason'],
            classes: "govuk-!-width-full",
            label: {
              text: otherReasonHint
            }
          }) }}
      {% endset -%}

      {{ govukCheckboxes({
            idPrefix: "applicationDelay",
            name: "applicationDelay",
            currentValue: data['applicationDelay'],
            fieldset: {
              legend: {
                text: whyDelayQuestion,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "Select all options that apply to you."
            },
            items: [
            {
              value: "I was under 18",
              text: "I was under 18",
              conditional: {
                html: under18DelayHtml
              }
            },
            {
              value: "I was advised to wait",
              text: "I was advised to wait",
              conditional: {
                html: waitHtml
              }
            },
            {
              value: "Medical reasons",
              text: "Medical reasons",
              conditional: {
                html: medicalHtml
              }
            },
            {
              value: "Other reasons",
              text: "Other reasons",
              conditional: {
                html: otherHtml
              }
            }
            ]
          }) }}

      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
          "text": "Continue"
          }) }}

    </form>
  </div>
</div>

</main>
</div>

{% endblock %}
