{% extends "layout.html" %}

{% block pageTitle %}
{{ dmiTreatmentTypesQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set otherTreatmentHtml %}
      {{ govukInput({
        id: "otherTreatment",
        name: "otherTreatment",
        type: text,
        classes: "",
        label: {
          text: "Other treatments"
        },
        attributes: {
          spellcheck: "false"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "treatmentTypes",
        name: "treatmentTypes",
        fieldset: {
          legend: {
            text: "What mental health treatments have they had?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Include any treatment they're waiting to get."
        },
        items: [
          {
            value: "cbt",
            text: "CBT (cognitive behavioural therapy)",
            checked: checked("treatmentTypes", "cbt")
          },
          {
            value: "emdr",
            text: "EMDR (eye movement desensitisation and reprocessing)",
            checked: checked("treatmentTypes", "emdr")
          },
          {
            value: "antidepressants",
            text: "Antidepressants",
            checked: checked("treatmentTypes", "antidepressants")
          },
          {
            value: "counselling",
            text: "Counselling",
            checked: checked("treatmentTypes", "counselling")
          },
          {
            value: "psychotherapy",
            text: "Psychotherapy",
            checked: checked("treatmentTypes", "psychotherapy")
          },
          {
            value: "other",
            text: "Other",
            checked: checked("treatmentTypes", "other"),
            conditional: {
              html: otherTreatmentHtml
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
