{% extends "layout_unbranded.html" %}

{% block pageTitle %}
{{ contextYourDetailsHeading   }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}

<!-- <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Inbox
    </h1>

    <div class="email-box">
      {{ govukSummaryList({
        rows: [
          {
            key: { text: "From" },
            value: { text: "GOV.UK account" }
          },
          {
            key: { text: "Subject" },
            value: { text: "Your security code for your GOV.UK account" }
          }
        ]
      }) }}

      <p>Use this security code to confirm the email address for your GOV.UK account.</p>

      {{ govukInsetText({
        html: "778230"
      }) }}

      <p>The code will expire after 2 hours.</p>
      <p>If you did not use this email address to create a GOV.UK account, you can ignore this email.</p>
      <p>If you need help using the security code, you can contact us: <a href="https://signin.account.gov.uk/contact-us">https://signin.account.gov.uk/contact-us</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Do not reply to this email - it’s an automatic message from an unmonitored account.</p>

      <a class="govuk-link" href="#">Continue</a>

      <!-- <form class="form" method="post" action="authentication">
        <input type="hidden" name="auth-code" value="{{authCode}}">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form> -->

    </div>
  </div>

</div>

</main>

</div>

{% endblock %}
