{% extends "layout.html" %}

{% block pageTitle %}
{{ contextYourDetailsHeading   }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Create your password</h1>

    <p>Your password must:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be at least 8 characters long</li>
      <li>include letters and numbers</li>
    </ul>
      
    <p>Do not use a very common password, such as ‘password’ or a sequence of numbers.</p>

    <form class="form" method="post" action="mobile-number">
      <div class="govuk-form-group">
        {{ govukInput({
          id: "password",
          attributes: {"data-module": "moj-password-reveal"},
          classes: "govuk-input--width-20",
          name: "password",
          type: "password",
          label: {
            text: "Password",
            classes: 'govuk-label--m'
          },
          value: "1234ABC!"
        }) }}

        {{ govukInput({
          id: "password",
          attributes: {"data-module": "moj-password-reveal"},
          classes: "govuk-input--width-20",
          name: "password",
          type: "password",
          label: {
            text: "Password",
            classes: 'govuk-label--m'
          },
          value: "1234ABC!"
        }) }}
      </div>

    {{ govukDetails({
      summaryText: "How to create a secure password",
      text: 'A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.'
    }) }}

    <h2 class="govuk-heading-m">Agree to our terms of use</h2>

    <p>By continuing, you confirm that you agree to our:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#">privacy notice (opens in new tab)</a>, which explains how we use your personal information</li>
      <li><a href="#">terms and conditions (opens in new tab)</a></li>
    </ul>

    {{ govukButton({ text: "Continue" }) }}
  </form>

  </div>
</div>

</main>

</div>

{% endblock %}
