{% extends "layout.html" %}

{% block pageTitle %}
{{ contextYourDetailsHeading   }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Search for "Claim criminal injuries compensation" in your emails
    </h1>

    <p class="govuk-body">
      The email has a link to get back to your saved application.
    <p>

    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I cannot find the email
            </span>
        </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>Check your spam folder.</li>
                <li>Search for 'environmental permit application' in your emails.</li>
                <li>Wait for a few minutes - email can take a while to arrive.</li>
                <li>If you still can't find the email, you will need to start a new application.</li>
              </ol>
            </div>
    </details>

    <form class="form" method="post">

      {{ govukButton({
          text: "Continue"
          }) }}

    </form>

  </div>
</div>

</main>

</div>

{% endblock %}
