{% extends "layout.html" %}
{% block pageTitle %}
Error - {{ reportingDelayQuestion }} - {{ serviceName }} - GOV.UK
Reporting delay
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: [
                {
                  text: reportingDelayErrorCheckboxes,
                  href: "#reportingDelay"
                }
              ]
            }) }}

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
            idPrefix: "reportingDelay",
            name: "reportingDelay",
            currentValue: data['reportingDelay'],
            fieldset: {
              legend: {
                text: reportingDelayQuestion,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "Select all options that apply to you."
            },
            errorMessage: {
            text: reportingDelayErrorCheckboxes
          },
            items: [
            {
              value: "I was under 18",
              text: "I was under 18"
            },
            {
              value: "Unable to report the crime",
              text: "Unable to report the crime"
            },
            {
              value: "Other reasons",
              text: "Other reasons"
            }
            ]
          }) }}

          {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

            {{ govukTextarea({
                  name: "delay-reporting",
                  id: "delay-reporting",
                  currentValue: data['delay-reporting'],
                  label: {
                    text: delayReportExplanation,
                    classes: "govuk-label--l"
                  }
                }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
          "text": "Continue"
          }) }}

    </form>
  </div>
</div>

</main>
</div>

{% endblock %}
