{% extends "layout.html" %}

{% block pageTitle %}
{{ walesForceQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="/form-handler" method="post">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: [
                {
                  text: walesForcesError,
                  href: "#policeWales"
                }
              ]
            }) }}

      <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--xl" for="example">
              {{walesForceQuestion}}
              </label>
            </h1>

            {% from 'govuk/components/radios/macro.njk' import govukRadios %}

            {{ govukRadios({
                  classes: "govuk-radios",
                  "idPrefix": "policeWales",
                  name: "policeWales",
                  currentValue: data['policeWales'],
                  errorMessage: {
                  text: walesForcesError
                },
                  "fieldset": {
                  },
                  "items": [
                  {
                    "value": "British Transport Police",
                    text: "British Transport Police"
                  },
                  {
                    "value": "Dyfed-Powys",
                    text: "Dyfed-Powys"
                  },
                  {
                    "value": "Gwent",
                    text: "Gwent"
                  },
                  {
                    "value": "North Wales",
                    text: "North Wales"
                  },
                  {
                    "value": "South Wales",
                    text: "South Wales"
                  }
                  ]
                }) }}

            <br>
            <br>

    {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
            text: "Continue"
            }) }}

    </form>

  </div>
</div>
</div>
</div>

{% endblock %}
