{% extends "layout.html" %}

{% block pageTitle %}
{{ incidentLocationHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'radios/macro.njk' import govukRadios %}

      {{ govukRadios({
            idPrefix: "incidentlocation",
            name: "incidentlocation",
            currentValue: data['incidentlocation'],
            fieldset: {
              legend: {
                text: incidentLocationHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
            {
              value: "England",
              text: "England"
            },
            {
              value: "Scotland",
              text: "Scotland"
            },
            {
              value: "Wales",
              text: "Wales"
            },
            {
              value: "Somewhere else",
              text: "Somewhere else"
            }
            ]
          }) }}

      {{ govukButton({
            "text": "Continue"
          }) }}

    </form>

  </div>
</div>
</main>
</div>

{% endblock %}
