{% extends "layout.html" %}
{% block pageTitle %}
{{ phoneNumberQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
            "label": {
            "text": phoneNumberQuestion,
            "isPageHeading": true,
            "classes": 'govuk-label--xl'
            },
            hint: {
              text: phoneNumberHint
            },
            "classes": 'govuk-input--width-20',
            "id": "phoneNumber",
            "name": "phoneNumber",
            value: data['phoneNumber'],
            type: "tel",
            classes: "govuk-input--width-20"
            }) }}

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>
  </div>
</div>
</main>
</div>
{% endblock %}