
<h2 class="govuk-heading-l">
  Other compensation
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <!-- Previously applied question --->

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Have you applied to us before?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="previous-applications">
        Change<span class="govuk-visually-hidden">{{ previousApplicationsQuestion }} </span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Enter your previous reference number if you know it
    </dt>
    <dd class="govuk-summary-list__value">
      1231321321
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="previous-applications">
        Change<span class="govuk-visually-hidden"> {{ previousReferenceHint }}</span>
      </a>
    </dd>
  </div>

  <!-- Other compensation question --->

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Have you applied for or received any other form of compensation?
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="other-compensation">
      Change<span class="govuk-visually-hidden"> compensation</span>
    </a>
  </dd>
</div>

<!-- Other compensation question - NO - Why not? --->

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Briefly explain why you have not applied for or received any other form of compensation
  </dt>
  <dd class="govuk-summary-list__value">
    Didn't know I could
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="compensation">
      Change<span class="govuk-visually-hidden"> reason you didn't apply for compensation</span>
    </a>
  </dd>
</div>

{% if data['other-compensation'] === 'Yes' %}

<!-- Who have you applied for other compensation from? --->

{% if data['other-compensation'] === 'Yes' %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    {{ otherCompensationProviderQuestion }}
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['comp-who'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="other-compensation-provider">
      Change<span class="govuk-visually-hidden">who you applied to or recieved compensation from</span>
    </a>
  </dd>
</div>

<!-- Have they made a decision? --->

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    {{ otherCompensationDecisionQuestion }}
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['comp-decision-answer'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="other-compensation-decision">
      Change<span class="govuk-visually-hidden">decision</span>
    </a>
  </dd>
</div>
{% endif %}

<!-- How much? --->

{% if data['comp-decision-answer'] === 'Yes' %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    {{ otherCompensationAmountQuestion }}
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['comp-how-much'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="other-compensation-amount">
      Change<span class="govuk-visually-hidden">the amount of award</span>
    </a>
  </dd>
</div>
{% endif %}

<!-- When will they make a decision? --->

{% if data['comp-decision-answer'] === 'No' %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    {{ otherCompensationDecisionWhenQuestion }}
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['comp-when'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="other-compensation-when">
      Change<span class="govuk-visually-hidden">when you'll expect to hear</span>
    </a>
  </dd>
</div>
{% endif %}

{% endif %}

</dl>
