{% extends "layout.html" %}

{% block pageTitle %}
AD Guidance - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "Guidance"
    },
    html: 'This is for the internal CSC team to give assisted digital guidance to applicants.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" style="Background:#f8f8f8; padding-top:10px;">

{% include "./includes/navigation.html" %}

<!-- Back to top button -->
<div style="positon: sticky; top:30px; margin-bottom:30px; display:block" data-module="app-back-to-top">
<a class="govuk-link govuk-link--no-visited-state" href="#top">
<svg style="display: inline-block;margin-top:-5px; margin-right:10px; vertical-align:middle" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
  <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
</svg>Back to top
</a>
</div>

</div>


<!-- Main container -->
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Application submitted</h1>
<p class="govuk-body">This screen confirms that the application has been submitted, the ref no and what will happen next.</p>
<div><img src="./screenshots/Application-submitted.png" alt="Application submitted screenshot." title="Application submitted screen" width="660" style="margin-bottom:30px"></div>
  <div style="margin-bottom:50px">
    <div style="float:left"><a href="/">Previous screen - check your answers</a></div>
    <div style="float:right"><a href="/">Next screen - email notification</a></div>
    </div>
</div>

<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body">It’s important to reminder them to keep their contact details up-to-date.</p>
  <p class="govuk-body">You should read the contents of this page to the user.</p>
  <p class="govuk-body">Make it clear that we will send them an email notification to confirm the contents but give the user time to note the details if they wish.</p>
  <p class="govuk-body">If the user asks for a copy of the application summary, you will need to access the case, print and issue it with a covering TA10 letter. Do not offer to send it, wait until the user asks for a copy.</p>
</div>
  </div>

</main>

</div>

{% endblock %}
