{% extends "layout.html" %}

{% block pageTitle %}
AD Guidance - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "Guidance - version 1.0"
    },
    html: 'This is for the internal CSC team to give assisted digital guidance to applicants.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" style="Background:#f8f8f8; padding-top:10px;">

{% include "./includes/navigation.html" %}

  <!-- Back to top button -->
    <div style="positon: sticky; top:30px; margin-bottom:30px; display:block" data-module="app-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state" href="#top">
    <svg style="display: inline-block;margin-top:-5px; margin-right:10px; vertical-align:middle" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>
</div>

<!-- Main container -->
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l"><span class="govuk-caption-xl">Application guidance</span>
Handling process</h1>

<h2 class="govuk-heading-m">Telephone applications</h2>

<p class="govuk-body">You will use the same service link as users to complete telephone applications.</p>
<p class="govuk-body">We cannot separate online and telephone applications in this new service. This means that we will not send application summaries to every user.</p>
<p class="govuk-body">If a user asks for a summary, get it from Tempus and send it with a covering letter (TA10).</p>
<p class="govuk-body">Some service pages have links to other websites that give users more information or help and support.  These include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Relevant place guidance <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#incident-location">www.gov.uk/guidance/criminal-injuries-compensation-a-guide#incident-location<a/></li>
  <li>Northern Ireland compensation services <a href="https://www.justice-ni.gov.uk/topics/justice-and-law/compensation-services">www.justice-ni.gov.uk/topics/justice-and-law/compensation-services<a/></li>
  <li>Victims and witness information <a href="https://www.victimandwitnessinformation.org.uk">www.victimandwitnessinformation.org.uk<a/></li>
  <li>Scottish victims and witness support <a href="https://www.mygov.scot/victim-witness-support/">www.mygov.scot/victim-witness-support/<a/></li>
  <li>our privacy notice <a href="https://www.gov.uk/guidance/cica-privacy-notice">www.gov.uk/guidance/cica-privacy-notice<a/></li>
</ul>

<p class="govuk-body">You can signpost the user to the URLs if necessary, but you do not need to explain the content on external service pages.</p>

<h2 class="govuk-heading-m">Enquiries from users</h2>
<p class="govuk-body">The new service includes screens where we anticipate that users may need more help. On screen guidance directs them to call us.</p>
<p class="govuk-body">You will have to use your judgement as to how to deal with users who are part of the way through the application. Options may include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>only answering their specific question</li>
  <li>helping them through the rest of the application using the screenshot guide</li>
  <li>completing the entire application on their behalf</li>
</ul>


<h2 class="govuk-heading-m">Record user feedback</h2>
<p class="govuk-body"><a href="file:///Z:\Operations\Customer Service Centre\5.3_CSC\5.2.16_Advisor Spread sheets\2._Private Beta Tools\AD team application tracker.xlsx">Complete the private beta application tracker </a>to record:
  <ul class="govuk-list govuk-list--bullet">
    <li>details of all private beta calls</li>
    <li>issues that users encounter with the service</li>
  </ul>
  </p>



  </div>
</div>

</main>

</div>

{% endblock %}
