{% extends "layout.html" %}

{% block pageTitle %}
AD Guidance - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "Guidance - version 1.0"
    },
    html: 'This is for the internal CSC team to give assisted digital guidance to applicants.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" style="Background:#f8f8f8; padding-top:10px;">

{% include "./includes/navigation.html" %}

  <!-- Back to top button -->
    <div style="positon: sticky; top:30px; margin-bottom:30px; display:block" data-module="app-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state" href="#top">
    <svg style="display: inline-block;margin-top:-5px; margin-right:10px; vertical-align:middle" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>
</div>

<!-- Main container -->
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l"><span class="govuk-caption-xl">Guidance</span>
Eligibility check and triage</h1>

<h2 class="govuk-heading-m">Questions to establish initial eligibility: CSC advisor</h2>
<p class="govuk-body">Ask the usual eligibility questions:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>what is the incident you want to claim for? (is it a crime of violence?)</li>
  <li>when did the incident happen? (was it within the last 2 years?)</li>
  <li>where did the incident happen? (was it in Great Britain?)</li>
  <li>did you report it to the Police? If so, when? (was there any delay in reporting?)</li>
  <li>what were your injuries? (do the injuries qualify as per the Scheme?)</li>
  <li>do you have any unspent criminal convictions? (would these stop them from qualifying?)</li>
</ul>

<p class="govuk-body">If they are eligible go on to First Triage for Private Beta.</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If they are potentially ineligible
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">Continue with business as usual and:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>inform the applicant that they may not be eligible</li>
      <li>tell them that they still have the right to apply</li>
      <li>manage their expectations about eligibility</li>
      <li>direct them to the current OAS on the Justice portal or take a telephone application</li>
    </ul>
  </div>
</details>

<!-- <p class="govuk-body">If these questions raise eligibility issues, continue with business as usual and:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>inform the applicant that they may not be eligible</li>
  <li>tell them that they still have the right to apply</li>
  <li>manage their expectations about eligibility</li>
  <li>direct them to the current OAS on the Justice portal or take a telephone application</li>
</ul> -->

<h2 class="govuk-heading-m">First triage for Private Beta: CSC advisor</h2>

<p class="govuk-body"><a href="/public/images/Triage-process-map.pdf" target="_blank">View the triage process map</a>.</p>

<p class="govuk-body">Check if the user meets the criteria for Private Beta. You may have already established the answers to some of these questions during the eligibility check:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>are you claiming as a victim of sexual assault or abuse?</li>
  <li>do you have an email address?</li>
  <li>are you a British citizen or EU national?</li>
  <li>are you 18 or over?</li>
  <li>are you applying for yourself or someone else?</li>
</ul>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If the user answers ‘no’ at any point in the triage
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">You do not need to ask further triage questions. Continue as usual by highlighting the benefits of current OAS:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>it can be less traumatic</li>
      <li>you can take as long as you want. No need to go through it all in one long phone call</li>
      <li>if you don’t have all the information you can save as a draft and come back to it, take a break halfway through</li>
      <li>you’ll get an email confirmation</li>
      <li>you can describe things in your own words, not the words of an advisor</li>
    </ul>
    <p class="govuk-body">You should then direct the user to the current online application or take a telephone application.</p>
  </div>
</details>

<!-- <p class="govuk-body">If the user answers ‘no’ at any point in the triage you do not need to ask further triage
questions. Continue as usual by highlighting the benefits of current OAS:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>it can be less traumatic</li>
  <li>you can take as long as you want. No need to go through it all in one long phone call</li>
  <li>if you don’t have all the information you can save as a draft and come back to it, take a break halfway through</li>
  <li>you’ll get an email confirmation</li>
  <li>you can describe things in your own words, not the words of an advisor</li>
</ul> -->

<!-- <p class="govuk-body">You should then direct the user to the current online application or take a telephone application.</p> -->

<p class="govuk-body">If the user answers ‘yes’ to all the First Triage questions, move on to Second Triage for Private Beta.</p>


<h2 class="govuk-heading-m">Second triage for Private Beta: CSC advisor</h2>
<p class="govuk-body">The second triage will identify those who want to use our new application without support.</p>
<p class="govuk-body">You should:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>explain that we have a new online application service they can use</li>
  <li>explain the benefits, for example it is simple and easy to use, has fewer questions, and you can do it in your own time</li>
  <li>ask the user if they want to go online and do it themselves</li>
</ul>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If the user wants to go online themselves
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>note the user’s name and email address on the <a href="">CSC Private Beta URL tracker<a/></li>
      <li>send them an email with the URL link to Private Beta</li>
    </ul>
    </div>
</details>
<!--
<p class="govuk-body">If 'yes' then:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>note the user’s name and email address on the Private Beta spreadsheet</li>
  <li>send them an email with the URL link to Private Beta</li>
</ul> -->
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If the user wants to do it over the phone
    </span>
  </summary>
  <div class="govuk-details__text">
      <p class="govuk-body">Check that they have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>approximate date of crime</li>
        <li>name of police force dealing with it</li>
        <li>crime reference number</li>
        <li>location where crime happened</li>
      </ul>
    </div>
</details>
<!--
<p class="govuk-body">If 'no', they want to do it over the phone, check that they have:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>approximate date of crime</li>
  <li>name of police force dealing with it</li>
  <li>crime reference number</li>
  <li>location where crime happened</li>
</ul> -->
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If the user does not have the information needed for a telephone application
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">Tell the user:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>to call back when they do</li>
      <li>to select option 8 when they call</li>
      <li>that they will be put straight through to an advisor who can take the new application</li>
    </ul>
    </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If the user has the information needed for a telephone application
    </span>
  </summary>
  <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li>advise them you will transfer them to an advisor who is trained to take the new application</li>
        <li>transfer the call to one of the advisors on the assisted digital team:</li>
        <li class="govuk-list">Lorraine Mackenzie</li>
        <li class="govuk-list">Richard McGovern</li>
        <li class="govuk-list">Joseph Smith</li>
        <li class="govuk-list">Gregor Preston-Jones</li>
        <li class="govuk-list">Ross Little</li>
      </ul>
    </div>
</details>
<!--
<p class="govuk-body">If the user has the information needed for a telephone application:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>advise them you will transfer them to an advisor who is trained to take the new application</li>
  <li>transfer the call to one of the advisors on the assisted digital team:</li>
  <li class="govuk-list">Lorraine Mackenzie</li>
  <li class="govuk-list">Richard McGovern</li>
  <li class="govuk-list">Joseph Smith</li>
  <li class="govuk-list">Gregor Preston-Jones</li>
  <li class="govuk-list">Ross Little</li>
</ul> -->


<!-- <p class="govuk-body">If they do not have these then tell the user:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>to call back when they do</li>
  <li>to select option 8 when they call</li>
  <li>that they will be put straight through to an advisor who can take the new application</li>
</ul> -->

<h2 class="govuk-heading-m">Taking the new application: Assisted Digital team</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>use the Private Beta URL to take a telephone application</li>
  <li>use the guidance to help support the user</li>
  <li>note the user's details on the <a href="">Private Beta application tracker</a></li>
  <li>include the case reference number once the application has been submitted</li>
</ul>

<!-- <div class="govuk-inset-text">
<a href="/public/images/triage-process-map.pdf" target="_blank">Download the triage process map</a></div> -->

  </div>
</div>

</main>

</div>

{% endblock %}
