{% extends "layout.html" %}

{% block pageTitle %}
AD Guidance - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "Guidance - version 1.0"
    },
    html: 'This is for the internal CSC team to give assisted digital guidance to applicants.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" style="Background:#f8f8f8; padding-top:10px;">

{% include "./includes/navigation.html" %}

  <!-- Back to top button -->
    <div style="positon: sticky; top:30px; margin-bottom:30px; display:block" data-module="app-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state" href="#top">
    <svg style="display: inline-block;margin-top:-5px; margin-right:10px; vertical-align:middle" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>
</div>

<!-- Main container -->
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l"><span class="govuk-caption-xl">Guidance</span>
Eligibility and triaging</h1>

<h2 class="govuk-heading-m">Questions to establish initial eligibility – CSC advisor</h2>
<p class="govuk-body">The usual eligibility questions should be asked:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>What is the incident you’re looking to claim for? (is it a crime of violence?)</li>
  <li>When did the incident happen? (was it within the last 2 years?)</li>
  <li>Where did the incident happen? (was it in Great Britain?)</li>
  <li>Did you report it to the Police? If so, when? (was there any delay in reporting?)</li>
  <li>What were your injuries? (do the injuries qualify as per the Scheme?)</li>
  <li>Do you have any unspent criminal convictions? (would these stop them from
qualifying?)</li>
</ul>

<p class="govuk-body">If there are any eligibility issues from the above questions, continue with business as usual -
inform the applicant that they may not be eligible, they still have the right to apply, but
manage their expectations about eligibility and direct them to the current OAS on the Justice
portal or take a telephone application.</p>
<p class="govuk-body">If they are eligible go on to First Triage for private beta.</p>


<h2 class="govuk-heading-m">First Triage for private beta – CSC advisor</h2>
<p class="govuk-body">Next, check to see if the user meets the criteria for private beta.</p>
  <p class="govuk-body">You may have already established the answers to some of these questions during the eligibility check:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Are you claiming as a victim of sexual assault or abuse?</li>
  <li>Do you have an email address?</li>
  <li>Are you a British citizen or EU national?</li>
  <li>Are you 18 or over?</li>
  <li>Are you applying for yourself or someone else?</li>
</ul>

<p class="govuk-body">If the user answers ‘no’ at any point in the triage you do not need to ask further triage
questions. Continue as usual by highlighting the benefits of current OAS:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Can be less traumatic</li>
  <li>Take as long as you want – don’t have to go through it all in one long phone call</li>
  <li>If you don’t have all the information you can save as a draft and come back to it, take</li>
  <li>break halfway through etc</li>
  <li>You’ll get an email confirmation</li>
  <li>You can describe things in your own words – not the words of the advisor.</li>
</ul>

<p class="govuk-body">You will then direct the user to the current online application or take a telephone application.</p>
<p class="govuk-body">If the user answers ‘yes’ to all of the First Triage questions move on to Second Triage for
private beta.</p>


<h2 class="govuk-heading-m">Second Triage for private beta – CSC advisor</h2>
<p class="govuk-body">The second triage will identify those who want to use our new application without support.
You should:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Explain that we have a new online application service they can use</li>
  <li>Explain the benefits – simple and easy to use, fewer questions, can do it in their own
time</li>
  <li>Ask the user if they are happy to go online and do it themselves.</li>
</ul>

<p class="govuk-body">If 'yes', then:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>note the user’s name and email address on the private beta spreadsheet</li>
  <li>send them an email with the URL link to private beta</li>
</ul>

<p class="govuk-body">If 'no', they want to do it over the phone, check they have:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the approximate date of crime</li>
  <li>name of police force dealing with it</li>
  <li>crime ref no</li>
  <li>location where crime happened</li>
</ul>

<p class="govuk-body">If they do:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>advise them you will transfer them to an advisor who is trained to take the new
application</li>
  <li>transfer the call to an advisor on the assisted digital team:</li>
  <li class="govuk-list">- Lorraine Mackenzie</li>
  <li class="govuk-list">- Richard McGovern</li>
  <li class="govuk-list">- Joseph Smith</li>
  <li class="govuk-list">- Gregor Preston-Jones</li>
  <li class="govuk-list">- Ross Little</li>
</ul>

<p class="govuk-body">If they don't:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>tell them to call back when they do</li>
  <li>select option 8</li>
  <li>and they will be put directly through to an advisor who can take the new application</li>
</ul>

<p class="govuk-body">Taking the new application – Assisted Digital team</p>
<ul class="govuk-list govuk-list--bullet">
  <li>use the private beta URL to take a telephone application</li>
  <li>use the guidance to help support the user</li>
  <li>note any issues or difficulties on the private beta feedback spreadsheet, include the</li>
  <li>case reference number once the application has been submitted</li>
</ul>

<div class="govuk-inset-text">
<a href="/public/images/triage-process-map.pdf" target="_blank">Downlod the triage process map</a></div>

  </div>
</div>

</main>

</div>

{% endblock %}
