{% extends "layout.html" %}

{% block pageTitle %}
AD Guidance - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "Guidance - version 1.0"
    },
    html: 'This is for the internal CSC team to give assisted digital guidance to applicants.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" style="Background:#f8f8f8; padding-top:10px;">

{% include "./includes/navigation.html" %}

  <!-- Back to top button -->
    <div style="positon: sticky; top:30px; margin-bottom:30px; display:block" data-module="app-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state" href="#top">
    <svg style="display: inline-block;margin-top:-5px; margin-right:10px; vertical-align:middle" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>
</div>

<!-- Main container -->
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l"><span class="govuk-caption-xl">Introduction to Private Beta</span>
New online service for non-complex sexual assault applications</h1>

<p class="govuk-body">This guidance is for answering calls from users of our new Private Beta application service.</p>
<h2 class="govuk-heading-m">About Private Beta</h2>

<p class="govuk-body">Private Beta is the project phase where we build a working version of our new service. We then test the service with real users.</p>
<p class="govuk-body">We will invite users into Private Beta in one of three ways:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Outside organisations, for example Victim Support, will give users the service link</li>
  <li>CSC staff will send users the link</li>
  <li>CSC staff will complete users’ applications for them</li>
  </ul>

<p class="govuk-body">You may also get calls from users who have already started their applications but call us for help.</p>

<h2 class="govuk-heading-m">First version</h2>
<p class="govuk-body">The first version of the service will serve users who:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>have an email address</li>
  <li>are British citizens or EU nationals </li>
  <li>are 18 or over</li>
  <li>do not have a representative </li>
  <li>are victims of sexual assault or abuse</li>
  <li>opt for us to make a decision on police evidence only</li>
</ul>


<h2 class="govuk-heading-m">Key changes</h2>
<p class="govuk-body">Compared to our current online application service, users will:
  <ul class="govuk-list govuk-list--bullet">
    <li>not have to create an account</li>
    <li>not be able to save and return to the application later</li>
    <li>not receive an application summary for a telephone application</li>
    <li>answer less questions. The user journey is 18 to 27 questions, rather than 41 to 64</li>
  </ul>
  </p>

<h2 class="govuk-heading-m">Guidance updates</h2>
<p class="govuk-body">We will update the guidance if we:
  <ul class="govuk-list govuk-list--bullet">
    <li>identify new issues</li>
    <li>improve and refine the design</li>
    <li>publish a new version of the service</li>
  </ul>
  </p>


  </div>
</div>

</main>

</div>

{% endblock %}
