{% extends "layout.html" %}

{% block pageTitle %}
AD Guidance - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "Guidance"
    },
    html: 'This is for the internal CSC team to give assisted digital guidance to applicants.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" style="Background:#f8f8f8; padding-top:10px;">

{% include "./includes/navigation.html" %}

<!-- Back to top button -->
<div style="positon: sticky; top:30px; margin-bottom:30px; display:block" data-module="app-back-to-top">
<a class="govuk-link govuk-link--no-visited-state" href="#top">
<svg style="display: inline-block;margin-top:-5px; margin-right:10px; vertical-align:middle" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
  <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
</svg>Back to top
</a>
</div>

</div>


<!-- Main container -->
  <div class="govuk-grid-column-two-thirds">

<div><img src="/public/images/screenshots/start-page.png" alt="Start page screenshot." title="Start page screen" width="625" style="margin-bottom:30px; border:1px solid grey"></div>

  <div style="margin-bottom:50px">
    <div style="float:right"><a href="./declaration">Next (declaration)</a></div>
    <div style="float:left"><a href="./consent">Previous (help us - consent)</a></div>
    </div>
</div>

<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body-l">If you are handling a telephone application you do not need to read all of the content on this page to users.</p>
  <p class="govuk-body">To reduce ineligible applications we tell users that the crime must have been reported to the police. You can tell them to contact 101 to report it.</p>
  <p class="govuk-body">Advise users of the organisations they can apply to if the crime did not happen in England, Scotland, Wales, or another relevant place. For example Northern Ireland or EUCAT.</p>
  <p class="govuk-body">Tell users what information they need before they start as they will not be able to ‘save and return’.</p>
  <p class="govuk-body">Victims of sexual assault or abuse often apply outside the 2 year limit. Reassure them that we can make exceptions in certain circumstances.</p>
  <p class="govuk-body">Direct users to the online service where possible. However, we should offer the telephone application services to support users with assisted digital needs.</p>
  <p class="govuk-body">Signpost users to support services if you identify that they need practical help or emotional support.</p>
</div>
  </div>

</main>

</div>

{% endblock %}
