{% extends "layout.html" %}

{% block pageTitle %}
AD Guidance - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "Guidance - version 1.0"
    },
    html: 'This is for the internal CSC team to give assisted digital guidance to applicants.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" style="Background:#f8f8f8; padding-top:10px;">

{% include "./includes/navigation.html" %}

  <!-- Back to top button -->
    <div style="positon: sticky; top:30px; margin-bottom:30px; display:block" data-module="app-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state" href="#top">
    <svg style="display: inline-block;margin-top:-5px; margin-right:10px; vertical-align:middle" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>
</div>

<!-- Main container -->
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l"><span class="govuk-caption-xl">Guidance</span>
Digital continuity strategy</h1>

<p class="govuk-body">The Private Beta phase of our new online application for victims of non-complex sexual assault or abuse has started. A small number of users have agreed to take part in testing the application in a live environment.</p>
<p class="govuk-body">This guidance sets out the responsibilities of the departments involved, and the process to follow if the new online application service goes down and users are unable to use it.</p>
<p class="govuk-body"><a href="">View the digital continuity process map</a>.</p>

<h2 class="govuk-heading-m">Responsibilities</h2>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      IT
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>monitor the new online application service for down time</li>
      <li>communicate any down time to the CSC Owner</li>
      <li>communicate any down time to Business Transformation</li>
      <li>investigate and catalogue any service delivery issues</li>
      <li>liaise with third-party providers to resolve any issues</li>
      <li>upload and remove maintenance page</li>
      <li>communicate with CSC Owner when service has resumed</li>
      <li>communicate with Business Transformation when service has resumed</li>
    </ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Customer Service Centre
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>AD Superusers/AD Lead answer telephone calls from Private Beta users</li>
      <li>try to resolve any issues over the phone, for example, check the URL to make sure it is correct</li>
      <li>raise any down time issues with Service Desk, and complete tracker</li>
      <li>send communication to Business Transformation team, and copy in the CSC Owner, when system is down</li>
      <li>use scripts to communicate consistent message to users</li>
      <li>change IVR to inform users of down time, if necessary</li>
    </ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Business Transformation
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>communicate down time message to stakeholders that are providing support with Private Beta</li>
      <li>direct stakeholders to existing Justice Portal</li>
      <li>communicate with stakeholders when PB service has resumed</li>
    </ul>
  </div>
</details>

<!-- <h3 class="govuk-heading-s">IT</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>monitor the new online application service for down time</li>
  <li>communicate any down time to the CSC Owner</li>
  <li>communicate any down time to Business Transformation</li>
  <li>investigate and catalogue any service delivery issues</li>
  <li>liaise with third-party providers to resolve any issues</li>
  <li>upload and remove maintenance page</li>
  <li>communicate with CSC Owner when service has resumed</li>
  <li>communicate with Business Transformation when service has resumed</li>
</ul>

<h3 class="govuk-heading-s">Customer Service Centre</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>AD Superusers/AD Lead answer telephone calls from Private Beta users</li>
  <li>try to resolve any issues over the phone, for example, check the URL to make sure it is correct</li>
  <li>raise any down time issues with Service Desk, and complete tracker</li>
  <li>send communication to Business Transformation team, and copy in the CSC Owner, when system is down</li>
  <li>use scripts to communicate consistent message to users</li>
  <li>change IVR to inform users of down time, if necessary</li>
</ul>

<h3 class="govuk-heading-s">Business Transformation</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>communicate down time message to stakeholders that are providing support with Private Beta</li>
  <li>direct stakeholders to existing Justice Portal</li>
  <li>communicate with stakeholders when PB service has resumed</li>
</ul> -->

<h2 class="govuk-heading-m">Process</h2>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      IT
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>new online application for victims of sexual assault or abuse goes down. This can be identified by system monitoring or by a phone call from an external user to the Customer Service Centre</li>
      <li>e-mail CSC Owner, Business Transformation and copy in Head of Operations to advise that the new online application service for victims of sexual assault or abuse is down and follow up with face to face verbal update</li>
      <li>upload maintenance page</li>
      <li>investigate cause for downtime</li>
      <li>update CSC Owner/Business Transformation of likely down time duration.  Be as clear as possible around the number of hours/days it could take</li>
      <li>identify a solution, if necessary working with third-party provider</li>
      <li>test and apply solution</li>
      <li>remove maintenance page/li>
      <li>notify CSC Owner/Business Transformation that system is working and provide reasons for the down time</li>
    </ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Customer Service Centre
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>user advises there is an issue with the new online application service for victims of sexual assault or abuse </li>
      <li>AD team try to resolve the issue over the phone. The advisor must identify if it is the new online application service for victims of sexual assault or abuse that is down, or if it is user access issues, for example the wrong URL</li>
      <li>if it cannot be resolved over the phone record the issue, user’s contact details, and brief description of the issue on the <a href="">Private Beta application tracker</a></li>
      <li>inform Service Desk that the new Online Application Service for victims of Sexual assault or abuse is down. Assisted Digital Lead can do this verbally and follow up with an IT ticket</li>
      <li>inform Business Transformation and the CSC Owner that it is down</li>
      <li>CSC Owner to consider amending IVR to reflect down time issue. This is dependent on the length of time IT believes the system will be down. A quick fix (a couple of hours) will likely not need an IVR change</li>
      <li>use scripts to manage user expectations about the down time</li>
    </ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Business Transformation
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>receives communication from IT/CSC AD team</li>
      <li>sends communication to all stakeholders who are supporting Private Beta that service is down</li>
      <li>provide estimated timescale for down time</li>
      <li>offer alternative process, for example, the existing Justice Portal</li>
      <li>notify stakeholders when system is working again</li>
    </ul>
  </div>
</details>
<!--
<h3 class="govuk-heading-s">IT</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>new online application for victims of sexual assault or abuse goes down. This can be identified by system monitoring or by a phone call from an external user to the Customer Service Centre</li>
  <li>e-mail CSC Owner, Business Transformation and copy in Head of Operations to advise that the new online application service for victims of sexual assault or abuse is down and follow up with face to face verbal update</li>
  <li>upload maintenance page</li>
  <li>investigate cause for downtime</li>
  <li>update CSC Owner/Business Transformation of likely down time duration.  Be as clear as possible around the number of hours/days it could take</li>
  <li>identify a solution, if necessary working with third-party provider</li>
  <li>test and apply solution</li>
  <li>remove maintenance page/li>
  <li>notify CSC Owner/Business Transformation that system is working and provide reasons for the down time</li>
</ul>

<h3 class="govuk-heading-s">Customer Service Centre</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>user advises there is an issue with the new online application service for victims of sexual assault or abuse </li>
  <li>AD team try to resolve the issue over the phone. The advisor must identify if it is the new online application service for victims of sexual assault or abuse that is down, or if it is user access issues, for example the wrong URL</li>
  <li>if it cannot be resolved over the phone record the issue, user’s contact details, and brief description of the issue on the Private Beta tracker</li>
  <li>inform Service Desk that the new Online Application Service for victims of Sexual assault or abuse is down. Assisted Digital Lead can do this verbally and follow up with an IT ticket</li>
  <li>inform Business Transformation and the CSC Owner that it is down</li>
  <li>CSC Owner to consider amending IVR to reflect down time issue. This is dependent on the length of time IT believes the system will be down. A quick fix (a couple of hours) will likely not need an IVR change</li>
  <li>use scripts to manage user expectations about the down time</li>
</ul>

<h3 class="govuk-heading-s">Business Transformation</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>receives communication from IT/CSC AD team</li>
  <li>sends communication to all stakeholders who are supporting Private Beta that service is down</li>
  <li>provide estimated timescale for down time</li>
  <li>offer alternative process, for example, the existing Justice Portal</li>
  <li>notify stakeholders when system is working again</li>
</ul> -->


  </div>
</div>

</main>

</div>

{% endblock %}
