<h2 class="govuk-heading-l">Archive (beta)</h2>
<p class="govuk-body">These releases are snapshots of the prototype at different stages and releases to live. The username and passwords are <strong>apply</strong> and <strong>userneeds</strong></p>

<!-- Live release complete self journey (UK + EU Citizens)  -->
<h3 class="govuk-heading-m"><a href="https://cica-mvp-v1-0.herokuapp.com/" target="_blank">Complete self journey (UK + EU Citizens)</a> <span class="govuk-caption-m">14 January 2021</span></h3>

  <details class="govuk-details govuk-!-margin-bottom-5">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Changes in this release</span>
    </summary>

    <p class="govuk-body">This snapshot is what went into the deployment which went out in January 2021. This is the service we put into pilot with some key changes that were made based on research.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Changed the violent crime question to a radio button list of incidents</li>
      <li>Ask the applicant if they want to provide a description of the incident</li>
      <li>Ask the applicant if they want to provide any additional Information</li>
      <li>The declaration was changed to rectify the inconsistency in the medical consent text</li>
      <li>The Your Treatment context page was updated</li>
      <li>Timeout timeframe was increase (but that is not active on the prototype)</li>
    </ul>

    <p class="govuk-body">The iterations of the flow are documented <a href="https://docs.google.com/drawings/d/1v0R0dq2aIsbVBDz8Y5QINaFzdmJDmMEzAbQsXRs-Gwc/edit?usp=sharing" target="_blank" >in this diagram.</a></p>
  </details>

  <br>

  <!-- Live release Pilot: Physical Injuries + Financial Losses  -->
  <h3 class="govuk-heading-m"><a href="https://cica-mvp-v1-0.herokuapp.com/" target="_blank">Pilot for physical injuries and financial losses</a> <span class="govuk-caption-m">26 to 29 Oct 2020</span></h3>

    <details class="govuk-details govuk-!-margin-bottom-5">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Changes in this release</span>
      </summary>

      <p class="govuk-body">In Nov 2020 we launched a pilot to validate the work that we had done on physical injuries, loss of earnings with real users.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Added a qualifying question for bereavement applications</li>
        <li>Included other incident types with violent crime question</li>
        <li>Created a section for injuries using one thing per page format</li>
        <li>Injuries section includes questions about special payments</li>
        <li>Created a section for treatment and medical help details</li>
        <li>A new section about financial losses for loss of earnings and special expenses</li>
      </ul>

      <p class="govuk-body">The iterations of the flow are documented here: <a href="https://docs.google.com/drawings/d/1P3UmkdUF39wiutF6DZ6XbHxXSsq1zTx3X4-_-0IzVI0/edit?usp=sharing" target="_blank">Flow iteration from private beta -> public beta.</a></p>
    </details>

    <br>

<!-- Live release r2 Public Beta  -->
<h3 class="govuk-heading-m"><a href="https://cica-mvp-v1-0.herokuapp.com/" target="_blank">Release 2: public beta</a> <span class="govuk-caption-m">14 May 2020</span></h3>

  <details class="govuk-details govuk-!-margin-bottom-5">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Changes in this release</span>
    </summary>

    <p class="govuk-body">In May 2020 we went into public beta with the journey for VOSAAs. We made the following changes from research on the private beta and reommendations from the assessment.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Updated the content on the consent page</li>
      <li>Removed the options page</li>
      <li>Added question about how to send confirmation</li>
      <li>Swapped British Citizen and Who are you applying for questions</li>
      <li>Added in context pages between key sections</li>
      <li>Added in qualifying questions for injuries and financial losses</li>
      <li>Added DMI questions</li>
      <li>Added medical details questions</li>
      <li>Changed the order of the About the crime questions</li>
      <li>Updated content on Contact with the offender questions</li>
      <li>Improved other compensation questions</li>
      <li>Moved the declaration to the end and updated content</li>
      <li>Changed groupings on CYA page</li>
      <li>Updated content on Confirmation screen</li>
    </ul>

    <p class="govuk-body">The iterations of the flow are documented here: <a href="https://docs.google.com/drawings/d/1HLft-vWCkG0Q5YYKPoqyEtAz7q5DXT8TS5QuCPGKtFI/edit?usp=sharing" target="_blank">Flow iteration from private beta -> public beta.</a></p>
  </details>

  <br>

  <!-- Live release r1 Private Beta  -->

  <h3 class="govuk-heading-m"><a href="https://cica-mvp-v1-0.herokuapp.com/" target="_blank">Release 1: Private Beta</a> <span class="govuk-caption-m">4 November 2019</span></h3>

    <details class="govuk-details govuk-!-margin-bottom-5">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Changes in this release</span>
      </summary>

      <p>Not all changes are documented here due to the gap between content and interaction designers leaving / joining.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>prototype updated to v9.5.0 of the govuk-prototype-kit</li>
        <li>updated guidance pages</li>
        <li>general content review and update</li>
        <li>removed country police force screens and added police force screen with accessible autocomplete picker</li>
        <li>exploring concepts for:
          <ul>
            <li>SMS / Email confirmation options - making email not mandatory</li>
            <li>invitation page for Private Beta</li>
            <li>mental injuries</li>
            <li>errors</li>
            <li>minors journey</li>
            <li>asking for investigating police force</li>
            <li>exploring date validation</li>
        </li>
      </ul>

      <p class="govuk-body">The flow is documented <a href="https://docs.google.com/drawings/d/16d8s5pzjHIJl_8Lqy7y7tTTOkFwWbH74L7KKm8XAK5A/edit?usp=sharing" target="_blank" >here</a></p>

      <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/MVP-archive-1.0">Archive availabe from</a>
    </details>
