<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Change log</h2>

    <p>A summary of changes made to the work in progress prototype in response to feedback and testing.</p>

    <br>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">8 September 2021</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Change</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Reason</th>
          <th scope="col" class="govuk-table__header">Reference</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Content updates on confirmation screen for adult and minor journeys</td>
          <td class="govuk-table__cell">Feedback from legal and policy stakeholders</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>
    <br/>


      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">7 September 2021</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Change</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Reason</th>
            <th scope="col" class="govuk-table__header">Reference</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Fatal application question content updated on adult and minor journeys, and check your answers screens</td>
            <td class="govuk-table__cell">CICA ops staff fed back that applications have been incorrectly submitted as users were confused by this question</td>
            <td class="govuk-table__cell"><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/f792ddcd97aa71a70639f26377da980087bceee3" target="_blank">Github commit</a></td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <td class="govuk-table__cell"><p>All links now open in new tabs, and content has been updated to reflect this</p>
              <p><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1125e935fe5e9bc47abee2835a180f852528ccff" target="_blank">Github commit</a></p></td>
            <td class="govuk-table__cell">Accessibility feedback from Beverley Newing. Links should open in new tabs as otherwise a user could lose their progress on the application form </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <p>Declaration is now contextualised based on whether the applicant is over or under the age of twelve</p>
              <p><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1125e935fe5e9bc47abee2835a180f852528ccff" target="_blank">Github commit</a></p></td>
            <td class="govuk-table__cell">Based on legal feedback that the terms outlined in the declaration should be different for; adults applying for themselves, adults applying on behalf of minors who are under 12, and adults applying on behalf of minors who are over twelve</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <p>Content updates to pregnancy context screen</p>
              <p><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1125e935fe5e9bc47abee2835a180f852528ccff" target="_blank">Github commit</a></p></td>
            <td class="govuk-table__cell">Based on legal and policy stakeholder feedback to clarify when we may contact the police or request further information</td>
          </tr> -->
        </tbody>
      </table>
      <br/>

      <p>For changes before this date, refer to the <a href="/#archive">archive</a>.</p>

    </div>
  </div>
