<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Change log</h2>

    <p>A summary of changes made to the work in progress prototype in response to feedback and testing.</p>

    <br/>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header table-col-15percent">Date</th>
          <th scope="col" class="govuk-table__header">Change</th>
          <th scope="col" class="govuk-table__header">Reason</th>
          <th scope="col" class="govuk-table__header">Reference</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Routing amended in adult journey. All adult applicants are now asked to briefly describe how the crime has affected their daily life in the Impact section.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              To align with rationale for asking this question in the minor journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <!-- <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1370ffa582819ed77020a37756d070df331e6dd1" target="_blank">
              Github commit
            </a> -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates to minor journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Revision based on legal and policy feedback.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/530cbe5bd30de1bc9fac8dd492c57766f0fbc09c" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">26 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates to minor journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Revision based on legal and policy feedback.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/a8e6939ca04c79db0ed73f779ef25b27df0e4842" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              "Tell us why you were not employed at this time" screen content updated in adult applicant journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Ensuring adult and minor journeys can be contextualised by having the same IDs for each answer.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/4cc35c1af97987bba428677bcb114ac8bb4a988e" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">13 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updated in minor journey impact section.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Feedback from legal and policy.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1370ffa582819ed77020a37756d070df331e6dd1" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">7 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updated in minor journey impact section.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Feedback from legal and policy.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/ddd382cae53ac23ddcf523a74a78af4e45c8a102" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">29 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>
              "Does the child live at this address?" question removed for MVP.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Feedback from dev team that more exploration needed to make this work in a scalable way, decision by Julie Allan to backlog.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/087283f9bf70d8d564c583fd6a20a80e3d512f22" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" rowspan="4">23 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>
              Confirmation, declaration and pregnancy context screen content updated in minor and adult journeys.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Feedback from Laura Johnston (legal).
            </p>
          </td>
          <td class="govuk-table__cell" rowspan="4">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/8f5bf9020bcb8a76f35ec1df5ba0387fd5d160df" target="_blank">
            Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              Reverted means of asking whether child lives with parent, put new method (playback of parent's address) into concepts section.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              MVP time restrictions. Added to backlog for iterative improvement.
            </p>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              Routing changed to allow users to describe the crime when they have not reported it to the police.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Routing queried by Barry Piccinni and confirmed by Julie Allan.
            </p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              "Are they under 18?" in minor journey changed to "Are they over 18?" to match adult journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Prevent new question being required on backend, delaying MVP deployment.
            </p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">21 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>
              All instances of opening hours reverted to table including original opening hours.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Business opening hours reverted. Updated to match live product.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/54ae255221091149f06ed3204ef3c6de57574e8b" target="_blank">Github commit</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" rowspan="2">13 Sep 2021</td>
          <td class="govuk-table__cell">
              Conditional reveal label changed to "Other reason for not having a job:" on adult and minor journey "Tell us why [you]/[the child] did not have a job at this time" screens
          </td>
          <td class="govuk-table__cell" rowspan="2">
            <p>
              Labels appear on PDF summary so needs to be contextual
            </p>
          </td>
          <td class="govuk-table__cell" rowspan="2">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/dadf3ee6782dbe04ac7b3d495b9d876e40324506" target="_blank">Github commit</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
              Conditional reveal label changed to "Other infection:" on adult and minor journey infection details screens
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">8 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates on confirmation screen for adult and minor journeys
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Feedback from legal and policy stakeholders
            </p>
          </td>
          <td class="govuk-table__cell"><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/c8b43974bae500d88b5b8740b8aca9776002dbd4" target="_blank">Github commit</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">7 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>
              Fatal application question content updated on adult and minor journeys, and check your answers screens
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              CICA ops staff fed back that applications have been incorrectly submitted as users were confused by this question
            </p>
          </td>
          <td class="govuk-table__cell"><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/f792ddcd97aa71a70639f26377da980087bceee3" target="_blank">Github commit</a></td>
        </tr>
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">7 Sep 2021</td>
          <td class="govuk-table__cell"><p>All links now open in new tabs, and content has been updated to reflect this</p>
            <p><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1125e935fe5e9bc47abee2835a180f852528ccff" target="_blank">Github commit</a></p></td>
          <td class="govuk-table__cell">Accessibility feedback from Beverley Newing. Links should open in new tabs as otherwise a user could lose their progress on the application form </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">7 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>Declaration is now contextualised based on whether the applicant is over or under the age of twelve</p>
            <p><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1125e935fe5e9bc47abee2835a180f852528ccff" target="_blank">Github commit</a></p></td>
          <td class="govuk-table__cell">Based on legal feedback that the terms outlined in the declaration should be different for; adults applying for themselves, adults applying on behalf of minors who are under 12, and adults applying on behalf of minors who are over twelve</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">7 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>Content updates to pregnancy context screen</p>
            <p><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1125e935fe5e9bc47abee2835a180f852528ccff" target="_blank">Github commit</a></p></td>
          <td class="govuk-table__cell">Based on legal and policy stakeholder feedback to clarify when we may contact the police or request further information</td>
        </tr> -->
      </tbody>
    </table>
    <br/>

      <p>For changes before this date, refer to the <a href="/#archive">archive</a>.</p>

    </div>
  </div>
