<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Change log</h2>

    <p>A summary of changes made to the work in progress prototype in response to feedback and testing.</p>

    <br/>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header table-col-15percent">Date</th>
          <th scope="col" class="govuk-table__header">Change</th>
          <th scope="col" class="govuk-table__header">Reason</th>
          <th scope="col" class="govuk-table__header">Reference</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" rowspan="2">12 Jan 2022</td>
          <td class="govuk-table__cell">
            <p>
              Changes across adult and minor 3rd party reps journey for user testing.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              To show test participants current version of content.
            </p>
          </td>
          <td class="govuk-table__cell" rowspan="2">
            <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/634d33ed00b68b1063ef47a8469be89ea625d768" target="_blank">
              Github commit
            </a>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell" rowspan="2">11 Jan 2022</td>
          <td class="govuk-table__cell">
            <p>
              Added "overview" screen to start section.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              To allow test participants to read service overview.
            </p>
          </td>
          <td class="govuk-table__cell" rowspan="2">
            <!-- <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/6f90e693fc78b93acba4e319e097f24086c82f03" target="_blank">
              Github commit
            </a> -->
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              Fixed "Other infection" display in CYA screens.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Was displaying as field title as opposed to input value.
            </p>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" rowspan="2">22 Dec 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              First pass at content updates by Murray Lippiatt in Graham Baird's absence.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/6f90e693fc78b93acba4e319e097f24086c82f03" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              Journey updates.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Added "You need to provide proof" screens to reps journey, screen for responsible adults to add their organisation name in reps minors journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/b01ac0b2214bd67fa81602bd2d284d972143309a" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" rowspan="3">20 Dec 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Updated declaration screens based on Graham Baird's feedback.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/223d75ab3e99f01675926c8ec07cb6a574da2c1d" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              Content updates.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Updated adult and minors content based on Graham Baird's feedback document.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/6487aa8dff7d9fe2885d5d15c4b64aea9b02cdfe" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              Content updates.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Updated check your answers screens for adult and minor applicants via reps.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/8810815cf3419153bc5a184646bbe859a9626774" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">14 Dec 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Content updates to disabling mental injury questions in both adult and minor journeys.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/719acbc34ab25fb1789f361b4e3e5c06bfcef728" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">6 Dec 2021</td>
          <td class="govuk-table__cell">
            <p>
              Routing fix.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Fixing an endless loop after the treatment section in the adult journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/cc391986a134cfbf3c4e748c3ea76b2edc804a91" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">29 Nov 2021</td>
          <td class="govuk-table__cell">
            <p>
              Further content updates to minor journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Legal, policy and senior stakeholder feedback.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/4b88c4b33f1c6fee81b001d8210b4e517b092e16" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">24 Nov 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates to three user group Declaration screens.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Legal, policy and senior stakeholder feedback.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href=https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/b59e9010a7b16b67f75baa55c7245b63a3a19a55" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">22 Nov 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates to minor and adult journeys.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              To match live service and UAT.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/703e485a58933387cdec684bb1444b88aeecab57" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 Nov 2021</td>
          <td class="govuk-table__cell">
            <p>
              Created "message bus down" concept screen.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              To let users know of delay in receiving reference number.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/4fdb5ce502ba209f1162983a608a24c5b47b7d0b" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" rowspan="2">17 Nov 2021</td>
          <td class="govuk-table__cell">
            <p>
              Updated start page to match live version.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              GDS removed content from start screen.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/fc99e051c661458b7c3b32353c3b7653e4f8b6de" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              Moved minor journey into main prototype.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Triage section now directs as live service will when minor journey is signed off.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/d4134f8eccac753ee6fc8c4393c8a3947ee2eb74" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" rowspan="3">16 Nov 2021</td>
          <td class="govuk-table__cell">
            <p>
              Removed save and return from journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Save and return now in separate prototype.
            </p>
          </td>
          <td class="govuk-table__cell" rowspan="2">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/2b12f357b540b1093decdc960e0a36ba1cf9a710" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              Updated link text in adult journey to include "(opens in new tab)"
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Accessibility improvements.
            </p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              "Other treatments" conditional reveal label changed to "Other mental health treatment".
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Mistake in original content.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1be78561571bbeb161102c49d4cf9d9fdf51f8a0" target="_blank">
              Github commit
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">4 Nov 2021</td>
          <td class="govuk-table__cell">
            <p>
              Updates to save and return prototype.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              WIP — Note that main save and return prototype for testing week of 15th November 2021 can be found at <a href="http://cica-research.herokuapp.com" target="_new">cica-research.herokuapp.com</a>.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/81d6c36ec7f78c72333bf7ecac1861c4cf4d5e74" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">3 Nov 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Legal feedback.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/141e3f66e9fabe0f6008f02c9a53d28b9f9230fa" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Amended declaration.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Legal feedback.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/8c5a524c6086c19e05fee0ecc3f0e5af18ba936a" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Routing amended in adult journey. All adult applicants are now asked to briefly describe how the crime has affected their daily life in the Impact section.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              To align with rationale for asking this question in the minor journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/5580020848e0804050f7d3c02c43a5a28a7a209f" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates to minor journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Revision based on legal and policy feedback.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/530cbe5bd30de1bc9fac8dd492c57766f0fbc09c" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">26 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates to minor journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Revision based on legal and policy feedback.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/a8e6939ca04c79db0ed73f779ef25b27df0e4842" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              "Tell us why you were not employed at this time" screen content updated in adult applicant journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Ensuring adult and minor journeys can be contextualised by having the same IDs for each answer.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/4cc35c1af97987bba428677bcb114ac8bb4a988e" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">13 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updated in minor journey impact section.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Feedback from legal and policy.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1370ffa582819ed77020a37756d070df331e6dd1" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">7 Oct 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updated in minor journey impact section.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Feedback from legal and policy.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/ddd382cae53ac23ddcf523a74a78af4e45c8a102" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">29 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>
              "Does the child live at this address?" question removed for MVP.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Feedback from dev team that more exploration needed to make this work in a scalable way, decision by Julie Allan to backlog.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/087283f9bf70d8d564c583fd6a20a80e3d512f22" target="_blank">
              Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" rowspan="4">23 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>
              Confirmation, declaration and pregnancy context screen content updated in minor and adult journeys.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Feedback from Laura Johnston (legal).
            </p>
          </td>
          <td class="govuk-table__cell" rowspan="4">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/8f5bf9020bcb8a76f35ec1df5ba0387fd5d160df" target="_blank">
            Github commit
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              Reverted means of asking whether child lives with parent, put new method (playback of parent's address) into concepts section.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              MVP time restrictions. Added to backlog for iterative improvement.
            </p>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              Routing changed to allow users to describe the crime when they have not reported it to the police.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Routing queried by Barry Piccinni and confirmed by Julie Allan.
            </p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p>
              "Are they under 18?" in minor journey changed to "Are they over 18?" to match adult journey.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Prevent new question being required on backend, delaying MVP deployment.
            </p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">21 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>
              All instances of opening hours reverted to table including original opening hours.
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Business opening hours reverted. Updated to match live product.
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/54ae255221091149f06ed3204ef3c6de57574e8b" target="_blank">Github commit</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" rowspan="2">13 Sep 2021</td>
          <td class="govuk-table__cell">
              Conditional reveal label changed to "Other reason for not having a job:" on adult and minor journey "Tell us why [you]/[the child] did not have a job at this time" screens
          </td>
          <td class="govuk-table__cell" rowspan="2">
            <p>
              Labels appear on PDF summary so needs to be contextual
            </p>
          </td>
          <td class="govuk-table__cell" rowspan="2">
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/dadf3ee6782dbe04ac7b3d495b9d876e40324506" target="_blank">Github commit</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
              Conditional reveal label changed to "Other infection:" on adult and minor journey infection details screens
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">8 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>
              Content updates on confirmation screen for adult and minor journeys
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              Feedback from legal and policy stakeholders
            </p>
          </td>
          <td class="govuk-table__cell"><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/c8b43974bae500d88b5b8740b8aca9776002dbd4" target="_blank">Github commit</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">7 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>
              Fatal application question content updated on adult and minor journeys, and check your answers screens
            </p>
          </td>
          <td class="govuk-table__cell">
            <p>
              CICA ops staff fed back that applications have been incorrectly submitted as users were confused by this question
            </p>
          </td>
          <td class="govuk-table__cell"><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/f792ddcd97aa71a70639f26377da980087bceee3" target="_blank">Github commit</a></td>
        </tr>
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">7 Sep 2021</td>
          <td class="govuk-table__cell"><p>All links now open in new tabs, and content has been updated to reflect this</p>
            <p><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1125e935fe5e9bc47abee2835a180f852528ccff" target="_blank">Github commit</a></p></td>
          <td class="govuk-table__cell">Accessibility feedback from Beverley Newing. Links should open in new tabs as otherwise a user could lose their progress on the application form </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">7 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>Declaration is now contextualised based on whether the applicant is over or under the age of twelve</p>
            <p><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1125e935fe5e9bc47abee2835a180f852528ccff" target="_blank">Github commit</a></p></td>
          <td class="govuk-table__cell">Based on legal feedback that the terms outlined in the declaration should be different for; adults applying for themselves, adults applying on behalf of minors who are under 12, and adults applying on behalf of minors who are over twelve</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">7 Sep 2021</td>
          <td class="govuk-table__cell">
            <p>Content updates to pregnancy context screen</p>
            <p><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/commit/1125e935fe5e9bc47abee2835a180f852528ccff" target="_blank">Github commit</a></p></td>
          <td class="govuk-table__cell">Based on legal and policy stakeholder feedback to clarify when we may contact the police or request further information</td>
        </tr> -->
      </tbody>
    </table>
    <br/>

      <p>For changes before this date, refer to the <a href="/#archive">archive</a>.</p>

    </div>
  </div>
