<h2 class="govuk-heading-l">Concepts</h2>

<p>The prototypes below detail ideas for improvement for discussion only.</p>

<h2 class="govuk-heading-s">Screens</h2>
<ul class="govuk-list">
  <li><a class="govuk-link" href="/concepts/message-bus-down">Message bus down on application submit</a></li>
  <li><a class="govuk-link" href="/concepts/victim-address-playback">Does the person live at this address?</a> — iterative improvement over asking if the victim/person lives at the main applicant's address in the "about you" section.</li>
  <li><a class="govuk-link" href="/concepts/declaration">Declaration checkbox mockup</a></li>
  <li><a class="govuk-link" href="/concepts/confirmation-page/index-feedbak-cta">Highlighting the feedback section of the confirmation page</a></li>
  <li><a class="govuk-link" href="/concepts/webchat/">Web chat</a></li>
  <li><a class="govuk-link" href="/concepts/check-your-answers/">Check your answers</a></li>
  <li><a class="govuk-link" href="/concepts/timeout/timed-out">Timeout</a></li>
  <li><a class="govuk-link" href="/concepts/transition-OCJ/new-concept-2404.html">Transition pages</a></li>
  <li><a class="govuk-link" href="/concepts/invitation/">Invitation page</a></li>
  <li><a class="govuk-link" href="/concepts/tabbed-decision-letter">Tabbed decision letter</a></li>
  <li><a class="govuk-link" href="/srr">'Same roof' rule</a></li>
  <li><a class="govuk-link" href="/concepts/parents-applying-for-minors/minors/banner/yellow.html">Applying on behalf of someone else - Yellow banner</a></li>
  <li><a class="govuk-link" href="/concepts/parents-applying-for-minors/minors/banner/blue.html">Applying on behalf of someone else - Blue banner</a></li>
  <li><a class="govuk-link" href="/concepts/parents-applying-for-minors/minors/banner/moj.html">Applying on behalf of someone else - MoJ banner</a></li>

</ul>

<h2 class="govuk-heading-s">Flows and interactions</h2>
<ul class="govuk-list">
  <li><a class="govuk-link" href="/concepts/divert-duplicate-apps/">Divert duplicate applications</a></li>
  <li><a class="govuk-link" href="/concepts/third-party-reps">Third party representatives</a></li>
  <li><a class="govuk-link" href="/concepts/parents-applying-for-minors">Parents applying on behalf of minors</a></li>
  <li><a class="govuk-link" href="/concepts/save-and-return-post">Save and return — post-kick off work</a></li>
  <li><a class="govuk-link" href="/concepts/save-and-return-pre">Save and return — pre-kickoff work</a></li>
  <li><a class="govuk-link" href="/concepts/postcode-address">Find address by postcode lookup</a></li>
  <li><a class="govuk-link" href="/concepts/character-count">Character count</a></li>
  <li><a class="govuk-link" href="/concepts/minors-loe-se">Minors loss of earnings and special expenses</a></li>
  <li><a class="govuk-link" href="/concepts/equality-questions">Equality questions</a></li>
  <li><a class="govuk-link" href="/concepts/indicent-type/">Incident type and description</a></li>
  <li><a class="govuk-link" href="/concepts/dental-treatment/">Dental treatment</a></li>
  <li><a class="govuk-link" href="/concepts/physical-injuries/">Physical Injuries</a></li>
  <li><a class="govuk-link" href="/concepts/confirmation-choice/">Making email address optional (SMS confirmation)</a></li>
  <li><a class="govuk-link" href="/concepts/mental-injuries/">Mental injuries questions</a></li>
  <li><a class="govuk-link" href="/concepts/error-pages">Error pages</a></li>
  <li><a class="govuk-link" href="/concepts/forces-mockups">Forces mockups Oct 2019</a></li>
  <li><a class="govuk-link" href="/concepts/date-validation">Date validation after CYA</a></li>
  <li><a class="govuk-link" href="/concepts/survey/optin"> Equality questions (5 + Opt in)</a></li>
  <li><a class="govuk-link" href="/concepts/compensation/index">Compensation question</a></li>
  <li><a class="govuk-link" href="/concepts/other-compensation/index">Compensation question, other</a></li>
  <li><a class="govuk-link" href="/concepts/police-force-V2">Police force and location - concept 1</a></li>
  <li><a class="govuk-link" href="/concepts/police-force-V3">Police force and location - concept 2</a></li>
  <li><a class="govuk-link" href="/concepts/police-force-V4">Police force and location - as is</a></li>
  <li><a class="govuk-link" href="/concepts/support/start-page.html">Help and support content</a></li>
  <li><a class="govuk-link" href="/concepts/instant-support">Instant support</a></li>
</ul>
