<h2 class="govuk-heading-l">Notes</h2>

<p>Notes on the key work done throughout the project from August 2019</p>

<ul class="govuk-list">
  <li><a class="govuk-link" href="https://docs.google.com/document/d/1CbJSvWZPRqlm9reM6yFZrVgwgQhKmn2i4MNnpX-tiHQ/edit#heading=h.l6lzbtccotgg" target="_blank">Complete self journey (UK + EU)</a></li>
  <li><a class="govuk-link" href="https://docs.google.com/document/d/16SeK19Z79R_VtpqMRFbLTf7mKKdINi5i9tMnkha6z30/edit#" target="_blank">Physical Injuries + Special Expenses</a></li>
  <li><a class="govuk-link" href="https://docs.google.com/document/d/1BjBjm2rmRv-qlVp-nDG_r8yt8YxYMRYoZt4iAmdtDWM/edit?usp=sharing" target="_blank">Public Beta</a></li>
  <li><a class="govuk-link" href="https://docs.google.com/document/d/16MJwCkJjIzt5ojz1OfAWv8j185lajyNxIphz0L6iq1I/edit?usp=sharing" target="_blank">Private Beta</a></li>
</ul>
