<h2 class="govuk-heading-l">Notes</h2>

<p>Notes on the key work done throughout the project from August 2019 – present</p>


<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Parents applying on behalf of minors</h3>
<p class="govuk-body govuk-!-margin-bottom-0">WIP</p>
<p class="govuk-body">Work to let parents or guardians apply for minors.</p>
<p class="govuk-body"><a class="govuk-link" href="https://docs.google.com/document/d/1L5r6ElUD5oyrEwL3GVMV_R3URyp8J32t5zfrypAGDjI/edit?usp=sharing" target="_blank">Open notes</a></p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Complete self journey (UK + EU)</h3>
  <p class="govuk-body govuk-!-margin-bottom-0">Deployed to live 14 January 2021</p>
  <p class="govuk-body">Improvements based on findings from pilot.</p>
  <p class="govuk-body"><a class="govuk-link" href="https://docs.google.com/document/d/1CbJSvWZPRqlm9reM6yFZrVgwgQhKmn2i4MNnpX-tiHQ/edit?usp=sharing" target="_blank">Open notes</a></p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Physical injuries and special expenses</h3>
  <p class="govuk-body govuk-!-margin-bottom-0">Pilot from 26 to 29 October 2020</p>
  <p class="govuk-body">Includes physical injuries, reworked treatment section and financial losses</p>
  <p class="govuk-body"><a class="govuk-link" href="https://docs.google.com/document/d/16SeK19Z79R_VtpqMRFbLTf7mKKdINi5i9tMnkha6z30/edit#" target="_blank">Open notes</a></p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Public Beta</h3>
  <p class="govuk-body govuk-!-margin-bottom-0">Deployed to live on 14 may 2020.</p>
  <p class="govuk-body">Improvements made after assessment to VOSAA journey.</p>
  <p class="govuk-body"><a class="govuk-link" href="https://docs.google.com/document/d/1BjBjm2rmRv-qlVp-nDG_r8yt8YxYMRYoZt4iAmdtDWM/edit?usp=sharing" target="_blank">Open notes</a></p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Private Beta</h3>
  <p class="govuk-body govuk-!-margin-bottom-0">Deployed to live on 4 November 2019.</p>
  <p class="govuk-body">MVP for VOSAAs from UK/EU applying for themselves with no physical injuries.</p>
  <p class="govuk-body"><a class="govuk-link" href="https://docs.google.com/document/d/16MJwCkJjIzt5ojz1OfAWv8j185lajyNxIphz0L6iq1I/edit?usp=sharing" target="_blank">Open notes</a></p>
