{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherAbdomenInjury",
        name: "otherAbdomenInjury",
        type: "text",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "abdomenInjuries",
        name: "abdomenInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to your abdomen",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Kidney damage",
            text: "Kidney damage",
            checked: checked("abdomenInjuries", "Kidney damage")
          },
          {
            value: "Loss of kidney",
            text: "Loss of kidney",
            checked: checked("abdomenInjuries", "Loss of kidney")
          },
          {
            value: "Loss of pancreas",
            text: "Loss of pancreas",
            checked: checked("abdomenInjuries", "Loss of pancreas")
          },
          {
            value: "Loss of spleen",
            text: "Loss of spleen",
            checked: checked("abdomenInjuries", "Loss of spleen")
          },
          {
            value: "Hernia",
            text: "Hernia",
            checked: checked("abdomenInjuries", "Hernia")
          },
          {
            value: "Keyhole surgery on torso",
            text: "Keyhole surgery on torso",
            checked: checked("abdomenInjuries", "Keyhole surgery on torso")
          },
          {
            value: "Stoma",
            text: "Stoma",
            checked: checked("abdomenInjuries", "Stoma")
          },
          {
            value: "other",
            text: "Other",
            checked: checked("abdomenInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
