{% if data['scarsOn'].includes("Head") %}
  <tr><th class="govuk-table__cell govuk-body">Cuts and grazes on head</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['scarsOn'].includes("Neck") %}
  <tr><th class="govuk-table__cell govuk-body">Cuts and grazes on neck</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['scarsOn'].includes("Face") %}
  <tr><th class="govuk-table__cell govuk-body">Cuts and grazes on face</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['scarsOn'].includes("Torso") %}
  <tr><th class="govuk-table__cell govuk-body">Cuts and grazes on torso</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['scarsOn'].includes("Arm or hand") %}
  <tr><th class="govuk-table__cell govuk-body">Cuts and grazes on arm or hand</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['scarsOn'].includes("Leg or foot") %}
  <tr><th class="govuk-table__cell govuk-body">Cuts and grazes on leg or foot</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
