{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "earHearingInjuries",
        name: "earHearingInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries you have to your ears or hearing",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: " Broken ear bone",
            text: "Broken ear bone",
            checked: checked("earHearingInjuries", " Broken ear bone")
          },
          {
            value: " Deafness",
            text: "Deafness",
            checked: checked("earHearingInjuries", " Deafness")
          },
          {
            value: " Loss of ear",
            text: "Loss of ear",
            checked: checked("earHearingInjuries", " Loss of ear")
          },
          {
            value: " One perforated eardrum",
            text: "One perforated eardrum",
            checked: checked("earHearingInjuries", " One perforated eardrum")
          },
          {
            value: " Two perforated eardrums ",
            text: "Two perforated eardrums ",
            checked: checked("earHearingInjuries", " Two perforated eardrums ")
          },
          {
            value: " Ringing in ears",
            text: "Ringing in ears",
            checked: checked("earHearingInjuries", " Ringing in ears")
          },
          {
            value: " Dizziness",
            text: "Dizziness",
            checked: checked("earHearingInjuries", " Dizziness")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
