{% extends "layout.html" %}

{% block pageTitle %}
Additional details of the crime - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-xl govuk-visually-hidden">
          Have you applied for compensation from any other sources?
        </h1> -->

    <form class="form" method="post">

    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
            name: "indidentOtherInfo",
            id: "indidentOtherInfo",
            currentValue: data['indidentOtherInfo'],
            label: {
              text: "Briefly describe the crime in your own words",
              classes: "govuk-label--xl"
            },
            hint: {
              text: "You can add details that may not be included in the crime report."
            }
          }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
          text: "Continue"
          }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
