{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      The impact the crime has had — daily life and financially
    </h1>
    <p class="govuk-body">We’re going to ask you questions about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how the child’s daily life has been impacted by the crime</li>
      <li>if their injuries are long-term</li>
    </ul>
    <p class="govuk-body">The answers you give help build an understanding of how the crime has affected them.</p>
    <p class="govuk-body">If the medical evidence indicates the injury will have a long-term impact, they may receive payment for these financial losses they may experience.</p>

    <form class="form" method="post">
      {{ govukButton({
      text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
