{% extends "layout.html" %}

{% block pageTitle %}
{{ dmiMoreInfoQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<!-- CONTENT TBC BADGE -->
  {%- from "moj/components/badge/macro.njk" import mojBadge -%}
  {{ mojBadge({
  text: 'Content TBC',
  classes: 'moj-badge--red'
  }) }}
  <br>
  <br>
  <br>
<!-- CONTENT TBC BADGE -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "affectedDailyLife",
        id: "affectedDailyLife",
        value: data['affectedDailyLife'],
        label: {
          text: "Briefly say how the crime has affected your daily life",
          isPageHeading: true,
          classes: 'govuk-label--xl'
        },
        hint: {
          text: "This helps us understand how the crime has affected you. You can leave this blank, but we may have to ask for more information later."
        }
      }) }}


      <!-- hidden field records screen exited for save and return functionality -->
      {% include "../../includes/screen-exited.html" %}
      <!-- button group for save and return -->
      {% include "../../includes/buttons.html" %}


    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
