{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "brokenBonesHeadFaceNeck",
        name: "brokenBonesHeadFaceNeck",
        fieldset: {
          legend: {
            text: "Select the broken bones in your head, neck or face",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: " Ear bone",
            text: "Ear bone",
            checked: checked("brokenBonesHeadFaceNeck", " Ear bone")
          },
          {
            value: " Eye socket",
            text: "Eye socket",
            checked: checked("brokenBonesHeadFaceNeck", " Eye socket")
          },
          {
            value: " Nose",
            text: "Nose",
            checked: checked("brokenBonesHeadFaceNeckHeadFaceNeck", " Nose")
          },
          {
            value: " Jaw",
            text: "Jaw",
            checked: checked("brokenBonesHeadFaceNeck", " Jaw")
          },
          {
            value: " Cheekbone",
            text: "Cheekbone",
            checked: checked("brokenBonesHeadFaceNeck", " Cheekbone")
          },
          {
            value: " Throat bone",
            text: "Throat bone",
            checked: checked("brokenBonesHeadFaceNeck", " Throat bone")
          },
          {
            value: " Skull",
            text: "Skull",
            checked: checked("brokenBonesHeadFaceNeck", " Skull")
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    {% include "../../../includes/answers-template.html" %}

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
