{% extends "layout.html" %}
{% block page_title %}
  Compensation from other sources
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <div><strong class="govuk-tag warning-tag">NEW</strong></div>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">
            
          {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
          {{ govukTextarea({
            "id": "why-not-apply-compensation-other",
            "name": "why-not-apply-compensation-other",
            label: {
              text: "Why did you not apply for compensation from another source?",
              "isPageHeading": true,
              "classes": 'govuk-label--xl'
            }
          }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
          "text": "Continue"
          }) }}

          </form>
        </div>
      </div>
      <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">This screen was removed because both Julie and Siobhann think we don't need to ask them - Stéphanie </p>
      </div>
    </main>
  </div>
{% endblock %}
