{% extends "layout.html" %}

{% block pageTitle %}
 - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="example">
              Resume a claim
            </label></h1>

            <br>
            <br>

<!-- Reference token -->

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What is your save and return number?",
            classes: "govuk-label--s"
          },
          hint: {
            text: "This is the number you received by email or text message when you saved progress on your application"
          },
          classes: "govuk-input--width-20",
          id: "save-and-return-number",
          name: "save-and-return-number"
        }) }}

<br>
<!-- Email or phone number -->

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set emailHtml %}
        {{ govukInput({
          id: "contact-by-email",
          name: "contact-by-email",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Email address"
          }
        }) }}
        {% endset -%}

        {% set phoneHtml %}
        {{ govukInput({
          id: "contact-by-phone",
          name: "contact-by-phone",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Phone number"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "Please confirm one of the following",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "email address",
              text: "Email address",
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "phone number",
              text: "Phone number",
              conditional: {
                html: phoneHtml
              }
            }
          ]
        }) }}

</div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
            text: "Continue"
            }) }}

    </form>

  </div>
</div>
</div>
</div>

{% endblock %}
