{% extends "layout.html" %}

{% block pageTitle %}
Error: {{ incidentLocationHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}

      {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: [
                {
                  text: incidentLocationError,
                  href: "#incidentlocation"
                }
              ]
            }) }}

      {{ govukRadios({
            idPrefix: "incidentlocation",
            name: "incidentlocation",
            currentValue: data['incidentlocation'],
            fieldset: {
              legend: {
                text: incidentLocationHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            errorMessage: {
            text: incidentLocationError
          },
            items: [
            {
              value: "England",
              text: "England"
            },
            {
              value: "Scotland",
              text: "Scotland"
            },
            {
              value: "Wales",
              text: "Wales"
            },
            {
              value: "Somewhere else",
              text: "Somewhere else"
            }
            ]
          }) }}

          <!-- hidden field records screen exited for save and return functionality -->
          {% include "../../includes/screen-exited.html" %}
          <!-- button group for save and return -->
          {% include "../../includes/buttons.html" %}

    </form>

  </div>
</div>
</main>
</div>

{% endblock %}
