

// the inset text doesn't seem to work for some reason, so adding the css here and I created a fine a dark one for showing phone contact on stepped guide pages
.govuk-inset-text {
    border-left: 1em solid #dee0e2;
    padding: 1em 0 1em 1em; margin: 2em 0;
}

.contact , .address {
    border-left: 1px solid #bfc1c3;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

// re-writing this so it's smaller 2px instead of 10px - nothing in the guide for this for 'aside' - discussion on #govuk-design-system for it
.app-related-items-small {
    border-top: 2px solid #005ea5;
    padding-top: 10px;
}


// added the CSS for the pagination at the bottom of the stepped guide - do not exist yet in the govuk-design-system
.stepped-pagination{
    display:block;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:-15px;
    margin-right:-15px
  }
  .stepped-pagination__list{
    margin:0;padding:0
  }
  .stepped-pagination__list:after{
    content:"";
    display:block;clear:both
  }
  .stepped-pagination__item{
    font-family:"nta", Arial, sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:14px;
    line-height:1.1428571429;
    float:left;
    list-style:none;
    text-align:right;
    margin:0;
    padding:0;
    width:50%
  }
  @media (min-width: 641px){
    .stepped-pagination__item{
      font-size:16px;line-height:1.25
    }
  }
  .stepped-pagination__link{
    display:block;
    padding:15px;
    text-decoration:none
  }
  .stepped-pagination__link:visited{
    color:#005ea5
  }
  .stepped-pagination__link:hover, .stepped-pagination__link:active{
    background-color:#f8f8f8
  }
  .stepped-pagination__link-title{
    font-family:"nta", Arial, sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:20px;
    line-height:1.1111111111;
    display:block
  }
  @media (min-width: 641px){
    .stepped-pagination__link-title{
      font-size:27px;line-height:1.25
    }
  }
  .stepped-pagination__item--previous{
    float:left;
    text-align:left
  }
  @media (max-width: 640px){
    .stepped-pagination__item--previous{
      float:none;
      width:100%
    }
  }
  .stepped-pagination__item--next{
    float:right;text-align:right
  }
  @media (max-width: 640px){
    .stepped-pagination__item--next{float:none;width:100%
    }
  }
  .stepped-pagination__link-icon{
    display:inline-block;
    margin-bottom:1px;
    height:.482em;
    width:.63em
  }
  .stepped-pagination__link-label{
    display:inline-block;
    margin-top:0.1em;
    text-decoration:underline
  }
  .design-notes{
    color: red;
    font-style: italic;
    // display: none;
  }
  .design-notes-box{
    border: solid 1px red;
    padding: 10px;
    margin: -10px;
  }

  // -----------------------   body parts diagram CSS needed   --------------------------------------
  .head-neck-shape { 
    height: 240px;
    width: 240px;
    border-radius: 50%;
    display: inline-block;
    background-color: #005ea5;
    color: white;
    text-align: center;
  }
  .face-shape { 
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: inline-block;
    background-color: 	#bfc1c3;
    color:  #005ea5;
    text-align: center;
  }
  .eye-shape {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: #005ea5;
    color: white;
    text-align: center;
  }

  .hand-shape {
    height: 40px;
    width: 80px;
    border-radius: 0 0 80px 80px;
    display: inline-block;
    background-color: #005ea5;
    color: white;
    text-align: center;
  }

  .leg-shape { 
    height: 200px;
    width: 80px;
    display: inline-block;
    background-color: #005ea5;
    color: white;
    text-align: center;
  }

  .neck-shape {
    height: 30px;
    width: 80px;
    display: inline-block;
    background-color: #005ea5;
    color: white;
    text-align: center;
  }
  .arm-left {  
    height: 200px;
    width: 80px;
    display: inline-block;
    border-radius: 50px 0 0 0 ;
    background-color: #005ea5;
    color: white;
    text-align: center;
  }

  .arm-right {  
    height: 200px;
    width: 80px;
    display: inline-block;
    border-radius: 0 50px  0 0 ;
    background-color: #005ea5;
    color: white;
    text-align: center;
  }

  .torso-shape { // torso
    height: 200px;
    width: 200px;
    display: inline-block;
    background-color: #005ea5;
    color: white;
    text-align: center;
  }

  .foot-left {
    height: 50px;
    width: 100px;
    border-radius: 50px 0 0 50px ;
    display: inline-block;
    background-color: #005ea5;
    color: white;
    text-align: center;
  }

  .foot-right {
    height: 50px;
    width: 100px;
    border-radius: 0 50px 50px 0;
    display: inline-block;
    background-color: #005ea5;
    color: white;
    text-align: center;
  }

  // body - injuries list panels styling

  .body-list-panel {
    display: none; // by default we don't want to display them, but it will be shown if associated body shape is selected (see application.js in assets)
    position: absolute; 
    background-color: 	#f8f8f8;
    padding: 10px;
  }
  
