{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Broken eye socket") %}
  <tr><th class="govuk-table__cell govuk-body">Broken eye socket</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Temporary blurred vision") %}
  <tr><th class="govuk-table__cell govuk-body">Temporary blurred vision</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Permanent blurred vision") %}
  <tr><th class="govuk-table__cell govuk-body">Permanent blurred vision</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Permanent loss of peripheral vision") %}
  <tr><th class="govuk-table__cell govuk-body">Permanent loss of peripheral vision</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Black eye") %}
  <tr><th class="govuk-table__cell govuk-body">Black eye</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Scratched eye") %}
  <tr><th class="govuk-table__cell govuk-body">Scratched eye</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Bleeding in eye") %}
  <tr><th class="govuk-table__cell govuk-body">Bleeding in eye</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Blindess") %}
  <tr><th class="govuk-table__cell govuk-body">Blindess</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Sight loss") %}
  <tr><th class="govuk-table__cell govuk-body">Sight loss</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Damaged or detached retina") %}
  <tr><th class="govuk-table__cell govuk-body">Damaged or detached retina</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Object in eye") %}
  <tr><th class="govuk-table__cell govuk-body">Object in eye</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Cataract") %}
  <tr><th class="govuk-table__cell govuk-body">Cataract</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Dislocated lens") %}
  <tr><th class="govuk-table__cell govuk-body">Dislocated lens</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Glaucoma") %}
  <tr><th class="govuk-table__cell govuk-body">Glaucoma</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Loss of eye") %}
  <tr><th class="govuk-table__cell govuk-body">Loss of eye</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Floater") %}
  <tr><th class="govuk-table__cell govuk-body">Floater</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
{% if data['eyeInjuries'] and data['eyeInjuries'].includes("Damaged eye drain") %}
  <tr><th class="govuk-table__cell govuk-body">Damaged eye drain</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
