{% if data['faceInjuries'] and data['faceInjuries'].includes("Face fractures") %}
  <tr><th class="govuk-table__cell govuk-body">Face fractures</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['faceInjuries'] and data['faceInjuries'].includes("Face numbness") %}
  <tr><th class="govuk-table__cell govuk-body">Face numbness</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['faceInjuries'] and data['faceInjuries'].includes("Broken cheekbone") %}
  <tr><th class="govuk-table__cell govuk-body">Broken cheekbone</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['faceInjuries'] and data['faceInjuries'].includes("Broken jaw") %}
  <tr><th class="govuk-table__cell govuk-body">Broken jaw</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['faceInjuries'] and data['faceInjuries'].includes("Clicking jaw") %}
  <tr><th class="govuk-table__cell govuk-body">Clicking jaw</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['faceInjuries'] and data['faceInjuries'].includes("Dislocated jaw") %}
  <tr><th class="govuk-table__cell govuk-body">Dislocated jaw</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['faceInjuries'] and data['faceInjuries'].includes("Quadriplegia or tetraplegia (paralysis of all 4 limbs)") %}
  <tr><th class="govuk-table__cell govuk-body">Quadriplegia or tetraplegia (paralysis of all 4 limbs)</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['faceInjuries'] and data['faceInjuries'].includes("Hemiplegia (paralysis of one side of the the body)") %}
  <tr><th class="govuk-table__cell govuk-body">Hemiplegia (paralysis of one side of the the body)</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['otherFaceInjury'] %}
  <tr><th class="govuk-table__cell govuk-body">{{ data['otherFaceInjury'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
