{% if data['mouthInjuries'] and data['mouthInjuries'].includes("Teeth knocked out") %}
  <tr><th class="govuk-table__cell govuk-body">Teeth knocked out</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['mouthInjuries'] and data['mouthInjuries'].includes("Loose teeth") %}
  <tr><th class="govuk-table__cell govuk-body">Loose teeth</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['mouthInjuries'] and data['mouthInjuries'].includes("Impaired speech") %}
  <tr><th class="govuk-table__cell govuk-body">Impaired speech</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['mouthInjuries'] and data['mouthInjuries'].includes("Permanent loss of speech") %}
  <tr><th class="govuk-table__cell govuk-body">Permanent loss of speech</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['mouthInjuries'] and data['mouthInjuries'].includes("Loss of tongue") %}
  <tr><th class="govuk-table__cell govuk-body">Loss of tongue</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
