{% extends "layout.html" %}

{% block pageTitle %}
{{ scotlandForceQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="/form-handler" method="post">

      <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--xl" for="example">
              {{scotlandForceQuestion}}
              </label>
            </h1>

        {% from 'govuk/components/radios/macro.njk' import govukRadios %}

        {{ govukRadios({
              "classes": "govuk-radios",
              "idPrefix": "policeScotland",
              "name": "policeScotland",
              "value": data['policeScotland'],
              "fieldset": {
              },
              "items": [
              {
                "value": "Argyll and West Dunbartonshire",
                "text": "Argyll and West Dunbartonshire"
              },
              {
                "value": "Ayrshire",
                "text": "Ayrshire"
              },
              {
                "value": "British Transport Police",
                "text": "British Transport Police"
              },
              {
                "value": "Dumfries and Galloway",
                "text": "Dumfries and Galloway"
              },
              {
                "value": "Edinburgh",
                "text": "Edinburgh"
              },
              {
                "value": "Fife",
                "text": "Fife"
              },
              {
                "value": "Forth Valley",
                "text": "Forth Valley"
              },
              {
                "value": "Greater Glasgow",
                "text": "Greater Glasgow"
              },
              {
                "value": "Highland and Islands",
                "text": "Highland and Islands"
              },
              {
                "value": "Lanarkshire",
                "text": "Lanarkshire"
              },
              {
                "value": "North East",
                "text": "North East"
              },
              {
                "value": "Renfrewshire and Inverclyde",
                "text": "Renfrewshire and Inverclyde"
              },
              {
                "value": "Tayside",
                "text": "Tayside"
              },
              {
                "value": "The Lothians and Scottish Borders",
                "text": "The Lothians and Scottish Borders"
              }
              ]
            }) }}

            <br>
            <br>

            {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      "text": "Continue"
      }) }}

    </form>

  </div>
</div>
</div>
</div>

{% endblock %}
