{% if data['fingerInjuries'] and data['fingerInjuries'].includes("Dislocated finger") %}
  <tr><th class="govuk-table__cell govuk-body">Dislocated finger</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['fingerInjuries'] and data['fingerInjuries'].includes("Broken finger") %}
  <tr><th class="govuk-table__cell govuk-body">Broken finger</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['fingerInjuries'] and data['fingerInjuries'].includes("Loss of finger") %}
  <tr><th class="govuk-table__cell govuk-body">Loss of finger</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['fingerInjuries'] and data['fingerInjuries'].includes("Loss of part of finger") %}
  <tr><th class="govuk-table__cell govuk-body">Loss of part of finger</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['fingerInjuries'] and data['fingerInjuries'].includes("Broken thumb") %}
  <tr><th class="govuk-table__cell govuk-body">Broken thumb</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['fingerInjuries'] and data['fingerInjuries'].includes("Loss of fingernail") %}
  <tr><th class="govuk-table__cell govuk-body">Loss of fingernail</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
