{% extends "layout.html" %}

{% block pageTitle %}
Investigating Police Force - {{ serviceName }} - GOV.UK
{% endblock %}

 {% block beforeContent %}
 {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
 {{ govukPhaseBanner({
   tag: {
     text: "prototype"
   },
   html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
 }) }}

 <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
 {% endblock %}

 {% block content %}

     <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form"  method="post">

          {% from "govuk/components/input/macro.njk" import govukInput %}
          {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

          {% call govukFieldset({
            legend: {
              text: "Which police force is investigating the crime?",
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true
            }
          }) %}

          {{ govukInput({
  label: {
    text: "Search by location"
  },
  hint: {
  text: 'For example, Glasgow '
    },
  classes: "govuk-input--width-20",
  id: "event-name",
  name: "event-name"
}) }}
{% endcall %}
<h2 class="govuk-heading-m">England</h2>
{{ govukRadios({
      classes: "govuk-radios",
      "idPrefix": "policeScotland",
      name: "policeScotland",
      currentValue: data['policeScotland'],
      "fieldset": {
      },
      "items": [
      {
        "value": "Argyll and West Dunbartonshire",
        text: "Argyll and West Dunbartonshire"
      },
      {
        "value": "Ayrshire",
        text: "Ayrshire"
      },
      {
        "value": "Dumfries and Galloway",
        text: "Dumfries and Galloway"
      },
      {
        "value": "Edinburgh",
        text: "Edinburgh"
      },
      {
        "value": "Fife",
        text: "Fife"
      },
      {
        "value": "Forth Valley",
        text: "Forth Valley"
      },
      {
        "value": "Greater Glasgow",
        text: "Greater Glasgow"
      },
      {
        "value": "Highland and Islands",
        text: "Highland and Islands"
      },
      {
        "value": "Lanarkshire",
        text: "Lanarkshire"
      },
      {
        "value": "Lothians and Scottish Borders",
        text: "Lothians and Scottish Borders"
      },
      {
        "value": "North East",
        text: "North East"
      },
      {
        "value": "Renfrewshire and Inverclyde",
        text: "Renfrewshire and Inverclyde"
      },
      {
        "value": "Tayside",
        text: "Tayside"
      },
      {
        "value": "British Transport Police",
        text: "British Transport Police"
      }
      ]
    }) }}

<h2 class="govuk-heading-m">Scotland</h2>
{{ govukRadios({
      classes: "govuk-radios",
      "idPrefix": "policeScotland",
      name: "policeScotland",
      currentValue: data['policeScotland'],
      "fieldset": {
      },
      "items": [
      {
        "value": "Argyll and West Dunbartonshire",
        text: "Argyll and West Dunbartonshire"
      },
      {
        "value": "Ayrshire",
        text: "Ayrshire"
      },
      {
        "value": "Dumfries and Galloway",
        text: "Dumfries and Galloway"
      },
      {
        "value": "Edinburgh",
        text: "Edinburgh"
      },
      {
        "value": "Fife",
        text: "Fife"
      },
      {
        "value": "Forth Valley",
        text: "Forth Valley"
      },
      {
        "value": "Greater Glasgow",
        text: "Greater Glasgow"
      },
      {
        "value": "Highland and Islands",
        text: "Highland and Islands"
      },
      {
        "value": "Lanarkshire",
        text: "Lanarkshire"
      },
      {
        "value": "Lothians and Scottish Borders",
        text: "Lothians and Scottish Borders"
      },
      {
        "value": "North East",
        text: "North East"
      },
      {
        "value": "Renfrewshire and Inverclyde",
        text: "Renfrewshire and Inverclyde"
      },
      {
        "value": "Tayside",
        text: "Tayside"
      },
      {
        "value": "British Transport Police",
        text: "British Transport Police"
      }
      ]
    }) }}

    <h2 class="govuk-heading-m">Wales</h2>

    {{ govukRadios({
          classes: "govuk-radios",
          "idPrefix": "policeWales",
          name: "policeWales",
          currentValue: data['policeWales'],
          "fieldset": {
          },
          "items": [
          {
            "value": "Dyfed-Powys",
            text: "Dyfed-Powys"
          },
          {
            "value": "Gwent",
            text: "Gwent"
          },
          {
            "value": "North Wales",
            text: "North Wales"
          },
          {
            "value": "South Wales",
            text: "South Wales"
          },
          {
            "value": "British Transport Police",
            text: "British Transport Police"
          }
          ]
        }) }}

            <h2 class="govuk-heading-m">Other</h2>
            {{ govukRadios({
                  classes: "govuk-radios",
                  "idPrefix": "policeWales",
                  name: "policeWales",
                  currentValue: data['policeWales'],
                  "fieldset": {
                  },
                  "items": [
                  {
                    "value": "British Transport Police",
                    text: "British Transport Police"
                  }
                  ]
                }) }}

    <br>
    <br>

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
          text: "Continue"
          }) }}
        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
