{% extends "layout.html" %}

{% block pageTitle %}
{{ injuredPartsQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "injuredParts",
        name: "injuredParts",
        fieldset: {
          legend: {
            text: injuredPartsQuestion,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: injuredPartsQuestionHint
        },
        items: [
          {
            value: "head",
            text: "Head, face, or neck",
            checked: checked("injuredParts", "head")
          },
          {
            value: "torso",
            text: "Torso",
            checked: checked("injuredParts", "torso")
          },
          {
            value: "upper-limbs",
            text: "Arms",
            checked: checked("injuredParts", "upper-limbs")
          },
          {
            value: "lower-limbs",
            text: "Legs",
            checked: checked("injuredParts", "lowe-limbs")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
