{% extends "layout.html" %}
{% block pageTitle %}
{{ preferredContactQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  {{ govukCheckboxes({
    idPrefix: "preferred-times",
    name: "preferred-times",
    value: data['preferred-times'],
    fieldset: {
      legend: {
        text: "Which times of the day are best for us to call you?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [

    {
        value: "Morning",
        text: "Morning - 8.30am to 12 noon (from 10am on Wednesdays)"
      },
      {
        value: "Lunchtime",
        text: "Lunchtime - 12 noon to 2pm"
      },
      {
        value: "Afternoon",
        text: "Afternoon - 2pm to 5pm"
      }
    ]
  }) }}



      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>
  </div>

</div>
</main>
</div>
{% endblock %}
