{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<!-- CONTENT TBC BADGE -->
  {%- from "moj/components/badge/macro.njk" import mojBadge -%}
  {{ mojBadge({
  text: 'Content TBC',
  classes: 'moj-badge--red'
  }) }}
  <br>
  <br>
  <br>
<!-- CONTENT TBC BADGE -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}
      {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "workingAge",
            name: "workingAge",
            fieldset: {
            legend: {
              text: "Was the child over 16 at the time of the incident?",
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
              }
            },
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("workingAge", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("workingAge", "No")
            }
            ]
            }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            text: "Continue"
            }) }}

    </form>
  </div>
</div>
{% endblock %}
