
{% extends "layout.html" %}

{% block pageTitle %}
  End of prototype - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/YourFeedbackPB" target="_blank">feedback <span class="govuk-visually-hidden">(opens in new window)</span></a> will help us to improve it.'
  }) }}

  <a href="#" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              End of this prototype
            </h1>
          </legend>
        </fieldset>
        </div>

        <p>This is the end of this concept prototype exploring Police Forces</p>

        <a href="/concepts/forces-mockups/" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Back to landing page
        </a>


    </div>
</div>

{% endblock %}
