
{% extends "layout.html" %}

{% block pageTitle %}
  Making email address optional (SMS confirmation) - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Equalities questions
      </h1>

      <p class="govuk-body-l">This is a placeholder to edit once we have more of a refined flow for the equality questions, along with confirmation on what information we want to collect.</p>

      <p class="govuk-body"><a href="https://docs.google.com/drawings/d/1ac4b7WST4eykUGo9CGhO1H6F3m-elA4wntr2nWg3Smw/edit?usp=sharing
">Flows for all concepts</a> - not final.</p>

      <hr>
      <br>
      <h2 class="govuk-heading-m">Concept 1</h2>
      <p class="govuk-body">Placeholder screens in line with <a href="https://www.google.com/url?q=https://hmcts-pcq-prototype.herokuapp.com/&sa=D&source=editors&ust=1616777353240000&usg=AOvVaw3wI-1QeWwg0ijd7omI1tYO">HMCTS prototype</a> ( hmctspcq / pcq ).</p>
      <p><a href="/concepts/equality-questions/concept-1-hmcts/start">Concept 1 prototype</a></p>

      <hr>
      <br>
      <h2 class="govuk-heading-m">Concept 2</h2>
      <p class="govuk-body">Placeholder screens in line with <a href="https://design-system.service.gov.uk/patterns/equality-information/">GDS guidelines</a>.</p>
      <p><a href="/concepts/equality-questions/concept-2-gds/start">Concept 2 prototype</a></p>

    </div>
</div>

{% endblock %}
