{% extends "layout.html" %}

{% block pageTitle %}
{{ contextPIHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Your injuries
    </h1>


    {% if data['nonSpecificBodyParts'] or data['earHearingInjuries'] or data['eyeInjuries'] or data['facialInjuries'] or data['brainInjuries'] or data['neckInjuries'] or data['noseInjuries'] or data['teethInjuries'] or data['tongueInjuries'] or data['noseInjuries'] or data['noseInjuries'] or data['noseInjuries']or data['noseInjuries']%}

    <table class="govuk-table govuk-!-margin-bottom-9 your-injuries">
      <caption class="govuk-heading-m" style="text-align: left;">
        You have selected these injuries
      </caption>
      <tbody class="govuk-table__body">

        {% if data['nonSpecificBodyParts'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['nonSpecificBodyParts'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['earHearingInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['earHearingInjuries'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['eyeInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['eyeInjuries'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['facialInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['facialInjuries'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['brainInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['brainInjuries'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['neckInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['neckInjuries'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['noseInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['noseInjuries'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['teethInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['teethInjuries'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['tongueInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['tongueInjuries'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['faceSurfaceInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['faceSurfaceInjuries'] }} to the face</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['headSurfaceInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['headSurfaceInjuries'] }} to the head</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}

        {% if data['neckSurfaceInjuries'] %}
          <tr><th class="govuk-table__cell govuk-body">{{ data['neckSurfaceInjuries'] }} to the neck</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
        {% endif %}


        </tbody>

      </table>
    {% endif %}


    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "changed-name",
      name: "changed-name",
      fieldset: {
        legend: {
          text: "Are these injuries correct?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}



    <form class="form" method="post">
      {{ govukButton({
      "text": "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
