<!-- About the crime -->
<h2 class="govuk-heading-l">
  About the application
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ whoIsMakingTheApplicationQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['direct-applicant'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="who-is-making-the-application">
        Change<span class="govuk-visually-hidden">{{ whoIsMakingTheApplicationQuestion }} </span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ over18Question }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['over18'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="over-18">
        Change<span class="govuk-visually-hidden">{{ whoIsMakingTheApplicationQuestion }} </span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Confirmation method
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['confirmationPreference'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="confirmation-options">
        Change<span class="govuk-visually-hidden"> confirmation receipt</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ sexualAbuseQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['sexualAssault'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="sexual-assault-application">
        Change<span class="govuk-visually-hidden">{{ sexualAbuseQuestion }} </span>
      </a>
    </dd>
  </div>

  {% if data['sexualAssault'] === 'No' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ violentCrimeQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['violentCrime'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="violent-crime">
        Change<span class="govuk-visually-hidden">{{ violentCrimeQuestion }} </span>
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['applicationDelay'] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half" style="border:none">
      {{ whyDelayQuestion }}
    </dt>
    <dd class="govuk-summary-list__value" style="border:none">

      {{ data['applicationDelay'] }}

    </dd>
    <dd class="govuk-summary-list__actions" style="border:none">
      <a href="application-delay">
        Change<span class="govuk-visually-hidden"> {{ reportingDelayQuestion }}</span>
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['delay-application'] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ delayApplyExplanation }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['delay-application'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  {% endif %}
</dl>
