{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "abdomenInjuries",
        name: "abdomenInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to your abdomen",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: abdomenInjuriesQuestionHint
        },
        items: [
          {
            value: " Keyhole surgery on torso",
            text: "Keyhole surgery on torso",
            checked: checked("abdomenInjuries", " Keyhole surgery on torso")
          },
          {
            value: " Stoma",
            text: "Stoma",
            checked: checked("abdomenInjuries", " Stoma")
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
