{% extends "layout.html" %}
{% block pageTitle %}
{{ locationTownQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="name">
            {{ locationTownQuestion }}
          </label>
        </h1>
      </div>

      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
              label: {
                text: "Street or building name"
              },
              id: "streetName",
              name: "streetName",
              value: data['street-name']
            }) }}

      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
              label: {
                text: "Town or city"
              },
              id: "locationTown",
              name: "locationTown",
              value: data['location-town']
            }) }}
      {% from "input/macro.njk" import govukInput %}

      {{ govukButton({
                "text": "Continue"
                }) }}
    </form>
  </div>
</div>

</main>
</div>
{% endblock %}