{% extends "layout.html" %}

{% block pageTitle %}
Select any injuries to the arm - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherArmInjury",
        name: "otherArmInjury",
        value: data['otherArmInjury'],
        type: text,
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}


      {{ govukCheckboxes({
        idPrefix: "armInjuries",
        name: "armInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the arm",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
          },
        items: [
          {
            value: "Broken arm",
            text: "Broken arm",
            checked: checked("armInjuries", "Broken arm"),
            id: "Broken arm"
          },
          {
            value: "Nerve damage",
            text: "Nerve damage",
            checked: checked("armInjuries", "Nerve damage"),
            id: "Nerve damage"
          },
          {
            value: "Loss of arm",
            text: "Loss of arm",
            checked: checked("armInjuries", "Loss of arm"),
            id: "Loss of arm"
          },
          {
            value: "Paralysed arm",
            text: "Paralysed arm",
            checked: checked("armInjuries", "Paralysed arm"),
            id: "Paralysed arm"
          },
          {
            value: "Hemiplegia (paralysis of one side of the the body)",
            text: "Hemiplegia (paralysis of one side of the the body)",
            checked: checked("armInjuries", "Hemiplegia (paralysis of one side of the the body)"),
            id: "Hemiplegia"
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("armInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      <!-- hidden field records screen exited for save and return functionality -->
      {% include "../../../../includes/screen-exited.html" %}
      <!-- button group for save and return -->
      {% include "../../../../includes/buttons.html" %}



    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
