{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}

      {{ govukCheckboxes({
            classes: "govuk-checkboxes",
            "idPrefix": "workCapacity",
            name: "workCapacity",
            currentValue: data['workCapacity'],
            "fieldset": {
              "legend": {
                text: "Has the child's capacity to work been affected by their injuries?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            "items": [
              {
                "value": "yes-current",
                text: "Yes, their current capacity is affected",
                checked: checked("workCapacity", "yes-current")
              },
              {
                "value": "yes-future",
                text: "Yes, their future capacity is affected",
                checked: checked("workCapacity", "yes-future")
              },
              {
                "value": "no",
                text: "No",
                checked: checked("workCapacity", "no"),
                id: "none"
              }
            ]
          }) }}

      {{ govukButton({
            text: "Continue"
            }) }}


    </form>
  </div>
</div>
{% endblock %}
