{% extends "layout.html" %}
{% block pageTitle %}
Are you the child's parent? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}
      {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "parentGuardian",
            name: "parentGuardian",
            fieldset: {
            legend: {
              text: "Are you the child's parent?",
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
              }
            },
            hint: {
              text: "This means you are responsible for the care, protection and maintenance of the child."
            },
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("parentGuardian", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("parentGuardian", "No")
            }
            ]
            }) }}

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with eligibility
                    </span>
                </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">To prove you’re the child’s parent or adoptive parent, you’ll require relevant documents. These include but are not limited to:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>birth certificate</li>
                        <li>adoption documents</li>
                        <li>parental responsibility agreement</li>
                        <li>a court order</li>
                      </ul>
                      <p class="govuk-body">Find out more about <a href="https://www.gov.uk/parental-rights-responsibilities/who-has-parental-responsibility" target="_blank">who has parental responsibilities (opens in new tab)<a/>.</p>
                    </div>
              </details>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            text: "Continue"
            }) }}

    </form>
  </div>
</div>
{% endblock %}
