{% extends "layout.html" %}

{% block pageTitle %}
{{ headNeckFaceInjuryQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form injuries" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "headNeckFaceDetail",
        name: "headNeckFaceDetail",
        fieldset: {
          legend: {
            text: "Do you have any of these injuries to your head, face or neck?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: headNeckFaceInjuryQuestionHint
        },
        items: [
          {
            value: "Brain injury",
            text: "Brain injury",
            checked: checked("headNeckFaceDetail", "Brain injury")
          },
          {
            value: "Ear or hearing injury",
            text: "Ear or hearing injury",
            checked: checked("headNeckFaceDetail", "Ear or hearing injury")
          },
          {
            value: "Eye or sight injury",
            text: "Eye or sight injury",
            checked: checked("headNeckFaceDetail", "Eye or sight injury")
          },
          {
            value: "Facial injury",
            text: "Facial injury",
            checked: checked("headNeckFaceDetail", "Facial injury")
          },
          {
            value: "Neck injury",
            text: "Neck injury",
            checked: checked("headNeckFaceDetail", "Neck injury")
          },
          {
            value: "Nose injury",
            text: "Nose injury",
            checked: checked("headNeckFaceDetail", "Nose injury")
          },
          {
            value: "Skull injury",
            text: "Skull injury",
            checked: checked("headNeckFaceDetail", "Skull injury")
          },
          {
            value: "Tongue injury",
            text: "Tongue injury",
            checked: checked("headNeckFaceDetail", "Tongue injury")
          },
          {
            value: "Teeth injury",
            text: "Teeth injury",
            checked: checked("headNeckFaceDetail", "Teeth injury")
          },
          {
            value: "None",
            text: "None",
            checked: checked("headNeckFaceDetail", "soft-tissue")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
