{% extends "layout.html" %}

{% block pageTitle %}
{{ headNeckFaceInjuryQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form injuries" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "headNeckFaceDetail",
        name: "headNeckFaceDetail",
        fieldset: {
          legend: {
            text: "What was injured?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: headNeckFaceInjuryQuestionHint
        },
        items: [
          {
            value: "Brain",
            text: "Brain",
            checked: checked("headNeckFaceDetail", "Brain")
          },
          {
            value: "Ear or hearing",
            text: "Ear or hearing",
            checked: checked("headNeckFaceDetail", "Ear or hearing")
          },
          {
            value: "Eye or sight",
            text: "Eye or eyesight",
            checked: checked("headNeckFaceDetail", "Eye or sight")
          },
          {
            value: "Face",
            text: "Face",
            checked: checked("headNeckFaceDetail", "Face")
          },
          {
            value: "Neck",
            text: "Neck",
            checked: checked("headNeckFaceDetail", "Neck")
          },
          {
            value: "Nose",
            text: "Nose",
            checked: checked("headNeckFaceDetail", "Nose")
          },
          {
            value: "Skull",
            text: "Skull",
            checked: checked("headNeckFaceDetail", "Skull")
          },
          {
            value: "Tongue",
            text: "Tongue",
            checked: checked("headNeckFaceDetail", "Tongue")
          },
          {
            value: "Teeth",
            text: "Teeth",
            checked: checked("headNeckFaceDetail", "Teeth")
          },
          {
            value: "None",
            text: "None",
            checked: checked("headNeckFaceDetail", "none")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
