
{% extends "layout.html" %}

{% block pageTitle %}
Error pages - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'We are currently in the Beta phase.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Error pages
      </h1>
      <p class="govuk-body"><a href="/concepts/error-pages/404-not-found">Page not found (404)</a></p>
          <p class="govuk-body"><a href="/concepts/error-pages/500-problem">There is a problem with the service (500)</a></p>
          <p class="govuk-body"><a href="/concepts/error-pages/503-service-unavailable">Service unavailable (503)</a></p>
<p class="govuk-body"><a href="/concepts/error-pages/timeout">Timeout</a></p>
{% endblock %}
