{% extends "layout.html" %}
{% block pageTitle %}
{{ declarationHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ declarationHeading }}
    </h1>

        <p class="govuk-body">By submitting this application, I, [main applicant or rep name], on behalf of [applicant’s name] confirm that I understand the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the information I’ve given here is true</li>
          <li>CICA may share and receive information with the following parties for the purposes of processing this application for compensation or verifying information provided:
            <ul>
              <li>police, prosecutors and ACRO Criminal Records Office, including for the purposes of obtaining a report of the crime and a record of any criminal convictions they may have</li>
              <li>medical organisations, practitioners, and police medical staff to obtain medical evidence - including medical records and expert reports. CICA will let me know if this is required</li>
              <li>any other individuals or organisations where necessary to process this application</li>
              <li> any representative I may appoint to act for me in the course of this application</li>
            </ul>
          <li> if I deliberately provide information that I know is wrong or misleading, I may be refused compensation and I may be prosecuted</li>
          <li>I must notify CICA immediately of any change in circumstances relevant to this application, including my address and information about any other claim or proceedings which may give rise to a separate award or payment in respect of their injuries</li>
        </ul>

        <p class="govuk-body">Read our privacy notice to see <a href="https://www.gov.uk/guidance/cica-privacy-notice" target="_blank">how we use your data (opens in new tab)</a>.</p>

        <h2 class="govuk-heading-m">
          Information about appointing a legal or another representative
        </h2>

        <p class="govuk-body">It is not necessary to appoint a legal or other representative to act on an applicant’s behalf. If one is appointed at any stage, please be aware that CICA cannot meet their costs. We will communicate directly with any appointed representative.</p>

        <p class="govuk-body">If we make an award, we will pay it only to an applicant or their legal representative. This is unless the application has been made on behalf of an adult who cannot manage their own financial affairs or a child who is under 18 years of age. It is our general policy to put an award for a child in an interest earning deposit account until they reach the age of 18.</p>

        <p class="govuk-body">If it is decided that a representative’s services are no longer required, you must tell us in writing as soon as possible. If a monetary award is to be made and there is a dispute about outstanding legal fees, it is our policy to retain the disputed amount until the dispute has been resolved.</p>


    <form class="form" method="post">

      {{ govukCheckboxes({
        idPrefix: "agreeToDeclaration",
        name: "agreeToDeclaration",
        items: [
          {
            value: "agree",
            text: "I have read and understood the information and declaration above",
            checked: checked("agreeToDeclaration", "agree")
          }
        ]
      }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
          text: "Submit"
        }) }}

    </form>
  </div>
</div>
{% endblock %}
