{% extends "layout.html" %}

{% block pageTitle %}
 - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      <div class="govuk-form-group">

<!-- Reference token -->

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Enter your temporary password",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          hint: {
            text: "We have sent you a temporary password. Enter it below to resume your claim."
          },
          classes: "govuk-input--width-20",
          id: "save-and-return-number",
          name: "save-and-return-number",
          type: "password"
        }) }}

      </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
            text: "Continue"
            }) }}

    </form>

  </div>
</div>
</div>
</div>

{% endblock %}
