
{% extends "layout.html" %}

{% block pageTitle %}
  Making email address optional (SMS confirmation) - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Live chat
      </h1>

      <hr><br>
      <h2 class="govuk-heading-m">Open chat</h2>
      <p class="govuk-body">This page will show during the agreed opening hours, allowing a user to start a chat.</p>
      <p><a href="/concepts/webchat/open">Open landing page</a></p>

      <hr>
      <br>
      <h2 class="govuk-heading-m">Closed chat</h2>
      <p class="govuk-body">This page will show when the chat is closed.</p>
      <p><a href="/concepts/webchat/closed">Closed landing page</a></p>


    </div>
</div>

{% endblock %}
