{% extends "layout.html" %}

{% block pageTitle %}
You need to use another service - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
       Chat to our customer support team online
    </h1>
<p class="govuk-body">You can use this chat for general enquiries.</p>
<p class="govuk-body">You <b>cannot</b> discuss the details of your claim here. Instead, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>email <a href="mailto:someone@example.com">info@cica.gov.uk</a></li>
      <li>call 0300 003 3601</li>
    </ul>
<p class="govuk-body">The chat is available from 10am to 3pm, Monday to Friday.</p>
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Start a chat"
    })}}

    <form class="form" method="post">

    </form>
  </div>
</div>

{% endblock %}
