{% extends "layout.html" %}

{% block pageTitle %}
{{ policeForceQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="/form-handler" method="post">

      <legend class="govuk-heading-xl">{{policeForceQuestion}}</legend>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-visually-hidden" for="name">
          {{policeForceQuestion}}
        </label>
        <!-- This gets the autocomplete an puts it in the div with an id="autocomplete". The  files used for this are:
        - app/assets/javascripts/accessible-autocomplete.min.js
        - app/assets/sass/components/_accessible-autocomplete.scss
        More details on this can be found here: https://github.com/alphagov/accessible-autocomplete -->

        {% from 'radios/macro.njk' import govukRadios %}

        {{ govukRadios({
              "classes": "govuk-radios",
              "idPrefix": "policeScotland",
              "name": "policeScotland",
              currentValue: data['policeScotland'],
              "fieldset": {
              },
              "items": [
              {
                "value": "Argyll and West Dunbartonshire",
                "text": "Argyll and West Dunbartonshire"
              },
              {
                "value": "Ayrshire",
                "text": "Ayrshire"
              },
              {
                "value": "Dumfries and Galloway",
                "text": "Dumfries and Galloway"
              },
              {
                "value": "Edinburgh",
                "text": "Edinburgh"
              },
              {
                "value": "Fife",
                "text": "Fife"
              },
              {
                "value": "Forth Valley",
                "text": "Forth Valley"
              },
              {
                "value": "Greater Glasgow",
                "text": "Greater Glasgow"
              },
              {
                "value": "Highland and Islands",
                "text": "Highland and Islands"
              },
              {
                "value": "Lanarkshire",
                "text": "Lanarkshire"
              },
              {
                "value": "Lothians and Scottish Borders",
                "text": "Lothians and Scottish Borders"
              },
              {
                "value": "North East",
                "text": "North East"
              },
              {
                "value": "Renfrewshire and Inverclyde",
                "text": "Renfrewshire and Inverclyde"
              },
              {
                "value": "Tayside",
                "text": "Tayside"
              },
              {
                "value": "British Transport Police",
                "text": "British Transport Police"
              }
              ]
            }) }}

      <br>
      <br>

      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>

  </div>
</div>
</div>
</div>

{% endblock %}
