{% extends "layout.html" %}
{% block pageTitle %}
{{ nameQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

{% include "../../includes/content_tbc.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for=name>
            {{ nameQuestion }}
          </label>
        </h1>
      </div>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
            label: {
            text: nameTitleField
            },
            classes: "govuk-input--width-10",
            id: "title",
            name: "title",
            "value": data['title']
            }) }}

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
              label: {
                text: nameFirstNameField
              },
              id: "first-name",
              name: "first-name",
              value: data['first-name']
            }) }}

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
              label: {
                text: nameLastNameField
              },
              id: "last-name",
              name: "last-name",
              value: data['last-name']
            }) }}

            <!-- Set screen-exited to name of screen exited in hidden input -->

            <div class="hidden">
              <input class="govuk-input" id="screenExited" name="screen-exited" type="text">
            </div>

            <script>
              var pageURL = window.location.href;
              var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
              document.getElementById("screenExited").value = lastURLSegment;
            </script>

            {% include "../../includes/buttons.html" %}

            <!-- end setting variable in hidden input -->

    </form>
  </div>
</div>
</main>
</div>
{% endblock %}
