{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "injuryCheckboxes",
        name: "torsoInjuredParts",
        fieldset: {
          legend: {
            text: "What parts of your torso were injured?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: torsoInjuredPartsQuestionHint
        },
        items: [
          {
            value: "Shoulder",
            text: "Shoulder",
            checked: checked("torsoInjuredParts", "Shoulder")
          },
          {
            value: "Chest",
            text: "Chest",
            checked: checked("torsoInjuredParts", "Chest")
          },
          {
            value: "Abdomen",
            text: "Abdomen",
            checked: checked("torsoInjuredParts", "Abdomen")
          },
          {
            value: "Back",
            text: "Back",
            checked: checked("torsoInjuredParts", "Back")
          },
          {
            value: "Pelvis",
            text: "Pelvis",
            checked: checked("torsoInjuredParts", "Pelvis")
          },
          {
            value: "Genitals",
            text: "Genitals",
            checked: checked("torsoInjuredParts", "Genitals")
          },
          {
            value: "Skin",
            text: "Skin",
            hint: {
              text: "Including cuts, bruises, burns and scars"
            },
            checked: checked("torsoInjuredParts", "Skin")
          },
          {
            value: "Muscle, ligament, or tendon injury",
            text: "Muscle, ligament, or tendon injury",
            checked: checked("torsoInjuredParts", "Muscle, ligament, or tendon injury")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
