{% extends "layout.html" %}

{% block pageTitle %}
Upload your child’s full birth certificate - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <h1 class="govuk-heading-xl">Upload your child’s full birth certificate</h1>

      <p>We use this to check you have the right to make a claim for your child. You can upload a scan or a photo.</p>

      {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}


      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          text: "Choose file"
        }
      }) }}

      {{ govukButton({
            "text": "Continue"
            }) }}
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  If you do not have a full birth certificate
                </span>
              </summary>
              <div class="govuk-details__text">
              <p><a href=https://www.gov.uk/order-copy-birth-death-marriage-certificate>Order a copy of a full birth certificate</a>.</p>
              <p>Do not upload a short (abbreviated) birth certificate.</p>

<p>You can upload an adoption order if you adopted your child.</p>


              </div>
            </details>

    </form>

  </div>
</div>
</main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
