{% extends "layout.html" %}

{% block pageTitle %}
We will not consider mental injury when assessing your claim - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      We will not consider mental injury when assessing your claim
    </h1>
    <p class="govuk-body">This is based on the answers you have given us.</p>

    <p><a href="/concepts/mental-injuries/v3/mental-health" class="govuk-button govuk-button--primary">Continue</a></p>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
