{% if data['shoulderInjuries'] and data['shoulderInjuries'].includes("Broken shoulder blade") %}
  <tr><th class="govuk-table__cell govuk-body">Broken shoulder blade</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['shoulderInjuries'] and data['shoulderInjuries'].includes("Dislocated shoulder") %}
  <tr><th class="govuk-table__cell govuk-body">Dislocated shoulder</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['shoulderInjuries'] and data['shoulderInjuries'].includes("Frozen shoulder") %}
  <tr><th class="govuk-table__cell govuk-body">Frozen shoulder</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['shoulderInjuries'] and data['shoulderInjuries'].includes("Separated shoulder") %}
  <tr><th class="govuk-table__cell govuk-body">Separated shoulder</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['otherShoulderInjury'] %}
  <tr><th class="govuk-table__cell govuk-body">{{ data['otherShoulderInjury'] }}</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
