{% extends "layout.html" %}

{% block pageTitle %}
Select any injuries to the arm - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
      {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}


      {% set otherTextarea %}
      {{ govukCharacterCount({
        name: "with-hint",
        id: "with-hint",
        maxlength: 500,
        label: {
          text: "Type of injury"
        }
      }) }}

      {% endset -%}

      {% set otherInput %}
      {{ govukInput({
        id: "otherArmInjury",
        name: "otherArmInjury",
        value: data['otherArmInjury'],
        type: "text",
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}


      {{ govukCheckboxes({
        idPrefix: "armInjuries",
        name: "armInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the arm",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Other",
            text: "Other (textarea)",
            checked: checked("armInjuries", "Other"),
            conditional: {
              html: otherTextarea
            }
          },
            {
              value: "Other",
              text: "Other (input)",
              checked: checked("armInjuries", "Other"),
              conditional: {
                html: otherInput
              }
            }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
