<hr>
<h1 class ="heading-large part-title">What happens next</h1>

<p>You’ll get a reference number when you submit your claim. Use the reference number whenever you contact Criminal Injuries Compensation Authority (<abbr title="Criminal Injuries Compensation Authority">CICA</abbr>) about your claim.</p>
  
<p>Your claim will be assessed on:</p>

<ul class="govuk-list govuk-body-s list list-bullet">
  <li>the information you provided in your application</li>
  <li>information from the police, including the evidence you gave them</li>
  <li>your criminal record</li>
  <li>medical evidence (if it’s needed)</li>
</ul>
  
<p><abbr title="Criminal Injuries Compensation Authority">CICA</abbr> will contact you if they need more information and when they make a final decision.</p>

<h2 class ="heading-medium part-title" id="medical-evidence">Medical evidence</h2>

<p>You’ll be told if you need to provide a medical report. It can cost up to £50.</p>

<p>Contact <abbr title="Criminal Injuries Compensation Authority">CICA</abbr> if you need help getting or paying for the medical report.</p>

<p>You might also need to attend a psychological assessment if you’re claiming compensation for mental injuries.</p>

<div class="contact" style="border-left: 1px solid #bfc1c3; padding-left: 15px; margin-bottom: 30px; margin-top: 30px;">
<p>
  <strong><abbr title="Criminal Injuries Compensation Authority">CICA</abbr></strong><br>
  Inside the UK: 0300 003 3601 (choose option 8)<br>
  Outside the UK: +44 (0)203 684 2517<br>
  Monday and Tuesday, 8:30am to 5pm<br>
  Wednesday, 10am to 5pm <br>
  Thursday and Friday, 8.30am to 5pm<br>
  <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
</div>
  
<h2 class ="heading-medium part-title" id="if-youre-using-a-legal-adviser">If you’re using a legal adviser</h2>
  
<p>If you and your legal adviser disagree about how much money you owe them, you normally will not be paid your compensation in full until you resolve this.</p>
  
<h2 class ="heading-medium part-title" id="disagreeing-with-a-decision">Disagreeing with a decision</h2>
  
<p>Write to <abbr title="Criminal Injuries Compensation Authority">CICA</abbr> and ask them to review a decision if you disagree with it.</p>
  
<div class="address">
  <div class="adr org fn" style="border-left: 1px solid #bfc1c3; padding-left: 15px; margin-bottom: 30px; margin-top: 30px;">
    <p>
      <abbr title="Criminal Injuries Compensation Authority">CICA</abbr>
      <br>Alexander Bain House 
      <br>Atlantic Quay 
      <br>15 York Street 
      <br>Glasgow
      <br>G2 8JQ
      <br>
    </p>
  </div>
</div>

  
<p>If you disagree with the outcome of <abbr title="Criminal Injuries Compensation Authority">CICA</abbr>’s review, you can appeal to the <a href="#">criminal injuries compensation tribunal</a>.</p>



<div>
  <ul class="pub-c-pagination__list">
    <li class="pub-c-pagination__item pub-c-pagination__item--previous">
    <a href="/stepped-guide?step=3" class="pub-c-pagination__link" rel="prev">
        <span class="pub-c-pagination__link-title">
        <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        Previous
        </span>
        <span class="visually-hidden">:</span>
        <span class="pub-c-pagination__link-label">Make a claim</span>
    </a>
    </li>
    <li class="pub-c-pagination__item pub-c-pagination__item--next">
    <a href="/stepped-guide?step=5" class="pub-c-pagination__link" rel="next">
        <span class="pub-c-pagination__link-title">
        Next
        <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
        </span>
        <span class="visually-hidden">:</span>
        <span class="pub-c-pagination__link-label">Update your claim</span>
    </a>
    </li>
  </ul>
</div>
