<hr class="govuk-section-break govuk-section-break--visible">
<h1 class ="govuk-heading-l govuk-!-mt-r3">Update your claim</h1>

<p><a rel="external" href="/login">Sign in to your account</a> to finish your application.</p>

<p>You need to contact Criminal Injuries Compensation Authority (<abbr title="Criminal Injuries Compensation Authority">CICA</abbr>) if:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your contact or personal details change</li>
  <li>you stop using or change a legal adviser</li>
  <li>you get compensation or money from any other sources after you apply</li>
</ul>

<h2 class ="heading-medium part-title" id="if-you-applied-by-phone">If you applied by phone</h2>

<p>Call <abbr title="Criminal Injuries Compensation Authority">CICA</abbr> to update your claim if you applied by phone.</p>

<p>You’ll need your reference number.</p>

<div class="contact" >
<p><strong></strong><abbr title="Criminal Injuries Compensation Authority">CICA</abbr></strong><br>
Inside the UK: 0300 003 3601 (choose option 8)<br>
Outside the UK: +44 (0)203 684 2517<br>
Monday and Tuesday, 8:30am to 5pm<br>
Wednesday, 10am to 5pm <br>
Thursday and Friday, 8.30am to 5pm<br>
<a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
</div>


<div class="govuk-!-mb-r7">
  <ul class="stepped-pagination__list">
    <li class="stepped-pagination__item stepped-pagination__item--previous">
    <a href="/stepped-guide?step=4" class="stepped-pagination__link" rel="prev">
        <span class="stepped-pagination__link-title">
        <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        Previous
        </span>
        <span class="visually-hidden">:</span>
        <span class="stepped-pagination__link-label">What happens next</span>
    </a>
    </li>
  </ul>
</div>

