{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block pageScripts %}

<script>

  var armPageCount = localStorage.getItem('armPages');
  var newArmPageCount = (armPageCount*1 + 1);
  $(".pageNumber").text(newArmPageCount);
  localStorage.setItem('armPages', newArmPageCount);

</script>

{% endblock %}



{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-caption-xl">
             <span class="pageNumber"></span> / {{ data['armsInjuredParts'] | length + 1 }} questions about your arm</span>
          <h1 class="govuk-fieldset__heading">
            Select any injuries to your fingers or thumb
          </h1>
      </legend>


      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "fingerThumbInjuries",
        name: "fingerThumbInjuries",
        hint: {
          text: fingerThumbInjuriesQuestionHint
        },
        items: [
          {
            value: " Dislocated finger",
            text: "Dislocated finger",
            checked: checked("fingerThumbInjuries", " Dislocated finger")
          },
          {
            value: " Broken finger",
            text: "Broken finger",
            checked: checked("fingerThumbInjuries", " Broken finger")
          },
          {
            value: " Loss of finger",
            text: "Loss of finger",
            checked: checked("fingerThumbInjuries", " Loss of finger")
          },
          {
            value: " Loss of part of finger",
            text: "Loss of part of finger",
            checked: checked("fingerThumbInjuries", " Loss of part of finger")
          },
          {
            value: " Broken thumb",
            text: "Broken thumb",
            checked: checked("fingerThumbInjuries", " Broken thumb")
          },
          {
            value: " Loss of fingernail",
            text: "Loss of fingernail",
            checked: checked("fingerThumbInjuries", " Loss of fingernail")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
