{% extends "layout.html" %}

{% block pageTitle %}
{{ policeForceQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="/form-handler" method="post">

      <h1 class="govuk-heading-xl">What police force is dealing with the crime?</h1>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-visually-hidden" for="name">
          What police force is dealing with the crime?
        </label>
        <!-- This gets the autocomplete an puts it in the div with an id="autocomplete". The files used for this are:
        - app/assets/javascripts/accessible-autocomplete.min.js
        - app/assets/sass/components/_accessible-autocomplete.scss
        More details on this can be found here: https://github.com/alphagov/accessible-autocomplete -->
        {% if data['incident-location'] === 'England' %}
        <div id="englishPolice"></div>
        {% endif %}
        {% if data['incident-location'] === 'Scotland' %}
        <div id="scottishPolice"></div>
        {% endif %}
        {% if data['incident-location'] === 'Wales' %}
        <div id="welshPolice"></div>
        {% endif %}
      </div>

      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>

  </div>
</div>
</div>
</div>

{% endblock %}