{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<main role="main" class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Help us to test the new criminal injuries compensation service</h1>

      <p class="govuk-body-l">We need you to test our new service to help improve it for everyone. Your participation is voluntary and will not affect your claim in any way.</p>
      <p class="govuk-body">You can help by selecting the 'agree and apply now' button below to complete your application.</p>


      <h2 class="govuk-heading-l">Your feedback</h2>

      <p class="govuk-body">In addition to helping us test the new service we would like your feedback. It will help us to understand your experience of the service and find out what worked and what didn't, to allow us to improve it for everyone.</p>
      <p class="govuk-body">Your personal circumstances will remain private, however we will use the contact details you provide in the application to contact you by phone or email. </p>
      <p class="govuk-body">When you are contacted, you can choose not to take part in the research.</p>

      <h2 class="govuk-heading-l">Questions or concerns</h2>

      <p class="govuk-body">If you need help, you can call us on 0300 003 3601, and select option 8.</p>
      <p class="govuk-body">Phone lines are open Monday to Friday 8.30am to 5pm, except Wednesday when they open at 10am.</p>

      <h2 class="govuk-heading-l">We need your consent</h2>

      <p class="govuk-body">By selecting the 'Agree and apply now' button below, you are agreeing to participate in our test of the new service and to allow us to contact you for your feedback.</p>

      <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="application/start-page" role="button">Agree and apply now</a>

      <h2 class="govuk-heading-l">If you do not want to take part</h2>
      <p class="govuk-body">If you do not wish to take part in our research, you can apply for compensation through <a href="https://www.cica.gov.uk/OAS/Account/create" target="_blank">our current online application service</a>.</p>


    </div>

<!--    <div class="govuk-grid-column-one-third">
  <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a target="_blank" href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide">
                A guide to the Criminal Injuries Compensation Scheme
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>--->
  </div>
</main>
</div>

{% endblock %}
