{% extends "layout.html" %}

{% block pageTitle %}
{{ upperLimbsIneligibleQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "upperLimbsIneligible",
        name: "upperLimbsIneligible",
        fieldset: {
          legend: {
            text: upperLimbsIneligibleQuestion,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: upperLimbsIneligibleQuestionHint
        },
        items: [
          {
            value: "injury1",
            text: "Black eye",
            checked: checked("upperLimbsIneligible", "injury1")
          },
          {
            value: "injury2",
            text: "Bloody nose",
            checked: checked("upperLimbsIneligible", "injury2")
          },
          {
            value: "injury3",
            text: "Broken ear bone",
            checked: checked("upperLimbsIneligible", "injury3")
          },
          {
            value: "injury4",
            text: "Broken hyoid (throat bone)",
            checked: checked("upperLimbsIneligible", "injury4")
          },
          {
            value: "injury5",
            text: "Broken nose",
            checked: checked("upperLimbsIneligible", "injury5")
          },
          {
            value: "injury6",
            text: "Bruises",
            checked: checked("upperLimbsIneligible", "injury6")
          },
          {
            value: "injury7",
            text: "Cuts",
            checked: checked("upperLimbsIneligible", "injury7")
          },
          {
            value: "injury8",
            text: "Hair pulled out",
            checked: checked("upperLimbsIneligible", "injury8")
          },
          {
            value: "injury9",
            text: "Loose teeth",
            checked: checked("upperLimbsIneligible", "injury9")
          },
          {
            value: "injury10",
            text: "Muscle, ligament, or tendon injury",
            checked: checked("upperLimbsIneligible", "injury10")
          },
          {
            value: "injury11",
            text: "One perforated eardrum",
            checked: checked("upperLimbsIneligible", "injury11")
          },
          {
            value: "injury12",
            text: "Scratched eye",
            checked: checked("upperLimbsIneligible", "injury12")
          },
          {
            value: "injury13",
            text: "Temporary blurred vision",
            checked: checked("upperLimbsIneligible", "injury13")
          },
          {
            value: "injury14",
            text: "Other",
            checked: checked("upperLimbsIneligible", "injury14")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
