
{% extends "layout.html" %}

{% block pageTitle %}
  Minors journey concepts - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Mental injuries concepts
      </h1>

      <p class="govuk-body-l">Prototypes exploring mental injuries concepts</p>

      <p><strong>Concept 1</strong>: Mental injuries initial qiestions</p>
      <p><a href="/concepts/mental-injuries/v1/mental-health">Mental injuries questions v1.0</a></p>
    </div>
</div>

{% endblock %}
