
{% extends "layout.html" %}

{% block pageTitle %}
  Minors journey concepts - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Mental injuries concepts
      </h1>

      <p class="govuk-body-l">Prototypes exploring mental injuries concepts</p>
      <hr>

      <h2 class="govuk-heading-m">Concept 1</h2>

      <img class="responsive" src="/public/images/mental-injuries-flow-1.png" />
      <p><a href="/public/images/mental-injuries-flow-1.png" target="_blank">Open this image in a new tab</a></p>
      <p><a href="/concepts/mental-injuries/v1/mental-health" class="govuk-button govuk-button--secondary">View prototype</a></p>
      <hr>

      <h2 class="govuk-heading-m">Concept 2</h2>
      <img class="responsive" src="/public/images/mental-injuries-flow-2.png" />
      <p><a href="/public/images/mental-injuries-flow-2.png" target="_blank">Open this image in a new tab</a></p>
      <p><a href="/concepts/mental-injuries/v2/mental-health"  class="govuk-button govuk-button--secondary">View prototype</a></p>
      <hr>

      <h2 class="govuk-heading-m">Concept 3</h2>
      <img class="responsive" src="/public/images/mental-injuries-flow-3.png" />
      <p><a href="/public/images/mental-injuries-flow-3.png" target="_blank">Open this image in a new tab</a></p>
      <p><a href="/concepts/mental-injuries/v3/registered-with-gp"  class="govuk-button govuk-button--secondary">View prototype</a></p>


      <h2 class="govuk-heading-m">Concept 4</h2>
      <img class="responsive" src="/public/images/mental-injuries-flow-4.png" />
      <p><a href="/public/images/mental-injuries-flow-4.png" target="_blank">Open this image in a new tab</a></p>
      <p><a href="/concepts/mental-injuries/v4/registered-with-gp"  class="govuk-button govuk-button--secondary">View prototype</a></p>


    </div>
</div>

{% endblock %}
