{% extends "layout.html" %}
{% block pageTitle %}
{{ declarationHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ declarationHeading }}
    </h1>

        <p class="govuk-body">By submitting this application, I, Mr Enter Name, confirm Ms Child Name, agrees that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the information they’ve given here is true as far as they know</li>
          <li>CICA can share the information they’ve given in this claim with:
            <ul>
              <li>police, prosecutors and ACRO Criminal Records Office — includes getting a record of their criminal convictions, if one exists</li>
              <li>medical organisations and staff, including police medical staff</li>
              <li>any other individuals or organisations needed to process this application (including medical or other experts)</li>
              </ul>
          <li>CICA can receive information from the organisations and individuals described above</li>
          <li>if we deliberately provide information that we know is wrong or misleading, we may be prosecuted and this application for compensation may be refused.</li>
          <li>I have the authority to complete and deal with all matters relating to this application form on their behalf.</li>
        </ul>

        <p class="govuk-body">We often have to ask their GP or other health service provider for evidence about their injuries and treatment. We will let you know if we need to do this.</p>

        <p class="govuk-body">Read our privacy notice to see <a href="https://www.gov.uk/guidance/cica-privacy-notice" target="_blank">how we use your data (opens in new tab)</a>.</p>

    <form class="form" method="post">

      {{ govukCheckboxes({
        idPrefix: "agreeToDeclaration",
        name: "agreeToDeclaration",
        items: [
          {
            value: "agree",
            text: "We have read and agree with the declaration above",
            checked: checked("agreeToDeclaration", "agree")
          }
        ]
      }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
          text: "Submit"
        }) }}

    </form>
  </div>
</div>
{% endblock %}

<!-- Note: this content is correct as of 24 September 2021 -->
