{% extends "layout.html" %}

{% block pageTitle %}
{{ contextYourDetailsHeading   }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your emails
    </h1>

    <form class="form" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      <p class="govuk-body">We've sent a 6-digit code to you.
      </p>

      {{ govukInput({
        label: {
          text: "Enter the 6-digit code",
          classes: "govuk-label--xs"
        },
        id: "user-email-address",
        name: "user-email-address"
      }) }}

      {{ govukButton({
          text: "Continue"
          }) }}

    </form>

  </div>
</div>

</main>

</div>

{% endblock %}
