{% extends "layout.html" %}

{% block pageTitle %}
Select any injuries to the tissue on your torso - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherTorsoTissueInjury",
        name: "otherTorsoTissueInjury",
        value: data['otherTorsoTissueInjury'],
        type: "text",
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "torsoTissueInjuries",
        name: "torsoTissueInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the tissue on your torso",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "Muscle",
          text: "Muscle",
          checked: checked("torsoTissueInjuries", "Muscle"),
          id: "Muscle damage on torso"
        },
        {
          value: "Ligament",
          text: "Ligament",
          checked: checked("torsoTissueInjuries", "Ligament"),
          id: "Ligament damage on torso"
        },
          {
            value: "Tendon",
            text: "Tendon",
            checked: checked("torsoTissueInjuries", "Tendon"),
            id: "Tendon damage on torso"
          },
          {
            value: "Cartilage",
            text: "Cartilage",
            checked: checked("torsoTissueInjuries", "Cartilage"),
            id: "Cartilage damage on torso"
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("torsoTissueInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/simple-injury-list.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
