{% extends "layout.html" %}
{% block pageTitle %}
{{ compensationQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

            {% from 'radios/macro.njk' import govukRadios %}
            {% from "input/macro.njk" import govukInput %}



            {% set appliedBefore %}
            {{ govukInput({
                  label: {
                    "text": compWho
                  },
                  id: "comp-who",
                  name: "comp-who",
                  classes: "govuk-!-width-two-thirds",
                  value: data['comp-who']
                    }) }}
            {% endset -%}






            {% set compNoHtml %}
            {{ govukInput({
                  id: "comp-no",
                  name: "comp-no",
                  value: data['comp-no'],
                  classes: "govuk-!-width-two-thirds",
                  label: {
                    text: compNoHint
                  }
                }) }}
            {% endset -%}

            {{ govukRadios({
                  idPrefix: "otherCompensation",
                  name: "otherCompensation",
                  currentValue: data['otherCompensation'],
                  fieldset: {
                    legend: {
                      text: compensationQuestion,
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--xl"
                    }
                  },
                  hint: {
                    text: compensationHint
                  },
                  items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    conditional: {
                      html: appliedBefore
                    }
                  },
                  {
                    value: "No",
                    text: "No",
                    conditional: {
                      html: compNoHtml
                    }
                  }
                  ]
                }) }}

      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        "text": "Continue"
      }) }}
    </form>
  </div>
</div>
</div>
</main>
</div>
{% endblock %}
