{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Special expenses
    </h1>

    <p class="govuk-body">We’re going to ask you about specific payments you may have had to make, or will make, because of the injuries caused by the crime.</p>

    <p class="govuk-body">We can only consider certain expenses – known as “special expenses” – and will ask you questions about these.</p>

    <p class="govuk-body">We’ll consider this application for special expenses if the victim has experienced one of the following for more than 28 weeks due to their injuries:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>lost earnings</li>
      <li>lost earning capacity</li>
      <li>or been incapacitated to a similar extent</li>
    </ul>

    <p class="govuk-body">The 28 weeks can be a single period of time or cover several periods of time since the crime. Any special expenses payment will include payment for the first 28 weeks from when they were injured.</p>

    <p class="govuk-body">We will ask you to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>give proof of payments made or received</li>
      <li>provide evidence of this</li>
    </ul>

    <p class="govuk-body">We may ask you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>if applicable items were recommended by a specialist</li>
    </ul>

    <p class="govuk-body">This ensures any money you’ve paid or are likely to pay for products or services are not available free of charge from other sources.</p>

    <form class="form" method="post">
      {{ govukButton({
          text: "Continue"
          }) }}
    </form>
  </div>
</div>

{% endblock %}
