
{% extends "layout.html" %}

{% block pageTitle %}
  Making email address optional (SMS confirmation) - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Minor journey impact section
      </h1>

      <p class="govuk-body-l">Concept flow to replace minors loss of earnings and special expenses section with an 'impact' section.</p>

      <hr>
      <br>
      <h2 class="govuk-heading-m">Concept flow</h2>
      <p><img class="responsive" src="/public/images/minors-impact-section.png" /></p>
      <p><a href="/concepts/minors-impact-section/context-impact">Concept prototype</a></p>

    </div>
</div>

{% endblock %}
