{% extends "layout.html" %}

{% block pageTitle %}
{{ dmiMoreInfoQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}
      {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "affectedSixMonths",
            name: "affectedSixMonths",
            fieldset: {
            legend: {
              text: "Has this lasted for more than 28 weeks?",
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
              }
            },
            hint: {
              text: "This can be a single period of time or cover several periods of time since the crime."
            },
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("affectedSixMonths", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("affectedSixMonths", "No")
            }
            ]
            }) }}

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help understanding the timeframe of 28 weeks
                    </span>
                </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">28 weeks is more than six months.</p>
                      <p class="govuk-body">You cannot get a payment for the first 28 weeks of any loss of earnings suffered.</p>
                    </div>
              </details>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            text: "Continue"
            }) }}


    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
