{% extends "layout.html" %}

{% block pageTitle %}
{{ addressQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-heading-xl">{{ addressQuestion }}</h1>
        <h2 class="govuk-heading-l">{{ addressPostcodeLabel }}</h2>
        <p>
          <span style="font-size: 24px; margin-right:1em"><strong>
              {% if data['postcode'] %}
              {{ data['postcode'] }}
              {% else %}
              SW1A 1AA
              {% endif %}
            </strong></span>
          <a href="address">Change</a></p>

      </div>
      {% from "select/macro.njk" import govukSelect %}

      {{ govukSelect({
          id: "address-lookup-result",
          name: "address-lookup-result",
          label: {
            text: selectAddressLable,
            "classes": 'govuk-label--l'
          },


          items: [
          {
            value: "nb-of-addresses",
            text: "5 addresses found",
            selected: true

          },
          {
            value: "1 Testing street, Glasgow ",
            text: "1 Testing street, Glasgow"
          },
          {
            value: "2 Testing street, Glasgow ",
            text: "2 Testing street, Glasgow"
          },
          {
            value: "3 Testing street, Glasgow ",
            text: "3 Testing street, Glasgow"
          },
          {
            value: "4 Testing street, Glasgow ",
            text: "4 Testing street, Glasgow"
          },
          {
            value: "5 Testing street, Glasgow ",
            text: "5 Testing street, Glasgow"
          }
          ]
        }) }}
      {{ govukButton({
          "text": "Continue"
        }) }}
      <p><a href="address-manually">I can not find my address in the list</a></p>
    </form>
  </div>
</div>
</main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->