{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}
      {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "stoppedWorking",
            name: "stoppedWorking",
            fieldset: {
            legend: {
              text: "Was the victim unable to work or look for a job because of the crime?",
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
              }
            },
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("stoppedWorking", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("stoppedWorking", "No")
            }
            ]
            }) }}

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with working and looking for a job
                    </span>
                </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">The victim being unable to work includes them missing work or having to leave their job because of the injuries they received from the crime.</p>
                      <p class="govuk-body">It can also apply to them being unable to look for another job in any line of work because of the injuries.</p>
                    </div>
              </details>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            text: "Continue"
            }) }}

    </form>
  </div>
</div>
{% endblock %}
