{% extends "layout.html" %}
{% block pageTitle %}
{{ EnglandLocationQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from "input/macro.njk" import govukInput %}
      <!-- @todo the variable crimeReferenceNumberHint is not displaying but I dont knwo why It didn't display as text either so I've moved it out as a variable fior the time being  -->
      {{ govukInput({
            "label": {
            "text": EnglandLocationQuestion,
            "isPageHeading": true,
            "classes": 'govuk-label--xl'
            },
            hint: {
            text: EnglandLocationHint
            },
            "classes": 'govuk-input--width-20',
            "id": "EnglandLocation",
            "name": "EnglandLocation",
            value: data['EnglandLocation']
            }) }}

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>
  </div>
</div>
</main>
</div>
{% endblock %}
