{% extends "layout.html" %}
{% block page_title %}
  Check your answers {% endblock %}
{% block content %}

<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %} {{ govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Check your answers before sending your application
        </h1>
        <!-- ** Your details ************************************************************************************************************************ -->
        <!-- only add a heading for a list if there is more than one list -->
        <h2 class="govuk-heading-l">
          Your details
        </h2>

        <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
        <!--   * `govuk-check-your-answers--short` for short questions -->
        <!--   * `govuk-check-your-answers__questions-long` for long questions -->
        <!--   * none for single group of q&a -->
        <dl class="govuk-check-your-answers govuk-check-your-answers--short">

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Name
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['title'] }}&nbsp;{{ data['first-name'] }}&nbsp;{{ data['last-name'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="name">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          {% if data['other-names'] %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Other names
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['other-names'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="name">
                Change<span class="visually-hidden"> other name</span>
              </a>
            </dd>
          </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Date of birth
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="date-of-birth">
                Change<span class="visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Email address
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['emailAddress'] }}<br />
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="email-address">
                Change<span class="visually-hidden"> email address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Address
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {% if data['address-lookup-result'] %}
                {{  data['address-lookup-result'] }}{{ data['postcode'] }}
              {% elseif data['address-non-UK'] %}
                {{  data['address-non-UK'] }}
              {% else %}
                {{ data['address-line-1'] }}<br />
              {% if data['address-line-2'] %}
                {{ data['address-line-2'] }}<br />
              {% endif %}
                {{ data['address-town'] }}<br />
              {% if data['address-county'] %}
                {{ data['address-county'] }}<br />
              {% endif %}
              {% if data['address-postcode'] %}
                {{ data['address-postcode'] }}<br />
              {% endif %}
              {% endif %}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="address">
                Change<span class="visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Telephone number
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['phoneNumber'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="phone-number">
                Change<span class="visually-hidden"> phone number</span>
              </a>
            </dd>
          </div>
        </dl>
        <!-- ** /Your details ************************************************************************************************************************ -->

        <!-- ** Your eligibility ************************************************************************************************************************ -->
        <h2 class="govuk-heading-l">
          Your eligibility
        </h2>

        <dl class="govuk-check-your-answers govuk-check-your-answers--long">

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ britishCitizenQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['britishCitizen'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="british-citizen">
                Change<span class="visually-hidden">British citizen </span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ otherCompensationQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['otherCompensation'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="compensation">
                Change<span class="visually-hidden"> compensation</span>
              </a>
            </dd>
          </div>

          {% if data['otherCompensation'] === 'yes' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ whoCompensationQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['who-claim-from'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="compensation-who">
                Change<span class="visually-hidden">{{ whoCompensationQuestion }}</span>
              </a>
            </dd>
          </div>
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ howMuchCompensationQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['how-much-compensation'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="compensation-amount">
                Change<span class="visually-hidden"> compensation amount</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% if data['otherCompensation'] === 'no' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ compensationWhyNotQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['why-not-claim'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="compensation-why-not">
                Change<span class="visually-hidden"> reason you didn't apply for compensation</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if data['previous-applications'] %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ previousApplicationsQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['previous-applications'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="previous-applications">
                Change<span class="visually-hidden"> {{ previousApplicationsQuestion }}</span>
              </a>
            </dd>
          </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ whyDelayQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['applicationDelay'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="application-delay">
                Change<span class="visually-hidden"> {{ whyDelayQuestion }}</span>
              </a>
            </dd>
          </div>

        </dl>
        <!-- ** /Your eligibility ************************************************************************************************************************ -->

        <!-- About the crime -->
        <h2 class="govuk-heading-l">
          About the crime
        </h2>

        <dl class="govuk-check-your-answers govuk-check-your-answers--long">

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ incidentReportedQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['crimeReported'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="incident-reported">
                Change<span class="visually-hidden"> {{ incidentReportedQuestion }}</span>
              </a>
            </dd>
          </div>

          {% if data['crimeReported'] === 'yes' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ crimeReportedDateQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['incidentReported-day'] }}/{{ data['incidentReported-month'] }}/{{ data['incidentReported-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="crime-reported-date">
                Change<span class="visually-hidden"> date crime was reported</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if data['crimeReported'] === 'yes' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ policeForceQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['police-force'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="reporting-details-what-force">
                Change<span class="visually-hidden"> {{ policeForceQuestion }}</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ policeOfficerNameCA }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['police-officer-name'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="reporting-details-police-officer">
                Change<span class="visually-hidden"> {{ policeOfficerNameCA }}</span>
              </a>
            </dd>
          </div>
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ policeOfficerIdCA }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['police-officer-id'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="reporting-details-police-officer">
                Change<span class="visually-hidden"> {{ policeOfficerIdCA }}</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ crimeReferenceNumberQuestionCA }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['crimeReferenceNumber'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="crime-reference">
                Change<span class="visually-hidden"> {{ crimeReferenceNumberQuestionCA }}</span>
              </a>
            </dd>
          </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ singleOrMultipleIncidentsQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['single-or-multiple-incidents'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="single-or-multiple-incidents">
                Change<span class="visually-hidden"> {{ singleOrMultipleIncidentsQuestion }}</span>
              </a>
            </dd>
          </div>

          {% if data['single-or-multiple-incidents'] === 'Once' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ incidentDateHeading }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['incident-date-day'] }}/{{ data['incident-date-month'] }}/{{ data['incident-date-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="incident-date">
                Change<span class="visually-hidden"> {{ incidentDateHeading }}</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if data['single-or-multiple-incidents'] === 'Over a period of time' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ periodOfAbuseStartQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['period-of-abuse-start-month'] }}/{{ data['period-of-abuse-start-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="period-of-abuse-start">
                Change<span class="visually-hidden"> start of the crimes</span>
              </a>
            </dd>
          </div>
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ periodOfAbuseEndQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['period-of-abuse-end-month'] }}/{{ data['period-of-abuse-end-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="period-of-abuse-end">
                Change<span class="visually-hidden"> end of the crimes</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if data['reportingDelay']  %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ reportingDelayQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{data['reportingDelay']}}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="reporting-delay">
                Change<span class="visually-hidden"> {{ reportingDelayQuestion }}</span>
              </a>
            </dd>
          </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ incidentLocationHeading }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['incident-location'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="incident-location">
                Change<span class="visually-hidden"> {{ incidentLocationHeading }}</span>
              </a>
            </dd>
          </div>

          {% if data['incident-location'] === 'Somewhere else' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ incidentLocationOther }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['somewhere-else'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="incident-location">
                Change<span class="visually-hidden"> {{ incidentLocationOther }}</span>
              </a>
            </dd>
          </div>
          {% endif %}

        </dl>
        <!-- /About the crime -->

        <!-- About the offender -->
        <h2 class="govuk-heading-l govuk-!-padding-top-9">
          About the offender
        </h2>

        <dl class="govuk-check-your-answers govuk-check-your-answers--long">

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ doYouKnowOfdfenderQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['know-offender'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="do-you-know-offender">
                Change<span class="visually-hidden"> {{ doYouKnowOfdfenderQuestion }}</span>
              </a>
            </dd>
          </div>

          {% if data['know-offender'] === 'yes' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ offenderNameQuestionCA }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['first-name-offender'] }}&nbsp;{{ data['last-name-offender'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="offender-name">
                Change<span class="visually-hidden"> {{ offenderNameQuestionCA }}</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if data['living-with-offender-before'] === 'yes' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ ongoingRelationshipQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['ongoing-relationship'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="ongoing-relationship">
                Change<span class="visually-hidden"> {{ ongoingRelationshipQuestion }}</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              {{ whatIsRelationshipQuestion }}
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['relationship-text'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="what-is-relationship">
                Change<span class="visually-hidden"> {{ whatIsRelationshipQuestion }}</span>
              </a>
            </dd>
          </div>
          {% endif %}

        </dl>
        <!-- /About the offender -->

        <h2 class="govuk-heading-l">Consent and submit your application</h2>

        <p class="govuk-body">I understand that to process my application you will share and obtain information about me with:</p>
        <p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the police</li>
            <li>prosecuting authorities</li>
            <li>fraud prevention agencies</li>
          </ul>
        </p>

        <form class="form" method="post">
          {% from "button/macro.njk" import govukButton %}
          {{ govukButton(
            { "text": "Consent and submit" })
          }}
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
