{% extends "layout.html" %}
{% block page_title %}
Check your answers - {{ serviceName }} - GOV.UK
{% endblock %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check your answers before sending your application
    </h1>

    {% include "./includes/_your_details.html" %}

    {% include "./includes/_your_elegability.html" %}

    {% include "./includes/_about_the_crime.html" %}

    {% include "./includes/_police_report.html" %}

    {% include "./includes/_other_compensation.html" %}

    <h2 class="govuk-heading-l">Consent and submit your application</h2>

    <p class="govuk-body">I understand that to process my application you will share and obtain information about me with:</p>
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the police</li>
        <li>prosecuting authorities</li>
        <li>fraud prevention agencies</li>
      </ul>
    </p>

    <form class="form" method="post">
      {% from "button/macro.njk" import govukButton %}
      {{ govukButton(
            { "text": "Consent and submit" })
          }}
    </form>
  </div>
</div>
</main>
</div>

{% endblock %}