{% extends "layout.html" %}
{% block pageTitle %}
{{ scotlandLocationQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
<legend class="govuk-heading-xl">{{scotlandLocationQuestion}}</legend>
      {% from "govuk/components/input/macro.njk" import govukInput %}
      <!-- @todo the variable crimeReferenceNumberHint is not displaying but I dont knwo why It didn't display as text either so I've moved it out as a variable fior the time being  -->
      {{ govukInput({

            label: {
            text: "City or town"
            },
            classes: 'govuk-input--width-20',
            id: "EnglandLocation",
            name: "EnglandLocation"
            }) }}

            {{ govukInput({

                      label: {
                      text: "Name or names of the locations where the crime happened"
                      },
                      hint: {
                      text: "Tell us if the crime happened in, or in the vicinity of particular landmarks, public or private areas or other establishments."
                      },
                      classes: 'govuk-input--width-20',
                      id: "EnglandLocation",
                      name: "EnglandLocation"
                      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
            text: "Continue"
            }) }}

    </form>
  </div>
</div>
</main>
</div>
{% endblock %}
