{% if data['muscleLigamentTendonInjury'] and data['muscleLigamentTendonInjury'].includes("Head, neck or face") %}
  <tr><th class="govuk-table__cell govuk-body">Muscle, ligament or tendon injury on head, neck or face</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['muscleLigamentTendonInjury'] and data['muscleLigamentTendonInjury'].includes("Torso") %}
  <tr><th class="govuk-table__cell govuk-body">Muscle, ligament or tendon injury on torso</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['muscleLigamentTendonInjury'] and data['muscleLigamentTendonInjury'].includes("Arm or hand") %}
  <tr><th class="govuk-table__cell govuk-body">Muscle, ligament or tendon injury on arm or hand</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['muscleLigamentTendonInjury'] and data['muscleLigamentTendonInjury'].includes("Leg or foot") %}
  <tr><th class="govuk-table__cell govuk-body">Muscle, ligament or tendon injury on leg or foot</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
