{% extends "layout.html" %}
{% block pageTitle %}
{{ previousApplicationsQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">


      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}


      {% set referenceHtml %}
      {{ govukInput({
            id: "password",
            name: "password",
            value: data['password'],
            classes: "govuk-!-width-full",
            label: {
              text: "Enter your password"
            }
          }) }}
      {% endset -%}

      {{ govukRadios({
            classes: "govuk-radios--inline",
            "idPrefix": "know-password",
            name: "know-password",
            value: data['know-password'],
            "fieldset": {
              "legend": {
              text: "Do you know your password?",
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
              }
              },
            "items": [
            {
            "value": "Yes",
            text: "Yes",
            checked: checked("know-password", "Yes"),
            conditional: {
                html: referenceHtml
              }
            },
            {
            "value": "No",
            text: "No",
            checked: checked("know-password", "No")
            }
            ]
            }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            text: "Continue"
            }) }}

    </form>
  </div>

</div>
</main>
</div>
{% endblock %}
