{% extends "layout.html" %}

{% block pageTitle %}
{{ incidentLocationHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}

      {{ govukRadios({
            idPrefix: "incidentlocation",
            name: "incidentlocation",
            value: data['incidentlocation'],
            fieldset: {
              legend: {
                text: incidentLocationHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
            {
              value: "England",
              text: "England",
              checked: checked("incidentlocation", "England")
            },
            {
              value: "Scotland",
              text: "Scotland",
              checked: checked("incidentlocation", "Scotland")
            },
            {
              value: "Wales",
              text: "Wales",
              checked: checked("incidentlocation", "Wales")
            },
            {
              value: "somewhere-else",
              text: "Somewhere else",
              checked: checked("incidentlocation", "somewhere-else")
            }
            ]
          }) }}

          {{ govukDetails({
            summaryText: "Help with where it happened",
            text: "If the crime took place in more than one of these countries, you can provide additional details at the end of this application."
          }) }}


          <!-- hidden field records screen exited for save and return functionality -->
          {% include "../../includes/screen-exited.html" %}
          <!-- button group for save and return -->
          {% include "../../includes/buttons.html" %}

          {% from "govuk/components/details/macro.njk" import govukDetails %}

    </form>

  </div>
</div>

{% endblock %}
