  {% extends "layout.html" %}

  {% block pageTitle %}
  {{ addressQuestion }} - {{ serviceName }} - GOV.UK
  {% endblock %}

  {% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        {% from "textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          'name': "address-non-UK",
          'id': "address-non-UK",
          'value': data ['address-non-UK'],
          label: {
            text: addressQuestion,
            classes: "govuk-fieldset__legend--xl govuk-label--xl",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
          "text": "Continue"
        }) }}

      </form>
    </div>
  </div>
  </main>
  </div>
  {% endblock %}
