{% extends "layout.html" %}

{% block pageTitle %}
Select any injuries to the skin - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherHeadSkinInjury",
        name: "otherHeadSkinInjury",
        value: data['otherHeadSkinInjury'],
        type: "text",
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "headSkinInjuries",
        name: "headSkinInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the skin on your head, face or neck",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Cuts",
            text: "Cuts",
            checked: checked("headSkinInjuries", "Cuts"),
            id: "Cuts"
          },
          {
            value: "Bruises",
            text: "Bruises",
            checked: checked("headSkinInjuries", "Bruises"),
            id: "Bruises"
          },
          {
            value: "Scars",
            text: "Scars",
            checked: checked("headSkinInjuries", "Scars"),
            id: "Scars"
          },
          {
            value: "Burns",
            text: "Burns",
            checked: checked("headSkinInjuries", "Burns"),
            id: "Burns"
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("headSkinInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/simple-injury-list.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
