
{% extends "layout.html" %}
{% block pageTitle %}
Tell us the reason why this application was not sent until now - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

          {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

            {{ govukTextarea({
                  name: "delay-application",
                  id: "delay-application",
                  currentValue: data['delay-application'],
                  value: data['delay-application'],
                  hint: {
                    text: "There is a time limit to make this application. The time limit can be extended where you could not apply sooner because of exceptional circumstances and the application can be decided without further extensive enquiries."
                  },
                  label: {
                    text: "Tell us the reason why this application was not sent until now",
                    classes: "govuk-label--xl"
                  }
                }) }}

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with why we ask about the application not being sent until now
                        </span>
                    </summary>
                        <div class="govuk-details__text">
                          <h2 class="govuk-heading-s">
                            If the victim was an adult at the time of the crime (18 years or older)
                          </h2>
                          <p class="govuk-body">
                            The application must be sent as soon as is reasonably practicable and in any event, no later than 2 years after the crime.
                          </p>
                          <h2 class="govuk-heading-s">
                            If the victim was a child at the time of the crime (under 18 years old)
                          </h2>
                          <p class="govuk-body">
                            The application must be received:
                            <ul class="govuk-list govuk-list--bullet">
                              <li>
                                On or before their 20th birthday, if the crime was reported to police before their 18th birthday
                              </li>
                              <li>
                                within 2 years of the crime first being reported to police, if the incident was reported on or after their 18th birthday
                              </li>
                            </ul>
                          </p>
                          <h2 class="govuk-heading-s">
                            Extending the time limits
                          </h2>
                          <p class="govuk-body">
                            We can only extend the time limits where:
                            <ul class="govuk-list govuk-list--bullet">
                              <li>
                                due to exceptional circumstances, the application could not be made earlier (for example, where injuries stopped the victim applying)
                              </li>
                              <li>
                                the evidence provided to support the application means it can be decided without further extensive enquiries
                              </li>
                            </ul>
                          </p>
                          <p class="govuk-body">
                            You may have to provide evidence to support any reason for a delay in applying. This evidence may include a letter from your GP or other medical professional.
                          </p>
                          <p class="govuk-body">
                            Any evidence to support your application should:
                            <ul class="govuk-list govuk-list--bullet">
                              <li>
                                show why this application could not have been made earlier and explain the entire period of the delay
                              </li>
                              <li>
                                provide us with enough information to make a decision on an application without the need for further extensive enquiries
                              </li>
                            </ul>
                          </p>
                        </div>
                </details>


                {{ govukButton({
                text: "Continue"
                }) }}

    </form>
  </div>
</div>

{% endblock %}
