{% extends "layout.html" %}

{% block pageTitle %}
{{ impactHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ impactHeading }}
    </h1>

    <p class="govuk-body">On the next page we will ask you to select an option based on how the crime affected you.</p>

    <p class="govuk-body">We appreciate that this may be difficult for you.</p>

    <h2 class="govuk-heading-m">
      If you need help or support
    </h2>

    <p class="govuk-body">You can contact us for help with your application on 0300 003 3601. Select option 8.</p>
    <p class="govuk-body">Our phone lines are open Monday to Friday 8.30am to 5pm except Wednesday when they open at 10am.</p>
    <p class="govuk-body">For practical or emotional support in England and Wales <a href="https://www.victimandwitnessinformation.org.uk/">visit the Victim and Witness Information</a> website.</p>
    <p class="govuk-body">There is a different website if you live in <a href="https://www.mygov.scot/victim-witness-support/">Scotland</a>.</p>


    <form class="form" method="post">
      {{ govukButton({
          "text": "Continue"
          }) }}
    </form>
  </div>
</div>

</main>

</div>

{% endblock %}
