{% extends "layout.html" %}

{% block pageTitle %}
{{ impactHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ impactHeading }}
    </h1>
    <p class="govuk-body-l">We pay compensation for sexual assault or abuse to recognise the distress and mental trauma you suffered.</p>

    <p class="govuk-body">We always get a report from the police as evidence of the crime and help us make a decision.</p>
    <p class="govuk-body">Depending on the facts of your application, we may ask you to give us more information.</p>
    <p class="govuk-body">On the next page we will ask you to tell us how the crime has affected you by selecting the option that applies to you.</p>

    <h2 class="govuk-heading-m">
      If you need help or support
    </h2>

    <p class="govuk-body">You can contact us for help with your application by calling 0300 003 3601 and selecting option 8.</p>
    <p class="govuk-body">Our phone lines are open Monday to Friday 8.30am to 5pm except Wednesday when they open at 10am.</p>
    <p class="govuk-body">You can get information about organisations that offer help and support from the <a class="govuk-body" href="https://www.victimsinformationservice.org.uk/" target="_blank">Victims' Information Service</a>.</p>

    <form class="form" method="post">
      {{ govukButton({
          "text": "Continue"
          }) }}
    </form>
  </div>
</div>

</main>

</div>

{% endblock %}