{% extends "layout.html" %}
{% block page_title %}
  Question page
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form"  method="post">

            <!-- <h1 class="govuk-heading-l">
            What is your full name?
            </h1> -->

            {% from "input/macro.njk" import govukInput %}
            
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: [
                {
                  text: emailAddressQuestion,
                  href: "#emailAddress"
                }
              ]
            }) }}
            {{ govukInput({
            "label": {
            "text": emailAddressErrorSubHeader,
            "isPageHeading": true,
            "classes": 'govuk-label--xl'
          },
          hint: {
            text: emailAddressHint
          },
          errorMessage: {
          text: emailAddressError
          },
            "classes": 'govuk-input--width-20',
            "id": "emailAddress",
            "name": "emailAddress",
            "value": data['emailAddress']
            }) }}

            {% from "button/macro.njk" import govukButton %}

            {{ govukButton({
            "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
      <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">Added a short piece of guidance - JK</p>
      </div>
    </main>
  </div>
{% endblock %}
