{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "mostCommonInjuriesBreaks",
        name: "mostCommonInjuriesBreaks",
        fieldset: {
          legend: {
            text: "Select where you have broken bones",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: " Head, face or neck",
            text: "Head, face or neck",
            checked: checked("mostCommonInjuriesBreaks", " Head, face or neck")
          },
          {
            value: " Arm or hand",
            text: "Arm or hand",
            checked: checked("mostCommonInjuriesBreaks", "  Arm or hand")
          },
          {
            value: " Torso",
            text: "Torso",
            checked: checked("mostCommonInjuriesBreaks", " Torso")
          },
          {
            value: " Leg or foot",
            text: "Leg or foot",
            checked: checked("mostCommonInjuriesBreaks", " Leg or foot")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

    </form>

    {% include "../../includes/answers-template.html" %}

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
