{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "armsInjuries",
        name: "armsInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to your arm",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Broken arm",
            text: "Broken arm",
            checked: checked("armsInjuries", "Broken arm")
          },
          {
            value: "Loss of arm",
            text: "Loss of arm",
            checked: checked("armsInjuries", "Loss of arm")
          },
          {
            value: "Paralysed arm",
            text: "Paralysed arm",
            checked: checked("armsInjuries", "Paralysed arm")
          },
          {
            value: "none",
            text: "I do not have these injuries",
            checked: checked("headInjury", "none"),
            id: "none"
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
