{% extends "layout.html" %}


{% block pageTitle %}
There is a problem with the service - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">Try again later.</p>
        <p class="govuk-body">
          We have not saved your answers. When the service is available, you will have to start again.
        </p>
        <p class="govuk-body">Contact us if you have any questions.</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Telephone: 0300 003 3601</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Outside the UK: +44 (0) 203 684 2517</p>
        <p class="govuk-body"><a href="https://www.relayuk.bt.com/">Relay UK</a>: (if you cannot hear or speak on the phone) 18001 0300 003 3601 </p>
        <p class="govuk-body">Our phone lines are open Monday to Friday, 10am to 3pm.</p>

        <p class="govuk-body"><a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges<a/></p>
        </div>
    </div>
  </div>

{% endblock %}
