{% extends "layout.html" %}

{% block pageTitle %}
{{ contextPrevCompHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ contextPrevCompHeading }}
    </h1>

    <p class="govuk-body">We're going to ask about any other compensation or damages you’ve been paid for your injuries from any other source.</p>

    <p class="govuk-body">This includes any compensation or damages you’ve not already received.</p>

    <p class="govuk-body">This is so we can work out how much compensation you may receive.</p>

    <form class="form" method="post">
      <!-- hidden field records screen exited for save and return functionality -->
      {% include "../../includes/screen-exited.html" %}
      <!-- button group for save and return -->
      {% include "../../includes/buttons.html" %}
    </form>
  </div>
</div>

</main>

</div>

{% endblock %}
