{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}
      {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "anyOtherExpenses",
            name: "anyOtherExpenses",
            fieldset: {
            legend: {
              text: "Have they paid for any other expenses not already mentioned?",
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
              }
            },
            hint: {
              text: "If yes, tell us more at the end of this application."
            },
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("anyOtherExpenses", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("anyOtherExpenses", "No")
            }
            ]
            }) }}

            <!-- DETAILS ELEMENT -->
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with any other expenses
                    </span>
                </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">Other expenses can be the cost of:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>special equipment
                        <li>supervision by care professionals</li>
                        <li>administrators who handle their affairs</li>
                        <li>setting up a trust as instructed by a claims officer</li>
                      </ul>
                    </div>
              </details>
            <!-- DETAILS ELEMENT -->

      <!-- hidden field records screen exited for save and return functionality -->
      {% include "../../includes/screen-exited.html" %}
      <!-- button group for save and return -->
      {% include "../../includes/buttons.html" %}

    </form>
  </div>
</div>
{% endblock %}
