{% extends "layout.html" %}

{% block pageTitle %}
{{ armInjuriesQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form injuries" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "armInjuries",
        name: "armInjuries",
        fieldset: {
          legend: {
            text: armInjuriesQuestion,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: armInjuriesQuestionHint
        },
        items: [
          {
            value: "injury1",
            text: "Broken finger",
            checked: checked("armInjuries", "injury1")
          },
          {
            value: "injury2",
            text: "Bruises",
            checked: checked("armInjuries", "injury2")
          },
          {
            value: "injury3",
            text: "Cuts",
            checked: checked("armInjuries", "injury3")
          },
          {
            value: "injury4",
            text: "Dislocated finger",
            checked: checked("armInjuries", "injury4")
          },
          {
            value: "injury5",
            text: "Keyhole surgery",
            checked: checked("armInjuries", "injury5")
          },
          {
            value: "injury6",
            text: "Loss of fingernail",
            checked: checked("armInjuries", "injury6")
          },
          {
            value: "injury7",
            text: "Muscle, ligament, or tendon injury",
            checked: checked("armInjuries", "injury7")
          },
          {
            value: "other",
            text: "My injuries are not on this list",
            checked: checked("armInjuries", "other")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
