{% extends "layout.html" %}

{% block pageTitle %}
{{ torsoInjuriesQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form injuries" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "torsoInjuries",
        name: "torsoInjuries",
        fieldset: {
          legend: {
            text: torsoInjuriesQuestion,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: torsoInjuriesQuestionHint
        },
        items: [
        {
          value: "injury1",
          text: "Broken rib",
          checked: checked("torsoInjuries", "injury1")
        },
        {
          value: "injury2",
          text: "Bruises",
          checked: checked("torsoInjuries", "injury2")
        },
        {
          value: "injury3",
          text: "Cuts",
          checked: checked("torsoInjuries", "injury3")
        },
        {
          value: "injury4",
          text: "Muscle, ligament, or tendon injury",
          checked: checked("torsoInjuries", "injury4")
        },
          {
            value: "injury5",
            text: "Separated shoulder",
            checked: checked("torsoInjuries", "injury5")
          },
          {
            value: "other",
            text: "My injuries are not on this list",
            checked: checked("torsoInjuries", "other")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
