{% if data['earInjuries'] and data['earInjuries'].includes("Broken ear bone") %}
  <tr><th class="govuk-table__cell govuk-body">Broken ear bone</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['earInjuries'] and data['earInjuries'].includes("Deafness") %}
  <tr><th class="govuk-table__cell govuk-body">Deafness</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['earInjuries'] and data['earInjuries'].includes("Loss of ear") %}
  <tr><th class="govuk-table__cell govuk-body">Loss of ear</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['earInjuries'] and data['earInjuries'].includes("One perforated eardrum") %}
  <tr><th class="govuk-table__cell govuk-body">One perforated eardrum</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['earInjuries'] and data['earInjuries'].includes("Two perforated eardrums") %}
  <tr><th class="govuk-table__cell govuk-body">Two perforated eardrums</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['earInjuries'] and data['earInjuries'].includes("Ringing in ears") %}
  <tr><th class="govuk-table__cell govuk-body">Ringing in ears</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['earInjuries'] and data['earInjuries'].includes("Dizziness") %}
  <tr><th class="govuk-table__cell govuk-body">Dizziness</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
