{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          What happened to you?
        </h1>


        <p class="govuk-body-l">We want to make applying for compensation as easy as possible for you. We pay compensation for sexual assault or abuse to recognise the distress and mental trauma you have suffered.</p>

        <h2 class="govuk-heading-m">
          Sexual assault or abuse
        </h2>

        <p>We will:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ask the police to send us a report of the crime</li>
          <li>not normally ask for your medical records</li>
          <li>usually give you a decision within 3 months </li>
        </ul>

        <h2 class="govuk-heading-m">
          Sexual assault or abuse and additional injuries or losses
        </h2>

        <p>As well as a police report, we:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>will need information about your additional injuries or losses</li>
          <li>will normally ask for your medical records</li>
          <li>may arrange for an expert to diagnose your medical condition</li>
          <li>will usually give you a decision within 12 months</li>
        </ul>

        <form class="form"  method="post">

          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "classes": "govuk-radios",
            "idPrefix": "yourChoice",
            "name": "yourChoice",
            currentValue: data['yourChoice'],
            "fieldset": {
              "legend": {
                "text": 'What happened to you?',
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
            {
              "value": "Sexual assault or abuse only",
              "text": "Sexual assault or abuse only"
            },
            {
              "value": "Sexual assault or abuse and additional injuries or losses",
              "text": "Sexual assault or abuse and additional injuries or losses"
            }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>
      </div>
    </div>

  </main>

</div>

{% endblock %}
