{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          What have you suffered?
        </h1>


        <!-- <p class="govuk-body-l">Any award would contain an element that acknowledges the mental trauma you have suffered.</p> -->

        <h2 class="govuk-heading-m">
          Sexual assault or abuse
        </h2>

        <p class="govuk-body">When you apply because of sexual assault or abuse, we can normally make a quicker decision based on information we get from the police.</p>
        <p class="govuk-body">If we pay you compensation, some of that money acknowledges the mental trauma you have suffered.</p>
        <!-- <p>If you are applying for compensation in respect of other mental or physical injuries, <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#loss-of-earnings" target="_blank">loss of earnings</a>, <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#special-expenses" target="_blank">other expenses</a> or<a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#what-happens-if-you-have-more-than-one-injury" target="_blank"> other consequences</a> suffered, we will require additional evidence from you in order to make our decision.  This usually means it will longer to make a decision.</p> -->
        <h2 class="govuk-heading-m">
          Sexual assault or abuse and other injuries or losses
        </h2>

        <p>We will need more evidence from you if you apply for compensation for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>other mental or physical injuries</li>
          <li>loss of earnings</li>
          <li>other expenses</li>
          <li>pregnancy, loss of foetus or a sexually transmitted disease</li>
        </ul>

        <p>It will normally take longer to make a decision in these cases.</p>

        <form class="form"  method="post">

          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "classes": "govuk-radios",
            "idPrefix": "yourChoice",
            "name": "yourChoice",
            currentValue: data['yourChoice'],
            "fieldset": {
              "legend": {
                "text": 'What have you suffered?',
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
            {
              "value": "Sexual assault or abuse",
              "text": "Sexual assault or abuse"
            },
            {
              "value": "Sexual assault or abuse and other injuries or losses",
              "text": "Sexual assault or abuse and other injuries or losses"
            }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>
      </div>
    </div>

  </main>

</div>

{% endblock %}
