{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block pageScripts %}
<script>



</script>
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        name: "faceSurfaceInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to your face",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "If you do not have any of these injuries you can leave these blank"
        },
        items: [
          {
            value: " Burns to face",
            text: "Burns to face",
            checked: checked("faceSurfaceInjuries", " Burns to face")
          },
          {
            value: " Scarring to face",
            text: "Scarring to face",
            checked: checked("faceSurfaceInjuries", " Scarring to face")
          },
          {
            value: " Cuts or grazes to face",
            text: "Cuts or grazes to face",
            checked: checked("faceSurfaceInjuries", " Cuts or grazes to face")
          },
          {
            value: " Bruises to face",
            text: "Bruises to face",
            checked: checked("faceSurfaceInjuries", " Bruises to face")
          },
          {
            value: " Muscle, ligament, or tendon injury to face",
            text: "Muscle, ligament, or tendon injury to face",
            checked: checked("faceSurfaceInjuries", " Muscle, ligament, or tendon injury to face")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
