
<h2 class="govuk-heading-l">
  Other compensation
</h2>

<dl class="app-check-your-answers app-check-your-answers--long">

  <!-- Previously applied question --->

    <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      {{ previousApplicationsQuestion }}
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['previous-applications'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="previous-applications">
        Change<span class="govuk-visually-hidden">{{ previousApplicationsQuestion }} </span>
      </a>
    </dd>
  </div>

  {% if data['previous-applications'] === 'Yes' %}
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      {{ previousReferenceHint }}
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['previous-reference'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="previous-applications">
        Change<span class="govuk-visually-hidden"> {{ previousReferenceHint }}</span>
      </a>
    </dd>
  </div>
  {% endif %}

  <!-- Compensation question --->

<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    {{ compensationQuestion }}
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['otherCompensation'] }}
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="compensation">
      Change<span class="govuk-visually-hidden"> compensation</span>
    </a>
  </dd>
</div>

{% if data['otherCompensation'] === 'Yes' %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    {{ compWho }}
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['comp-who'] }}
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="other-compensation">
      Change<span class="govuk-visually-hidden">who you applied to or recieved compensation from</span>
    </a>
  </dd>
</div>

<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    {{ compDecQuestion }}
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['decision-answer'] }}
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="other-compensation">
      Change<span class="govuk-visually-hidden">decision</span>
    </a>
  </dd>
</div>
{% endif %}

{% if data['otherCompensation'] === 'No' %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    {{ compNoHint }}
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['comp-no'] }}
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="compensation-why-not">
      Change<span class="govuk-visually-hidden"> reason you didn't apply for compensation</span>
    </a>
  </dd>
</div>
{% endif %}

{% if data['decision-answer'] === 'Yes' %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    {{ compDecYes }}
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['how-much'] }}
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="other-compensation">
      Change<span class="govuk-visually-hidden">the amount of award</span>
    </a>
  </dd>
</div>
{% endif %}

{% if data['decision-answer'] === 'No' %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    {{ compDecNo }}
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['when'] }}
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="other-compensation">
      Change<span class="govuk-visually-hidden">wnen you'll expect to hear</span>
    </a>
  </dd>
</div>
{% endif %}

</dl>
