<h2 class="govuk-heading-l">
  Police report
</h2>

<dl class="app-check-your-answers app-check-your-answers--long">

<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    {{ incidentReportedQuestion }}
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['crimeReported'] }}
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="incident-reported">
      Change<span class="govuk-visually-hidden"> {{ incidentReportedQuestion }}</span>
    </a>
  </dd>
</div>

{% if data['crimeReported'] === 'Yes' %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    {{ crimeReportedDateQuestion }}
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['incidentReported-day'] }}/{{ data['incidentReported-month'] }}/{{ data['incidentReported-year'] }}
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="crime-reported-date">
      Change<span class="govuk-visually-hidden"> date crime was reported</span>
    </a>
  </dd>
</div>
{% endif %}

<!-- lang=""{% if data['crimeReported'] === 'Yes' %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    {{ policeForceQuestion }}
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['police-force'] }}
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="reporting-details-what-force">
      Change<span class="govuk-visually-hidden"> {{ policeForceQuestion }}</span>
    </a>
  </dd>
</div> -->


<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    Crime reference number
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['crimeReferenceNumber'] }}
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="crime-reference">
      Change<span class="govuk-visually-hidden"> {{ crimeReferenceNumberQuestionCA }}</span>
    </a>
  </dd>
</div>
{% endif %}

  {% if data['incidentlocation'] === 'England' %}
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      {{ englandForceQuestion }}
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['sort'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="england-forces">
        Change<span class="govuk-visually-hidden">the police force</span>
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['incidentlocation'] === 'Scotland' %}
    <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      {{ scotlandForceQuestion }}
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['policeScotland'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="scotland-forces">
        Change<span class="govuk-visually-hidden">the police force</span>
      </a>
    </dd>
  </div>
    {% endif %}

    {% if data['incidentlocation'] === 'Wales' %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ walesForceQuestion }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{ data['policeWales'] }}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="wales-forces">
          Change<span class="govuk-visually-hidden">the police force</span>
        </a>
      </dd>
    </div>
      {% endif %}


  <!-- Reporting delay -->

{% if data['reportingDelay'] %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question" style="border:none">
    Reasons for the delay in reporting the crime to the police
  </dt>
  <dd class="app-check-your-answers__answer" style="border:none">
    {{data['reportingDelay']}}
  </dd>
  <dd class="app-check-your-answers__change" style="border:none">
    <a href="reporting-delay">
      Change<span class="govuk-visually-hidden"> {{ reportingDelayQuestion }}</span>
    </a>
  </dd>
</div>
{% endif %}

{% if data['delay-reporting'] %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    {{ delayReportExplanation }}
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data['delay-reporting'] }}
  </dd>
  <dd class="app-check-your-answers__change">
  </dd>
</div>
{% endif %}

</dl>
