<!-- ** Your details ************************************************************************************************************************ -->
<!-- only add a heading for a list if there is more than one list -->
<h2 class="govuk-heading-l">
  Your details
</h2>

<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
<!--   * `app-check-your-answers--short` for short questions -->
<!--   * `app-check-your-answers__questions-long` for long questions -->
<!--   * none for single group of q&a -->
<dl class="app-check-your-answers app-check-your-answers--long">
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Name
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['title'] }}&nbsp;{{ data['first-name'] }}&nbsp;{{ data['last-name'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="name">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Have you ever been known by any other name?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['haveOtherName'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="name-have-other">
        Change<span class="govuk-visually-hidden">have you ever been known by any other names</span>
      </a>
    </dd>
  </div>

  {% if data['haveOtherName'] === 'Yes' %}
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Other names
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['nameOther'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="name-other">
        Change<span class="govuk-visually-hidden"> other name</span>
      </a>
    </dd>
  </div>
  {% endif %}

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Date of birth
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="date-of-birth">
        Change<span class="govuk-visually-hidden"> date of birth</span>
      </a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Email address
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['emailAddress'] }}<br />
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="email-address">
        Change<span class="govuk-visually-hidden"> email address</span>
      </a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Address
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['address-line-1'] }}<br />
      {% if data['address-line-2'] %}
      {{ data['address-line-2'] }}<br />
      {% endif %}
      {{ data['address-town'] }}<br />
      {% if data['address-county'] %}
      {{ data['address-county'] }}<br />
      {% endif %}
      {% if data['address-postcode'] %}
      {{ data['address-postcode'] }}<br />
      {% endif %}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="address-manually">
        Change<span class="govuk-visually-hidden"> address</span>
      </a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Telephone number
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['phoneNumber'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="phone-number">
        Change<span class="govuk-visually-hidden"> phone number</span>
      </a>
    </dd>
  </div>

</dl>
<!-- ** /Your details ************************************************************************************************************************ -->
