{% from "govuk/components/button/macro.njk" import govukButton %}

{% if data['optIn']|length === 0 %}
  <input id="continueButton" type="submit" class="govuk-button" name="buttonClicked" value="Continue">
{% endif %}

<!-- If user opts out, only show 'Continue' button -->
{% if data['optIn'] === 'I do not want to save my progress' %}
  <input id="continueButton" type="submit" class="govuk-button" name="buttonClicked" value="Continue">
{% endif %}

<!-- If user opts in, show both buttons -->
{% if data['optIn'] === 'Continue' %}
  <div class="govuk-button-group">
    <input id="continueButton" type="submit" class="govuk-button" name="buttonClicked" value="Save and continue">
    <input id="saveButton" type="submit" class="savebutton" name="buttonClicked" value="Save and complete application later">
  </div>
{% endif %}

<!-- don't show "save and finish later" button in 'triage' or 'your details' sections -->
<script>
  var pageURL = window.location.href;
  var urlSegments = pageURL
    .split("/") // split to an array
  var screenName = urlSegments[urlSegments.length - 1]
    .split("-")
  var continueButton = document.getElementById("continueButton");
  var saveButton = document.getElementById("saveButton");

  // hide the "save and continue application later" button if in qualifying or your details sections
  if ( urlSegments.includes('_1-qualifying') || urlSegments.includes('_2-your-details') ) {
      continueButton.value = 'Continue';
      saveButton.classList.add("hidden");
  }

  // make main CTA read 'Continue' on context screens
  if ( screenName.includes('context') ) {
    continueButton.value = 'Continue';
    saveButton.classList.add("govuk-link");
  // apply govuk-link styling if "save and continue application later" button is visible
  // needed to add this separately as the "govuk-link" CSS class cancels out the "hidden" class
  } else if ( !urlSegments.includes('_1-qualifying') && !urlSegments.includes('_2-your-details') ) {
      saveButton.classList.add("govuk-link");
  }

</script>
