{% extends "layout.html" %}

{% block pageTitle %}
{{ doYouKnowOffenderQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "know-offender",
              name: "know-offender",
              currentValue: data['know-offender'],
              fieldset: {
                legend: {
                  text: doYouKnowOffenderQuestion,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: checked("know-offender", "Yes")
                },
                {
                  value: "No",
                  text: "No",
                  checked: checked("know-offender", "No")
                }
              ]
            }) }}

            {{ govukDetails({
              summaryText: "Help with offender’s name",
              text: "If there was more than 1 offender, you can provide these details in the ‘additional information’ screen later in the application."
            }) }}



      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            text: "Continue"
            }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
