{% extends "layout.html" %}
{% block pageTitle %}
What other names have you used? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
              classes: "govuk-input--width-20",
              id: "nameOther",
              name: "nameOther",
              label: {
                text: "What other names have you used?",
                isPageHeading: true,
                classes: 'govuk-label--xl'
              },
              id: "nameOther",
              name: "nameOther",
              value: data['nameOther']
            }) }}

      <a href="/concepts/gender/question.html" role="button" class="govuk-button" href="/concepts/gender/question.html">
      Continue
    </a>

    </form>
  </div>
</div>
</main>
</div>

{% endblock %}
