{% extends "layout.html" %}


{% block pageTitle %}
Enquiry submitted - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-mb-r6">
      <h2 class="govuk-panel__title">
        We will be in touch
      </h2>

    </div>
    <p>
    </p>
    <p class="govuk-body">Thank you for submitting your enquiry.</p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class=govuk-body>We will aim to call you back on [telephone number] at your preferred time within X days.</p>
      <p class=govuk-body>The call should take around X minutes to complete.</p>

    <h2 class="govuk-heading-m">Prepare for our call</h2>
    <p class=govuk-body>In preparation for our call it may be useful for you to have information about the following ready:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the date and location of the crime</li>
      <li>the name of the police station where the crime was reported</li>
      <li>your crime reference number</li>
      <li>your GP’s name and address</li>
      <li>your dentist’s name and address (if you had dental treatment because of your injuries)</li>
      <li>details of any previous applications you’ve made to CICA</li>
      <li>details of your injuries</li>
      <li>details of any unspent criminal convictions</li>
      <li>details of the person who abused you</li>
      <li>proof of identity for you or anyone you’re responsible for, such as a birth or marriage certificate, power of attorney or deed poll</li>
    </ul>

    <h2 class="govuk-heading-m">If you need help or support</h2>
    <p class="govuk-body">You can contact us about your enquiry on 0300 003 3601. Select option 8.</p>
      <p class="govuk-body">Our phone lines are open Monday to Friday 8.30am to 5pm except Wednesday when they open at 10am.</p>

<p class="govuk-body">For practical or emotional support visit the Victim and Witness infomation websites:
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.victimandwitnessinformation.org.uk/"  target="_blank">England and Wales</a></li>
      <li><a href="https://www.mygov.scot/victim-witness-support/"  target="_blank">Scotland</a></li>
      </ul>
        </p>


        </div>
</div>
</main>

</div>

{% endblock %}
