{% extends "layout.html" %}
{% block pageTitle %}
{{ whyDelayQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
            idPrefix: "applicationDelay",
            name: "applicationDelay",
            value: data['applicationDelay'],
            fieldset: {
              legend: {
                text: whyDelayQuestion,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "Select all options that apply to you."
            },
            items: [
            {
              value: "I was under 18",
              text: "I was under 18",
              id: "under-18",
              checked: checked("applicationDelay", "I was under 18")
            },
            {
              value: "I was advised to wait",
              text: "I was advised to wait",
              id: "advised-to-wait",
              checked: checked("applicationDelay", "I was advised to wait")
            },
            {
              value: "Medical reasons",
              text: "Medical reasons",
              id: "medical-reasons",
              checked: checked("applicationDelay", "Medical reasons")
            },
            {
              value: "Other reasons",
              text: "Other reasons",
              id: "other-reasons",
              checked: checked("applicationDelay", "Other reasons")
            }
            ]
          }) }}

          {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

            {{ govukTextarea({
                  name: "delay-application",
                  id: "delay-application",
                  currentValue: data['delay-application'],
                  value: data['delay-application'],
                  label: {
                    text: delayApplyExplanation,
                    classes: "govuk-label--l"
                  }
                }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
          text: "Continue"
          }) }}

    </form>
  </div>
</div>

{% endblock %}
