{% extends "layout.html" %}

{% block pageTitle %}
You need to send proof that you’re the child’s parent - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <h1 class="govuk-heading-xl">Ownership of this application may change</h1>

      <p class="govuk-body">We ask about care, supervision and other local authority orders to identify who we need to talk to about the application.</p>

      <p class="govuk-body">This is because it may be the local authority or other organisation that handles it after you submit it. This could be because of an existing care, supervision or other local authority order.</p>

      <p class="govuk-body">You can still continue and submit your application.</p>

      {{ govukButton({
      text: "Continue",
      href: "../_2-victim-details/context-victim-details"
      }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
