{% extends "layout.html" %}
{% block pageTitle %}
{{ walesLocationQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
<h1 class="govuk-heading-xl">{{walesLocationQuestion}}</h1>
      {% from "govuk/components/input/macro.njk" import govukInput %}
      <!-- @todo the variable crimeReferenceNumberHint is not displaying but I dont knwo why It didn't display as text either so I've moved it out as a variable fior the time being  -->
      {{ govukInput({

            label: {
            text: townOrCityLabel
            },
            classes: 'govuk-input--width-30',
            id: "WalesTown",
            name: "WalesTown"
            }) }}

        {{ govukInput({

                  label: {
                  text: locationLabel
                  },
                  hint: {
                  text: locationHint
                  },
                  classes: 'govuk-input--width-30',
                  id: "WalesLocation",
                  name: "WalesLocation"
                  }) }}


      {{ govukDetails({
        summaryText: "Help with where it happened",
        text: "If the crime took place in more than one place, you can provide additional details later in this claim."
      }) }}

      <!-- hidden field records screen exited for save and return functionality -->
      {% include "../../includes/screen-exited.html" %}
      <!-- button group for save and return -->
      {% include "../../includes/buttons.html" %}

    </form>
  </div>
</div>
</main>
</div>
{% endblock %}
