{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<main role="main" class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Accessibility for Claim criminal injuries compensation</h1>
<p class="govuk-body">This service is part of the wider GOV.UK website. There’s a separate <a href="https://www.gov.uk/help/accessibility-statement">accessibility statement for the main GOV.UK website</a>.</p>
<p class="govuk-body">This page only contains information about:</p>
  <ul class="govuk-list govuk-list--bullet">
     <li>the ‘Claim criminal injuries compensation’ service, available at <a href="https://claim-criminal-injuries-compensation.service.justice.gov.uk/">https://claim-criminal-injuries-compensation.service.justice.gov.uk</a></li>
     <li> the live chat service, available at <a href="https://claim-criminal-injuries-compensation.service.justice.gov.uk/start-chat">https://claim-criminal-injuries-compensation.service.justice.gov.uk/start-chat</a></li></ul>
<h2 class="govuk-heading-l">Using this service</h2>
<p class="govuk-body">This website is run by Criminal Injuries Compensation Authority (CICA). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>change colours, contrast levels and fonts</li>
  <li>zoom in up to 300% without the text spilling off the screen</li>
  <li>navigate most of the website using just a keyboard</li>
  <li>navigate most of the website using speech recognition software</li>
  <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>
<p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
<p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
<h2 class="govuk-heading-l">How accessible this website is</h2>
<p class="govuk-body">Some people may find parts of this service difficult to use.</p>
<p class="govuk-body">The live chat service is not fully accessible to people:</p>
  <ul class="govuk-list govuk-list--bullet">
<li>who use screen reader software</li>
<li>with low vision</li>
<li>with mobility impairments</li></ul>
<p class="govuk-body">The live chat service is not fully compatible with assistive technology that these users may rely on. We aim to fix these problems as quickly as possible.</p>

<h2 class="govuk-heading-l">What to do if you cannot access parts of this website</h2>
<p class="govuk-body">If you need information on this website in a different format:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>email info@cica.gov.uk</li>
  <li>call 0300 003 3601</li>
<li>call us on the Relay UK app for deaf, hard-of-hearing, and speech-impaired people</li>
<li>call 18001 0300 003 3601 on a textphone</li>
</ul>
<p class="govuk-body">We’ll consider your request and get back to you in 7 days or less.</p>

<h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
<p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>email info@cica.gov.uk</li>
  <li>call 0300 003 3601</li>
</ul>

<h2 class="govuk-heading-l">Enforcement procedure</h2>
<p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

<h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
<p class="govuk-body">Criminal Injuries Compensation Authority is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>


<p class="govuk-body">This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.</p>

<h2 class="govuk-heading-l">Non accessible content</h2>
<p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
<h3 class="govuk-heading-m">Non compliance with the accessibility regulations</h3>
<p class="govuk-body">The live chat does not have an H1 tag. This does not meet WCAG 2.1 success criterion 1.3.1 (info and relationships).</p>
<p class="govuk-body">New live chat messages are not read out to screen reader users. This does not meet WCAG 2.1 success criterion 1.3.1 (info and relationships) and 4.1.3 (status messages).</p>
<p class="govuk-body">The live chat status indicator changes without any warning for screen reader users. This does not meet WCAG 2.1 success criterion 1.3.1 (info and relationships) and 4.1.3 (status messages).</p>
<p class="govuk-body">Some screen reader users will be unable to tell if the live chat is muted or unmuted. This does not meet WCAG 2.1 success criterion 1.3.1 (info and relationships) and 2.4.4 (link purpose (in context)).</p>
<p class="govuk-body">The live chat does not have a label on the chat field. This does not meet WCAG 2.1 success criterion 1.3.5 (identify input purpose) and 3.3.2 (labels or instructions).</p>
<p class="govuk-body">Zooming and scaling is disabled in the live chat. This does not meet WCAG 2.1 success criterion 1.4.4 (resize text).</p>
<p class="govuk-body">It is not possible to see all the text in the live chat window on a small screen. This does not meet WCAG 2.1 success criterion 1.4.10 (reflow).</p>
<p class="govuk-body">Live chat users cannot navigate to the cookie policy link using the keyboard. This does not meet WCAG 2.1 success criterion 2.1.1 (keyboard).</p>
<p class="govuk-body">Live chat users cannot stop new messages appearing in the chat windows. This does not meet WCAG 2.1 success criterion 2.2.2 (pause, stop, hide).</p>
<p class="govuk-body">The send and close buttons on the live chat are not labelled correctly. This does not meet WCAG 2.1 success criterion 2.4.4 (link purpose (in context) and 2.4.9 (link purpose (link only)).</p>
<p class="govuk-body">It is not always clear what is in focus when navigating the live chat with a keyboard. This does not meet WCAG 2.1 success criterion 2.4.7 (focus visible).</p>
<p class="govuk-body">The live chat send message function is a link, not a button. This does not meet WCAG 2.1 success criterion 4.1.2 (name, role, value).</p>
<p class="govuk-body">The live chat does not use aria to alert the user when they receive a new message. This does not meet WCAG 2.1 success criterion 4.1.3 (status messages).</p>
<p class="govuk-body">We plan to make the live chat feature fully accessible by December 2020.</p>

<h2 class="govuk-heading-l">How we tested this website</h2>

<p class="govuk-body">The 'Claim criminal injuries compensation’ service was last tested on 10 December 2019. The test was carried out by Digital Accessibility Centre.</p>
<p class="govuk-body">We tested the application form using dummy data up to the ‘Check your answers’ page. </p>
<p class="govuk-body">We tested our main website platform, available at <a href="https://claim-criminal-injuries-compensation.service.justice.gov.uk">https://claim-criminal-injuries-compensation.service.justice.gov.uk</a>.</p>
<p class="govuk-body">The live chat service was last tested on 1 September 2020. The test was carried out by Digital Accessibility Centre.</p><p class="govuk-body">This statement was prepared on 18 March 2020. It was last updated on 8 September 2020.</p>

    </div>

  </div>
</main>
</div>

{% endblock %}
