{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<main role="main" class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Accessibility statement for Claim criminal injuries compensation</h1>
<p class="govuk-body">This website is run by Criminal Injuries Compensation Authority. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>change colours, contrast levels and fonts</li>
  <li>zoom in up to 300% without the text spilling off the screen</li>
  <li>navigate most of the website using just a keyboard/li>
  <li>navigate most of the website using speech recognition software</li>
  <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>

<p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
<p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
<h2 class="govuk-heading-l">How accessible this website is</h2>
<p class="govuk-body">This website is fully accessible.</p>
<h2 class="govuk-heading-l">What to do if you cannot access parts of this website</h2>
<p class="govuk-body">If you need information on this website in a different format:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>email info@cica.gov.uk</li>
  <li>call 0300 003 3601</li>
</ul>
<p class="govuk-body">You can use Relay UK (formerly Next Generation Text Service) to call CICA. Call 180010300 003 3601, or use the Relay UK app.</p>
<p class="govuk-body">We’ll consider your request and get back to you in 7 days or less.</p>

<h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
<p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>email info@cica.gov.uk</li>
  <li>call 0300 003 3601</li>
</ul>

<h2 class="govuk-heading-l">Enforcement procedure</h2>
<p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

<h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
<p class="govuk-body">Criminal Injuries Compensation Authority is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>


<p class="govuk-body">This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

<h2 class="govuk-heading-l">How we tested this website</h2>

<p class="govuk-body">This website was last tested on 10 December 2019. The test was carried out by Digital Accessibility Centre.</p>

<p class="govuk-body">We tested the application form using dummy data up to the ‘Check your answers’ page. </p>
<p class="govuk-body">We tested our main website platform, available at <a href="https://claim-criminal-injuries-compensation.service.justice.gov.uk">https://claim-criminal-injuries-compensation.service.justice.gov.uk</a>.</p>
<p class="govuk-body">This statement was prepared on [date when it was first published]. It was last updated on [date when it was last updated].</p>

    </div>

  </div>
</main>
</div>

{% endblock %}
