
{% extends "layout.html" %}

{% block pageTitle %}
  Minors journey concepts - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Minors journey concepts
      </h1>

      <p class="govuk-body-l">Journey for parents applying on behalf of children</p>

      <p><strong>Full flow</strong><br>Full flow from qualifying questions -> check your answers  <br>
      <a href="/concepts/minors/consent">View prototype</a></p>

        <br>
      <p><strong>Provide proof of parental responsibility - Option 1</strong><br>
      <a href="/concepts/minors/eligibility-to-apply/option-1/">View prototype</a></p>

      <br>
      <p><strong>Provide proof of parental responsibility - Option 2</strong><br>
      <a href="/concepts/minors/eligibility-to-apply/option-2/">View prototype</a></p>
      <br>

      <p><strong>Proof of parental responsibility - confirmation page</strong><br>
      <a class="govuk-link" href="/concepts/minors/parental-responsibility/email">View prototype</a></p>

    </div>
</div>

{% endblock %}
