{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">

<!-- Reference token -->

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What is the save and return reference?",
            isPageHeading: true,
            classes: 'govuk-label--xl'
          },
          hint: {
            text: "This was shown to you when you saved your application."
          },
          classes: "govuk-input--width-20",
          id: "save-and-return-number",
          name: "save-and-return-number"
        }) }}

      </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
            text: "Continue"
            }) }}

    </form>

  </div>
</div>
</div>
</div>

{% endblock %}
