{% extends "layout.html" %}

{% block pageTitle %}
The child’s mental health - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      The child’s mental health
    </h1>
    <p class="govuk-body">We’re going to ask how the crime affected their mental health.</p>
    <p class="govuk-body">This helps us decide if they get a payment for mental injury.</p>
    <h2 class="govuk-heading-m">Disabling mental injury</h2>
    <p class="govuk-body">We can only pay for a 'disabling mental injury' that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>makes it much harder to do things you would normally do</li>
      <li>lasts 6 weeks or more</li>
      <li>is diagnosed by a clinical psychologist or psychiatrist</li>
    </ul>
    <p class="govuk-body">You can apply if they do not have a diagnosis yet. We'll tell you what medical evidence they’ll need.</p>

    <form class="form" method="post">
      {{ govukButton({
      text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
