{% extends "layout.html" %}

{% block pageTitle %}
Select any injuries to the elbow - {{ serviceName }} - GOV.UK
{% endblock %}

{% block pageScripts %}
<script>

  var armPageCount = localStorage.getItem('armPages');
  var newArmPageCount = (armPageCount*1 + 1);
  $(".pageNumber").text(newArmPageCount);
  localStorage.setItem('armPages', newArmPageCount);

</script>
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherElbowInjury",
        name: "otherElbowInjury",
        value: data['otherElbowInjury'],
        type: "text",
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "elbowInjuries",
        name: "elbowInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the elbow",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Dislocated elbow",
            text: "Dislocated elbow",
            checked: checked("elbowInjuries", "Dislocated elbow"),
            id: "Dislocated elbow"
          },
          {
            value: "Broken elbow",
            text: "Broken elbow",
            checked: checked("elbowInjuries", "Broken elbow"),
            id: "Broken elbow"
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("elbowInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
