{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            {{ mentalInjuriesQuestion }}
          </h1>

          <p class="govuk-body">We can pay compensation for mental trauma that had a significant negative effect on day to day activities such as:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>performance at work or school</li>
            <li>personal and social relationships</li>
            <li>sexual relationships</li>
          </ul>
          <p class="govuk-body">It does not include temporary mental anxiety.</p>


          <form class="form"  method="post">

          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "classes": "govuk-radios--inline",
            "idPrefix": "DMI",
            "name": "DMI",
            currentValue: data['dMi'],
            "fieldset": {
              "legend": {
                "text": mentalInjuriesQuestion,
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes"
              },
              {
                "value": "no",
                "text": "No"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
            }) }}

            {% from "details/macro.njk" import govukDetails %}

            {{ govukDetails({
              summaryText: "Why do we ask this?",
              text: "Some text to explain the evidential requirements for mental injuries."
            }) }}
        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
