<!-- About the crime -->
<h2 class="govuk-heading-l">
  About the crime
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Cause of injuries
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['incidentType'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_3-incident-details/single-or-multiple-incidents">
        Change<span class="govuk-visually-hidden"> cause of injuries</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ singleOrMultipleIncidentsQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['single-or-multiple-incidents'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_3-incident-details/single-or-multiple-incidents">
        Change<span class="govuk-visually-hidden"> {{ singleOrMultipleIncidentsQuestion }}</span>
      </a>
    </dd>
  </div>

  {% if data['single-or-multiple-incidents'] === 'Once' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ incidentDateHeading }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['incident-date-day'] }}/{{ data['incident-date-month'] }}/{{ data['incident-date-year'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_3-incident-details/incident-date">
        Change<span class="govuk-visually-hidden"> {{ incidentDateHeading }}</span>
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['single-or-multiple-incidents'] === 'Over a period of time' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ periodOfAbuseStartQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['period-of-abuse-start-month'] }}/{{ data['period-of-abuse-start-year'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_3-incident-details/period-of-abuse-start">
        Change<span class="govuk-visually-hidden"> start of the crimes</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ periodOfAbuseEndQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['period-of-abuse-end-month'] }}/{{ data['period-of-abuse-end-year'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_3-incident-details/period-of-abuse-end">
        Change<span class="govuk-visually-hidden"> end of the crimes</span>
      </a>
    </dd>
  </div>
  {% endif %}

<!-- App delay questions -->

  {% if data['reportingDelay'] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half" style="border:none">
      Reasons for the delay in reporting the crime
    </dt>
    <dd class="govuk-summary-list__value" style="border:none">
      {{ data['reportingDelay'] }}
    </dd>
    <dd class="govuk-summary-list__actions" style="border:none">
      <a href="../_3-incident-details/reporting-delay">
        Change<span class="govuk-visually-hidden"> {{ whyDelayQuestion }}</span>
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['delayApplyExplanation'] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ delayApplyExplanation }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['delay-application'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  {% endif %}

  <!-- Location Questions -->

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ incidentLocationHeading }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['incidentlocation'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_3-incident-details/incident-location">
        Change<span class="govuk-visually-hidden"> where the crime happened</span>
      </a>
    </dd>
  </div>

  {% if data['incidentlocation'] === 'England' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ englandLocationQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['EnglandLocation'] }}, {{ data['EnglandTown'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_3-incident-details/england-location">
        Change<span class="govuk-visually-hidden"> {{ incidentLocationRevealOther }}</span>
      </a>
    </dd>
  </div>
    {% endif %}

  {% if data['incidentlocation'] === 'Scotland' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ scotlandLocationQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['ScotlandLocation'] }}, {{ data['ScotlandTown'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_3-incident-details/scotland-location">
        Change<span class="govuk-visually-hidden"> {{ incidentLocationRevealOther }}</span>
      </a>
    </dd>
  </div>
    {% endif %}

  {% if data['incidentlocation'] === 'Wales' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ walesLocationQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['WalesLocation'] }}, {{ data['WalesTown'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_3-incident-details/wales-location">
        Change<span class="govuk-visually-hidden"> {{ incidentLocationRevealOther }}</span>
      </a>
    </dd>
  </div>
    {% endif %}

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        Would you like to describe the crime?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['otherIncidentDetailsQ'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="../_3-incident-details/own-words-question">
          Change<span class="govuk-visually-hidden">Would you like to describe the crime? </span>
        </a>
      </dd>
    </div>

    {% if data['otherIncidentDetailsQ'] === 'Yes' %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        Your description
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['indidentOtherInfo'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="../_3-incident-details/own-words">
          Change<span class="govuk-visually-hidden"> your description</span>
        </a>
      </dd>
    </div>
    {% endif %}


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ doYouKnowOffenderQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['know-offender'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_4-offender/do-you-know-offender-name">
        Change<span class="govuk-visually-hidden"> {{ doYouKnowOffenderQuestion }}</span>
      </a>
    </dd>
  </div>

  {% if data['know-offender'] === 'Yes' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Offender's name
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['first-name-offender'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_4-offender/offender-name">
        Change<span class="govuk-visually-hidden"> offender's name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{ contactWithOffenderQuestion }}
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['contact-offender'] === 'No' %}
          No
      {% endif %}
      {% if data['contact-offender'] === 'Yes' %}
          Yes
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_4-offender/contact-with-offender">
        Change<span class="govuk-visually-hidden"> {{ contactWithOffenderQuestion }}</span>
      </a>
    </dd>
  </div>

  {% if data['contact-offender'] === 'Yes' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Describe your contact with the offender
    </dt>
    <dd class="govuk-summary-list__value">
        {{ data['relationship-text'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="../_4-offender/what-is-relationship">
        Change<span class="govuk-visually-hidden"> {{ whatIsRelationshipQuestion }}</span>
      </a>
    </dd>
  </div>
  {% endif %}

  {% endif %}


</dl>
