{% extends "layout.html" %}

{% block pageTitle %}
What would you like to do? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" action="existing-claim">

      {{ govukInput({
        label: {
          text: "Enter your telephone number (optional)",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "We may use this to contact you if we have any questions about your enquiry."
        },
        id: "telephone",
        name: "telephone",
        value: data['telephone'],
        classes: "govuk-input--width-10"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
