{% extends "layout.html" %}

{% block pageTitle %}
What would you like to do? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukPanel({
      titleText: "Your enquiry has been sent",
      html: "We will get back to you within 10 working days."
    }) }}

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
