{% extends "layout.html" %}
{% block pageTitle %}
Error: {{ singleOrMultipleIncidentsQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {{ govukErrorSummary({
              titleText: errorMessageTitle,
              errorList: [
                {
                  text: errorMessageContent,
                  href: "#haveOtherName"
                }
              ]
            }) }}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "single-or-multiple-incidents",
                name: "single-or-multiple-incidents",
                currentValue: data['single-or-multiple-incidents'] ,
                fieldset: {
                  legend: {
                    text: singleOrMultipleIncidentsQuestion,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                errorMessage: {
           text: errorMessageContent
         },
                items: [
                  {
                    value: itemOneValue,
                    text: itemOneValue
                  },
                  {
                    value: itemTwoValue,
                    text: itemTwoValue
                  }
                ]
              }) }}
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
              "text": "Continue"
              }) }}



    </form>
  </div>
</div>
</main>
</div>
{% endblock %}
