{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          {{ OCJinterstitialQuestion }}
        </h1>

        <p class="govuk-body-l">We pay compensation for sexual assault or abuse to recognise the distress and mental trauma you have suffered.</p>

        <p class="govuk-body">On the next few pages we will ask you about how the crime affected you.  We understand that this can be difficult.  We will ask if the crime affected your:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>ability to work</li>
          <li>physical health</li>
          <li>mental health</li>
        </ul>

        <p class="govuk-body">We will then ask you how you want to proceed.</p>

        <h2 class="govuk-heading-m">
          If you need help or support
        </h2>
        <p class="govuk-body">You can contact us for help with your application by calling 0300 003 3601 and selecting option 8.</p>
        <p class="govuk-body">Our phone lines are open Monday to Friday 8.30am to 5pm except Wednesday when they open at 10am.</p>
        <p class="govuk-body">You can get information about organisations that offer help and support from the <a class="govuk-body" href="https://www.victimsinformationservice.org.uk/" target="_blank">Victims' Information Service</a>.</p>

        <form class="form"  method="post">
        {{ govukButton({
          "text": "Continue"
          }) }}
        </form>



      </div>
    </div>

  </main>

</div>

{% endblock %}
