{% extends "layout.html" %}

{% block pageTitle %}
{{ walesForceQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="/form-handler" method="post">

      <h1 class="govuk-heading-xl">{{walesForceQuestion}}</h1>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-visually-hidden" for="name">
          {{walesForceQuestion}}
        </label>

        {% from 'radios/macro.njk' import govukRadios %}

       {{ govukRadios({
             "classes": "govuk-radios",
             "idPrefix": "policeWales",
             "name": "policeWales",
             currentValue: data['policeWales'],
             "fieldset": {
             },
             "items": [
             {
               "value": "Dyfed-Powys",
               "text": "Dyfed-Powys"
             },
             {
               "value": "Gwent",
               "text": "Gwent"
             },
             {
               "value": "North Wales",
               "text": "North Wales"
             },
             {
               "value": "South Wales",
               "text": "South Wales"
             },
             {
               "value": "British Transport Police",
               "text": "British Transport Police"
             }
             ]
           }) }}

      <br>
      <br>

      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>

  </div>
</div>
</div>
</div>

{% endblock %}
