{% if data['toeInjuries'] and data['toeInjuries'].includes("Broken toe") %}
  <tr><th class="govuk-table__cell govuk-body">Broken toe</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}

{% if data['toeInjuries'] and data['toeInjuries'].includes("Amputated toe") %}
  <tr><th class="govuk-table__cell govuk-body">Amputated toe</th><td class="govuk-table__cell govuk-body govuk-table__cell--numeric"><a href="#" class="removeInjury">Remove</a></td></tr>
{% endif %}
