{% extends "layout.html" %}

{% block pageTitle %}
Sorry, the service is unavailable - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}



    <div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/YourFeedbackPB" target="_blank">feedback <span class="govuk-visually-hidden">(opens in new window)</span></a> will help us to improve it.
    </span>
  </p>
</div>

    <div class="govuk-width-container">


    </div>



    <div class="govuk-width-container">
<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Page not found</h1>
      <p class="govuk-body">
        If you typed the web address, check it is correct.
      </p>
      <p class="govuk-body">
        If you pasted the web address, check you copied the entire address.
      </p>
      <p class="govuk-body">
        You can try again or apply by telephone.
      </p>
      <p class="govuk-body">
        Telephone: <br>
        <strong>0300 003 3601</strong> option 8
      </p>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Opening times</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Day</th>
            <th scope="col" class="govuk-table__header">Opening times</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Monday</th>
            <td class="govuk-table__cell">8:30am to 5pm</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Tuesday</th>
            <td class="govuk-table__cell">8:30am to 5pm</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Wednesday</th>
            <td class="govuk-table__cell">10am to 5pm</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Thursday</th>
            <td class="govuk-table__cell">8:30am to 5pm</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Friday</th>
            <td class="govuk-table__cell">8:30am to 5pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
</div>

        </main>
      </div>
    <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

          <h2 class="govuk-visually-hidden">Support links</h2>

            <ul class="govuk-footer__inline-list">

                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="https://claim-criminal-injuries-compensation.service.justice.gov.uk/cookies">
                    Cookies
                  </a>
                </li>

                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="https://www.gov.uk/guidance/cica-privacy-notice">
                    Privacy notice
                  </a>
                </li>

                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="https://claim-criminal-injuries-compensation.service.justice.gov.uk/contact-us">
                    Contact us
                  </a>
                </li>

            </ul>



        <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>





    <script src="./Claim criminal injuries compensation - GOV.UK_files/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>



</body></html>
