{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherChestInjury",
        name: "otherChestInjury",
        type: "text",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "chestInjuries",
        name: "chestInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to your chest",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Broken collarbone",
            text: "Broken collarbone",
            checked: checked("chestInjuries", "Broken collarbone")
          },
          {
            value: "Broken breast bone",
            text: "Broken breast bone",
            checked: checked("chestInjuries", "Broken breast bone")
          },
          {
            value: "Chest surgery",
            text: "Chest surgery",
            checked: checked("chestInjuries", "Chest surgery")
          },
          {
            value: "Broken rib",
            text: "Broken rib",
            checked: checked("chestInjuries", "Broken rib")
          },
          {
            value: "Punctured lung",
            text: "Punctured lung",
            checked: checked("chestInjuries", "Punctured lung")
          },
          {
            value: "Collapsed lung",
            text: "Collapsed lung",
            checked: checked("chestInjuries", "Collapsed lung")
          },
          {
            value: "Lung damage from smoke or chemicals",
            text: "Lung damage from smoke or chemicals",
            checked: checked("chestInjuries", "Lung damage from smoke or chemicals")
          },
          {
            value: "other",
            text: "Other",
            checked: checked("chestInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
