{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Before you continue
        </h1>
        <p class="govuk-body-l">On the next few pages we will ask questions about the crime.</p>

        <p class="govuk-body">We understand talking about the crime may be difficult.</p>
        <p class="govuk-body">Organisations such as the <a class="govuk-body" href="https://www.victimsinformationservice.org.uk/" target="_blank">Victim's Information Service</a> can offer specialist help and advice.</li>

        <form class="form"  method="post">
        {{ govukButton({
          "text": "Continue"
          }) }}
        </form>
      </div>
    </div>

  </main>

</div>

{% endblock %}
