{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherLegInjury",
        name: "otherLegInjury",
        type: "text",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "legInjuries",
        name: "legInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to your leg",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },

        items: [
          {
            value: "Broken leg",
            text: "Broken leg",
            checked: checked("legInjuries", "Broken leg")
          },
          {
            value: "Keyhole surgery to leg",
            text: "Keyhole surgery to leg",
            checked: checked("legInjuries", "Keyhole surgery to leg")
          },
          {
            value: "Amputated leg",
            text: "Amputated leg",
            checked: checked("legInjuries", "Amputated leg")
          },
          {
            value: "Paralysed leg",
            text: "Paralysed leg",
            checked: checked("legInjuries", "Paralysed leg")
          },
          {
            value: "none",
            text: "Other",
            checked: checked("legInjuries", "other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
