{% extends "layout.html" %}
{% block pageTitle %}
{{ minorWhoIsMakingTheApplicationQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'govuk/components/radios/macro.njk' import govukRadios %}
      {{ govukRadios({
            "classes": "govuk-radios",
            "idPrefix": "minor-direct-applicant",
            "name": "minor-direct-applicant",
            "fieldset": {
            "legend": {
            "text": minorWhoIsMakingTheApplicationQuestion,
            "isPageHeading": true,
            "classes": 'govuk-fieldset__legend--xl'
            }
            },
            "items": [
            {
            "value": "Myself",
            "text": "Myself",
            checked: checked("minor-direct-applicant", "Myself")

            },
            {
            "value": "Someone else",
            "text": "Someone else",
            checked: checked("minor-direct-applicant", "Someone else")

            }
            ]
            }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>
  </div>
</div>
</main>
</div>
{% endblock %}
