{% extends "layout.html" %}
{% block pageTitle %}
{{ notEligibleHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
   tag: {
     text: "beta"
   },
   html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
 }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--xl" for="name">
          {{notEligibleHeading}}
        </label>
      </h1>
      <p class="govuk-body">You cannot get compensation if you were not a victim of a violent crime.</p>
      <p class="govuk-body">Call us on 0300 003 3601 (option 8) if you want to discuss whether you can claim.</p>
      <p class="govuk-body">Our phone lines are open Monday to Friday, 10am to 3pm.</p>
    <form class="form" method="post">
      {{ govukButton({
            "text": "Continue anyway"
            }) }}
    </form>
  </div>
</div>
{% endblock %}
