{% extends "layout.html" %}

{% block pageTitle %}
Continue your claim - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<!-- CONTENT TBC BADGE -->
  {%- from "moj/components/badge/macro.njk" import mojBadge -%}
  {{ mojBadge({
  text: 'Content TBC',
  classes: 'moj-badge--red'
  }) }}
  <br>
  <br>
  <br>
<!-- CONTENT TBC BADGE -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You may not be eligible for compensation
    </h1>
    <p class="govuk-body">Content TBC.</p>
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue anyway",
          href: "/concepts/applying-for-someone-else/minors/end"
        })}}



    <form class="form" method="post">

    </form>
  </div>
</div>

{% endblock %}
