{% extends "layout.html" %}

{% block pageTitle %}
Select any injuries to the tissue on the legs - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherLegTissueInjury",
        name: "otherLegTissueInjury",
        value: data['otherLegTissueInjury'],
        type: text,
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "legTissueInjuries",
        name: "legTissueInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the tissue on the legs or feet",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Muscle",
            text: "Muscle",
            checked: checked("legTissueInjuries", "Muscle"),
            id: "Muscle damage on leg"
          },
          {
            value: "Ligament",
            text: "Ligament",
            checked: checked("legTissueInjuries", "Ligament"),
            id: "Ligament damage on leg"
          },
          {
            value: "Tendon",
            text: "Tendon",
            checked: checked("legTissueInjuries", "Tendon"),
            id: "Tendon damage on leg"
          },
          {
            value: "Cartilage",
            text: "Cartilage",
            checked: checked("legTissueInjuries", "Cartilage"),
            id: "Cartilage damage on leg"
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("legTissueInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}

      

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
