<h2 class="govuk-heading-l">
  Parent or guardian details
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

<!-- <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half">
    Confirmation method
  </dt>
  <dd class="govuk-summary-list__value">

    {% if data['confirmationPreference'] === 'Text' %}

    Text message to {{ data['phoneNumber'] }}

    {% endif %}

    {% if data['confirmationPreference'] === 'Email' %}

    Email to {{ data['emailAddress'] }}

    {% endif %}

  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="../_2-your-details/confirmation-options">
      Change<span class="govuk-visually-hidden"> confirmation receipt</span>
    </a>
  </dd>
</div> -->

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half ">
    Name
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['title'] }}&nbsp;{{ data['first-name'] }}&nbsp;{{ data['last-name'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="../_2-your-details/name">
      Change<span class="govuk-visually-hidden"> Name</span>
    </a>
  </dd>
</div>

{% if data['responsiblePersonOrg'] === 'Yes' %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half ">
    Organisation
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['responsiblePersonOrgHtml'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="../_2-your-details/responsible-org">
      Change<span class="govuk-visually-hidden"> organsation</span>
    </a>
  </dd>
</div>

{% endif %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half">
    Address
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['address-line-1'] }}<br />
    {% if data['address-line-2'] %}
    {{ data['address-line-2'] }}<br />
    {% endif %}
    {{ data['address-town'] }}<br />
    {% if data['address-county'] %}
    {{ data['address-county'] }}<br />
    {% endif %}
    {% if data['address-postcode'] %}
    {{ data['address-postcode'] }}<br />
    {% endif %}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="../_2-your-details/address">
      Change<span class="govuk-visually-hidden"> Address</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half">
    Phone number
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['phoneNumber'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="../_2-your-details/phone-number">
      Change<span class="govuk-visually-hidden"> Phone number</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half ">
    Relationship to the child
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['whatIsRelationship'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="../_2-your-details/what-is-relationship">
      Change<span class="govuk-visually-hidden"> Relationship to the child</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half ">
    Do they share parental responsibility with another person?
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['sharedResponsibility'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="../_2-your-details/do-you-share-responsibility">
      Change<span class="govuk-visually-hidden"> Do they share parental responsibility with another person?</span>
    </a>
  </dd>
</div>

{% if data['sharedResponsibility'] === 'Yes' %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half ">
    What is this person's full name?
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['responsibilityWhoWith'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="../_2-your-details/do-you-share-responsibility">
      Change<span class="govuk-visually-hidden">What is this person's full name?</span>
    </a>
  </dd>
</div>
{% endif %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half ">
    Is there a care, supervision or other local authority order in place for the child?
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['care-order'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="../_2-your-details/care-order">
      Change<span class="govuk-visually-hidden"> Is there a care, supervision or other local authority order in place for the child?</span>
    </a>
  </dd>
</div>

{% if data['care-order'] === 'Yes' %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half ">
    What local authority is this with?
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['careOrderDetails'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="../_2-your-details/care-order-details">
      Change<span class="govuk-visually-hidden"> What local authority is this with?</span>
    </a>
  </dd>
</div>
{% endif %}


</dl>
