{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }} <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Considering you for loss of earnings and special expenses
    </h1>
    <p class="govuk-body">This information will help us understand if the child receives loss of earnings and/or special expense payments. These payments are separate from compensation the child gets based on their ability to work in future because of any injuries.</p>
    <p class="govuk-body">We will let you know the outcome of this when we write to you about your application.</p>
    <p class="govuk-body">In the meantime, we may contact you to ask you for more information about this if required.</p>

    <form class="form" method="post">
      {{ govukButton({
      text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
