
{% extends "layout.html" %}

{% block pageTitle %}
  Making email address optional (SMS confirmation) - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Minors loss of earnings and special expenses
      </h1>

      <p class="govuk-body-l">Options for the minors loss of earnings and special expenses section. Option one is preferred but both should be taken to testing to confirm hypotheses.</p>

      <p class="govuk-body"><a href="https://miro.com/app/board/o9J_lL7cyK8=/">Miro ideation board (password: userneeds)</a></p>

      <hr>
      <br>
      <h2 class="govuk-heading-m">Option 1</h2>
      <img class="responsive" src="/public/images/minors-loe-se-option-1.png" />
      <p class="govuk-body"><a href="/public/images/minors-loe-se-option-1.png" target="_blank">Open image in a new tab</a></p>

      <p><a href="/concepts/minors-loe-se/option-1/loe-context">Option 1 prototype</a></p>

      <hr>
      <br>
      <h2 class="govuk-heading-m">Option 2</h2>
      <img class="responsive" src="/public/images/minors-loe-se-option-2.png" />
      <p class="govuk-body"><a href="/public/images/minors-loe-se-option-2.png" target="_blank">Open image in a new tab</a></p>

      <p><a href="/concepts/minors-loe-se/option-2/loe-context">Option 2 prototype</a></p>

    </div>
</div>

{% endblock %}
