{% extends "layout.html" %}
{% block page_title %}
  Additional information
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <div><strong class="govuk-tag warning-tag">NEW</strong></div>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">


          {% from "textarea/macro.njk" import govukTextarea %}

          {{ govukTextarea({
            "id": "additional-information",
            "name": "additional-information",
            value: data['additional-information'],
            label: {
              text: "Additional information",
              "isPageHeading": true,
              "classes": 'govuk-label--xl'
            },
          hint: {
            text: "Tell us anything you think is relevant to your application that you have not already told us. (optional)"
          }
          }) }}

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
          "text": "Continue"
          }) }}

          </form>
        </div>
      </div>
      <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">adapted from the actual private beta live - not sure about the hint text and the optional might need to be black, 
          also not sure how to link this to the categories we have on the check your answer page so created an new heading for this one - SK</p>
      </div>
    </main>
  </div>

{% endblock %}