{% extends "layout.html" %}

{% block page_title %}
  Address
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

        {% from "input/macro.njk" import govukInput %}
        {% from "fieldset/macro.njk" import govukFieldset %}
        {% from "details/macro.njk" import govukDetails %}

        {% call govukFieldset({
          legend: {
            text: "What's your address?",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}
        {% endcall %}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "postcode",
          name: "postcode",
          value: data['postcode']
        }) }}

        {{ govukButton({
          "text": "Find a UK address"
          }) }}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I do not have a postcode to enter
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              If you have a UK address but do not know your postcode, <a href="address-manually">enter the rest manually</a>.
            </p>
            <p>
              If you do not live in the UK, <a href="address-non-UK">enter your address manually</a>.
            </p>
          </div>
        </details>
        </form>
      </div>
    </div>
    <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">There is no definite pattern yet for postcode look up - I based the design on the <a href="https://design-system.service.gov.uk/patterns/addresses/" target="_blank">video on this page</a> and changed it so we can also cater for user who don't know their postcode</p>
        <p class="design-notes">Content on this page needs to be seen by John and approved - Design is only the first draft: you would either have a UK address and know the postcode and can enter it, or you don't know the postcode so you would enter the rest of the address manually - SK</p>
        <p class="design-notes">If the applicant doesn't have a UK address, then enter it manually in all cases selecting the link for it -SK</p>
        <p class="design-notes">We are faking it just now and there is no validation so <strong> entering anything for the post code will do</strong> -SK</p>
    </div>
  </main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
