{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- <h1 class="govuk-heading-xl govuk-visually-hidden">
          Have you applied for compensation from any other sources?
        </h1> -->

        <form class="form" method="post">

          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "classes": "govuk-radios--inline",
            "idPrefix": "britishCitizen",
            "name": "britishCitizen",
            "fieldset": {
              "legend": {
                "text": 'Are you a British citizen?',
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--xl'
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes"
              },
              {
                "value": "no",
                "text": "No"
              }
            ]
          }) }}

          <input class="govuk-button" type="submit" value="Continue">

        </form>

      </div>
    </div>
    <div class="design-notes-box">
      <h3 class="design-notes">Design notes</h3>
      <p class="design-notes">suggested alternative "do you live in the UK".  Applicant's status not routinely checked by caseworkers.</p>
      <p class="design-notes">CSC data indicates 0.06% of rejections based on lack of qualifying residence.  Given this do we need to ask this question and the other 8 or 9 associated residence Q's?</p>
    </div>
  </main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
