{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Check your answers before sending your application
        </h1>

        <!-- only add a heading for a list if there is more than one list -->
        <h2 class="govuk-heading-m">
          Your details
        </h2>

        <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
        <!--   * `govuk-check-your-answers--short` for short questions -->
        <!--   * `govuk-check-your-answers__questions-long` for long questions -->
        <!--   * none for single group of q&a -->
        <dl class="govuk-check-your-answers govuk-check-your-answers--short">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Name
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['fullName'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Date of birth
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Email address
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['emailAddress'] }}<br />
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Address
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['address-line-1'] }}<br />
              {{ data['address-line-2'] }}<br />
              {{ data['address-town'] }}<br />
              {{ data['address-county'] }}<br />
              {{ data['address-postcode'] }}<br />
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> address</span>
              </a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">
          Your answers
        </h2>

        <h3 class="govuk-heading-s">
          Eligibility
        </h3>

        <dl class="govuk-check-your-answers govuk-check-your-answers--short">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Are you applying on behalf of someone else?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['rep'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Have you applied for any other compensation?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['otherCompensation'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Who paid you compensation?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['whoPaid'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="#">
                  Change<span class="visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>

              <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                  How much compensation did you get?
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['howMuch'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="#">
                    Change<span class="visually-hidden"> previous application number</span>
                  </a>
                </dd>
              </div>


          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Was the crime reported to the police?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['incidentReported'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Date the crime was reported
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['incidentReported-day'] }}/{{ data['incidentReported-month'] }}/{{ data['incidentReported-year'] }}
              <!-- @todo need to get dates pulling through correctly -->
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> home address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Where did the crime happen?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['incident-location'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Are you a British citizen?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['britishCitizen'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Do you have any unspent criminal convictions?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['criminalConvictions'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>

        </dl>

        <h3 class="govuk-heading-s">
          About the crime
        </h3>

        <dl class="govuk-check-your-answers govuk-check-your-answers--short">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Crime reference number
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['crimeReferenceNumber'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              What injuries did you have as a result of the crime?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['injury-1'] }}<br>
              {{ data['injury-2'] }}<br>
              {{ data['injury-3'] }}<br>
              {{ data['injury-4'] }}<br>
              {{ data['injury-5'] }}<br>
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

        <h3 class="govuk-heading-s">
          Your medical treatment
        </h3>

        <dl class="govuk-check-your-answers govuk-check-your-answers--short">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Date you started receiving medical treatment
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['medicalTreatmentStartDate-day'] }}/{{ data['medicalTreatmentStartDate-month'] }}/{{ data['medicalTreatmentStartDate-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Are you still receiving treatment for your injuries
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['treatmentOngoing'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <!-- <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Are you able to get a report from your doctor?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['obtainMedical'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div> -->

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Did your injuries stop you from doing any paid work?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['unableToWork'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <!-- <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              All of the information you have given is correct and you consent to the Criminal Injuries Compensation Authority using your personal information.
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['declaration'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div> -->

        </dl>



        <h2 class="govuk-heading-m">Send your application</h2>

        <p>
          When you send this application you confirm that the information in it is correct as far as you know.
        </p>

        <a href="confirmation-page" class="govuk-button">Send your application</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
