{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Check your answers before sending your application
        </h1>

        <!-- only add a heading for a list if there is more than one list -->
        <h2 class="govuk-heading-m">
          Your details
        </h2>

        <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
        <!--   * `govuk-check-your-answers--short` for short questions -->
        <!--   * `govuk-check-your-answers__questions-long` for long questions -->
        <!--   * none for single group of q&a -->
        <dl class="govuk-check-your-answers govuk-check-your-answers--short">

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Name
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['title'] }}&nbsp;{{ data['first-name'] }}&nbsp;{{ data['last-name'] }} 
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="name">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          {% if data['other-names'] %}
            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Other names
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['other-names'] }} 
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="name">
                  Change<span class="visually-hidden"> other name</span>
                </a>
              </dd>
            </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Date of birth
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="date-of-birth">
                Change<span class="visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Email address
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['emailAddress'] }}<br />
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="email-address">
                Change<span class="visually-hidden"> email address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Address
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['address-line-1'] }}<br />
              {{ data['address-line-2'] }}<br />
              {{ data['address-town'] }}<br />
              {{ data['address-county'] }}<br />
              {{ data['address-postcode'] }}<br />
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="address">
                Change<span class="visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Phone number
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['phoneNumber'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="phone-number">
                  Change<span class="visually-hidden"> phone number</span>
                </a>
              </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">
          Your Eligibility
        </h2>

        <dl class="govuk-check-your-answers govuk-check-your-answers--long">

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Have you applied for compensation from any other sources?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['otherCompensation'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="compensation">
                Change<span class="visually-hidden"> compensation</span>
              </a>
            </dd>
          </div>

          {% if data['otherCompensation'] === 'yes' %}
          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Who paid you compensation?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['whoPaid'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="compensation">
                  Change<span class="visually-hidden"> who paid?</span>
                </a>
              </dd>
            </div>
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                  How much compensation did you get?
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['howMuch'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="compensation">
                    Change<span class="visually-hidden"> compensation</span>
                  </a>
                </dd>
              </div>
          {% endif %}

          {% if data['otherCompensation'] === 'no' %}
          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                  Why did you not apply for compensation from another source?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['why-not-apply-compensation-other'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="did-not-apply-for-compensation">
                  Change<span class="visually-hidden"> did not apply</span>
                </a>
              </dd>
            </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Are you a British citizen?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['britishCitizen'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="british-citizen">
                  Change<span class="visually-hidden">British citizen </span>
                </a>
              </dd>
            </div>

            {% if data['britishCitizen'] === 'no' %}
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    Are you ordinarily resident in the UK?
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['ordinarily-resident'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="residence-1">
                    Change<span class="visually-hidden"> ordinarily resident </span>
                  </a>
                </dd>
              </div>
            {% endif %}

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                  Have you ever been convicted of a crime?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['criminalConvictions'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="criminal-convictions">
                  Change<span class="visually-hidden"> criminal convictions</span>
                </a>
              </dd>
            </div>

            {% if data['criminalConvictions'] === 'yes' %}
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    Tell us about your convictions
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['convictions'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="tell-criminal-convictions">
                    Change<span class="visually-hidden"> tell us your convictions</span>
                  </a>
                </dd>
              </div>
            {% endif %}


          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Was the crime reported to the police?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['incidentReported'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Date the crime was reported
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['incidentReported-day'] }}/{{ data['incidentReported-month'] }}/{{ data['incidentReported-year'] }}
              <!-- @todo need to get dates pulling through correctly -->
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> home address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Where did the crime happen?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['incident-location'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>




        </dl>

        <h3 class="govuk-heading-s">
          About the crime
        </h3>

        <dl class="govuk-check-your-answers govuk-check-your-answers--short">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Crime reference number
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['crimeReferenceNumber'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="#">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Send your application</h2>

        <p>
          When you send this application you confirm that the information in it is correct as far as you know.
        </p>

        <a href="confirmation-page" class="govuk-button">Send your application</a>

      </div>
    </div>
    <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">This will be updated later - Stéphanie</p>
      </div>
  </main>
</div>

{% endblock %}
