{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Check your answers before sending your application
        </h1>

        <!-- only add a heading for a list if there is more than one list -->
        <h2 class="govuk-heading-l">
          Your details
        </h2>

        <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
        <!--   * `govuk-check-your-answers--short` for short questions -->
        <!--   * `govuk-check-your-answers__questions-long` for long questions -->
        <!--   * none for single group of q&a -->
        <dl class="govuk-check-your-answers govuk-check-your-answers--short">

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Name
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['title'] }}&nbsp;{{ data['first-name'] }}&nbsp;{{ data['last-name'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="name">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          {% if data['other-names'] %}
            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Other names
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['other-names'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="name">
                  Change<span class="visually-hidden"> other name</span>
                </a>
              </dd>
            </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Date of birth
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="date-of-birth">
                Change<span class="visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Email address
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['emailAddress'] }}<br />
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="email-address">
                Change<span class="visually-hidden"> email address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Address
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {% if data['address-lookup-result'] %}
                {{  data['address-lookup-result'] }}{{ data['postcode'] }}
                {% elif  data['address-non-UK'] %}
                {{  data['address-non-UK'] }}
                {% else %}
                {{ data['address-line-1'] }}<br />
                {% if data['address-line-2'] %}
                  {{ data['address-line-2'] }}<br />
                {% endif %}
                {{ data['address-town'] }}<br />
                {% if data['address-county'] %}
                  {{ data['address-county'] }}<br />
                {% endif %}
                {% if data['address-postcode'] %}
                  {{ data['address-postcode'] }}<br />
                {% endif %}
              {% endif %}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="address">
                Change<span class="visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Telephone number
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['phoneNumber'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="phone-number">
                  Change<span class="visually-hidden"> phone number</span>
                </a>
              </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-l">
          Your Eligibility
        </h2>

        <dl class="govuk-check-your-answers govuk-check-your-answers--long">

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Have you claimed compensation from any other source?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['otherCompensation'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="compensation">
                Change<span class="visually-hidden"> compensation</span>
              </a>
            </dd>
          </div>

          {% if data['otherCompensation'] === 'yes' %}
          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Who else have you claimed compensation from?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['who-claim-from'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="compensation-who">
                  Change<span class="visually-hidden"> Who else have you claimed compensation from?</span>
                </a>
              </dd>
            </div>
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                  How much compensation did you get?
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['how-much-compensation'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="compensation-amount">
                    Change<span class="visually-hidden"> compensation amount</span>
                  </a>
                </dd>
              </div>
          {% endif %}

          {% if data['otherCompensation'] === 'no' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Why did you not claim compensation from another source?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['why-not-claim'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="compensation-why-not">
                Change<span class="visually-hidden"> reason you didn't apply for compensation</span>
              </a>
            </dd>
          </div>
      {% endif %}

          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Are you a British citizen?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['britishCitizen'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="british-citizen">
                  Change<span class="visually-hidden">British citizen </span>
                </a>
              </dd>
            </div>

            {% if data['britishCitizen'] === 'no' %}
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    Are you ordinarily resident in the UK?
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['ordinarily-resident'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="residence-1">
                    Change<span class="visually-hidden"> ordinarily resident </span>
                  </a>
                </dd>
              </div>
            {% endif %}

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                  Have you ever been convicted of a crime?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['criminalConvictions'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="criminal-convictions">
                  Change<span class="visually-hidden"> criminal convictions</span>
                </a>
              </dd>
            </div>

            {% if data['criminalConvictions'] === 'yes' %}
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    Tell us about your convictions
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['convictions'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="tell-criminal-convictions">
                    Change<span class="visually-hidden"> tell us your convictions</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            {% if data['previous-applications'] %}
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                  Have you claimed compensation from us for this crime before?
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['previous-applications'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="previous-applications.html">
                    Change<span class="visually-hidden"> have you claimed compensation from us for this crime before</span>
                  </a>
                </dd>
              </div>
            {% endif %}
        </dl>

        <h2 class="govuk-heading-l">
          About the crime
        </h2>

        <dl class="govuk-check-your-answers govuk-check-your-answers--long">

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Did the crime happen once or over a period of time?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['single-or-multiple-incidents'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="single-or-multiple-incidents">
                Change<span class="visually-hidden"> single or multiple incident</span>
              </a>
            </dd>
          </div>

          {% if data['single-or-multiple-incidents'] === 'It happened once' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              When did the crime happen?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['incident-date-day'] }}/{{ data['incident-date-month'] }}/{{ data['incident-date-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="incident-date">
                Change<span class="visually-hidden"> incident date</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if data['single-or-multiple-incidents'] === 'It happened over a period of time' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
               When did it start?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['period-of-abuse-start-month'] }}/{{ data['period-of-abuse-start-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="period-of-abuse-start">
                Change<span class="visually-hidden"> start of the incidents</span>
              </a>
            </dd>
          </div>
          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                  When did it end?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['period-of-abuse-end-month'] }}/{{ data['period-of-abuse-end-year'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="period-of-abuse-end">
                  Change<span class="visually-hidden"> end of the incidents</span>
                </a>
              </dd>
            </div>
          {% endif %}

          {% if data['applicationDelay']  %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Why did you delay making your claim?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{data['applicationDelay']}}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="application-delay">
                Change<span class="visually-hidden"> delay applying reason</span>
              </a>
            </dd>
          </div>
          {% endif %}

            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                  Was the crime reported to the police?
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['crimeReported'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="incident-reported">
                    Change<span class="visually-hidden"> incident reported</span>
                  </a>
                </dd>
              </div>
              {% if data['crimeReported'] === 'yes' %}
              <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    When was the crime reported to police?
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['incidentReported-day'] }}/{{ data['incidentReported-month'] }}/{{ data['incidentReported-year'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="crime-reported-date">
                    Change<span class="visually-hidden"> date incident was reported</span>
                  </a>
                </dd>
              </div>
                  {% if data['reportingDelay']  %}
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Why was there a delay in reporting the crime to police?
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      {{data['reportingDelay']}}
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="reporting-delay">
                        Change<span class="visually-hidden"> delay reporting reason</span>
                      </a>
                    </dd>
                  </div>
                  {% endif %}
              {% endif %}

              <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                  Where did the crime happen?
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['incident-location'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="incident-location">
                    Change<span class="visually-hidden"> incident location</span>
                  </a>
                </dd>
              </div>

              {% if data['incident-location'] === 'Somewhere else' %}
              <div class="govuk-check-your-answers__contents">
                  <dt class="govuk-check-your-answers__question">
                    Tell us where the crime happened
                  </dt>
                  <dd class="govuk-check-your-answers__answer">
                    {{ data['somewhere-else'] }}
                  </dd>
                  <dd class="govuk-check-your-answers__change">
                    <a href="incident-location">
                      Change<span class="visually-hidden"> other place crime happened</span>
                    </a>
                  </dd>
                </div>
                {% endif%}

            {% if data['crimeReported'] === 'yes' %}
            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                  What police force was the crime reported to?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['police-force'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="reporting-details-what-force">
                  Change<span class="visually-hidden"> what police force</span>
                </a>
              </dd>
            </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                  police officer's name
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['police-officer-name'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="reporting-details-police-officer">
                  Change<span class="visually-hidden"> police officer name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    police officer's ID number
                </dt>
                <dd class="govuk-check-your-answers__answer">
                  {{ data['police-officer-id'] }}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="reporting-details-police-officer">
                    Change<span class="visually-hidden"> police officer ID</span>
                  </a>
                </dd>
              </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                What's the crime reference number?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['crimeReferenceNumber'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="crime-reference">
                  Change<span class="visually-hidden"> crime reference</span>
                </a>
              </dd>
            </div>
            {% endif %}

        </dl>

        <h2 class="govuk-heading-l">
          About the offender
        </h2>

        <dl class="govuk-check-your-answers govuk-check-your-answers--long">

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Do you know the person who attacked you?
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['know-offender'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="do-you-know-offender">
                Change<span class="visually-hidden"> know the offender</span>
              </a>
            </dd>
          </div>

          {% if data['know-offender'] === 'yes' %}
            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                What's the name of the person who attacked you?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['first-name-offender'] }}&nbsp;{{ data['last-name-offender'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="offender-name">
                  Change<span class="visually-hidden"> living with the offender at the time</span>
                </a>
              </dd>
            </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Were you and the person who attacked you living together as family at the time?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['living-with-offender-before'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="living-with-offender-before">
                  Change<span class="visually-hidden"> living with the offender at the time</span>
                </a>
              </dd>
            </div>
            {% if data['living-with-offender-before'] === 'yes' %}
            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Do you and the person who attacked you live together now?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['living-with-offender-now'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="living-with-offender-now">
                  Change<span class="visually-hidden"> living with the offender now</span>
                </a>
              </dd>
            </div>
            {% endif %}

            {% if data['living-with-offender-before'] === 'no' %}
            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Do you still have contact with them?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['ongoing-relationship'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="ongoing-relationship">
                  Change<span class="visually-hidden"> ongoing relationship with the offender</span>
                </a>
              </dd>
            </div>
            {% endif %}

            {% if data['ongoing-relationship'] === 'yes' %}
            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                  What contact do you have with them?
              </dt>
              <dd class="govuk-check-your-answers__answer">
                {{ data['relationship-text'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="what-is-relationship">
                  Change<span class="visually-hidden"> type of relationship with the offender</span>
                </a>
              </dd>
            </div>
            {% endif %}

            {% endif %}  <!-- end if  you know the offender -->

          </dl>

        {% if data['additional-information'] %}
        <h2 class="govuk-heading-l">Additional information</h2>
        <dl class="govuk-check-your-answers govuk-check-your-answers--long">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Tell us more
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['additional-information'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="additional-info">
                Change<span class="visually-hidden"> additional information</span>
              </a>
            </dd>
          </div>
          </dl>
        {% endif %}

        <h2 class="govuk-heading-l">Consent and submit your application</h2>

          <p class="govuk-body">I understand that you must share and obtain information about me from the police and prosecuting authorities to process my application.</p>

            <a href="confirmation-page" class="govuk-button">Consent and submit</a>
  <!-- <p>You can find out more about how we handle your information in our <a href="https://www.gov.uk/guidance/cica-privacy-notice" target="_blank">privacy notice</a></p> -->

</div>
</div>

    </div>
  </main>
</div>

{% endblock %}
