{% extends "layout.html" %}
{% block page_title %}
  Compensation from other sources
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-visually-hidden">
          Have you claimed compensation from any other source?
          </h1>
          <!-- NOTE: the word elsewhere should be a link as it is in the start page -->
          <form class="form" method="post">
            {% from 'radios/macro.njk' import govukRadios %}
            {% from "input/macro.njk" import govukInput %}

            {% set yesHtml %}
            {{ govukInput({
              "idPrefix": "whoPaid",
              "name": "whoPaid",
              value: data['whoPaid'],
              "classes": "govuk-!-width-two-thirds",
              "label": {
                "text": "Who did you claim compensation from?"
              }
            }) }}
            {{ govukInput({
              "idPrefix": "howMuch",
              "name": "howMuch",
              currentValue: data['howMuch'],
              "classes": "govuk-!-width-one-quarter",
              "label": {
                "text": "How much did you get, if applicable?"
              }
            }) }}
            {% endset -%}

            {% set noHtml %}
            {{ govukTextarea({
              "idPrefix": "whyNot",
              "name": "whyNot",
              "classes": "govuk-label--xl",
              "label": {
                "text": "Why have you not claimed compensation from another source?"
              }
            }) }}
            {% endset -%}

            {{ govukRadios({
              "classes": "govuk-radios--inline",
              "idPrefix": "otherCompensation",
              "name": "otherCompensation",
              value: data['otherCompensation'],
              "fieldset": {
              "legend": {
              "text": "Have you claimed compensation from any other source?",
              "isPageHeading": true,
              "classes": "govuk-fieldset__legend--xl"
              }
              },
              "hint": {
                "text": "Other sources include for example, benefits, insurance, civil damages and court compensation."

              },
              "items": [
                {
                  "value": "yes",
                  "text": "Yes",
                  "conditional": {
                    "html": yesHtml
                  }
                },
                {
                  "value": "no",
                  "text": "No",
                  "conditional": {
                    "html": noHtml
                  }
                }
              ]
            }) }}

            {% from "button/macro.njk" import govukButton %}
            {{ govukButton({
            "text": "Continue"
            }) }}
          </form>
        </div>
      </div>
      <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">6/8/18 - Question changed to more readable style.</p>
        <p class="design-notes">Hint text changed to more helpful content style.</p>
        <p class="design-notes">Conditionally revealed text box for No answer provided. JK</p>
      </div>
      </div>
    </main>
  </div>
{% endblock %}
