{% extends "layout.html" %}
{% block page_title %}
Compensation from other sources
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <div><strong class="govuk-tag warning-tag">NEW</strong></div>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">

            <!-- <h1 class="govuk-heading-l">
            What is your full name?
            </h1> -->

            {% from "input/macro.njk" import govukInput %}

            {{ govukInput({
            "label": {
            "text": "Who else have you claimed compensation from?",
            "isPageHeading": true,
            "classes": 'govuk-label--xl'
            },
            "classes": 'govuk-input--width-20',
            "id": "who-claim-from",
            "name": "who-claim-from",
            'value' : data['who-claim-from']
            }) }}

            {% from "button/macro.njk" import govukButton %}

            {{ govukButton({
            "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
