{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div><strong class="govuk-tag warning-tag">DRAFT - EXAMPLE OF AN IMEDIATE DECISION</strong></div>
        <div class="govuk-panel govuk-panel--confirmation govuk-!-mb-r6">
          <h2 class="govuk-panel__title">
            Application rejected
          </h2>
          <div class="govuk-panel__body">
            Your reference number<br><strong>CICA2123GW</strong>
          </div>
        </div>

        <p>Dear Mr Smith</p>

        <p>You stated in your application for criminal injuries compensation that you:
          <ul>
            <li class="govuk-body">did not report the crime to the police</li>
          </ul>
        </p>
        <p>Your application has been rejected for the following reasons:</p>
        <ul>
          <li class="govuk-body">the crime must be reported to the police (paragraph 22 of the 2012 Scheme)</li>
        </ul>

        <p>If you do not agree with this decision you can <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#decisions-and-administering-payments" target="_blank">request a review.</a>
        </p>

        <form class="form" method="post">

        </form>
      </div>

    </div>
    <div class="design-notes-box">
      <h3 class="design-notes">Design notes</h3>
      <p class="design-notes">This screen would need work so that it;s clear that the user has recieved a decision at this point. At the moment it looks to similar to a success page. - GW</p>
    </div>

  </main>

</div>

{% endblock %}
