{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation govuk-!-mb-r6">
          <h2 class="govuk-panel__title">
            Application complete
          </h2>
          <div class="govuk-panel__body">
            Your reference number<br><strong>CICA2123GW</strong>
          </div>
        </div>

        <p>
          We have sent you a confirmation email.
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p>We'll check your eligbility and then:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>request information from the police</li>
          <li>assess your application when we get information from the police</li>
          <li>Ask you to get a report from your doctor detailng your injuries</li>
        </ul>

        <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>




      </div>
    </div>

  </main>

</div>

{% endblock %}
