{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div><strong class="govuk-tag warning-tag">CHANGED</strong></div>
        <div class="govuk-panel govuk-panel--confirmation govuk-!-mb-r6">
          <h2 class="govuk-panel__title">
            Application submitted
          </h2>
          <div class="govuk-panel__body">
            Your reference number<br><strong>CICA2123GW</strong>
          </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>


      <p>We'll use the information you've given us to:
        <ul class="govuk-list govuk-list--bullet">
          <li>assess your application</li>
          <li>request the police report, if required</li>
          <li>inform you of our decision by email to {{ data['emailAddress'] }}</li>
      </p>

        <p><a href="/application/confirmation-page-if-automatic-nil">What did you think of this service?</a> (takes 30 seconds)</p>

      </div>
    </div>
    <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">There is a different screen if we can do an automatic NIL decision: <a href="/application/confirmation-page-if-automatic-nil">View this alternative screen</a></p>
      </div>

  </main>

</div>

{% endblock %}
