{% extends "layout.html" %}

{% block page_title %}
 Incicent date
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div><strong class="govuk-tag warning-tag">CHANGED</strong></div>
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form"  method="post">
          {% from "date-input/macro.njk" import govukDateInput %}
          {{ govukDateInput({
            id: 'incidentReported',
            name: 'incidentReported',
          fieldset: {
          legend: {
          text: "When was the crime reported to police?",
          isPageHeading: true,
          classes: 'govuk-fieldset__legend--xl'
          }
          },
          hint: {
          text: 'For example, 31 3 2018. You can enter an approximate date '
          },
          items:[
          {
          name: 'day',
          value:  data['incidentReported-day']
          },
          {
          name: 'month',
          value:  data['incidentReported-month']
          },
          {
          name: 'year',
          value:  data['incidentReported-year']
          }
          ]
          })
          }}

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
          "text": "Continue"
          }) }}
        </form>

      </div>
    </div>
    <div class="design-notes-box">
      <h3 class="design-notes">Design notes</h3>
      <p class="design-notes">9/8/18 - new screen MVP-125. JK</p>
      </div>
  </main>
</div>

{% endblock %}
