{% extends "layout.html" %}
{% block page_title %}
  Question page
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="/start-page">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" action="equiptment-or-services" method="post">

            {% from "date-input/macro.njk" import govukDateInput %}
            {{ govukDateInput({
            id: 'dob',
            name: 'dob',
            fieldset: {
            legend: {
            text: 'What date did you return to paid work?',
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--xl'
            }
            },
            hint: {
            text: 'For example, 31 3 1980'
            },
            items:[
            {
            name: 'day'
            },
            {
            name: 'month'
            },
            {
            name: 'year'
            }
            ]
            })
            }}

            {% from "button/macro.njk" import govukButton %}

            {{ govukButton({
            "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
