{% extends "layout.html" %}
{% block page_title %}
  Question page
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">

            {% from "date-input/macro.njk" import govukDateInput %}
            {{ govukDateInput({
            id: 'dob',
            name: 'dob',
            fieldset: {
            legend: {
            text: "What's your date of birth?",
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--xl'
            }
            },
            hint: {
            text: 'For example, 31 3 1980'
            },
            items:[
            {
            name: 'day',
            value: data['dob-day']
            },
            {
            name: 'month',
            value: data['dob-month']
            },
            {
            name: 'year',
            value: data['dob-year']
            }
            ]
            })
            }}

            {% from "button/macro.njk" import govukButton %}

            {{ govukButton({
            "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
      <div class="design-notes-box">
          <h3 class="design-notes">Design notes</h3>
          <p class="design-notes">The logic is not in place but if you are a minor when you apply, then you would be taken out of the service - Stéphanie</p>
      </div>
    </main>
  </div>
{% endblock %}
