{% extends "layout.html" %}
{% block page_title %}
  Question page
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="/start-page">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
          Declaration
          </h1>
          <p class="govuk-body">By continuing you confirm that the information you're giving is correct.</p>

          <form class="form" action="compensation" method="post">
            {% from "warning-text/macro.njk" import govukWarningText %}

            {{ govukWarningText(
              {
                text: "You could be prosecuted or get less compensation if you give false or misleading information.",
                iconFallbackText: "Warning"
              })
            }}
            {% from 'radios/macro.njk' import govukRadios %}
            {{ govukRadios({
            "classes": "govuk-radios--inline",
            "idPrefix": "declaration",
            "name": "declaration",
            "fieldset": {
            "legend": {
            "text": 'Do you agree to give the correct information?',
            "isPageHeading": true,
            "classes": 'govuk-fieldset__legend--m'
            }
            },
            "items": [
            {
            "value": "yes",
            "text": "Yes"
            },
            {
            "value": "no",
            "text": "No"
            }
            ]
            }) }}

            {% from "button/macro.njk" import govukButton %}
            {{ govukButton({
            "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
