{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Over 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          Declaration
        </h1>

        <p>
          All of the information you give on the following screens should be true to the best of your knowledge. 
        </p>

        <a href="name" class="button">Continue</a>

    </div>
  </div>
</main>
{% endblock %}
