{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Over 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          Describe the incident in your own words
        </h1>

        <form action="injury-selection" method="post" class="form">

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Describe the incident in your own words
            </legend>

            <label class="visually-hidden" for="describeIncident">Describe the incident in your own words?</label>
<!--             <input class="form-control-3-4" id="describeIncident" name="describeIncident" type="text" rows="5" value="{{data['describeIncident']}}"> -->

            <span class="form-hint">
              We will use this when we talk to you about the incident
            </span>
            </label>
            <input class="form-control form-control-3-4" id="describeIncident" name="describeIncident" type="text" rows="5" value="{{data['describeIncident']}}">

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
