{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Over 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          As a result of your injuries have you had to buy equiptment or services that you did not need before you were mugged?
        </h1>

        <form action="what-equiptment-or-services" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visuallyhidden">As a result of your injuries have you had to buy equiptment or services that you did not need before you were mugged? </legend>

            <div class="multiple-choice">
              <input id="equiptmentOrServicesTrue" type="radio" name="equiptmentOrServices" value="true">
              <label for="equiptmentOrServicesTrue">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="equiptmentOrServicesFalse" type="radio" name="equiptmentOrServices" value="false">
              <label for="equiptmentOrServicesFalse">No</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
