{% extends "layout.html" %}

{% block page_title %}
  Address
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div><strong class="govuk-tag warning-tag">NEW</strong></div>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            <div class="govuk-form-group">
                <h1 class="govuk-heading-xl">What's your address?</h1>
                <h2 class="govuk-heading-l">Postcode</h2>
                <p>
                  <span style="font-size: 24px; margin-right:1em"><strong>
                  {% if data['postcode'] %} 
                  {{ data['postcode'] }}
                  {% else %}
                  SW1A 1AA
                  {% endif %}
                </strong></span>
                <a href="address">Change</a></p>
    
            </div>
            {% from "select/macro.njk" import govukSelect %}

            {{ govukSelect({
              id: "address-lookup-result",
              name: "address-lookup-result",
              label: {
                text: "Select an address",
                "classes": 'govuk-label--l'
              },

      
              items: [
                {
                  value: "nb-of-addresses",
                  text: "5 addresses found",
                  selected: true

                },
                {
                  value: "1 Testing street, Glasgow ",
                  text: "1 Testing street, Glasgow"
                },
                {
                  value: "2 Testing street, Glasgow ",
                  text: "2 Testing street, Glasgow"
                },
                {
                  value: "3 Testing street, Glasgow ",
                  text: "3 Testing street, Glasgow"
                },
                {
                  value: "4 Testing street, Glasgow ",
                  text: "4 Testing street, Glasgow"
                },
                {
                  value: "5 Testing street, Glasgow ",
                  text: "5 Testing street, Glasgow"
                }
              ]
            }) }}
        {{ govukButton({
          "text": "Continue"
          }) }}
          <p><a href="address-manually">I can not find my address in the list</a></p>
        </form>
      </div>
    </div>
    <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">Any postcode on the previous page would trigger this page. If you select the link 'can't find address' it takes you to the same manual entry page for the non UK residents - SK</p>
        <p class="design-notes">If no postcode was entered before I'm displaying a default one SW1A 1AA - SK</p>
    </div>
  </main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
