{% extends "layout.html" %}

{% block page_title %}
 Incicent date
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div><strong class="govuk-tag warning-tag">CHANGED</strong></div>
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form"  method="post">
          {% from "date-input/macro.njk" import govukDateInput %}
          {{ govukDateInput({
          id: 'incident-date',
          name: 'incident-date',
          fieldset: {
          legend: {
          text: "When did the crime happen?",
          isPageHeading: true,
          classes: 'govuk-fieldset__legend--xl'
          }
          },
          hint: {
          text: 'For example, 31 3 2018. You can enter an approximate date '
          },
          items:[
          {
            name: 'day',
            value:  data['incident-date-day']
            },
          {
          name: 'month',
          value:  data['incident-date-month']
          },
          {
          name: 'year',
          value:  data['incident-date-year']
          }
          ]
          })
          }}

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
          "text": "Continue"
          }) }}
        </form>

      </div>
    </div>
    <div class="design-notes-box">
      <h3 class="design-notes">Design notes</h3>
      <p class="design-notes">From this screen, we can mock a positive check for previous applications for the same thing as we now have enough information at that point. - Stéphanie</p>
      <p class="design-notes">*** enter the date <strong>01/01/2017</strong> to see the screens where we spotted a previous application ***</p>
    </div>
  </main>
</div>

{% endblock %}
