{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Over 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          Was the incident reported to the police?
        </h1>

        <form action="incident-date" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visuallyhidden">Was the incident reported to the police?</legend>

            <div class="multiple-choice">
              <input id="incidentReportedTrue" type="radio" name="incidentReported" value="true">
              <label for="incidentReportedTrue">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="incidentReportedFalse" type="radio" name="incidentReported" value="false">
              <label for="incidentReportedFalse">No</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
