{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}
<div class="govuk-width-container">
  <a class="govuk-back-link" href="/start-page">Back</a>
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="medical-treatment" method="post">

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
          "label": {
          "text": "What injuries did you have as a result of the crime?",
          "isPageHeading": true,
          "classes": 'govuk-label--xl'
          },
          hint: {
          text: 'Briefly describe your injuries below. You can list up to five injuries.'
        },
          "classes": 'govuk-input--width-20',
          "id": "national-insurance-number",
          "name": "national-insurance-number"
          }) }}
          {{ govukInput({
          "classes": 'govuk-input--width-20',
          "id": "national-insurance-number",
          "name": "national-insurance-number"
          }) }}
          {{ govukInput({
          "classes": 'govuk-input--width-20',
          "id": "national-insurance-number",
          "name": "national-insurance-number"
          }) }}
          {{ govukInput({
          "classes": 'govuk-input--width-20',
          "id": "national-insurance-number",
          "name": "national-insurance-number"
          }) }}
          {{ govukInput({
          "classes": 'govuk-input--width-20',
          "id": "national-insurance-number",
          "name": "national-insurance-number"
          }) }}
          {% from "button/macro.njk" import govukButton %}
          {{ govukButton({ "text": "Continue" }) }}

        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
