{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}
<div class="govuk-width-container">
  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="medical-treatment" method="post">

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
          "label": {
          "text": "What injuries did you have as a result of the crime?",
          "isPageHeading": true,
          "classes": 'govuk-label--xl'
          },
          hint: {
          text: 'Give a simple description of your injuries below, identifying the part of the body injured for example, broken arm. You can list up to five injuries.'
        },
          "classes": 'govuk-input--width-20',
          "id": "injury-1",
          "name": "injury-1"
          }) }}
          {{ govukInput({
          "classes": 'govuk-input--width-20',
          "id": "injury-2",
          "name": "injury-2"
          }) }}
          {{ govukInput({
          "classes": 'govuk-input--width-20',
          "id": "injury-3",
          "name": "injury-3"
          }) }}
          {{ govukInput({
          "classes": 'govuk-input--width-20',
          "id": "injury-4",
          "name": "injury-4"
          }) }}
          {{ govukInput({
          "classes": 'govuk-input--width-20',
          "id": "injury-5",
          "name": "injury-5"
          }) }}
          {% from "button/macro.njk" import govukButton %}
          {{ govukButton({ "text": "Continue" }) }}

        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
