{% extends "layout.html" %}

{% block page_title %}
    Location of crime
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!--legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    Reporting details
                </h1>
            </legend>

            <p>This information will help us get the correct report from the police.</p-->

            <form class="/form-handler" method="post">

                {% from "input/macro.njk" import govukInput %}

                {{ govukInput({
                "label": {
                "text": "Enter the location where the crime happened",
                "isPageHeading": true,
                "classes": 'govuk-label--xl'
              },
              hint: {
                text: "Enter details of the nearest city, town or place."
              },
                "classes": 'govuk-input--width-40',
                "id": "location",
                "name": "location",
                "value": data['location']
                }) }}

                {% from "button/macro.njk" import govukButton %}

                {{ govukButton({
                "text": "Continue"
                }) }}

            </form>

        </div>
      </div>
      <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">added guidance for completing police search field - JK</p>
    </div>
    </div>
 </div>

{% endblock %}
