{% extends "layout.html" %}
{% block page_title %}
  Tell us about your criminal convictions
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">


          {% from "textarea/macro.njk" import govukTextarea %}

          {{ govukTextarea({
            "id": "nameOther",
            "name": "nameOther",
            label: {
              text: "What other names have you used?",
              "isPageHeading": true,
              "classes": 'govuk-label--xl'
            }
          }) }}

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
          "text": "Continue"
          }) }}

          </form>
        </div>
      </div>
      <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">3/8/18 - new screen added for MVP-108 - JK</p>
      </div>
    </main>
  </div>

{% endblock %}
