{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Over 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          What is your full name?
        </h1>

        <form action="date-of-birth" method="post" class="form">

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              What is your full name?
            </legend>

            <label class="visually-hidden" for="fullName">What is your full name?</label>
            <input class="form-control" id="fullName" name="fullName" type="text" value="{{data['fullName']}}">

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
