{% extends "layout.html" %}
{% block page_title %}
  Your name
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" action="date-of-birth" method="post">

            <form action="/form-handler" method="post">
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--xl" for="name">
                      What is your full name?
                  </label>
                </h1>
                <input class="govuk-input govuk-input--width-20" id="name" name="names" type="text">
              </div>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                      have you ever been known by any other names?
                  </span>
                </summary>
                <div class="govuk-form-group govuk-details__text">
                      <label class="govuk-label" for="other-names">
                          Provide any other names you've used previously (optional)
                      </label>
                    <input class="govuk-input govuk-input--width-20" id="other-names" name="other-names" type="text">
                  </div>
              </details>
              <input class="govuk-button" type="submit" value="Continue">
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
