{% extends "layout.html" %}

{% block pageTitle %}
  Service option
  {% endblock %}

  {% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    Victims of sexual assault: your options
                </h1>
            </legend>
            <p>We pay compensation for crimes of sexual violence in recognition of the distress and mental trauma suffered. We make payments under a tariff system dependant on the nature of the assault.</p>
            <p>If you choose this option we'll:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>assess your eligibility </li>
                <li>ask the police to send us the crime report</li>
                <li>not need your medical records</li>
            </ul>

            <p>Do not choose this option if you want to claim for:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>physical injuries</li>
                <li>disabling mental injuries</li>
                <li><a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#loss-of-earnings-payments" target="_blank">loss of earnings</a> or <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#special-expenses" target="_blank">special expenses</a></li>
            </ul>

            <p>These applications are more complex and take longer to decide as we usually need additional information to make a decision.</p>

            <form class="/form-handler" method="post">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="service-option">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-fieldset__heading">
                                Do you want us to make a decision using only the police report?
                            </h2>
                        </legend>

                        <div class="govuk-radios govuk-radios--inline">

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="police-only" name="service-option" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="police-only">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="medical-evidence" name="service-option" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="medical-evidence">
                                    No, I want you to consider additional information before you make a decision
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>

                {{ govukButton({
                    "text": "Continue"
                    }) }}
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
