{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Summary
        </h1>

        <p class="govuk-body-l">Based on your answers, and the evidence required, it will normally take 11 months to make a decision.</p>

  {% from "table/macro.njk" import govukTable %}

  {{ govukTable({
    caption: "",
    firstCellIsHeader: true,
    head: [
      {
        text: "Injury component"
      },
      {
        text: "Your selection"
      },
      {
        text: "Evidence required"
      }
    ],
    rows: [
      [
        {
          text: "Physical injury"
        },
        {
          text: "Yes"
        },
        {
          text: "Police report"
        }
      ],
      [
        {
          text: "Disabling mental injury (DMI)"
        },
        {
          text: "Yes"
        },
        {
          text: "Expert medical report"
        }
      ],
      [
        {
          text: "Duration of DMI symptoms"
        },
        {
          text: "6 weeks or more"
        },
        {
          text: "Expert medical report"
        }
      ],
      [
        {
          text: "Loss of earnings"
        },
        {
          text: "Yes"
        },
        {
          text: "Employment and income"
        }
      ],
      [
        {
          text: "Special expenses"
        },
        {
          text: "No"
        },
        {
          text: "Dependant on circumstances"
        }
      ],
      [
        {
          text: "Pregnancy"
        },
        {
          text: "No"
        },
        {
          text: "Medical report"
        }
      ],
      [
        {
          text: "Loss of foetus"
        },
        {
          text: "No"
        },
        {
          text: "Medical report"
        }
      ],
      [
        {
          text: "Sexually transmitted disease"
        },
        {
          text: "Yes"
        },
        {
          text: "Medical report"
        }
      ]
    ]
  }) }}


        <form class="form"  method="post">

          <p class="govuk-body">Alternatively, we can make a fixed payment award within 4 months which:
            <ul class="govuk-list govuk-list--bullet">
              <li>is based only on the police report</li>
              <li>does not need you to get any other evidence or be assessed by a clinical psychologist</li>
              <li>includes an element that compensates you for the mental trauma you have suffered</li>
              <li>will not consider any other injuries, loss of earnings, expenses or other consequences of the crime</li>
          </p>
          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "classes": "govuk-radios--stacked",
            "idPrefix": "OcJsummary",
            "name": "ocJsummary",
            currentValue: data['ocJsummary'],
            "fieldset": {
              "legend": {
                "text": 'Which option do you wish to choose?',
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Your selection"
              },
              {
                "value": "no",
                "text": "Police report only"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
            }) }}
        </form>
      </div>
    </div>

  </main>

</div>

{% endblock %}
