{% extends "layout.html" %}

{% block page_title %}
  Service option
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <div><strong class="govuk-tag warning-tag">CHANGED</strong></div>

    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  {% block service_name %}
                    {% if serviceName %} {{ serviceName }} {% endif %}
                  {% endblock %}
                </h1>
            </legend>
            <p class="govuk-body-l">There are two services you can use to apply for compensation for a sexual assult.</p>

            <h2 class="govuk-heading-l">Service one</h2>

            <p>If you choose this option we'll:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ask the police to send us a report detailing the sexual assult</li>
                <li>assess your application based on the information in the police report</li>
                <li>assess your application based on the answers you give us</li>
            </ul>
            <p>We won't be able to take account of any physical or mental injuries or any other costs.</p>
            <p>If you use this service the maximum compensation award we can make is £20,000.</p>
            <p>In most cases applications processed using this service take 6 weeks.</p>
            <p><a href="/start-page">Use Service one</a></p>

            <h2 class="govuk-heading-l">Service two</h2>
            <p>These applications are more complex and take longer to decide as we usually need additional information to make a decision.</p>

            <p>If you choose this option we'll:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ask the police to send us a report detailing the sexual assult</li>
                <li>ask you to get a medical report from your doctor</li>
                <li>assess your application based on the information in the police report</li>
                <li>assess your application based on the answers you give us</li>
                <li>take account of any physical, mental injuries or any other costs</li>
            </ul>
            <p><a href="#">Use Service two</a></p>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
