{% extends "layout.html" %}

{% block page_title %}
  Do you live with the offender
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div><strong class="govuk-tag warning-tag">NEW</strong></div>
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="living-with-offender-now" method="post">
            {% from "radios/macro.njk" import govukRadios %}

            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "living-with-offender-before1979",
              name: "living-with-offender-before1979",
              fieldset: {
                legend: {
                  text: "Do you have an ongoing relationship with them?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
            {% from "button/macro.njk" import govukButton %}
            {{ govukButton({
            "text": "Continue"
            }) }}

        </form>
        <div class="design-notes-box">
            <h3 class="design-notes">Design notes</h3>
            <p class="design-notes">The logic is not in place but you would only see that screen if the incident (or one of the incidents) happened before the 1st Oct 1979  - Stéphanie</p>
          </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
