{% extends "layout.html" %}
{% block page_title %}
  Phone Number
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <div><strong class="govuk-tag warning-tag">NEW</strong></div>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">

            {% from "input/macro.njk" import govukInput %}

            {{ govukInput({
            "label": {
            "text": "What's your telephone number?",
            "isPageHeading": true,
            "classes": 'govuk-label--xl'
            },
            hint: {
              text: "We'll use this to contact you about your application for example, to request more information"
            },
            "classes": 'govuk-input--width-20',
            "id": "phoneNumber",
            "name": "phoneNumber"
            }) }}

            {% from "button/macro.njk" import govukButton %}

            {{ govukButton({
            "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
      <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <p class="design-notes">Added a short piece of guidance - JK</p>
      <p class="design-notes">according to guidance we must attempt to contact applicant by another means if they fail to respond to email/letters, before considering rejection on non-cooperation grounds.</p>
    </div>
    </main>
  </div>
{% endblock %}
