{% extends "layout.html" %}
{% block pageTitle %}
  Previous applications
  {% endblock %}

  {% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">You can only make one compensation claim for a crime</h1>

            <!-- <p class="govuk-body"><a href="#">Login</a> to your current claim to check its progress.</p> -->

            <p class="govuk-body"><a href="/application/prototype">Contact us</a> if you want to discuss your claim.</p>

          <!-- <ul class="govuk-list govuk-list--bullet">
            <li>reference number</li>
            <li>email address</li>
          </ul>
          <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I don't know my reference number
            </span>
          </summary>
          <div class="govuk-details__text">

            <p class="govuk-body">When you submitted your application we showed your reference number and emailed it to you.</p>
            <p class="govuk-body">If you have lost it you can call us on 0141 234 5678 lines are open 9-5 Monday to Friday.</p>
            <p class="govuk-body">Info about call charges</p> -->

          </div>
        </details>

          </form>
        </div>
    </main>
  </div>
{% endblock %}
