{% extends "layout.html" %}
{% block page_title %}
  Question page
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="/start-page">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
          This is a prototype
          </h1>
          <p class="govuk-body">you have arrived at a page we have not thought about yet.</p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
