{% extends "layout.html" %}

{% block page_title %}
  Reporting details - who reported?
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <a href="#" class="govuk-back-link">Back</a>
    <div><strong class="govuk-tag warning-tag">CHANGED</strong></div>

    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/form-handler" method="post">

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl" for="who-reported">
                            Who reported the crime to the police? (optional)
                        </label>
                    </h1>
                    <input class="govuk-input govuk-input--width-20" id="who-reported" name="who-reported" type="text">
                </div>

                <input class="govuk-button" type="submit" value="Continue">
            </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
