{% extends "layout.html" %}

{% block page_title %}
  Reporting details
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <a href="#" class="govuk-back-link">Back</a>
  
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="/form-handler" method="post">
                <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--xl" for="officer-ID">
                                What's the police officer's ID number?
                            </label>
                        </h1>
                        <span id="officer-ID-hint" class="govuk-hint">
                            If you don't have this information, contact the police and they will give it to you.
                        </span>
                        <input class="govuk-input govuk-input--width-20" id="officer-ID" name="officer-ID" type="text">
                </div>
                <input class="govuk-button" type="submit" value="Continue">
            </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}