{% extends "layout.html" %}

{% block page_title %}
    Reporting details - What force?
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <a href="#" class="govuk-back-link">Back</a>
    <div><strong class="govuk-tag warning-tag">CHANGED</strong></div>
  
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!--legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    Reporting details
                </h1>
            </legend>
           
            <p>This information will help us get the correct report from the police.</p-->
        
            <form class="/form-handler" method="post">
    
                <div class="govuk-form-group">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="police-force">
                            <h1 class="govuk-heading-xl">
                                What force/station did you reported it to?
                            </h1>
                        </label>
                            <input class="govuk-input" id="police-force" name="police-force" type="text" aria-describedby="police-force-hint">
                    </div>
                </div>

                <input class="govuk-button" type="submit" value="Continue">
            </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}