{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice">Crime, justice and the law</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice/reporting-crimes-compensation">Reporting crimes and getting compensation</a>
    </li>
  </ol>
</div>

<main role="main" class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>
      <h2 class="govuk-heading-l">
        Make a claim
      </h2>
      <p class="govuk-body">You can claim for compensation online.</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">If the crime happened between 1 August 1964 and 30 September 1979 and you lived with the attacker as a family member at the time of the incident, you can also <a href="/claim-compensation-criminal-injury/victim-lived-with-attacker-before-october-1979">request someone to call you</a> to start your claim.</p>
      </div>

      <p class="govuk-body">When you make a claim to the Criminal Injuries Compensation Authority (CICA), you may need to provide:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the date and location of the crime</li>
        <li>the name of the police station where the crime was reported</li>
        <li>your crime reference number</li>
        <li>your GP’s name and address</li>
        <li>your dentist’s name and address (if you had dental treatment because of your injuries)</li>
        <li>details of any previous applications you’ve made to CICA</li>
        <li>details of any unspent criminal convictions</li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          If you deliberately provide information you know is wrong or misleading, you may be prosecuted and your application for compensation may be refused.
        </strong>
      </div>

      <p class="govuk-body">You’ll be asked if you’ve tried to get compensation or other money you’re entitled to, for example:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>by claiming benefits</li>
        <li>through insurance payments</li>
        <li>from a civil court claim</li>
        <li>from a criminal court case (if the crime went to court)</li>
      </ul>

      <p class="govuk-body">You do not need to wait for the outcome of other claims before you apply.</p>

      <p class="govuk-body">It does not cost anything to apply and you do not have to use a legal adviser.</p>

      <p class="govuk-body">You cannot save your application and return to it later. The service will time out if you stop using it for 30 minutes or more.</p>

      <div class="govuk-button-group">

        <a href="/application/_1-qualifying/fatal-application" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Make a claim
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <p class="govuk-body">
          <a href="/application/_0-save-and-return-screens/resume-application-attempt-1/enter-credentials">
              Resume a claim
          </a>
        <p>

      </div>

      <br>
      <br>

        <h2 class="govuk-heading-m">Help making your application</h2>

        <p class="govuk-body">Contact the CICA helpline if you need help because you:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>do not feel confident using a computer or mobile device</li>
          <li>do not have internet access</li>
        </ul>

          <div class="contact">
            <p class="govuk-body">
              CICA<br>
              Inside the UK: 0300 003 3601<br>
              Outside the UK: +44 (0)203 684 2517<br>
              Monday, Tuesday, Thursday and Friday, 8.30am to 5pm<br>
              Wednesday, 10am to 5pm<br>
              <a href="https://www.relayuk.bt.com">Relay UK</a> (if you cannot hear or speak on the phone): 18001 0300 003 3601<br>
              <a href="/call-charges">Find out about call charges</a>
            </p>
          </div>

        <p class="govuk-body">You can ask a friend or relative to make an application on your behalf.</p>

        <h2 class="govuk-heading-m">General enquiries</h2>

        <p class="govuk-body">Email <a href="mailto:info@cica.gov.uk">info@cica.gov.uk</a> if you have a question about the claims process.</p>


        <div class="govuk-inset-text">
          <p class="govuk-body">You cannot claim the cost of using a legal adviser.</p>
        </div>

      </div>


      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-body-s">
              <li>
                <a target="_blank" href="https://www.gov.uk/criminal-injuries-compensation-tribunal">
                  Criminal injuries compensation tribunal
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.gov.uk/get-support-as-a-victim-of-crime">
                  Get support as a victim of crime
                </a>
              </li>
            </ul>
          </nav>
        </aside>

  </div>
</main>

{% endblock %}
