{% extends "layout.html" %}
{% block page_title %}
  Tell us about your criminal convictions
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <div><strong class="govuk-tag warning-tag">NEW</strong></div>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">


          {% from "textarea/macro.njk" import govukTextarea %}

          {{ govukTextarea({
            "id": "convictions",
            "name": "convictions",
            label: {
              text: "Tell us about your unspent convictions?",
              "isPageHeading": true,
              "classes": 'govuk-label--xl'
            },
          hint: {
            text: "Include the date and location of the conviction and the length of the sentence you received."
          }
          }) }}

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
          "text": "Continue"
          }) }}

          </form>
        </div>
      </div>
    </main>
    <div class="design-notes-box">
      <h3 class="design-notes">Design notes</h3>
      <p class="design-notes">Added a short piece of guidance - JK</p>
    </div>
  </div>

{% endblock %}
