{% extends "layout.html" %}
{% block page_title %}
  Representation
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form class="form-handler"  method="post">

              {% from "radios/macro.njk" import govukRadios %}

              {{ govukRadios({
                idPrefix: "what-type-of-application-would-you-like-to-make?",
                name: "what-type-of-application-would-you-like-to-make?",
                fieldset: {
                  legend: {
                    text: "Are you claiming compensation for:",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
              items: [
                {
                  value: "sexual-assault",
                  text: "A sexual assault"
                },
                {
                  value: "period-of-sexual-abuse",
                  text: "More than one sexual assault over a period of time"
                },
                {
                  value: "physical-injury",
                  text: "None of the above"
                }
                ]
              }) }}


            {% from "button/macro.njk" import govukButton %}
            {{ govukButton({
            "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
      <div class="design-notes-box">
        <h3 class="design-notes">Design notes</h3>
        <!--p class="design-notes">We need to look at the way the options are presented on this page would 'rape' be a better phrase than 'sexual assault' user research needed - GW</p-->
        <p class="design-notes">Not sure if we should be using hint text as a lead in here maybe they text should be black not grey, need to check the pattern. - GW</p>
        <p class="design-notes">I think this screen would be better positioned at the start of the journey rather than half way through. It feels to me that these could be service options rather than options in the MVP.  At this point in the MVP we should already have established with the user that they are only claiming for sexual assault  - JK</p>
          <p class="design-notes">5 checkboxes changed to 3 radio buttons.</p>
      </div>
    </main>
  </div>
{% endblock %}
