{% extends "layout.html" %}

{% block page_title %}
  What is your realtionship
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form"  method="post">

          {% from "textarea/macro.njk" import govukTextarea %}

          {{ govukTextarea({
            name: "relationship-text",
            id: "relationship-text",
            label: {
              text: "What contact do you have with them?",
              isPageHeading: true,
              classes: "govuk-label--xl"
            }
          }) }}
          <!-- {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
          "label": {
          "text": "What contact do you have with them?",
          "isPageHeading": true,
          "classes": 'govuk-label--xl'
        },
          "classes": 'govuk-input--width-20',
          "id": "relationship-text",
          "name": "relationship-text",
          value:  data['relationship-text']
          }) }} -->

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
          "text": "Continue"
          }) }}

        </form>
        </div>
    </div>
  </main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
