{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          You have a choice
        </h1>
        <p class="govuk-body">We need to get evidence of the crime to make a decision on your application.</p>
       <p class="govuk-body">You can choose how we do this.</p>
       <p class="govuk-body">We will always get a report from the police, so the crime must already have been reported.</p>
       <p class="govuk-body">You can apply even if the person who attacked you is not convicted.</p>
       <p class="govuk-body">All the information you give us is confidential.</p>
       <p class="govuk-body">Depending on what option you choose, we may ask you for more information or evidence.</p>

         <form class="form" method="post">

           {% from "button/macro.njk" import govukButton %}
           {{ govukButton({
           "text": "Choose an option"
           }) }}

        </form>
      </div>
    </div>

  </main>

</div>

{% endblock %}
