{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Your choices
        </h1>

        <p class="govuk-body-l">Your choice can affect how much information and evidence we need to assess your application.</p>

        <h2 class="govuk-heading-m">
          Full assessment
        </h2>
  <p>
  </p>
    <p class="govuk-body">We will get evidence from the police.</p>
    <p class="govuk-body">Based on the facts of your case, you may need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>get medical evidence of your physical injuries</li>
        <li>have your mental injuries assessed by an expert</li>
        <li>give us evidence of any <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#loss-of-earnings" target="_blank">loss of earnings</a> or <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#special-expenses" target="_blank">other expenses</a></li>
      </ul>
      <p>We usually take around 11 months to make a decision.</p>

    <h2 class="govuk-heading-m">Police evidence only</h2>
    <p>
    </p>
    <p class="govuk-body">We will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>only need to get evidence from the police</li>
        <li>use that evidence to make a decision</li>
        <li>not consider any other injuries, loss of earnings, expenses or <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#what-happens-if-you-have-more-than-one-injury" target="_blank">other consequences</a> of the crime</li>
      </ul>

    <p class="govuk-body">We usually take around 4 months to make a decision.</p>

        <form class="form"  method="post">

          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "classes": "govuk-radios",
            "idPrefix": "yourChoice",
            "name": "yourChoice",
            currentValue: data['yourChoice'],
            "fieldset": {
              "legend": {
                "text": 'Which do you want to choose?',
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
            {
              "value": "option1",
              "text": "Full assessment"
            },
            {
              "value": "option2",
              "text": "Police evidence only"
            }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>
      </div>
    </div>

  </main>

</div>

{% endblock %}
