{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Choose an option
        </h1>

        <p>Your choice can affect how much information and evidence we will need to assess your application.</p>

        <h2 class="govuk-heading-m">
          Option 1
        </h2>
  <p>
  </p>
    <p class="govuk-body">We will get the police report, but you may need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>provide medical reports about your physical injuries</li>
        <li>have your mental injuries assessed by an expert</li>
        <li>give us evidence of any <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#loss-of-earnings" target="_blank">loss of earnings</a> or <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#special-expenses" target="_blank">other expenses</a></li>
      </ul>
      <p>We usually take around 11 months to make a decision.</p>

    <h2 class="govuk-heading-m">Option 2</h2>
    <p>
    </p>
    <p class="govuk-body">We will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>only need to get the police report</li>
        <li>use the information in the report to make a decision</li>
        <li>usually give you a decision within 16 weeks</li>
      </ul>

    <p>This option will not consider any other injuries, loss of earnings, expenses or <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#what-happens-if-you-have-more-than-one-injury" target="_blank">other consequences</a> of the crime.</p>

        <form class="form"  method="post">

          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "classes": "govuk-radios",
            "idPrefix": "yourChoice",
            "name": "yourChoice",
            currentValue: data['yourChoice'],
            "fieldset": {
              "legend": {
                "text": 'Choose an option',
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--l'
              }
            },
            "items": [
            {
              "value": "option1",
              "text": "Option 1"
            },
            {
              "value": "option2",
              "text": "Option 2"
            }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>
      </div>
    </div>

  </main>

</div>

{% endblock %}
