
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="govuk:analytics:organisations" content="&lt;PB297&gt;">
<meta name="govuk:content-id" content="5bf3b781-5f71-4f16-891e-4254c9398094">
<meta name="govuk:navigation-document-type" content="other">
<meta name="govuk:user-journey-stage" content="finding">
<meta name="govuk:schema-name" content="organisation">
<meta name="govuk:format" content="organisation">
<meta name="csrf-token" content="zA6Hf1UAjU9AH/BiNL5YwnMB7Tt8y89DouCbxzA1VmRE/1JD54W2UY7nmZyNzUxg+vX0n0QG/r+HRccJilbgBA==">
<meta name="csrf-param" content="authenticity_token">
    <meta charset="utf-8">
    <title>Criminal Injuries Compensation Authority - GOV.UK</title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css" crossorigin="anonymous" integrity="sha256-wLi6ixZSqsrSmNdPJHUiYBh/U4tQxAwkhPfzM8vDzys=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-2c1bb089ee71d4d70a08ba94e4b363a99542c8feddf3aa979bc4f8962aed5e02.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-062e553ef49a9f884a3a1f885c8a18e829b6557046b075e1384f6092a60151d1.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-11027733d1abeac34c7bf14e37fea30366ad3a87cfd7f7a084de3a3b4b838412.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css" crossorigin="anonymous" integrity="sha256-6exaX4LlwqF5J841bloFTLKAJewVR+xdAPXJjS7F5IE=">
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js" crossorigin="anonymous" integrity="sha256-pFJFRKU9V6fiWbS7lmucMlV8mMkgt35S0JMEZCtoQBo="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-5c3d985d43c06c7c5efa157f99dcc22b3b62fcc9944669d4237fc2b78793baf2.css" crossorigin="anonymous" integrity="sha256-XD2YXUPAbHxe+hV/mdzCKzti/MmURmnUI3/Ct4eTuvI=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-eedd25aaef3dadbb4e173b879f7585bb6a7caa3045b715d98efb33d90b25cf76.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-e77ac1463efb750c324309de3d592a240e60b8fbaa7e258f332182244407ffa4.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-29ec3d53129f0657e59d7dc2fc9f67e0219c721c4155f09bdeacc21bc3b3c94b.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-9a2de3ce1590c8ca478a6f7edf5a2e4bad0c6291b1dd4a6e7ca85f653d9591b4.css" crossorigin="anonymous" integrity="sha256-mi3jzhWQyMpHim9+31ouS60MYpGx3UpufKhfZT2VkbQ=">



    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-74862610197f4bf5cee216d3a346a90025b743f0b4d6b6968006e95d6254fde8.css">
<!--<![endif]--><link rel="alternate" type="application/json" title="Criminal Injuries Compensation Authority" href="https://www.gov.uk/api/organisations/criminal-injuries-compensation-authority">
<link rel="alternate" type="application/atom+xml" title="Criminal Injuries Compensation Authority" href="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority.atom">
<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/collections/print-12d845e29cec549d1fa00ff603b63f839ade12d95e40eae358dbf99520e7f5c5.css" crossorigin="anonymous" integrity="sha256-EthF4pzsVJ0foA/2A7Y/g5reEtleQOrjWNv5lSDn9cU=">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie6-d900ed170b6521ab94618d1f54d76626bbc6ba023b585b7f187290211183f4a1.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie7-04b45e3f14956c51344d89a042ab9b0fbc49c10cccf2653a4e050f9b425b5763.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie8-353ee48d9b68d71da121fde72ea78b10dc8cda4e2891860494ae5df76a83580c.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="collections">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div class="wrapper" id="wrapper">



<div class="gem-c-breadcrumbs " data-module="track-click">
  <ol>

    <li class="gem-c-breadcrumbs__item ">
        <a  class="" aria-current="false" href="https://www.gov.uk/">Home</a>
    </li>

    <li class="gem-c-breadcrumbs__item ">
        <a  class="" aria-current="false" href="https://www.gov.uk/government/organisations">Organisations</a>
    </li>

    <li class="gem-c-breadcrumbs__item ">
        Criminal Injuries Compensation Authority
    </li>
  </ol>
</div>



    <main id="content" role="main" class="content ">



  <h1 class="visually-hidden">Criminal Injuries Compensation Authority</h1>

  <div class="grid-row">
    <div class="column-one-third organisation__margin-bottom">
      <div class="gem-c-organisation-logo brand--ministry-of-justice">
    <div class="gem-c-organisation-logo__container gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color">
      <span class="gem-c-organisation-logo__name">Criminal Injuries Compensation Authority</span>
    </div>
</div>


</div>
    <div class="column-two-thirds organisation__margin-bottom">
        <ol class="app-c-topic-list  brand--ministry-of-justice ">
            <li class="app-c-topic-list__item">
                <a class="app-c-topic-list__link" href="/start-page">Apply for compensation if you have been sexually assulted</a>
            </li>
            <li class="app-c-topic-list__item">
                 <a class="app-c-topic-list__link" href="add-your-link-here">Apply for compensation if you have been violently assulted</a>
            </li>
            <li class="app-c-topic-list__item">
                 <a class="app-c-topic-list__link" href="add-your-link-here">Apply for compensation if you have...</a>
            </li>
            <li class="app-c-topic-list__item">
                <a class="app-c-topic-list__link" href="add-your-link-here">Apply for compensation if you have...</a>
            </li>
        </ol>
    </div>
</div>



  <section class="brand--ministry-of-justice brand__border-color organisation__brand-border-top organisation__margin-bottom" id="latest-documents">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="gem-c-heading  gem-c-heading--padding gem-c-heading--margin-bottom-2  ">Latest from the Criminal Injuries Compensation Authority</h2>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
        <ol class="gem-c-document-list brand--ministry-of-justice">
      <li class="gem-c-document-list__item">
          <h3 class="gem-c-document-list__item-title">
        <a class="gem-c-document-list__item-title brand__color " href="https://www.gov.uk/claim-compensation-criminal-injury">Claim compensation if you were the victim of a violent crime</a>
          </h3>



          <ul>
              <li class="gem-c-document-list__attribute">
                  <time datetime="2018-05-29">
                    29 May 2018
                  </time>
              </li>
              <li class="gem-c-document-list__attribute">
                  Guide
              </li>
          </ul>
      </li>
      <li class="gem-c-document-list__item">
          <h3 class="gem-c-document-list__item-title">
        <a class="gem-c-document-list__item-title brand__color " href="https://www.gov.uk/government/publications/request-your-personal-data-from-cica">Request your personal data from CICA</a>
          </h3>



          <ul>
              <li class="gem-c-document-list__attribute">
                  <time datetime="2018-05-18">
                    18 May 2018
                  </time>
              </li>
              <li class="gem-c-document-list__attribute">
                  Form
              </li>
          </ul>
      </li>
      <li class="gem-c-document-list__item">
          <h3 class="gem-c-document-list__item-title">
        <a class="gem-c-document-list__item-title brand__color " href="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority/about/statistics">Criminal Injuries Compensation Authority – Statistics at CICA</a>
          </h3>



          <ul>
              <li class="gem-c-document-list__attribute">
                  <time datetime="2017-10-31">
                    31 October 2017
                  </time>
              </li>
              <li class="gem-c-document-list__attribute">
                  Statistics
              </li>
          </ul>
      </li>
  </ol>


      <p class="organisation__margin-bottom brand--ministry-of-justice">
        <a href="https://www.gov.uk/government/organisations/latest?organisations%5B%5D=criminal-injuries-compensation-authority" class="brand__color">See all latest documents</a>
      </p>

        <section class="gem-c-subscription-links brand--ministry-of-justice" data-module="gem-toggle">
    <h2 class="visuallyhidden">Subscriptions</h2>
    <ul class="gem-c-subscription-links__list">
        <li class="gem-c-subscription-links__list-item">
          <a class="gem-c-subscription-links__link gem-c-subscription-links__link--email-alerts brand__color" href="https://www.gov.uk/government/email-signup/new?email_signup%5Bfeed%5D=https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority.atom">Get email alerts</a>
        </li>

        <li class="gem-c-subscription-links__list-item">
          <a class="gem-c-subscription-links__link gem-c-subscription-links__link--feed brand__color" data-controls="feed-reader-79f0" data-expanded="false" href="#">Subscribe to feed</a>
        </li>
    </ul>

      <div class="gem-c-subscription-links__feed-box js-hidden" id="feed-reader-79f0">
        <p class="gem-c-subscription-links__feed-description js-hidden">Subscribe to feed</p>

<div class="govuk-form-group">

<label for="input-38889c29" class="gem-c-label govuk-label ">
  Copy and paste this URL into your feed reader
</label>


  <input type="text" name="feed-reader-box" id="input-38889c29" value="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority.atom" class="gem-c-input govuk-input">
</div>
      </div>
  </section>

    </div>
  </div>
</section>


  <section class="brand--ministry-of-justice brand__border-color organisation__brand-border-top organisation__section-wrap organisation__margin-bottom" id="what-we-do">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="gem-c-heading  gem-c-heading--padding gem-c-heading--margin-bottom-2  ">What the Criminal Injuries Compensation Authority does</h2>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="gem-c-govspeak govuk-govspeak ">

          <p></p>
<div class="govspeak">
<p>We deal with compensation claims from people who have been physically or mentally injured because they were the victim of a violent crime in England, Scotland or Wales.</p>

<p><abbr title="Criminal Injuries Compensation Authority">CICA</abbr> is an executive agency, sponsored by the <a class="brand__color" href="/government/organisations/ministry-of-justice">Ministry of Justice</a>.</p>
</div>
          <p>
            <a href="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority/about" class="brand__color">
              Read more about what we do
            </a>
          </p>

</div>
    </div>

      <div class="column-one-third">
        <h3 class="gem-c-heading  gem-c-heading--font-size-19 gem-c-heading--margin-bottom-2  ">Follow us</h3>

          <div class="gem-c-share-links brand--ministry-of-justice gem-c-share-links--stacked" data-module="track-click">

    <ul class="gem-c-share-links__list">
        <li class="gem-c-share-links__list-item">
          <a target="_blank" rel="noopener noreferrer external" class="gem-c-share-links__link brand__color" href="https://twitter.com/CICAgov">
            <span class="gem-c-share-links__link-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                  <path fill="currentColor" d="M31.007 0H.993A.999.999 0 0 0 0 .993v30.014c0 .55.452.993.993.993h30.014a.997.997 0 0 0 .993-.993V.993A.998.998 0 0 0 31.007 0z"></path>
                  <path fill="#FFF" d="M8 21.027a9.286 9.286 0 0 0 5.032 1.475c6.038 0 9.34-5.002 9.34-9.339 0-.143-.004-.284-.012-.425a6.619 6.619 0 0 0 1.639-1.699c-.6.265-1.234.439-1.885.516a3.287 3.287 0 0 0 1.443-1.816 6.571 6.571 0 0 1-2.086.797 3.28 3.28 0 0 0-5.592 2.993 9.311 9.311 0 0 1-6.766-3.43 3.294 3.294 0 0 0-.443 1.651 3.28 3.28 0 0 0 1.46 2.732 3.278 3.278 0 0 1-1.488-.411v.041a3.288 3.288 0 0 0 2.633 3.22 3.28 3.28 0 0 1-1.481.055 3.285 3.285 0 0 0 3.065 2.281 6.59 6.59 0 0 1-4.076 1.404A6.76 6.76 0 0 1 8 21.027z"></path>
                </svg>

            </span>@CICAgov</a>
        </li>
    </ul>
  </div>

      </div>
  </div>
</section>




  <section class="brand--ministry-of-justice brand__border-color organisation__brand-border-top organisation__margin-bottom">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="gem-c-heading  gem-c-heading--padding  ">Documents</h2>

    </div>
  </div>

    <div class="grid-row">
        <div class="column-half">
          <h3 class="gem-c-heading  gem-c-heading--font-size-24 gem-c-heading--padding  ">Our announcements</h3>

            <ol class="gem-c-document-list brand--ministry-of-justice">
      <li class="gem-c-document-list__item">
          <h3 class="gem-c-document-list__item-title">
        <a class="gem-c-document-list__item-title brand__color " href="https://www.gov.uk/government/news/parsons-green-terrorist-attack">Parsons Green terrorist attack</a>
          </h3>



          <ul>
              <li class="gem-c-document-list__attribute">
                  <time datetime="2017-09-20">
                    20 September 2017
                  </time>
              </li>
              <li class="gem-c-document-list__attribute">
                  News story
              </li>
          </ul>
      </li>
      <li class="gem-c-document-list__item">
          <h3 class="gem-c-document-list__item-title">
        <a class="gem-c-document-list__item-title brand__color " href="https://www.gov.uk/government/news/finsbury-park-terrorist-attack">Finsbury Park terrorist attack</a>
          </h3>



          <ul>
              <li class="gem-c-document-list__attribute">
                  <time datetime="2017-06-22">
                    22 June 2017
                  </time>
              </li>
              <li class="gem-c-document-list__attribute">
                  News story
              </li>
          </ul>
      </li>
      <li class="gem-c-document-list__item">
        <a class="gem-c-document-list__item-title brand__color " href="https://www.gov.uk/government/announcements?departments%5B%5D=criminal-injuries-compensation-authority">See all announcements</a>



      </li>
  </ol>

        </div>
        <div class="column-half">
          <h3 class="gem-c-heading  gem-c-heading--font-size-24 gem-c-heading--padding  ">Our publications</h3>

            <ol class="gem-c-document-list brand--ministry-of-justice">
      <li class="gem-c-document-list__item">
          <h3 class="gem-c-document-list__item-title">
        <a class="gem-c-document-list__item-title brand__color " href="https://www.gov.uk/claim-compensation-criminal-injury">Claim compensation if you were the victim of a violent crime</a>
          </h3>



          <ul>
              <li class="gem-c-document-list__attribute">
                  <time datetime="2018-05-29">
                    29 May 2018
                  </time>
              </li>
              <li class="gem-c-document-list__attribute">
                  Guide
              </li>
          </ul>
      </li>
      <li class="gem-c-document-list__item">
          <h3 class="gem-c-document-list__item-title">
        <a class="gem-c-document-list__item-title brand__color " href="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority/about/statistics">Criminal Injuries Compensation Authority – Statistics at CICA</a>
          </h3>



          <ul>
              <li class="gem-c-document-list__attribute">
                  <time datetime="2017-10-31">
                    31 October 2017
                  </time>
              </li>
              <li class="gem-c-document-list__attribute">
                  Statistics
              </li>
          </ul>
      </li>
      <li class="gem-c-document-list__item">
        <a class="gem-c-document-list__item-title brand__color " href="https://www.gov.uk/government/publications?departments%5B%5D=criminal-injuries-compensation-authority">See all publications</a>



      </li>
  </ol>

        </div>
    </div>
</section>


    <div id="people">


          <section class="brand--ministry-of-justice brand__border-color organisation__brand-border-top organisation__margin-bottom">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="gem-c-heading  gem-c-heading--padding gem-c-heading--margin-bottom-2  ">Our management</h2>

      </div>
    </div>

      <div class="grid-row">
          <div class="column-quarter">
              <div class="gem-c-image-card  brand--ministry-of-justice">
    <figure class="gem-c-image-card__image-wrapper"><img class="gem-c-image-card__image" alt="Linda Brown" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/person/image/3424/s465_Linda_Brown_GOV.UK.png"></figure>

    <div class="gem-c-image-card__text-wrapper">


        <span class="gem-c-image-card__title">
              <a class="gem-c-image-card__title-link brand__color" href="https://www.gov.uk/government/people/linda-brown">Linda Brown</a>
</span>
      <div class="gem-c-image-card__description">Interim Chief Executive, CICA </div>


    </div>
  </div>

          </div>
      </div>
  </section>




    </div>

<div class="grid-row">
  <div class="column-two-thirds">
      <section class="brand--ministry-of-justice organisation__margin-bottom" id="org-contacts">
        <h2 class="gem-c-heading  gem-c-heading--padding gem-c-heading--border-top-5 brand--ministry-of-justice brand__border-color">Contact CICA</h2>


          <div class="organisation__contact-section organisation__contact-section--border-top">
    <h3 class="gem-c-heading  gem-c-heading--font-size-19 gem-c-heading--padding  ">Criminal Injuries Compensation Authority</h3>


    <div class="grid-row">
        <address class="column-half organisation__margin-bottom organisation__address">
            Alexander Bain House<br>Atlantic Quay<br>15 York Street<br>Glasgow<br>G2 8JQ<br>United Kingdom<br>
        </address>

        <div class="column-half">

            <div class="organisation__margin-bottom">
                <p><a class="brand__color" href="https://www.justice.gov.uk/contacts/?a=68536">Contact Form: Criminal Injuries Compensation Authority</a></p>
            </div>

            <div class="organisation__margin-bottom">
                <p>Claim enquiries</p>
                <p class="organisation__contact-number">0300 003 3601</p>
                <p>From outside the UK:</p>
                <p class="organisation__contact-number">+44 (0)203 684 2517</p>
            </div>

        </div>
    </div>
    <p>If you are making an enquiry about an existing case, please use the contact form. You can contact us by phone between 08:30 and 17:00 Mondays to Fridays, except Wednesdays, which are 10:00 to 17:00. Our offices are not open to the public, and you will not be able to visit us.</p>
  </div>
  <div class="organisation__contact-section organisation__contact-section--border-top">
    <h3 class="gem-c-heading  gem-c-heading--font-size-19 gem-c-heading--padding  ">Ministry of Justice Press office</h3>


    <div class="grid-row">

        <div class="column-two-thirds">


            <div class="organisation__margin-bottom">
                <p>Telephone (journalists only)</p>
                <p class="organisation__contact-number">0203 334 3536</p>
            </div>

        </div>
    </div>

  </div>
  <div class="organisation__contact-section organisation__contact-section--border-top">
    <h3 class="gem-c-heading  gem-c-heading--font-size-19 gem-c-heading--padding  ">Your personal information </h3>


    <div class="grid-row">

        <div class="column-two-thirds">

            <div class="organisation__margin-bottom">
                <p><a class="brand__color" href="https://www.gov.uk/government/publications/request-your-personal-data-from-cica">Contact Form: Your personal information </a></p>
            </div>

            <div class="organisation__margin-bottom">
            </div>

        </div>
    </div>
    <p>Use this link to request your personal data from the Criminal Injuries Compensation Authority. <br><br>Our Privacy Notice explains how we treat your personal information.<br><br></p>
  </div>

      </section>

      <section class="brand--ministry-of-justice brand__border-color organisation__brand-border-top organisation__margin-bottom" id="freedom-of-information">
    <h2 class="gem-c-heading  gem-c-heading--padding  ">Make an FOI request</h2>



<div class="gem-c-govspeak govuk-govspeak ">

        <ol class="steps">
          <li>
            Read about the Freedom of Information (FOI) Act and <a href="https://www.gov.uk/make-a-freedom-of-information-request/the-freedom-of-information-act" class="brand__color">how to make a request</a>.
          </li>
          <li>
            Check <a href="https://www.gov.uk/government/publications?departments%5B%5D=criminal-injuries-compensation-authority&amp;publication_type=foi-releases" class="brand__color">our previous releases</a> to see if we’ve already answered your question.
          </li>
            <li>Make a new request by contacting us using the details below.</li>
        </ol>

</div>

        <div class="organisation__contact-section ">
    <h3 class="gem-c-heading  gem-c-heading--font-size-19 gem-c-heading--padding  ">Freedom of Information requests</h3>


    <div class="grid-row">
        <address class="column-half organisation__margin-bottom organisation__address">
            FOI enquries<br>Alexander Bain House <br> Atlantic Quay <br> 15 York Street <br>Glasgow<br>G2 8JQ<br>United Kingdom<br>
        </address>

        <div class="column-half">
            <div class="organisation__margin-bottom">
              <p>Email</p>
                <p><a class="brand__color" href="mailto:FOI@cica.gsi.gov.uk">FOI@cica.gsi.gov.uk</a></p>
            </div>


            <div class="organisation__margin-bottom">
            </div>

        </div>
    </div>

  </div>

</section>


  </div>
    <div class="organisation__corporate-information" id="corporate-info">
      <div class="column-one-third organisation__float-section">
      <h2 class="gem-c-heading  gem-c-heading--padding gem-c-heading--border-top-5 brand--ministry-of-justice brand__border-color">Corporate information</h2>

    <div class="">
        <ol class="app-c-topic-list  brand--ministry-of-justice app-c-topic-list--margin-bottom">
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority/about/complaints-procedure">Complaints procedure</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority/about/statistics">Statistics at CICA</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="https://www.gov.uk/government/publications?departments%5B%5D=criminal-injuries-compensation-authority&amp;publication_type=corporate-reports">Corporate reports</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="https://www.gov.uk/government/publications?departments%5B%5D=criminal-injuries-compensation-authority&amp;publication_type=transparency-data">Transparency data</a>
      </li>
  </ol>

    </div>

    <h3 class="gem-c-heading  gem-c-heading--font-size-24 gem-c-heading--margin-bottom-2  ">Jobs and contracts</h3>

      <ol class="app-c-topic-list  brand--ministry-of-justice app-c-topic-list--margin-bottom">
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="https://www.civilservicejobs.service.gov.uk/csr">Jobs</a>
      </li>
  </ol>


    <p class="organisation__secondary-corporate-information brand--ministry-of-justice">
      Find out about our commitment to <a class="brand__color" href="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority/about/welsh-language-scheme">publishing in Welsh</a>. Our <a class="brand__color" href="/government/organisations/criminal-injuries-compensation-authority/about/personal-information-charter">Personal information charter</a> explains how we treat your personal information. Read our policy on <a class="brand__color" href="/government/organisations/criminal-injuries-compensation-authority/about/social-media-use">Social media use</a>. Find out <a class="brand__color" href="/government/organisations/criminal-injuries-compensation-authority/about-our-services">About our services</a>.
    </p>
</div>

    </div>
</div>


    </main>


<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful"  href="https://www.gov.uk/contact/govuk">
          Yes <span class="visually-hidden">this page is useful</span>
</a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful"  aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="https://www.gov.uk/contact/govuk">
          No <span class="visually-hidden">this page is not useful</span>
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong"  aria-controls="something-is-wrong" aria-expanded="false" role="button" href="https://www.gov.uk/contact/govuk">
          Is there anything wrong with this page?
</a>    </div>

    <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
      Thank you for your feedback
    </div>
  </div>

  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" method="post">
    <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (Linux; Android 4.4.4; en-gb; SAMSUNG SM-N915FY Build/KTU84P) AppleWebKit/537.36 (KHTML, like Gecko) Version/2.0 Chrome/34.0.1847.76 Mobile Safari/537.36">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


<div class="govuk-form-group">

<label for="input-115e856f" class="gem-c-label govuk-label ">
  What were you doing?
</label>


  <input type="text" name="what_doing" id="input-115e856f" class="gem-c-input govuk-input" aria-describedby="feedback_explanation">
</div>


<div class="govuk-form-group">

<label for="input-762c836a" class="gem-c-label govuk-label ">
  What went wrong?
</label>


  <input type="text" name="what_wrong" id="input-762c836a" class="gem-c-input govuk-input">
</div>

        <input class="gem-c-feedback__submit" type="submit" value="Send">
      </div>
    </div>
  </form>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden"  method="post">
    <a href="#" class="gem-c-feedback__close js-close-form"  aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (Linux; Android 4.4.4; en-gb; SAMSUNG SM-N915FY Build/KTU84P) AppleWebKit/537.36 (KHTML, like Gecko) Version/2.0 Chrome/34.0.1847.76 Mobile Safari/537.36">

        <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
        <input name="email_survey_signup[survey_source]" type="hidden" value="https://www.gov.uk/government/organisations/criminal-injuries-compensation-authority">
        <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


<div class="govuk-form-group">

<label for="input-e58f2f36" class="gem-c-label govuk-label ">
  Email address
</label>


  <input type="email" name="email_survey_signup[email_address]" id="input-e58f2f36" class="gem-c-input govuk-input" aria-describedby="survey_explanation">
</div>

        <input class="gem-c-feedback__submit" type="submit" value="Send me the survey">
        <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/government/organisations/criminal-injuries-compensation-authority&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t have an email address?</a>
      </div>
    </div>
  </form>

</div>

  </div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">

        <div class="footer-meta">
          <div class="footer-meta-inner">




            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-ae4c5d21c0a7cb5bc8926a9f491de4e410244403f66c72997210c281efb92d4f.js" crossorigin="anonymous" integrity="sha256-rkxdIcCny1vIkmqfSR3k5BAkRAP2bHKZchDCge+5LU8="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-440b2e9bd375c104a872eb9ad98f7192d1e51ec484d6cdb52ed067b460d2d6d9.js" crossorigin="anonymous" integrity="sha256-RAsum9N1wQSocuua2Y9xktHlHsSE1s21LtBntGDS1tk="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-5a76400e46502f230ff48eb308ecca72b82dd0487cf2acdf12f99a9271270b68.js" crossorigin="anonymous" integrity="sha256-WnZADkZQLyMP9I6zCOzKcrgt0Eh88qzfEvmaknEnC2g="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-19730e8807dc604a759d780ad3b80ffb7a19f44266ae72b7c1cc290c443f8925.js" crossorigin="anonymous" integrity="sha256-GXMOiAfcYEp1nXgK07gP+3oZ9EJmrnK3wcwpDEQ/iSU="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/collections/application-660adb518029ede91a23cc6a35cb5aeaf00c8b6eae163e126b9357ef0248f14e.js"></script><script type="application/ld+json">
  {"@context":"http://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Home","@id":"https://www.gov.uk/"}},{"@type":"ListItem","position":2,"item":{"name":"Organisations","@id":"https://www.gov.uk/government/organisations/"}},{"@type":"ListItem","position":3,"item":{"name":"Criminal Injuries Compensation Authority"}}]}
</script>
</body>
</html>
