{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'We are currently in the Beta phase.'
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply for compensation for a criminal injury
      <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
    </h1>{{releaseVersion | log }}
  </div>

  <div class="govuk-grid-column-two-thirds">

    <p>The prototypes below show the current and previous iterations of the applications users will complete to apply for compensation if they have been a victim of violent crime.</p>

    <br>

    <!-- Tab names -->

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#current-prototype">
            Current
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#concepts">
            Concepts
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#previous-versions">
            Previous versions
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#archive">
            Archive
          </a>
        </li>
      </ul>

      <!-- Current tab -->
      <section class="govuk-tabs__panel" id="current-prototype">
        <h2 class="govuk-heading-l">Complex sexual assault applications</h2>
        <p>This is the <strong>work in progress</strong> prototype, iterating what was put into private beta.</p>
        <p>The options page has been removed and we are building in the mental injuries questions.</p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What's changed?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>The following are improvements from the last release following UR:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>moved declaration to the end of the flow</li>
              <li>moved 'Who are you applying for' to beginning of flow</li>
              <li>added custom transition screens which give context based on the screen you were previously on</li>
              <li>added context pages to break up sections and let people know what we are about to ask about</li>
              <li>Changed the 'Other compensation' questions from 2 screens to 6 and made one thing per page</li>
              <li>added in screens for confirmation preference - SMS / email</li>
              <li>updated the 'Check your answers' screen with all changes</li>
              <li>updated content on various screens</li>
            </ul>

            The following documents detail the changes:
            <ul>
              <li><a href="https://docs.google.com/drawings/d/1HLft-vWCkG0Q5YYKPoqyEtAz7q5DXT8TS5QuCPGKtFI/edit?usp=sharing" target="_blank">Flow changes documented</a></li>
              <li><a href="https://docs.google.com/spreadsheets/d/10AQkyl3HTSBP9gHtk1ftM4FQyhhK3XNVxMMr54C4RUk/edit?usp=sharing" target="_blank">Spreadsheet with changes documented</a></li>
            </ul>
          </div>
        </details>
        <a href="/application/consent" role="button" draggable="false" class="govuk-button govuk-button--start">
          Start prototype
        </a>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <!-- Other prototypes section -->
        <h2 class="govuk-heading-m">Useful links</h2>
        <p>These are quick links to other prototypes that complement the MVP.</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="/concepts/guidance">AD Guidance</a></li>
          <li><a class="govuk-link" href="/concepts/timeout/timed-out">Timeout</a></li>
          <li><a class="govuk-link" href="/application/application-submitted-email">Application submitted confirmation email</a></li>
          <li><a class="govuk-link" href="/srr">'Same roof' rule</a></li>
        </ul>
      </section>



      <!-- Concepts tab -->

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="concepts">
        <h2 class="govuk-heading-l">Concepts</h2>

        <p>The prototypes below detail ideas for improvement for discussion only.</p>

        <ul class="govuk-list">
          <li><a class="govuk-link" href="/concepts/confirmation-choice/">Making email address optional (SMS confirmation)</a></li>
          <li><a class="govuk-link" href="/concepts/invitation/">Invitation page</a></li>
          <li><a class="govuk-link" href="/concepts/mental-injuries/">Mental injuries questions</a></li>
          <li><a class="govuk-link" href="/concepts/error-pages">Error pages</a></li>
          <li><a class="govuk-link" href="/concepts/minors">Minors</a></li>
          <li><a class="govuk-link" href="/concepts/forces-mockups">Forces mockups Oct 2019</a></li>
          <li><a class="govuk-link" href="/concepts/date-validation">Date validation after CYA</a></li>
          <li><a class="govuk-link" href="/concepts/survey/optin"> Equality questions (5 + Opt in)</a></li>
          <li><a class="govuk-link" href="/concepts/compensation/index">Compensation question</a></li>
          <li><a class="govuk-link" href="/concepts/other-compensation/index">Compensation question, other</a></li>
          <li><a class="govuk-link" href="/concepts/police-force-V2">Police force and location - concept 1</a></li>
          <li><a class="govuk-link" href="/concepts/police-force-V3">Police force and location - concept 2</a></li>
          <li><a class="govuk-link" href="/concepts/police-force-V4">Police force and location - as is</a></li>
          <li><a class="govuk-link" href="/concepts/support/start-page.html">Help and support content</a></li>
          <li><a class="govuk-link" href="/concepts/instant-support">Instant support</a></li>
          <li><a class="govuk-link" href="/concepts/tabbed-decision-letter">Tabbed decision letter</a></li>
        </ul>
      </section>


      <!-- Previous releases - UR prototypes tab -->
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="previous-versions">
        <h2 class="govuk-heading-l">Previously tested iterations</h2>
        <p>These prototypes show the iterations that were tested as part of UR to inform the final MVP.
        </p>
        <ul class="govuk-list">
          <li><a href="https://cica-app-r13.herokuapp.com/start-page">Round 7 - 17 December 2018</a></li>
          <li><a href="https://cica-app-r12.herokuapp.com/start-page">Round 6 - 26 November 2018</a></li>
          <li><a href="https://cica-app-r11.herokuapp.com/start-page">Round 5 - 8 November 2018</a></li>
          <li><a href="https://cica-app-r10.herokuapp.com/start-page">Round 4 - 23 October 2018</a></li>
          <li><a href="https://cica-app-r9.herokuapp.com/start-page">Round 3 - 11 September 2018</a></li>
          <li><a href="https://cica-app-r8.herokuapp.com/start-page">Round 2 - 23 August 2018</a></li>
          <li><a href="https://cica-app-r7.herokuapp.com/start-page">Round 1 - 26 July 2018</a></li>
        </ul>
      </section>

      <!-- Archive Tab -->
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archive">
        <h2 class="govuk-heading-l">Archive</h2>
        <p>These releases are previous iterations of the MVP.</p>

        <h3 class="govuk-heading-m"><a href="https://cica-mvp-v1-0.herokuapp.com/" target="_blank">Private Beta 1.0</a> <span class="govuk-caption-m">4 November 2019</span></h3>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">Changes in this release</span>
            </summary>

            <p>Not all changes are documented here due to the gap between content and interaction designers leaving / joining.</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>prototype updated to v9.5.0 of the govuk-prototype-kit</li>
              <li>updated guidance pages</li>
              <li>general content review and update</li>
              <li>removed country police force screens and added police force screen with accessible autocomplete picker</li>
              <li>exploring concepts for:
                <ul>
                  <li>SMS / Email confirmation options - making email not mandatory</li>
                  <li>invitation page for Private Beta</li>
                  <li>mental injuries</li>
                  <li>errors</li>
                  <li>minors journey</li>
                  <li>asking for investigating police force</li>
                  <li>exploring date validation</li>
              </li>
            </ul>

            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/MVP-archive-1.0">Archive availabe from</a>
          </details>

          <br>

        <h3 class="govuk-heading-m">Release 17 <span class="govuk-caption-m">19 September 2019</span></h3>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Changes in this release</span>
          </summary>

          <ul class="govuk-list govuk-list--bullet">
            <li>updated the prototype to v9.2.0 of the govuk-prototype-kit</li>
            <li>updated the prototype to match the changes made to the development environment</li>
            <li>updated the consent page with new content</li>
          </ul>

          <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/sprint-9">Read full release notes</a>
        </details>

        <br>

        <h3 class="govuk-heading-m">Release 16 <span class="govuk-caption-m">Sprint 10, December 2018</span></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Changes in this release</span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>Before you continue page content updates</li>
              <li>OCJ selection screen, to include detail reveals for DMI and signposting Help & support at out call centre or Victims’ Information Service website</li>
              <li>Was the crime reported screen, adding a detail reveal to help users who don’t know if the crime was reported, signposting them to our call centre or the police 101 website</li>
              <li>Reporting delay screen to present users with the most common reasons and capturing explanations for certain types of delay</li>
              <li>Application delay screen to present users with the most common reasons and capturing explanations for certain types of delay. Pattern based on current OAS drop down menu</li>
              <li>What police force was the crime reported to, presenting an autocomplete field where the police force data presented is driven by the country selected on the previous location screen</li>
              <li>Do you know the name of the offender and Enter the offenders name screens, moving the hint text to the latter</li>
              <li>If you have contact with the offender, presenting a text box for explaining the relationship and a checkbox for users who have no contact</li>
              <li>Have you applied anywhere else for compensation for this crime, presenting a choice of the most common sources of other comp, based on the scheme/guidance and capturing in conditionally revealing fields the names of the sources,
                amounts of money received or reasons for not applying for other compensation. This single page replaces content that was previously spread across 4 separate screens</li>
              <li>Check your answers page, addressing user concerns with the Consent and submit content and providing a link to the CICA privacy notice</li>
              <li>British citizen screen content updated to include EU nationals as per EMB review meeting feedback</li>
            </ul>
            <p>Moved the following screens position in the flow:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Declaration to front of service</li>
              <li>Other compensation screen to between offender and personal details sections</li>
              <li>Same family question removed from service will no longer be required by the scheme in 2019</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/sprint-10">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m">Release 15 <span class="govuk-caption-m">Sprint 9, December 2018</span></h3>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Changes in this release</span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>redesign OCJ/Select an option screen in response to EMB feedback</li>
              <li>redesign offender contact screen in response to UR insights</li>
              <li>redesign do you know offenders name question in response to UR insights</li>
            </ul>

            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/sprint-9">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m">Release 14 <span class="govuk-caption-m">Sprint 8, December 2018</span></h3>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Changes in this release</span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>redesign same roof question</li>
              <li>redesign before you continue screen</li>
              <li>redesign ineligible screen for non-reporting</li>
              <li>redesign warning content as per EMB review meeting feedback</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/sprint-8">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-r13.herokuapp.com/start-page">Release 13</a> <span class="govuk-caption-m">Sprint 7, December 2018</span></h3>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>moved the declaration to the beginning of the application</li>
              <li>content changes to the screen that is displayed if the crime was not reported to the police</li>
              <li>Build police force lookup</li>
              <li>redesign start page in light of UR</li>
              <li>redesign OCJ page</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/sprint-7">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-r12.herokuapp.com/start-page">Release 12</a> <span class="govuk-caption-m">Sprint 6, December 2018</span></h3>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>refactored a lot of the code in the prototype to make it more managable in the future</li>
              <li>transition page for moving users out to OAS</li>
              <li>designed both a one page and a 5 page triage for OCJ</li>
              <li>gathered police data to design new way of finding the correct force for the user</li>
              <li>content changes to the screen that is displayed if the crime was not reported to the police</li>
              <li>removed some hint text on the 'offender name' page that tells them that we use this to identify cases by the same opffender</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/sprint-6">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-11.herokuapp.com/start-page">Release 11</a>
          <span class="govuk-caption-m">Sprint 5, December 2018</span></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Changed the word 'survivor' to 'victim' just before the end of the sprint.</p>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-r10.herokuapp.com/start-page">Release 10</a></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>User research 11/12 September 2018</p>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/UR-11-12-Sept-2018">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-r9.herokuapp.com/start-page">Release 9</a>
          <span class="govuk-caption-m">Sprint 4, September 2018</span></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Not many changes to the prototype in this sprint as we were focussing on looking at Google Analytics to inform the design.</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>content changes to the rep question</li>
              <li>moved the declaration to the beginning of the application</li>
              <li>content changes to the screen that is displayed if the crime was not reported to the police</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/release-9">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-r8.herokuapp.com/start-page">Release 8</a></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>not using the stepped guide anymore
              <li>the sequence of the screens</li>
              <li>address look-up</li>
              <li>delay applying screens added</li>
              <li>delay reporting screens added</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/release-8">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-r7.herokuapp.com/stepped-guide">Release 7</a></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>questions lifted but refined from the previous OAS journey</li>
              <li>some examples of how we may handle <a href="/application/confirmation-page-if-automatic-nil">dynamic decisions</a></li>
              <li>an idea for an <a href="/application/previous-not-eligible">application checker</a> if users apply twice by mistake</li>
              <li>feedback from PLADS given on the 23 and the 24/07 and feedback from CSC</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/release-7">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-r6.herokuapp.com/stepped-guide">Release 6</a></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Changes in this release</span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>refinded content for most pages</li>
              <li>removed question about obtaining a medical report</li>
              <li>changes the stepped guide to bring it in line with the start page</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/release-6">Read full release notes</a>
          </div>
        </details>

        <br>


        <h3 class="govuk-heading-m"><a href="https://cica-app-r5.herokuapp.com/start-page">Release 5</a></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>added breadcrumbs to the start page</li>
              <li>changed content around legally resident to focus on British citizens for now</li>
              <li>removed "I don't know" radio button on criminal convictions question</li>
              <li>refined the content about getting a medical report</li>
              <li>removed the £50 medical question</li>
              <li>updated content on the confirmation page</li>
              <li>fixed bug where conditional content for radio buttons would appear between radio buttons</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/MVP-release-05">Read full release notes</a>
          </div>
        </details>

        <br>


        <h3 class="govuk-heading-m"><a href="https://cica-app-r4.herokuapp.com/start-page">Release 4</a></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>added the stepped guide and content</li>
              <li>made the back links work on all pages</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/MVP-release-0.4">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-r3.herokuapp.com/start-page">Release 3</a></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>a new page for collecting email address</li>
              <li>started pulling data through to the check your answeres page</li>
              <li>added placeholder content to the check your answeres page</li>
            </ul>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/MVP-release-0.3">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-r2.herokuapp.com/start-page">Release 2</a></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>a new page for collecting address</li>
              <li>a new page for collecting the date that people stopped work</li>
              <li>new pages for obtaining and paying for medical treatment</li>
              <li>a new page for ongoing medical treatment</li>
              <li>refined content on the "who is making the application" page</li>
              <li>modified content around asking is users were living legally in the UK</li>
              <li>new pages for asking more questions about compensation</li>
              <li>a new page for the negative path if users have convictions in another country</li>
              <li>a new page to collect the police force</li>
              <li>a new page to ask about previous applications</li>
              <li>a new page to collect the date that the crime was reported</li>
            </ul>
            <p>Some of the pages details above were removed from the prototype to focus on a smaller journey.</p>
            <a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/MVP-release-0.2">Read full release notes</a>
          </div>
        </details>

        <br>

        <h3 class="govuk-heading-m"><a href="https://cica-app-r1.herokuapp.com/start-page">1st release</a></h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes in this release
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>placeholder content for all pages</li>
              <li>back links do not work</li>
              <li>a very simple declaration</li>
              <li>some bugs with revealing content</li>
            </ul>
            <p><a href="release-1-screens">Screens</a></p>
            <p><a href="https://github.com/CriminalInjuriesCompensationAuthority/apply-for-compensation-prototype/releases/tag/MVP-release-0.1">Read full release notes</a></p>
          </div>
        </details>



      </section>

    </div>





  </div>
  <!--<div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Previous versions
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-body-s">
              <li>
                <a href="#release-7">
                  Release 0.7
                </a>
              </li>
              <li>
                <a href="#release-6">
                  Release 0.6
                </a>
              </li>
              <li>
                <a href="#release-5">
                  Release 0.5
                </a>
              </li>
              <li>
                <a href="#release-4">
                  Release 0.4
                </a>
              </li>
              <li>
                <a href="#release-3">
                  Release 0.3
                </a>
              </li>
              <li>
                <a href="#release-2">
                  Release 0.2
                </a>
              </li>
              <li>
                <a href="#release-1">
                  Release 0.1
                </a>
              </li>
            </ul>
          </nav>
        </aside>-->

</div>
</div>
</main>
</div>

{% endblock %}
