{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Apply for compensation for a criminal injury
          <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
        </h1>{{releaseVersion | log }}
        <p class="govuk-body-l">
          This prototype details itterations of the application process users will go through to apply for compensation if they have suffered an injury through being a victim of violent crime.
        </p>

        <h2 class="govuk-heading-m">
          Defining a Minimum Viable Product
          <span class="govuk-caption-m">Sprint 14 & 15</span>
        </h2>


        <h3>Simple journey</h3>

        <h4><a target="_blank" href="https://cica-application-mvp-r0-1.herokuapp.com/start-page">Release 0.1</a>(opens in a new window)</h4>

  			<ul class="govuk-list govuk-list--bullet">
  				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
  				<li>
  					<a href="https://govuk-design-system-production.cloudapps.digital">
  						GOV.UK Design System
  					</a>
  				</li>
  			</ul>
      </div>
    </div>
  </main>
</div>

{% endblock %}
