{% extends "layout.html" %}

{% block page_title %}
  Sign in to your account - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Sign in</h1>
    <div class="column-two-thirds">
        <legend class="visuallyhidden">Sign in</legend>
		<p>Sign in or <a href="#">create an account</a> to get started</p>
    	<div id="login-block">
            <div id="login-email" class="form-group">
                <label class="form-label-bold" for="email">Enter your email address</label>
                <span class="form-hint">This is the email address you used to register your application</span>
                <input type="email" class="form-control two-thirds" id="email" name="email" value="{{ datum.email }}" required/>
            </div>

            <div id="login-password" class="form-group">
                <label class="form-label-bold" for="password">Enter your password</label>
                <span class="form-hint">This is the password you used to register your application</span>
                <input type="password" class="form-control two-thirds" id="password" name="password" value="{{ datum.password }}" required/>
            </div>
        </div>
          <p><a role="button" class="button button-primary" href="/prototype">Sign in using your CICA account</a></p>
        <div class="form-group margin-top-1">
            <ul class="font-small">
              <li><a href="#">I forgot my password</a></li>
            </ul>
        </div>
   </div>
</main>
{% endblock %}
