{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Release 1 Screens
          <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
        </h1>{{releaseVersion | log }}

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://cica-app-r1.herokuapp.com/start-page">Start page</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/who-is-making-the-application">who-is-making-the-application</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/compensation">compensation</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/declaration">declaration</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/name">name</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/date-of-birth">date-of-birth</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/british-citizen">british-citizen</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/criminal-convictions">criminal-convictions</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/incident-reported">incident-reported</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/incident-date">incident-date</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/incident-location">incident-location</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/crime-reference">crime-reference</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/describe-incident">describe-incident</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/injury-selection">injury-selection</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/medical-treatment">medical-treatment</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/treatment-date">treatment-date</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/unable-to-work">unable-to-work</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/return-to-work">return-to-work</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/date-returned-to-work">date-returned-to-work</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/equiptment-or-services">equiptment-or-services</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/what-equiptment-or-services">what-equiptment-or-services</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/check-your-answers-page">check-your-answers-page</a></li>
          <li><a href="https://cica-app-r1.herokuapp.com/application/confirmation-page">confirmation-page</a></li>
        </ul>
      </div>
      <!-- <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Releases
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-body-s">
              <li>
                <a href="#release-1">
                  Release 0.5
                </a>
              </li>
              <li>
                <a href="#release-4">
                  Release 0.4
                </a>
              </li>
              <li>
                <a href="#release-3">
                  Release 0.3
                </a>
              </li>
              <li>
                <a href="#release-2">
                  Release 0.2
                </a>
              </li>
              <li>
                <a href="#release-1">
                  Release 0.1
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div> -->
    </div>
  </main>
</div>

{% endblock %}
