{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice">Crime, justice and the law</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice/reporting-crimes-compensation">Reporting crimes and getting compensation</a>
    </li>
  </ol>
</div>

<main role="main" class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>
      <p class="govuk-body-l">Use this service to claim compensation if you were the victim of a sexual assault or abuse.</p>

      <p class="govuk-body">Compensation is paid by the government, not the assailant. It may be payable even if the assailant is not identified or convicted.</p>

      <p class="govuk-body">You need an email address to use this service. You will be asked to provide:</p>
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li>an email address we can use to contact you</li> -->
        <li>approximate date that the crime happened</li>
        <li>crime reference number</li>
        <li>location where the crime happened</li>
      </uL>
      <p class="govuk-body">You can <a href="https://www.police.uk/contact/101/"  target="_blank">contact the police for any missing information</a>.</p>

      <h2 class="govuk-heading-l">
        Eligibility
      </h2>
      <p class="govuk-body">You cannot get compensation if the crime has not been reported to the police.</p>
      <p class="govuk-body">The crime must have happened in England, Wales, Scotland or <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide#incident-location"  target="_blank">another relevant place</a>.</p>
      <p class="govuk-inset-text">There is a <a href="https://www.justice-ni.gov.uk/topics/justice-and-law/compensation-services"  target="_blank">different service for Northern Ireland</a>.</p>

      <p class="govuk-body">Usually you must apply within 2 years of when the crime happened. An exception may be made if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>were under 18 at the time</li>
        <li>can show that you could not have applied earlier</li>
      </ul>

      <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="application/declaration" role="button">Start now</a>

      <h2 class="govuk-heading-l">
        Other ways to apply
      </h2>
      <p class="govuk-body">Contact us if you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>cannot use digital services, this might be due to disability or your circumstances</li>
          <li>have a question about your application</li>
        </ul>
      <p class="govuk-inset-text">
      Telephone: 0300 003 3601. Select option 8.<br>
      Overseas: +44 (0)20 3684 2517<br>
      Monday, Tuesday, Thursday Friday, 8.30am to 5pm<br>
      Wednesday, 10am to 5pm<br>
      <a href="https://www.gov.uk/call-charges">Find out about call charges.</a>
      </p>

      <h2 class="govuk-heading-l">Help and support
      </h2>
      <p class="govuk-body">You can get practical or emotional support:</p>
        <ul class="govuk-list govuk-list--bullet">
         <li>in England and Wales <a href="https://www.victimandwitnessinformation.org.uk/">visit the Victim and Witness Information website</a></li>
         <li>in Scotland <a href="https://www.mygov.scot/victim-witness-support/">visit the mygov.scot website</a></li>
        </ul>
      </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a target="_blank" href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide">
                A guide to the Criminal Injuries Compensation Scheme
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
</main>
</div>

{% endblock %}
