{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}



<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice">Crime, justice and the law</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/justice/reporting-crimes-compensation">Reporting crimes and getting compensation</a>
      </li>
    </ol>
  </div>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Apply for criminal injuries compensation
        </h1>

        <p class="govuk-body-l">Use this service to apply for compensation if as a result of a violent crime:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you were injured</li>
            <li>a close relative died</li>
            <li>a loved one was injured and you witnessed it</li>
            <li>you paid for the funeral of a person who died</li>
        </ul>

        <p class="govuk-body">Usually you must apply within 2 years of the crime happening.  We may make an exception if:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>you are a survivor of childhood abuse</li>
          <li>you can show that you could not apply earlier, for example your mental or physical health stopped you</li>
        </ul>

        <p class="govuk-body">The crime must be reported to the police.  If it is not reported we cannot pay compensation.</p>
        <p class="govuk-body">The crime must have happened in England, Wales or Scotland. There is a different service for <a href="https://www.justice-ni.gov.uk/topics/justice-and-law/compensation-services" target="_blank">Northern Ireland.</a></p>





        <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="application/british-citizen" role="button">Start now</a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">To complete your application you'll need to know the:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>date the crime happened</li>
          <li>name of the police force that the crime was reported to</li>
          <li>name and ID number of the police officer the crime was reported to</li>
          <li>crime reference number the police gave you when you reported the crime</li>
        </uL>

        <p class="govuk-body">You do not need to use a legal representative to help you with your application unless you want to. If you do use a representative, they may charge you a percentage of any money you get.</p>

        <h2 class="govuk-heading-s">Legal representatives</h2>

        <p class="govuk-body">If you are a legal representative applying for compensation on behalf of a client you should use the <a href="https://beta.cica.gov.uk/">Apply for compensation as a legal representative</a> service.</p>

        <!-- <p>You can not use this service if you’re in the UK illegally.</p> -->

      </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-body-s">
              <li>
                <a target="_blank" href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide">
                  A guide to the Criminal Injuries Compensation Scheme
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>
  </main>
</div>

{% endblock %}
