{% extends "layout.html" %}

{% block pageTitle %}
Contact CICA - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Contact CICA
    </h1>

    <p class="govuk-body">
      You'll be taken to another website to contact CICA about your application.
    <p>



    <form class="form" method="post">

      {{ govukButton({
            text: "Continue",
            href: "/concepts/divert-duplicate-apps/contact-cica"
            }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
