{% extends "layout.html" %}

{% block pageTitle %}
Select any injuries to the skin on your arms - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherArmSkinInjury",
        name: "otherArmSkinInjury",
        value: data['otherArmSkinInjury'],
        type: "text",
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "armSkinInjuries",
        name: "armSkinInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the skin on your arms or hands",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Cuts",
            text: "Cuts",
            checked: checked("armSkinInjuries", "Cuts"),
            id: "Cuts on arm"
          },
          {
            value: "Bruises",
            text: "Bruises",
            checked: checked("armSkinInjuries", "Bruises"),
            id: "Bruises on arm"
          },
          {
            value: "Scars",
            text: "Scars",
            checked: checked("armSkinInjuries", "Scars"),
            id: "Scars on arm"
          },
          {
            value: "Burns",
            text: "Burns",
            checked: checked("armSkinInjuries", "Burns"),
            id: "Burns on arm"
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("armSkinInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/simple-injury-list.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
