{% extends "layout.html" %}
{{ reportingDelayQuestion }} - {{ serviceName }} - GOV.UK
Reporting delay
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

      {% from 'radios/macro.njk' import govukRadios %}
      {% from "input/macro.njk" import govukInput %}


      {% set capacityHtml %}
      {{ govukInput({
            id: "capacity-reasons",
            name: "capacity-reasons",
            value: data['capacity-reasons'],
            classes: "govuk-!-width-two-thirds",
            label: {
              text: capacityReasonHint
            }
          }) }}
      {% endset -%}

      {% set otherDelayHtml %}
      {{ govukInput({
            id: "other-delay-reasons",
            name: "other-delay-reason",
            value: data['other-delay-reason'],
            classes: "govuk-!-width-two-thirds",
            label: {
              text: otherDelayReasonHint
            }
          }) }}
      {% endset -%}

      {{ govukRadios({
            idPrefix: "reportingDelay",
            name: "reportingDelay",
            currentValue: data['reportingDelay'],
            fieldset: {
              legend: {
                text: reportingDelayQuestion,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "Select one option."
            },
            items: [
            {
              value: "I was under 18 years old when it happened",
              text: "I was under 18 years old when it happened"
            },
            {
              value: "I had no capacity to report the crime",
              text: "I had no capacity to report the crime",
              conditional: {
                html: capacityHtml
              }
            },
            {
              value: "There are other reasons for the delay",
              text: "There are other reasons for the delay",
              conditional: {
                html: otherDelayHtml
              }
            }
            ]
          }) }}

      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
          "text": "Continue"
          }) }}

    </form>
  </div>
</div>

</main>
</div>

{% endblock %}