{% extends "layout.html" %}

{% block pageTitle %}
 - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  The person responsible for the applicant
</h1>

<p class="govuk-body">We’re going to ask for details about the person who is responsible for the applicant you’re applying on behalf of.</p>

  <h2 class="govuk-heading-m">
    Applying for an adult
  </h2>

<p class="govuk-body">If you’re applying for an adult, the person responsible for them may be their:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>parent</li>
  <li>partner</li>
  <li>friend</li>
  <li>other relative</li>
</ul>

  <h2 class="govuk-heading-m">
  Applying for a child
  </h2>

  <p class="govuk-body">If you’re applying for a child, the person responsible for them may be their:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>birth, step or adoptive parent</li>
    <li>social worker</li>
    <li>foster carer</li>
    <li>local authority representative</li>
  </ul>

  <p class="govuk-body">The information we ask for includes their personal and contact details.</p>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      We will only contact this person if we cannot contact you for any reason.
    </strong>
  </div>

    <form class="form" method="post">
      {{ govukButton({
          text: "Continue"
          }) }}
    </form>
  </div>
</div>


{% endblock %}
