{% extends "layout.html" %}

{% block pageTitle %}
{{ headNeckFaceInjuryQuestion }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form injuries" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "injuryCheckboxes",
        name: "headNeckFaceSurface",
        fieldset: {
          legend: {
            text: "Do you have any of these injuries to your head, face or neck?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: headNeckFaceInjuryQuestionHint
        },
        items: [
        {
          value: "Bruises",
          text: "Bruise",
          checked: checked("headNeckFaceSurface", "Bruises")
        },
          {
            value: "Burns",
            text: "Burn",
            checked: checked("headNeckFaceSurface", "burns")
          },
          {
            value: "Cuts or grazes",
            text: "Cut or graze",
            checked: checked("headNeckFaceSurface", "Cuts or grazes")
          },

          {
            value: "Muscle, ligament, or tendon injury",
            text: "Muscle, ligament or tendon injury",
            checked: checked("headNeckFaceSurface", "Muscle, ligament, or tendon injury")
          },
          {
            value: "Scarring",
            text: "Scar",
            checked: checked("headNeckFaceSurface", "scarring")
          },
          {
            value: "None",
            text: "None",
            checked: checked("headNeckFaceSurface", "soft-tissue")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
