{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukCheckboxes({
            "classes": "govuk-checkboxes",
            "idPrefix": "paralysisType",
            "name": "paralysisType",
            "fieldset": {
              "legend": {
                "text": "Select the paralysis you have as a result of the crime",
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--xl'
              }
            },
            "items": [
              {
                "value": "Hemiplegia",
                "text": "Hemiplegia",
                checked: checked("havePhysicalInjuries", "Hemiplegia")
              },
              {
                "value": "Paraplegia",
                "text": "Paraplegia",
                checked: checked("havePhysicalInjuries", "Paraplegia")
              },
              {
                "value": "Quadplegia",
                "text": "Quadplegia",
                checked: checked("havePhysicalInjuries", "Quadplegia")
              },
              {
                "value": "Tetraplegia or quadriplegia",
                "text": "Tetraplegia or quadriplegia",
                checked: checked("havePhysicalInjuries", "Tetraplegia or quadriplegia")
              },
              {
                "value": "Arm",
                "text": "Paralysis of an arm",
                checked: checked("havePhysicalInjuries", "Arm")
              },
              {
                "value": "Leg",
                "text": "Paralysis of a leg",
                checked: checked("havePhysicalInjuries", "Leg"),
                hint:"hshsh"
              },
              {
                value: "none",
                text: "I do not have these injuries",
                checked: checked("faceSurfaceInjuries", "none"),
                id: "none"
              }
              ]
          }) }}

      {{ govukButton({
            "text": "Continue"
            }) }}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
