{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              <form class="form" method="post">

          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "classes": "govuk-radios--inline",
            "idPrefix": "haveOtherName",
            "name": "haveOtherName",
            "fieldset": {
              "legend": {
                "text": 'Have you ever been known by any other names?',
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--xl'
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes"
              },
              {
                "value": "no",
                "text": "No"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
            }) }}

        </form>

      </div>
    </div>
    <div class="design-notes-box">
      <h3 class="design-notes">Design notes</h3>
      <p class="design-notes">3/8/18 - screen created for MVP-108 - JK</p>
    </div>
  </main>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
