{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block pageScripts %}
<script>
  var headPageCount = localStorage.getItem('headPages');
  var newHeadPageCount = (headPageCount*1 + 1);
  $(".pageNumber").text(newHeadPageCount);
  localStorage.setItem('headPages', newHeadPageCount);
</script>
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-caption-xl">
             <span class="pageNumber"></span> / {{ data['headNeckFaceInjuredPart'] | length + 3 }} questions about your head, face or neck</span>
          <h1 class="govuk-fieldset__heading">
            Select any injuries to your head
          </h1>
      </legend>

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "headSurfaceInjuries",
        name: "headSurfaceInjuries",
        hint: {
          text: headSurfaceInjuriesQuestionHint
        },
        items: [
          {
            value: " Burns to head",
            text: "Burn",
            checked: checked("headSurfaceInjuries", " Burn")
          },
          {
            value: " Scarring to head",
            text: "Scarring to head",
            checked: checked("headSurfaceInjuries", " Scarring to head")
          },
          {
            value: " Cuts or grazes to head",
            text: "Cuts or grazes to head",
            checked: checked("headSurfaceInjuries", " Cuts or grazes to head")
          },
          {
            value: " Bruises to head",
            text: "Bruises to head",
            checked: checked("headSurfaceInjuries", " Bruises to head")
          },
          {
            value: " Muscle, ligament, or tendon injury to head",
            text: "Muscle, ligament, or tendon injury to head",
            checked: checked("headSurfaceInjuries", " Muscle, ligament, or tendon injury to head")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
