{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block pageScripts %}
<script>
  var headPageCount = localStorage.getItem('headPages');
  var newHeadPageCount = (headPageCount*1 + 1);
  $(".pageNumber").text(newHeadPageCount);
  localStorage.setItem('headPages', newHeadPageCount);
</script>
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-caption-xl">
             <span class="pageNumber"></span> / {{ data['headNeckFaceInjuredPart'] | length + 3 }} questions about your head, face or neck</span>
          <h1 class="govuk-fieldset__heading">
            Select any injuries to your ear or hearing
          </h1>
      </legend>

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "earHearingInjuries",
        name: "earHearingInjuries",
        hint: {
          text: ""
        },
        items: [
          {
            value: " Broken ear bone",
            text: "Broken ear bone",
            checked: checked("earHearingInjuries", " Broken ear bone")
          },
          {
            value: " Deafness",
            text: "Deafness",
            checked: checked("earHearingInjuries", " Deafness")
          },
          {
            value: " Loss of ear",
            text: "Loss of ear",
            checked: checked("earHearingInjuries", " Loss of ear")
          },
          {
            value: " One perforated eardrum",
            text: "One perforated eardrum",
            checked: checked("earHearingInjuries", " One perforated eardrum")
          },
          {
            value: " Two perforated eardrums ",
            text: "Two perforated eardrums ",
            checked: checked("earHearingInjuries", " Two perforated eardrums ")
          },
          {
            value: " Ringing in ears",
            text: "Ringing in ears",
            checked: checked("earHearingInjuries", " Ringing in ears")
          },
          {
            value: " Dizziness",
            text: "Dizziness",
            checked: checked("earHearingInjuries", " Dizziness")
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
