{% extends "layout.html" %}

{% block pageTitle %}
{{ incidentLocationHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
      <h1 class="govuk-heading-xl">
        Which police force is dealing with the crime?
      </h1>

      <div class="govuk-form-group">
        <select class="govuk-select" id="sort" name="sort">
          <option value="published">Avon And Somerset Constabulary  </option>
<option value="published">Bedfordshire Police  </option>
<option value="published">British Transport Police  </option>
<option value="published">Cambridgeshire Constabulary </option>
<option value="published">Cheshire Constabulary  </option>
<option value="published">City Of London Police  </option>
<option value="published">Cleveland Police  </option>
<option value="published">Cumbria Constabulary  </option>
<option value="published">Derbyshire Constabulary  </option>
<option value="published">Devon & Cornwall Constabulary  </option>
<option value="published">Dorset Police  </option>
<option value="published">Durham Constabulary  </option>
<option value="published">Essex Police   </option>
<option value="published">Gloucestershire Constabulary  </option>
<option value="published">Grampian Police  </option>
<option value="published">Greater Manchester Police  </option>
<option value="published">Hampshire Constabulary  </option>
<option value="published">Hertfordshire Constabulary  </option>
<option value="published">Humberside Police  </option>
<option value="published">Kent County Constabulary </option>
<option value="published">Lancashire Constabulary </option>
<option value="published">Leicestershire Constabulary  </option>
<option value="published">Lincolnshire Police  </option>
<option value="published">Merseyside Police  </option>
<option value="published">Metropolitan Barking </option>
<option value="published">Metropolitan Barnet  </option>
<option value="published">Metropolitan Bexley  </option>
<option value="published">Metropolitan Brent  </option>
<option value="published">Metropolitan Bromley  </option>
<option value="published">Metropolitan Camden  </option>
<option value="published">Metropolitan Croydon  </option>
<option value="published">Metropolitan Ealing  </option>
<option value="published">Metropolitan Enfield  </option>
<option value="published">Metropolitan Greenwich  </option>
<option value="published">Metropolitan Hackney  </option>
<option value="published">Metropolitan Hammersmith  </option>
<option value="published">Metropolitan Haringey  </option>
<option value="published">Metropolitan Harrow  </option>
<option value="published">Metropolitan Havering  </option>
<option value="published">Metropolitan Hillingdon  </option>
<option value="published">Metropolitan Hounslow  </option>
<option value="published">Metropolitan Islington  </option>
<option value="published">Metropolitan Kensington </option>
<option value="published">Metropolitan Kingston  </option>
<option value="published">Metropolitan Lambeth  </option>
<option value="published">Metropolitan Lewisham  </option>
<option value="published">Metropolitan Merton  </option>
<option value="published">Metropolitan Newham  </option>
<option value="published">Metropolitan Redbridge  </option>
<option value="published">Metropolitan Richmond  </option>
<option value="published">Metropolitan Southwark  </option>
<option value="published">Metropolitan Sutton  </option>
<option value="published">Metropolitan Tower Hamlets </option>
<option value="published">Metropolitan Waltham Forest  </option>
<option value="published">Metropolitan Wandsworth  </option>
<option value="published">Metropolitan Westminster  </option>
<option value="published">Norfolk Constabulary  </option>
<option value="published">North Wales Police  </option>
<option value="published">North Yorkshire Police</option>
<option value="published">Northamptonshire Police </option>
<option value="published">Northern Constabulary </option>
<option value="published">Northumbria Police  </option>
<option value="published">Nottinghamshire Police </option>
<option value="published">South Yorkshire Police</option>
<option value="published">Staffordshire Police  </option>
<option value="published">Suffolk Constabulary </option>
<option value="published">Surrey Constabulary </option>
<option value="published">Sussex Police</option>
<option value="published">Tayside Police  </option>
<option value="published">Thames Valley Police</option>
<option value="published">Warwickshire Constabulary  </option>
<option value="published">West Mercia Constabulary  </option>
<option value="published">West Midlands Police</option>
<option value="published">West Yorkshire Police</option>
<option value="published">Wiltshire Constabulary</option>
        </select>
      </div>



          <a type="submit" class="govuk-button" href="/concepts/police-service">
  Continue
</a>

    </form>

  </div>
</div>
</main>
</div>

{% endblock %}
