{% extends "layout.html" %}

{% block pageTitle %}
What parts of the hip were injured? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This website is for research use only'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk"import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
        id: "otherHipInjury",
        name: "otherHipInjury",
        value: data['otherHipInjury'],
        type: text,
        classes: "govuk-!-width-full",
        label: {
          text: "Type of injury"
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "hipInjuries",
        name: "hipInjuries",
        fieldset: {
          legend: {
            text: "Select any injuries to the hip",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Dislocated hip",
            text: "Dislocated hip",
            checked: checked("hipInjuries", "Dislocated hip"),
            id: "Dislocated hip"
          },
          {
            value: "Broken hip",
            text: "Broken hip",
            checked: checked("hipInjuries", "Broken hip"),
            id: "Broken hip"
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("hipInjuries", "Other"),
            conditional: {
              html: otherHtml
            }
          }
          ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}

      

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
