{% extends "layout.html" %}

{% block pageTitle %}
Physical injuries  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block pageScripts %}
<script>
localStorage.setItem('torsoPages', 1);
var torsoPageCount = localStorage.getItem('torsoPages');
$(".pageNumber").text(torsoPageCount);
</script>
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-caption-xl">
             <span class="pageNumber"></span> / {{ data['torsoInjuredParts'] | length + 1 }} questions about your torso</span>
          <h1 class="govuk-fieldset__heading">
            Select any injuries to your torso
          </h1>
      </legend>

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukCheckboxes({
        idPrefix: "torsoSurfaceInjuries",
        name: "torsoSurfaceInjuries",
        hint: {
          text: torsoSurfaceInjuriesQuestionHint
        },
        items: [
          {
            value: " Burns to torso",
            text: "Burns to torso",
            checked: checked("torsoSurfaceInjuries", " Burns to torso")
          },
          {
            value: " Scarring to torso",
            text: "Scarring to torso",
            checked: checked("torsoSurfaceInjuries", " Scarring to torso")
          },
          {
            value: " Cuts to torso",
            text: "Cuts to torso",
            checked: checked("torsoSurfaceInjuries", " Cuts to torso")
          },
          {
            value: " Bruises to torso",
            text: "Bruises to torso",
            checked: checked("torsoSurfaceInjuries", " Bruises to torso")
          },
          {
            value: " Muscle, ligament, or tendon injury to torso",
            text: "Muscle, ligament, or tendon injury to torso",
            checked: checked("torsoSurfaceInjuries", " Muscle, ligament, or tendon injury to torso")
          }
        ]
      }) }}
      {{ govukButton({
        "text": "Continue"
      }) }}

      {% include "../../../includes/answers-template.html" %}

    </form>

  </div>
</div>

{% endblock %}


<!-- NOTE: do people understand the context of this question? -->
